<@_tradePaymentHistory id=id>
    <#assign a=object/>
</@_tradePaymentHistory>
<div class="pageFormContent" layoutH>
    <dl>
        <dt><@t.page 'id'/>:</dt>
        <dd>
            ${a.id!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'payment.id'/>:</dt>
        <dd>
            ${a.paymentId!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'operate'/>:</dt>
        <dd>
            ${a.operate!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'log.create_date'/>:</dt>
        <dd>
            ${a.createDate!}
        </dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'log.content'/>:</dt>
        <dd>
            <textarea name="content" cols="80" rows="20">${(a.content)!}</textarea>
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>