<div class="pageFormContent" layoutH>
<@cms.surveyQuestion id=id>
    <div class="unit">
        <p class="nowrap"><label><@t.page 'question'/>:</label>[<@t.page 'question.type.'+q.questionType/>] ${object.title}</p>
        <#if .cover?has_content>
            <p class="thumbnail">
                <img src="${(object.cover)!}"/>
            </p>
        </#if>
    </div>
    <div class="unit">
        <#if ['radio','select','checkbox']?seq_contains(object.questionType)>
        <@cms.surveyQuestionItemList questionId=object.id pageSize=500>
            <ol class="vote">
        <#list page.list as v>
                <li>
                    <div class="progress-box">
                        <div class="progress-bar" style="width:${(object.votes gt 0)?then(v.votes*100/object.votes,100)}%;"></div>
                        <div class="progress-text">
                            ${v.sort}.${v.title} (${v.votes}/${object.votes}) <#if object.answer?has_content&&object.answer?split(',')?seq_contains(v.id?string)>[<@t.page 'answer.correct'/>]</#if>
                        </div>
                    </div>
                </li>
        </#list>
            </ol>
        </@cms.surveyQuestionItemList>
        <#elseif 'text'=object.questionType>
            <@cms.userSurveyQuestionList questionId=object.id pageSize=500>
                <#list page.list as a>
                    <p>${a?counter}.${(a.answer)!}</p>
                </#list>
            </@cms.userSurveyQuestionList>
        </#if>
    </div>
</@cms.surveyQuestion>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>