<@_logOperate id=id>
	<#assign a=object/>
	<@_sysUser id=a.userId><#assign user=object/></@_sysUser>
</@_logOperate>
<div class="pageContent">
	<div class="formBar">
		<ul>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl>
			<dt>用户ID:</dt>
			<dd>
				${a.userId!}
			</dd>
		</dl>
		<dl>
			<dt>用户昵称:</dt>
			<dd>
				${(user.nickName)!}
			</dd>
		</dl>
		<dl>
			<dt>操作:</dt>
			<dd>
				<@t.m 'operate.'+a.operate/>
			</dd>
		</dl>
		<dl>
			<dt>操作日期:</dt>
			<dd>
				${a.createDate!}
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>内容:</dt>
			<dd>
				<textarea name="content" style="width: 100%;" rows="20">${(a.content)!}</textarea>
			</dd>
		</dl>
	</div>
</div>