<@log.operateList content=content operate=operate channel=channel ip=ip
            userId=userId startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader card">
    <form class="pagerForm" action="log/operate.html" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'user'/>:</label>
                    <#include "../include_page/userId.html"/>
                </li>
                <li>
                    <label><@t.page 'channel'/>:</label>
                    <input type="text" name="channel" value="${channel!}"/>
                </li>
                <li>
                    <label><@t.page 'code'/>:</label>
                    <input type="text" name="operate" value="${operate!}"/>
                </li>
                <li>
                    <label><@t.page 'log.operate_ip'/>:</label>
                    <input type="text" name="ip" value="${ip!}"/>
                </li>
                <li>
                    <label><@t.page 'log.create_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}"/>
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endCreateDate!}"/>
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                </li>
                <li>
                    <label><@t.page 'log.content'/>:</label>
                    <input type="text" name="content" value="${content!}"/>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <table class="table" width="100%" layoutH orderField="${orderField!}" orderType="${orderType!}">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th><@t.page 'user.id'/></th>
                <th><@t.page 'user.nickname'/></th>
                <th><@t.page 'channel'/></th>
                <th><@t.page 'operate'/>/<@t.page 'code'/></th>
                <th><@t.page 'log.operate_ip'/></th>
                <th orderField="createDate"><@t.page 'log.create_date'/></th>
                <th><@t.page 'log.content'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
            </#list>
            <@sys.user ids=t.userIds!><#assign userMap=map!/></@sys.user>

            <#list page.list as a>
            <tr>
                <td><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>${a.userId!}</td>
                <td>
                    ${(userMap[a.userId?string].nickname)!}
                </td>
                <td>
                    ${a.channel!}
                </td>
                <td>
                    <div class="box">
                        <p><@t.message 'operate.'+a.operate/></p>
                        <p>${a.operate}</p>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <p>${a.ip!}</p>
                        <p>${(getIpRegion(a.ip).address)!}</p>
                    </div>
                </td>
                <td>${a.createDate!}</td>
                <td class="exclude-translate"><@t.cut a.content 60 '...<a href="log/operateView.html?id=${a.id}" class="btnText" target="dialog" rel="operateTask">'?no_esc+t.pageMessage('button.view_more')+'</a>'?no_esc/></td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@log.operateList>