<@_logOperate id=id>
    <#assign a=object/>
    <@_sysUser id=a.userId><#assign u=object/></@_sysUser>
</@_logOperate>
<div class="pageFormContent" layoutH="50">
    <dl>
        <dt><@t.page 'user.id'/>:</dt>
        <dd>
            ${a.userId!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'user.nickname'/>:</dt>
        <dd>
            ${(u.nickName)!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'operate'/>:</dt>
        <dd>
            <@t.message 'operate.'+a.operate/>
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'log.create_date'/>:</dt>
        <dd>
            ${a.createDate!}
        </dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'log.content'/>:</dt>
        <dd>
            <textarea name="content" cols="80" rows="20">${(a.content)!}</textarea>
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>