<@log.task id=id><#assign a=object/></@log.task>
<div class="pageFormContent" layoutH>
    <dl>
        <dt><@t.page 'task'/>:</dt>
        <dd>
            <@sys.task id=a.taskId>${(object.name)!}</@sys.task>
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'result'/>:</dt>
        <dd><#if a.endtime?has_content><span class="statusText ${a.success?then('green','red')}">${t.pageMessage(a.success?then('success','fail'))}</span></#if></dd>
    </dl>
    <dl>
        <dt><@t.page 'start_time'/>:</dt>
        <dd>
            ${a.begintime!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'end_time'/>:</dt>
        <dd>
            ${a.endtime!}
        </dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'result'/>:</dt>
        <dd>
            <textarea name="description" cols="80" rows="20">${(a.result)!}</textarea>
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>