<@_logTaskList taskId=taskId startCreateDate=startCreateDate endCreateDate=endCreateDate success=success pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
			<#if taskId?has_content>
				<li>
					<label>任务:</label>
					<@_sysTask id=taskId>${object.name}</@_sysTask>
				</li>
			</#if>
				<li>
					<label>执行结果:</label>
					<select class="combox" name="success">
						<option value=""${(!success?has_content)?then(' selected="true"','')?no_esc}>不限</option>
						<option value="true"${(success?has_content&&"true"=success)?then(' selected="true"','')?no_esc}>成功</option>
						<option value="false"${(success?has_content&&"false"=success)?then(' selected="true"','')?no_esc}>失败</option>
					</select>
				</li>
				<li>
					<label>执行日期:</label>
					<input type="text" name="startCreateDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
					<span>-</span>
					<input type="text" name="endCreateDate" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="logTask/delete.do" title="确定要删除这些记录么?" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> 批量删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th>任务</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>结果</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
				<@t.merge 'taskIds' a.taskId!/>
			</#list>
			<@_sysTask ids=t.taskIds!><#assign taskMap=map!/></@_sysTask>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td><input name="ids" value="${a.id}" type="checkbox"></td>
				<td>
					${(taskMap[a.taskId?string].name)!}
				</td>
				<td>${a.begintime!}</td>
				<td>${a.endtime!}</td>
				<td>
					${a.success?string('成功','失败')}
				</td>
				<td><a href="log/taskView.html?id=${a.id}" target="dialog" rel="viewTask">结果详情</a></td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_logTaskList>