<@_logTask id=id><#assign a=object/></@_logTask>
<div class="pageFormContent" layoutH="50">
    <dl>
        <dt><@t.page 'task'/>:</dt>
        <dd>
            <@_sysTask id=a.taskId>${(object.name)!}</@_sysTask>
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'result'/>:</dt>
        <dd><#if a.endtime?has_content>${a.success?string(t.pageMessage('success'),t.pageMessage('fail'))}</#if></dd>
    </dl>
    <dl>
        <dt><@t.page 'start_time'/>:</dt>
        <dd>
            ${a.begintime!}
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'end_time'/>:</dt>
        <dd>
            ${a.endtime!}
        </dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'result'/>:</dt>
        <dd>
            <textarea name="description" cols="80" rows="20">${(a.result)!}</textarea>
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>