<#if !startCreateDate?has_content>
    <#assign startCreateDate=(.now?long-7*24*3600*1000)?number_to_date/>
</#if>
<@_logVisitList sessionId=sessionId  startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" action="log/visit.html" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'log.visit.session'/>:</label>
                    <input type="text" name="sessionId" value="${sessionId!}" size="40"/>
                </li>
                <li class="colspan">
                    <label><@t.page 'log.visit.visit_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endCreateDate!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        </ul>
    </div>
    <table class="table" width="100%" layoutH="92">
        <thead>
            <tr>
                <th width="20">ID</th>
                <th width="50"><@t.page 'log.visit.session'/></th>
                <th width="180"><@t.page 'title'/>/<@t.page 'url'/></th>
                <th width="100"><@t.page 'log.visit.screen'/></th>
                <th width="100"><@t.page 'log.visit.referer'/></th>
                <th width="50"><@t.page 'log.visit.item'/></th>
                <th width="70"><@t.page 'log.visit.ip'/></th>
                <th width="50" orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'log.visit.visit_date'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr>
                <td>${a.id!}</td>
                <td><a href="log/visitView.html?id=${a.id}" target="dialog" rel="operateTask">${a.sessionId!}</a></td>
                <td>
                    <div class="box">
                        <p>${a.title!}</p>
                        <p><a href="${a.url}" target="_blank">${a.url!}</a></p>
                    </div>
                </td>
                <td class="exclude-translate">
                    <div class="box">
                    <@_userAgent userAgent=a.userAgent>
                        <p>${object.browserType!}:${object.browserGroup!} ${object.browserVersion!}</p>
                        <p>${object.deviceType!}:${a.screenWidth!}*${a.screenHeight!}</p>
                    </@_userAgent>
                    </div>
                </td>
                <td>${a.refererUrl!}</td>
                <td>
                    ${a.itemType!}${a.itemId?has_content?then(':','')}${a.itemId!}
                </td>
                <td>${a.ip!}</td>
                <td>${a.createDate!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_logVisitList>