<@_logVisitSessionList sessionId=sessionId startVisitDate=startVisitDate endVisitDate=endVisitDate orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li class="colspan">
                    <label><@t.page 'log.visit.session'/>:</label>
                    <input type="text" name="sessionId" value="${sessionId!}"/>
                </li>
                <li class="colspan">
                    <label><@t.page 'log.visit.visit_date'/>:</label>
                    <input type="text" name="startVisitDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startVisitDate!}" />
                    <span>-</span>
                    <input type="text" name="endVisitDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endVisitDate!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                    	<button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        </ul>
    </div>
    <table class="list" width="100%" layoutH="92">
        <thead>
            <tr>
                <th><@t.page 'log.visit.session'/></th>
                <th orderField="lastVisitDate" class="<#if orderField??&&'lastVisitDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'log.visit.visit_date.last'/></th>
                <th><@t.page 'log.visit.visit_date.first'/></th>
                <th>IP</th>
                <th>PV</th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr>
                <td><a href="log/visit.html?querySessionId=${a.id.sessionId!}" target="navTab" rel="log/visit" icon="<i class='icon-bolt icon-large'></i>">${a.id.sessionId!}</a></td>
                <td>${a.lastVisitDate!}</td>
                <td>${a.firstVisitDate!}</td>
                <td>${a.ip!}</td>
                <td>${a.pv!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_logVisitSessionList>