@charset "utf-8";

a{ color:#3C7FB1;}
/* Tabs */
.tabs .tabsHeader{ background-color:#DAE5F4;}
.tabs .tabsHeader li a{ color:#03408b;}
.tabs .tabsHeader li span{ color:#15428B;}
.tabs .tabsContent{ border-color:#99bbe8;background-color:#e4ebf6;}

/* Header */
header{ border-color:#99bbe8;}

/* NavMenu */
#navMenu{ background-color:#DAE5F4;border-color:#99bbe8;}
#navMenu li{ border-right-color:#99bbe8;}
#navMenu li a{ color:#333;}
#navMenu li a i{ color:#15428B;}
#navMenu li.selected{ background-color:#99bbe8;border-color:#fff;}
#navMenu li.selected a,#navMenu li.selected a i,#navMenu li.selected a:hover{ color:#fff;}
#navMenu li a:hover{ color:#000;}

/* TabsPage */
.tabsPage .tabsPageHeader{ background-color:#DAE5F4;}
.tabsPage .tabsPageHeader{ border-color:#99bbe8;}
.tabsPage .tabsPageHeader li a{ color:#15428B;}
.tabsPage .tabsPageHeader li.selected{ background:#ffffff;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore{ background-image:url(./images/tabscontrol.png);background-repeat:no-repeat;}
.tabsPage .tabsMoreList{ border-color:#88a0be;background-color:#FFF;}
.tabsPage .tabsPageContent,footer{ border-color:#88a0be;background-color:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c{ background-image:url(./images/alert_panel.png);}
.alert .alertContent{ border-color:#88a0be;background-color:#ced9e7;}
.alert .warn .alertInner{ border-color:#e83e09;background-color:#fefacf;}
.alert .error .alertInner{ border-color:#e50000;background-color:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner{ border-color:#99bbe8;background-color:#fefacf;}
.alert .confirm .alertInner{ border-color:#99bbe8;background-color:#fefacf;}
.alert h1{ border-color:#CCC;background-image:url(./images/alert_panel_icon.png);background-repeat:no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r,
.dialog .dialogFooter, .dialog .dialogFooter_r{ background-image:url(./images/dialogpanel.png);background-repeat:no-repeat;}
.dialog .dialogHeader_c,.dialog .dialogFooter_c{ background-image:url(./images/dialogpanel.png);}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r{ background-image:url(./images/dialogpanel_icon.png);background-repeat:no-repeat;}
.dialog .dialogHeader h1{ color:#15428B;}
.dialog .dialogContent{ border-color:#99bbe8;background-color:#e4ebf6;}

.resizable{ border-color:#081629;background-color:#c3d7dc;}

/* Tree */
.tree ul{ background-color:#FFF;}
.tree li a, .tree li span{ color:#15428B;}
.tree .hover{ background-color:#f5f5f5;}
.tree .selected{ background-color:#e8edf3;}

/* Accordion */
.accordion .accordionHeader h2{ color:#15428B;background-image:url(./images/accordion.png);}
.accordion{ border-color:#99bbe8;background-color:#FFF;}
.accordion .accordionHeader{ background-color:#DAE5F4;}
.accordion .accordionHeader,.accordion .accordionContent{ border-color:#99bbe8;}

/* Grid */
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.pagination li.jumpto, .pagination li.jumpto .goto{ background-image:url(./images/grid.png);}
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto{ background-repeat:no-repeat;}
.panelBar{ border-color:#99bbe8;background-color:#efefef;}
.panelBar .toolBar li.line{border-color:#99bbe8;}
/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled{ background-image:url(./images/input_bg.png);background-repeat:no-repeat;background-attachment:scroll;}

.textInput, .textArea{ border-color:#a2bac0 #99bbe8 #99bbe8 #a2bac0;background-color:#FFF;}
input.required, textarea.required{ border-color:#a2bac0 #99bbe8 #99bbe8 #a2bac0;background-color:#FFF;}
input.error, textarea.error{ border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus{ border-color:#8db2e3 #99bbe8 #99bbe8 #8db2e3;background-color:#f8fafc;}
input.readonly, textarea.readonly{ border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3;background-color:#F6F6F6;}
input.disabled, textarea.disabled{ border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3;background-color:#F6F6F6;}

.inputButton, .inputDateButton{ background-image:url(./images/input_bt.png);background-repeat:no-repeat;}

/* Button */

.panelBar .toolBar li a:hover,.button,.buttonActive{ color:#15428B;background-color:#99bbe8;}
.panelBar .toolBar li a:hover,.button:hover,.buttonActive:hover{ color:#fff;}
/* ----------------------------------------------------------------- Pages */
/* Layout */
#splitBar{ background-color:#dfe8f6;}

.toggleCollapse, .toggleCollapse div{ background-image:url(./images/toggleSidebar.png);background-repeat:no-repeat;background-color:#dfe8f6;}
#sidebar_s .collapse{ border:solid 1px #99bbe8;background-color:#dfe8f6;}

#taskbar, #taskbar li, #taskbar li .taskbutton{ background-image:url(./images/taskbar.png);background-repeat:no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize{ background-image:url(./images/taskbar_icon.png);background-repeat:no-repeat;}
#taskbar li .taskbutton span{ color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight{ background-image:url(./images/taskbar_control.png);background-repeat:no-repeat;}

/* Homepage */
.sidebarContent{ display:block;overflow:auto;height:500px;border:solid 1px #86B4EC;background-color:#FFF;}

/* Pages */
.pageForm .inputInfo{ color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent{ border-color:#99bbe8;}
.pageFormContent{ border-color:#99bbe8;background-color:#FFF;}

/* Pages default */
.page .searchBar label{ color:#15428B;}

/* Pages Form */
.formBar{ border-color:#99bbe8;}
.divider{ border-color:#99bbe8;}

/* combox */
.combox .select a{ color:#15428B;}
.comboxop{ border-color:#99bbe8;}
.combox, .combox div, .combox div a{ background-image:url(../default/images/search-bg.gif);background-repeat:no-repeat;}
