<#if parentId?has_content>
<ul>
    <@sys.deptList parentId=parentId pageSize=500>
        <#list page.list as a>
            <li _src="sysDept/lookup.html?parentId=${a.id}">
                <a href="javascript:;" class="exclude-translate" onclick="$.bringBack({parentId:'${a.id}',${field!'deptId'}:'${a.id}',deptName:'${a.name}',parentName:'${a.name}'});return false;">${a.name!}</a>
            </li>
        </#list>
    </@sys.deptList>
</ul>
<#else>
<div class="pageFormContent" layoutH>
    <ul class="tree treeFolder">
<@sys.deptList pageSize=500>
    <#list page.list as a>
        <li _src="sysDept/lookup.html?parentId=${a.id}">
            <a href="javascript:;" class="exclude-translate" onclick="$.bringBack({parentId:'${a.id}',${field!'deptId'}:'${a.id}',deptName:'${a.name}',parentName:'${a.name}'});return false;">${a.name!}</a>
        </li>
    </#list>
</@sys.deptList>
    </ul>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button" onclick="$.bringBack({'parentId':'','${field!'deptId'}':'',deptName:'',parentName:''});return false;"><@t.page 'button.clear_select'/></button></li>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
</#if>