<#macro lookupTree parentId=''>
    <@_sysDeptList parentId=parentId pageSize=500>
        <#list page.list as a>
            <li>
                <a href="javascript:;" class="exclude-translate" onclick="$.bringBack({parentId:'${a.id}',deptId:'${a.id}',deptName:'${a.name}',parentName:'${a.name}'});return false;">${a.name!}</a>
                <ul>
                    <@lookupTree a.id/>
                </ul>
            </li>
        </#list>
    </@_sysDeptList>
</#macro>
<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder expand">
        <@lookupTree/>
    </ul>
</div>