<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${category.name} - PublicCMS</title>
	<meta name="keywords" content="${category.name}"/>
	<meta name="description" content="${category.name}"/>
<!--#include virtual="/include/header.html"-->
</head>
<body>
<!--#include virtual="/include/nav.html"-->
<script>
	$("header nav ul li a:contains('${category.name}')").parent().addClass('selected');
</script>
<main>
	<div class="container nav">
		<@_categoryList parentId=category.id>
			<#list page.list as a>
				<a href="${getSitePath(a.url)}">${a.name}</a>
			</#list>
		</@_categoryList>
	</div>
	<div class="container bread">
		<#include "/ftl/echoBread.ftl"/>
		<@echoBread category.id/>
	</div>
	<div class="container">
<@_contentList status=1 categoryId=category.id containChild=true endPublishDate=.now orderField='publishDate' orderType='desc' pageIndex=pageIndex count=category.pageSize>
		<div class="data-list left-content">
			<#if 1=pageIndex>
				<h3>最新文章</h3>
			</#if>
	<#include "/ftl/cut.ftl"/>
	<#include "/ftl/meger.ftl"/>
	<#list page.list as a>
		<@meger 'modelIds' a.modelId!/>
	</#list>
	<@_model ids=modelIds!><#assign modelMap=map/></@_model>
	<#list page.list as a>
		<#if modelMap[a.modelId?string].isImages>
			<#include "/ftl/image-list.ftl"/>
		<#else>
			<#include "/ftl/data-list.ftl"/>
		</#if>
	</#list>
			<#if 1=pageIndex>
				<div class="page">
					<#if !page.lastPage>
						<a href="${getSitePath(getPage(category.url,page.nextPage))}">查看更多</a>
					<#else>
						<span>查看更多</span>
					</#if>
				</div>
			<#else>
				<#include "/ftl/category_page.ftl"/>
			</#if>
		</div>
		<aside>
			<!--#include virtual="/include/category/list.html/1.html"--><#-- 右侧编辑推荐 -->
			<!--#include virtual="/include/category/list.html/2.html"--><#-- 精彩图集 -->
			<div>
				<h3>热门排行</h3>
				<ul class="rank">
<@_contentList status=1 categoryId=category.id containChild=true endPublishDate=.now orderType='desc' orderField='clicks' count=10>
	<#list page.list as a>
					<li><a href="${getSitePath(a.url)}" target="_blank">${a.title}</a><span>${a.clicks}</span></li>
	</#list>
</@_contentList>
				</ul>
			</div>
		</aside>
</@_contentList>
	</div>
</main>
<!--#include virtual="/include/footer.html"-->
</body>
</html>