<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${(metadata.alias)!}</title>
	<@tools.includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
<@tools.includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
<main>
	<div class="container  clearfix-after">
		<@tools.includePlace path="/c936c718-5f19-426f-b3ff-13a5a8d63044.html"/> <#-- 个人中心导航 -->
		<div class="right-content">
			<div class="box">
				<@import path="/ftl/tools.ftl" namespace="t"/><#-- 工具 -->
				<div class="comment-box column">
					<h3><a href="${site.dynamicPath}member/myReply.html">回复我的评论</a></h3>
					<@cms.commentList replyUserId=user.id pageSize=3>
					<ul>
						<#list page.list as a>
							<@t.merge 'userIds' a.userId!/>
							<@t.merge 'contentIds' a.contentId!/>
						</#list>
						<@sys.user ids=t.userIds!><#assign userMap=map!/></@sys.user>
						<@cms.content ids=t.contentIds! absoluteURL=true><#assign contentMap=map!/></@cms.content>
						<#list page.list as a>
							<li class="underline">
								<p><a href="${site.dynamicPath}member/user.html?id=${a.userId!}" target="_blank">${userMap[a.userId?string].nickname}</a> ${a.createDate} 评论《<a href="${contentMap[a.contentId?string].url}" target="_blank">${contentMap[a.contentId?string].title}</a>》</p>
								<#if a.replyId?has_content>
									<@cms.comment id=a.replyId>
								<p class="reply"><a href="${site.dynamicPath}member/user.html?id=${user.id!}" target="_blank">@${user.nickname}</a> : ${object.text!}</p>
									</@cms.comment>
								</#if>
								<p>${a.text!}</p>
							</li>
						<#else>
						<li class="underline"><p>没有数据</p></li>
						</#list>
					</ul>
					</@cms.commentList>
				</div>
				<div class="comment-box column">
					<h3><a href="${site.dynamicPath}member/myComment.html">我的待审核评论</a></h3>
					<@cms.commentList advanced=true userId=user.id status=2 pageSize=5>
					<ul>
						<#list page.list as a>
							<@t.merge 'userIds' a.replyUserId!/>
							<@t.merge 'contentIds' a.contentId!/>
						</#list>
						<@sys.user ids=t.userIds!><#assign userMap=map!/></@sys.user>
						<@cms.content ids=t.contentIds!><#assign contentMap=map!/></@cms.content>
						<#list page.list as a>
							<li class="underline">
								<p>${a.createDate} 评论《<a href="${contentMap[a.contentId?string].url}" target="_blank">${contentMap[a.contentId?string].title}</a>》</p>
								<#if a.replyId?has_content>
									<@cms.comment id=a.replyId>
								<p class="reply"><a href="${site.dynamicPath}member/user.html?id=${a.replyUserId!}" target="_blank">@${(userMap[a.replyUserId?string].nickname)!}</a> : ${object.text!}</p>
									</@cms.comment>
								</#if>
								<p>${a.text!} <span class="float-right"><a href="comment.html?id=${a.id}&contentId=${a.contentId}">编辑</a></span></p>
							</li>
						<#else>
						<li class="underline"><p>没有数据</p></li>
						</#list>
					</ul>
					</@cms.commentList>
				</div>
				<div class="clearfix-before"></div>
				<div class="column">
					<h3>我的内容投稿</h3>
					<@cms.contentList advanced=true userId=user.id pageSize=5>
					<ul>
						<#list page.list as a>
						<@t.merge 'categoryIds' a.categoryId!/>
						</#list>
						<@cms.category ids=t.categoryIds!><#assign categoryMap=map!/></@cms.category>
						<#list page.list as a>
						<li class="underline">
							<p><label>投稿栏目:</label>${(categoryMap[a.categoryId?string].name)!} <span class="float-right"><label>投稿日期:</label>${a.createDate?date} [<@t.m 'page.status.content.'+a.status/>]</span></p>
							<p>《<#if a.status=1><a href="${a.url}" target="_blank">${(a.title)!}</a><#else>${(a.title)!}</#if>》</p>
						</li>
						<#else>
						<li class="underline"><p>没有数据</p></li>
						</#list>
					</ul>
					</@cms.contentList>
				</div>
				<div class="column">
					<h3>我的其他投稿</h3>
					<@cms.placeList advanced=true userId=user.id pageSize=5>
					<ul>
						<#list page.list as a>
						<li class="underline">
							<p><label>投稿类型:</label><@cms.placeMetadata path=a.path>${object.alias!}</@cms.placeMetadata><span class="float-right"><label>投稿日期:</label>${a.createDate?date} [<@t.m 'page.status.place.data.'+a.status/>]</span></p>
							<p>《${(a.title)!}》</p>
						</li>
						<#else>
						<li class="underline"><p>没有数据</p></li>
						</#list>
					</ul>
					</@cms.placeList>
				</div>
			</div>
		</div>
	</div>
</main>
	<script>
		var templatePath='${.current_template_name?keep_after('/')}';
	</script>
<@tools.includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
</body>
</html>
