<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>${(metadata.alias)!}</title>
	<@_includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
	<@_includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
    <main>
		<div class="container">
			<#macro message code>${springMacroRequestContext.getMessage(code)}</#macro>
			<@_tradeRefundList userId=user.id pageIndex=pageIndex pageSize=10>
				<h3>Refunds</h3>
				<ul>
				<#list page.list as a>
					<li class="underline">
						<p><@message 'page.status.refund.'+a.status/><span class="right">${a.createDate!}</span></p>
						<p class="gray"><label>Order id:</label>${a.orderId!} <label>Apply amount:</label>${a.amount!} <label>Refund amount:</label>${a.refundAmount!}</p>
						<p>${a.reason!}<span class="right"><label>Replay:</label>${a.reply!}</span></p>
						<#if 0=a.status||3=a.status>
							<form action="${site.dynamicPath}tradePayment/refund" method="POST">
								<input type="hidden" name="_csrf" value="<@_csrfToken/>"/>
								<input type="hidden" name="id" value="${a.id}"/>
								<input type="hidden" name="returnUrl" value="${site.dynamicPath}paymentList.html"/>
								<input type="hidden" name="paymentId" value="${a.id}"/>
								<label>Amount:</label><input type="text" name="amount" required="required" value="${a.amount!}" max="${a.amount}"/>
								<label>Reason:</label><input type="text" name="reason" required="required" value="${a.reason!}"/>
								<input type="submit" value="Update"/>
							</form>
						</#if>
					</li>
				</#list>
				</ul>
				<div>
					<#assign
						start=1
						end=page.totalPage
					/>
					<#if (page.pageIndex-5) gt start>
						<#assign start=page.pageIndex-4/>
					</#if>
					<#if (page.pageIndex+5) lt end>
						<#assign end=page.pageIndex+4/>
					</#if>
					<#if !page.firstPage>
						<a href="${getPage('refund.html',page.prePage,'pageIndex')}">Previous page</a>
					<#else>
						<span>Previous page</span>
					</#if>
					<#if start gt 1>
						<a href="${'refund.html'}">1</a> ...
					</#if>
					<#list start..end as n>
						<#if n=page.pageIndex>
							${n}
						<#else>
							<a href="${getPage('refund.html',n,'pageIndex')}">${n}</a>
						</#if>
					</#list>
					<#if end lt page.totalPage>
						... <a href="${getPage('refund.html',page.totalPage,'pageIndex')}">${page.totalPage}</a>
					</#if>
					<#if !page.lastPage>
						<a href="${getPage('refund.html',page.nextPage,'pageIndex')}">Next page</a>
					<#else>
						<span>Next page</span>
					</#if>
				</div>
			</@_tradeRefundList>
		</div>
    </main>
    <script>
    var itemString="itemType=user&itemId=${user.id}";
    </script>
    <@_includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->   
</body>
</html> 