<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${(metadata.alias)!}</title>
	<meta name="keywords" content="${(metadata.extendData.keywords)!}"/>
	<meta name="description" content="${(metadata.extendData.description)!}"/>
	<@tools.includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
<@tools.includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
<main>
	<div class="container">
        <h3 class="text-center">${payment.description!}</h3>
        <p class="text-center"><label>Amount:</label>${payment.amount!}</p>
        <div class="text-center qr"></div>
        <p class="text-center">WeChat scan and pay</p>
		<p class="text-center"><a href="${returnUrl!site.dynamicPath!}">Return</a></p>
    </div>
</main>
	<script>
		var templatePath='${.current_template_name?keep_after('/')}';
	</script>
<@tools.includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
<script src="${site.dynamicPath}resource/js/jquery.qrcode.min.js"></script>
<script>
	$('.qr').qrcode({width: 200,height: 200,text: "${code_url!}"});
</script>
</body>
</html>
