1. Authorization
  1.1 You may modify, copy and distribute the Software and the source code of the Software free of charge
  1.2 You can obtain the license file based on the free license free of charge and obtain the right to use it for non-commercial use, which is limited to individual users
  1.3 Commercial users are allowed to try for no more than 3 months, during the trial period, the page based on the software development of this software must add the Powered by PublicCMS logo in a prominent position, and retain the authorization and logo in the product
  1.4 When using the software for commercial purposes, it is necessary to obtain the commercial use authorization of the software copyright owner, and the authorized unit shall be the user unit of the final use of the product
  1.5 Users who have obtained commercial authorization can use, copy, modify, distribute the software (including source code) and products containing this software (including source code).
  1.6 This agreement is only valid for the current version, please refer to the license agreement attached to the release of the software for historical releases
2. Copyright
  2.1 The copyright of this software belongs to PublicCMS
III. Disclaimer
  3.1 The Software and accompanying documentation are provided without any express or implied indemnity or warranty
  3.2 The user uses the software voluntarily, you must understand the risks of using the software, before the purchase of product technical services, we do not promise to provide any form of technical support, use guarantee, nor assume any related responsibilities for problems caused by the use of this software