<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>${(attribute.title)!category.name}</title>
        <meta name="keywords" content="${(attribute.keywords)!}"/>
        <meta name="description" content="${(attribute.description)!}"/>
        <@tools.includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@tools.includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->
		
        <div class="banner-l2 position-relative d-flex align-items-center justify-content-center" data-diy="category" data-diy-id="${category.id}">
            <div class="container text-center position-relative py-3 py-md-4">
                <div class="display-3 fw-bolder">${category.name}</div>
                <p class="text-secondary m-0">${(attribute.description)!}</p>
                <#if category.parentId?has_content>
                    <#assign attribute=getCategoryAttribute(category.parentId)/>
                </#if>
                <img src="${getAbsoluteUrl(site.sitePath,attribute.left_image)!}" class="position-absolute bottom-0" style="left: 8%;height: ${attribute.left_height!}%;">
                <img src="${getAbsoluteUrl(site.sitePath,attribute.right_image)!}" class="position-absolute bottom-0" style="right: 0%;height: ${attribute.right_height!}%;">
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <@cms.categoryList parentId=category.id>
                    <div class="row row-cols-1 row-cols-md-4 gx-3 gx-md-5 gy-3 gy-md-4 demo-list" data-diy="child-category">
                        <#list page.list as a>
                        <div class="col">
                            <a href="${a.url}" rel="nofollow" target="_blank" class="card align-items-center rounded-3 pt-3">
                                <#assign attribute=getCategoryAttribute(a.id)/>
                                <div>
                                    <img src="${getAbsoluteUrl(site.sitePath,attribute.cover)!}" alt="${a.name}" style="height: 3rem;">
                                </div>
                                <h3 class="mt-3 text-body">${a.name}</h3>
                                <p class="text-secondary text-opacity-50">${(attribute.description)!}</p>
                            </a>
                        </div>
                        </#list>
                    </div>
                    </@cms.categoryList>
                </div>
            </div>
        </div>

        <script>
            var itemString="itemType=category&itemId=${category.id}";
			var templatePath='${.current_template_name?keep_after('/')}';
        </script>
        <@tools.includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
		<script>
            $('.navbar-nav .nav-item[data-id=${category.parentId!category.id}]').addClass('selected');
        </script>
    </body>
</html>