<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>${(attribute.title)!category.name}</title>
        <meta name="keywords" content="${(attribute.keywords)!}"/>
        <meta name="description" content="${(attribute.description)!}"/>
        <@tools.includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@tools.includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->

        <div class="banner-l2 position-relative d-flex align-items-center justify-content-center" data-diy="category" data-diy-id="${category.id}">
            <div class="container text-center position-relative py-3 py-md-4">
                <div class="display-3 fw-bolder">${category.name}</div>
                <p class="text-secondary m-0">${(attribute.description)!}</p>
                <img src="${getAbsoluteUrl(site.sitePath,attribute.left_image)!}" class="position-absolute bottom-0" style="left: 8%;height: ${attribute.left_height!}%;">
                <img src="${getAbsoluteUrl(site.sitePath,attribute.right_image)!}" class="position-absolute bottom-0" style="right: 0%;height: ${attribute.right_height!}%;">
            </div>
        </div>

        <div class="container mt-5">
			 <div class="row">
                <div class="col-12 d-flex justify-content-center my-5">
                    <ul class="nav nav-pills nav-l2" data-diy="child-category">
                    <@cms.category id=category.parentId!category.id>
                        <li class="nav-item">
                            <a class="nav-link<#if object.id=category.id> active</#if>" aria-current="page" href="${object.url!}">全部</a>
                        </li>
                    </@cms.category>
                    <@cms.categoryList parentId=category.parentId!category.id>
                        <#list page.list as a>
                        <li class="nav-item">
                            <a class="nav-link<#if a.id=category.id> active</#if>"<#if a.onlyUrl> target="_blank"</#if> href="${a.url}">${a.name!}</a>
                        </li>
                        </#list>
                    </@cms.categoryList>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12"  data-diy="page">
                    <div class="text-center">
                        <img src="${site.sitePath}assets/img/icon-price-product.svg" alt="product">
                        <h2 class="my-2">产品价格</h2>
                        <p class="text-secondary opacity-50">V4.0(及后续版本)个人免费使用<br/>企事业单位使用需要付费</p>
                    </div>
                    <div class="mt-4">
                        <table class="table price">
                            <thead>
                                <tr class="text-end">
                                    <th scope="col"></th>
                                    <th scope="col" class="ps-md-4">个人用户</th>
                                    <th scope="col" class="text-center" colspan="3">企事业单位</th>
                                </tr>
                            </thead>
                            <tbody class="fs-7">
                                <tr>
                                    <th scope="row">授权类型</th>
                                    <td>个人授权</td>
                                    <td>单域名商业授权</td>
                                    <td>3年商业授权</td>
                                    <td>不限域名商业授权</td>
                                </tr>
                                <tr>
                                    <th scope="row">域名限制</th>
                                    <td>单个域名</td>
                                    <td>单个域名 / 局域网</td>
                                    <td>不限域名</td>
                                    <td>不限域名</td>
                                </tr>
                                <tr>
                                    <th scope="row">授权时限</th>
                                    <td>一年</td>
                                    <td>永久</td>
                                    <td>3年</td>
                                    <td>永久</td>
                                </tr>
                                <tr>
                                    <th scope="row">价格(含3%税率)</th>
                                    <td>免费</td>
                                    <td>&#165; 1980</td>
                                    <td>&#165; 1980</td>
                                    <td>&#165; 9800</td>
                                </tr>
                                <tr>
                                    <th scope="row">发票</th>
                                    <td>不提供</td>
                                    <td colspan="3" class="text-center">普票、专票、电子发票</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center py-3 mb-5">
                        <p class="fs-8 text-secondary text-opacity-50">
                            单域名商业授权为顶级域名比如 publiccms.com 授权，也可以在其二级域名下使用<br/>
                            授权单位为网站主办者,单域名商业授权、不限域名商业授权单位可以将自己购买的授权授予下属不具备法人资格的分支机构如分公司，子部门使用,无权将自己购买的授权授予子公司及其他单位使用<br/>
                            优惠: 同一单位同类型授权2年内累计采购5套后8折，一次性采购5套及以上8折，10套及以上7折 授权升级更高版本 之前版本金额可以全额抵扣<br/>
                        </p>
                    </div>
                    <div class="text-center mt-4">
                        <img src="${site.sitePath}assets/img/icon-price-service.svg" alt="service">
                        <h2 class="my-2">服务价格</h2>
                        <p class="text-secondary opacity-50">所有用户均可通过社区、QQ交流群等方式<br/>获得长期的免费技术支持</p>
                    </div>
                    <div class="mt-4">
                        <table class="table price">
                            <thead>
                                <tr class="text-end">
                                    <th scope="col"></th>
                                    <th scope="col">模板制作服务(可包含切图)</th>
                                    <th scope="col">一对一远程技术支持</th>
                                    <th scope="col">等保(二级、三级)技术支持</th>
                                </tr>
                            </thead>
                            <tbody class="fs-7">
                                <tr>
                                    <th scope="row">价格(含3%税率)</th>
                                    <td>15000元起(16页面左右)</td>
                                    <td>4800元/年(不超过两位工程师) ,2000元/年/位工程师</td>
                                    <td>5000元/次</td>
                                </tr>
                                <tr>
                                    <th scope="row">发票</th>
                                    <td>普票、专票、电子发票</td>
                                    <td>普票、专票、电子发票</td>
                                    <td>普票、专票、电子发票</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center py-3 mb-5">
                        <p class="fs-8 text-secondary text-opacity-50">
                            为避免与使用本产品的其他技术团队产生直接竞争，我们只提供网站制作过程中的模板制作（可包含切图）部分服务，<br/>
                            不承接含有二次开发、网站设计的项目，如果您没有设计或技术团队，或以上报价超出您的预算，请选择其他服务商提供网站制作服务。
                        </p>
                    </div>
                </div>
            </div>
			<p class="text-center">
				<a href="javascript:void(0)" class="download btn btn-primary rounded-pill px-3"><img src="${site.sitePath}assets/img/icon-download.svg" class="me-2"> 保存页面</a>
			</p>
        </div>
        <script>
            var itemString="itemType=category&itemId=${category.id}";
			var templatePath='${.current_template_name?keep_after('/')}';
        </script>
        <@tools.includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
		<script src="${site.sitePath}assets/js/html2canvas.min.js"></script>
		<script src="${site.sitePath}assets/js/jspdf.umd.min.js"></script>
		<script>
            $('.navbar-nav .nav-item[data-id=${category.parentId!category.id}]').addClass('selected');
			$('a.download').click(function(){
				html2canvas(document.body,{allowTaint:true,useCORS:true}).then(function (canvas) {
					try{
						var contentWidth = canvas.width-20;
						var contentHeight = canvas.height-20;
						var pageHeight = contentWidth / 592.28 * 841.89;
						var leftHeight = contentHeight;
						var position = 0;
						var imgWidth = 595.28;
						var imgHeight = 592.28 / contentWidth * contentHeight;
						var pageData = canvas.toDataURL('image/jpeg', 1.0);
						var PDF = new jspdf.jsPDF('', 'pt', 'a4');
						if (leftHeight < pageHeight) {
							PDF.addImage(pageData, 'JPEG', 20, 30, imgWidth-40, imgHeight-60);
						} else {
							while (leftHeight > 0) {
								PDF.addImage(pageData, 'JPEG', 20, 30+position, imgWidth-40, imgHeight-60);
								leftHeight -= pageHeight;
								position -= 841.89;
								if (leftHeight > 0) {
									PDF.addPage();
								}
							}
						}
						PDF.save(document.title + '.pdf');
					}catch(err){
						alert(err);
					}
				});
				return false;
			});
		</script>
    </body>
</html>