<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>${(attribute.title)!category.name}</title>
        <meta name="keywords" content="${(attribute.keywords)!}"/>
        <meta name="description" content="${(attribute.description)!}"/>
        <@_includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@_includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->
        <div class="banner-l2 position-relative d-flex align-items-center justify-content-center">
            <div class="container text-center position-relative py-3 py-md-4">
                <div class="display-3 fw-bolder">${category.name}</div>
                <p class="text-secondary m-0">${(attribute.description)!}</p>
                <#if category.parentId?has_content>
                    <#assign attribute=getCategoryAttribute(category.parentId)/>
                </#if>
                <img src="${getAbsoluteUrl(site.sitePath,attribute.left_image)!}" class="position-absolute bottom-0" style="left: 8%;height: ${attribute.left_height!}%;">
                <img src="${getAbsoluteUrl(site.sitePath,attribute.right_image)!}" class="position-absolute bottom-0" style="right: 0%;height: ${attribute.right_height!}%;">
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <@_categoryList parentId=category.id>
                    <div class="row row-cols-2 row-cols-md-6 g-4 g-md-5 pt-md-4 qa-list">
                        <#list page.list as a>
                        <div class="col">
                            <a href="${a.url}" rel="nofollow" target="_blank">
                                <#assign attribute=getCategoryAttribute(a.id)/>
                                <img src="${getAbsoluteUrl(site.sitePath,attribute.cover)!}" alt="${a.name!}" class="img-fluid">
                            </a>
                        </div>
                        </#list>
                    </div>
                    </@_categoryList>
                </div>
            </div>
        </div>

        <script>
            var itemString="itemType=category&itemId=${category.id}";
        </script>
        <@_includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
    </body>
</html>