<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>【${site.name}】的动态</title>
</head>
<body>
    <div style="border:1px #f0f0f0 solid;margin:10px;padding:0px 10px;height:auto;">
        <h2>动态提醒:</h2>
		<#assign dealDate=(.now?long-1000*3600)?number_to_datetime?string/>
		<@cms.contentList advanced=true startPublishDate=dealDate pageSize=10>
			<#list page.list as a>
		<p>新投稿：${a.title}</p>
		<p>内容：${(getContentAttribute(a.id).text)!}</p>
			</#list>
		</@cms.contentList>
		<@trade.orderList startCreateDate=dealDate pageSize=10>
			<#list page.list as a>
		<p>新订单：<@sys.user id=a.userId>${object.nickname} 购买了 </@sys.user> ${a.title}</p>
		<p>${a.addressee!} <label>电话:</label>${a.telephone!} <label>邮寄地址:</label>${a.address!}</p>
			</#list>
		</@trade.orderList>
		<@cms.commentList advanced=true pageSize=5>
			<#list page.list as a>
				<#if a.createDate gt (.now?long-1000*3600)?number_to_datetime>
		<p>${a.createDate} <@sys.user id=a.userId>${object.nickname} : </@sys.user> 评论了 <@cms.content id=a.contentId><a href="${object.url}">${object.title}</a></@cms.content></p>
		<p>${a.text!}</p>
				</#if>
			</#list>
		</@cms.commentList>
    </div>
</body>
</html>