<@_sysMoudle id=id>
	<#assign a=object/>
	<#if (object.parentId)??><#assign parentId=(object.parentId)/></#if>
</@_sysMoudle>
<@_sysMoudle id=parentId!><#assign moudle=object/></@_sysMoudle>
<div class="pageContent">
	<form method="post" action="sysMoudle/save.do?callbackType=closeCurrent&navTabId=sysMoudle/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="pageFormContent" layoutH="57">
			<dl class="nowrap">
				<dt>父模块:</dt>
				<dd>
					<input name="parentId" type="hidden" value="${parentId!}" />
					<input name="parentName" readonly="readonly" type="text" size="50" value="${(moudle.name?html)!}"/>
					<a class="btnLook" href="sysMoudle/lookup.html" lookupGroup="">选择</a>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>名称:</dt>
				<dd>
					<input class="required" name="name" type="text" size="50" maxlength="100" value="${(a.name?html)!}"/>
					<span class="info">可以使用<a href="http://fontawesome.io/3.2.1/icons/" target="_blank">Font Awesome 3.2.1图标</a></span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>地址:</dt>
				<dd>
					<input name="url" type="text" size="30" value="${(a.url)!}"/>
					<span class="info">此模块的展示页面</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>授权访问地址:</dt>
				<dd>
					<textarea name="authorizedUrl" style="width: 100%;" rows="8">${(a.authorizedUrl)!}</textarea>
					<span class="info">此模块需要授权的URL请求路径，使用逗号分隔，不带后缀</span>
				</dd>
			</dl>
			<dl>
				<dt>排序:</dt>
				<dd><input class="required digits" name="sort" type="number" size="3" value="${(a.sort)!0}"/></dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>