<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${content.title} - PublicCMS</title>
	<meta name="keywords" content="${content.title}"/>
	<meta name="description" content="${content.description}"/>
<!--#include virtual="/include/header.html"-->
</head>
<body>
<!--#include virtual="/include/nav.html"-->
<main>
	<div class="container bread">
		<#include "/ftl/echoBread.ftl"/>
		<@echoBread category.id/>
	</div>
	<div class="container">
		<article class="left-content">
			<h1><a href="${getSitePath(url)}">${content.title}</a></h1>
			<p class="author"><#if content.isCopied>来源：<a href="${content.sourceUrl!}" target="_blank">${content.source!}</a></#if> ${content.author!} ${content.editor!} ${content.publishDate} 阅读:<em>loading...</em></p>
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["renren","bdxc","kaixin001","tqf","tieba","douban","sqq","fx","mail","isohu","ty","copy"],"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","weixin"],"viewText":"分享到：","viewSize":"24"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<div id="content">${text!}</div>
			<#if content.tags?has_content>
				<div class="tags">
					标签：
					<@_tag ids=content.tags>
						<#list map?keys as key>
							<a href="${getCmsPath()}tags.html?id=${map[key].id}" target="_blank"><em>${map[key].name}</em></a>
						</#list>
					</@_tag>
				</div>
			</#if>
			<script>uParse('#content',{rootPath: '${getUploadPath()}ueditor'});</script>
<#include "/ftl/content_page.ftl"/>
			<script>
				var link=$('article .page a:last').attr('href');
				if("undefined" != typeof link && "" != link ){
					$('article #content img').each(function(){
						$(this).wrapAll("<a href=\"" + link + "\" title=\"点击查看下一页\"></a>");
					});
				}
				$.getJSON('${getCmsPath()}content/clicks.json?id=${content.id}&callback=?', function(data){
					$('article .author em').text(data.clicks);
				});
			</script>
			<div id="SOHUCS" class="comment" sid="${content.id}"></div>
			<script charset="utf-8"src="http://changyan.sohu.com/upload/changyan.js"></script>
			<script type="text/javascript">
				window.changyan.api.config({
					appid: 'cyrUsl0PT',
					conf: 'prod_64e213c0c1210c839584707e2d5e7cd7'
				});
			</script>
		</article>
		<aside>
			<!--#include virtual="/include/system/article.html/1.html"--><#-- 文章右侧-编辑推荐 -->
			<!--#include virtual="/include/category/list.html/2.html"--><#-- 精彩图集 -->
<#if content.tags?has_content>
	<#include "/ftl/cut.ftl"/>
	<#include "/ftl/meger.ftl"/>
	<@_contentTagList tagIds=content.tags contentIds=content.id>
			<#list page.list as a>
				<@meger 'contentIds' a.contentId/>
			</#list>
			<div style="border-bottom: 1px solid #eee;">
				<h3>相关推荐</h3>
				<ul>
		<@_content ids=contentIds>
			<#list map?keys as k>
				<#assign a=map[k]!/>
				<#if a?has_content><li><a href="${getSitePath(a.url)}" target="_blank" title="${a.title}"><@cut a.title 20 '...'/></a></li></#if>
			</#list>
		</@_content>
				</ul>
			</div>
	</@_contentTagList>
</#if>
		</aside>
	</div>
</main>
<!--#include virtual="/include/footer.html"-->
</body>
</html>