<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${metadata.alias!}</title>
		<@_includePlace path="/index.html/3f9a648b-7360-41b5-86e5-6b4b108268f1.html"/> <#-- 头部Header -->
	<script type="text/javascript">
	$(function(){$('.login-form input').eq(0).focus();});
	</script>
</head>
<body>
<@include path="ftl/dynamic-user.ftl"/> <#-- 动态站点用户状态 -->
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<main>
    <div class="container">
		<iframe id="sso" style="display:none" src="${site.sitePath}sso.html"></iframe>
		<iframe style="display:none" src="//publiccms.com/sso.html"></iframe>
   	<#if user?has_content>
		同步登陆状态中..
		<script>
			$('#sso').on("load",function(){
				window.location.href="${returnUrl!site.sitePath}";
			});
		</script>
   	<#else>
		<form action="doLogin.do" method="post" class="center login-form">
			<p><input type="text" name="username" class="input-text" placeholder="用户名" title="用户名"/></p>
			<p><input type="password" name="password" class="input-text" placeholder="密码" title="密码"/></p>
			<p class="text-center">
				<input type="submit" class="button" value="登  录"/>
				<input type="hidden" name="returnUrl" value="login.html?returnUrl=${(returnUrl!site.sitePath!)?url}"/>
			</p>
			<p class="message">没有账号?请<a href="${site.dynamicPath}register.html?returnUrl=${(returnUrl!site.sitePath!)?url}">注册</a></p>
			<@import path="/ftl/tools.ftl" namespace="t"/>
			<#if error??>
				<p class="message red"><@t.m error/></p>
			</#if>
			<#if message??>
				<p class="message"><@t.m "message."+message/></p>
			</#if>
		</form>
	</#if>
    </div>
</main>
<@_includePlace path="/index.html/6369e868-50b9-4245-9d39-fd440384a685.html"/> <#-- 尾部Footer -->
</body>
</html>