body,html{color:#31353e;}
::-webkit-scrollbar-corner,::-webkit-scrollbar-track{background-color:rgba(98,98,98,.4);border-radius:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;background-color:rgba(0,0,0,.2);}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.35);}
::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0,0,0,.38);}
a{color:#8f0006;}
body h2.contentTitle{border-color:#e4e9f2;}
header{background-color:#8f0006;color:#afc5f6;}
header .nav ul{background-color:#D8403D;}
header .nav ul li a { color:#000;}
header a{color:#efefef;}
#navMenu li{background-color:#8f0006;}
#navMenu li.selected,#navMenu li:hover{background-color:#b52e31;}
#navMenu li.selected a,#navMenu li:hover a,header .nav a:hover{color:#fff;}
/* 主界面 */

#sidebar{background-color:#FAE1E1;}
#sidebar_s{background-color:#FA5151;}
.tabsPage{background-color:#edf1f5;}
.accordion .accordionHeader{background-color:#b52e31;}
.accordion .accordionHeader h2.collapsable{color:#fff;}
.accordion .accordionContent{background-color:#FAE1E1;}
#splitBarProxy{border-color:#c0c0c0;background-color:#CCC;}

#sidebar_s,.accordion .accordionHeader{color:#b5c3db;}
.accordion .accordionContent,.accordionContent .tree a,.accordionContent .tree div:hover{color:#000000;}
.accordionContent .tree div:hover a{background-color:#D8403D;color:#8d95a7;}
.accordionContent .tree div.selected a{background-color:#FA5151;color:#fff;}

.tabsPage .tabsPageHeader{background-color:#dde2ec;}
.tabsPage .tabsLeft,.tabsPage .tabsMore,.tabsPage .tabsRight,.toggleCollapse{color:#666666;}
.tabsPageHeader .toggleCollapse{border-color:#D8403D;}
.tabsPage .tabsPageHeader li a{color:#333333;}
.tabsPage .tabsPageHeader li.selected,.tabsPage .tabsPageHeader li:hover{background-color:#edd9dd;}
.tabsPage .tabsPageHeader li.selected a,.tabsPage .tabsPageHeader li:hover a{color:#8f0006;}
.tabsPage .tabsMoreList{background-color:#fff;border-color:#dde2ec;}
.tabsPage .tabsMoreList li a{color:#333;}
.tabsPage .tabsMoreList li a:hover,.tabsPage .tabsMoreList li.selected a{background-color:#D8403D;color:#fff;}

.page{background-color:#fff;}
.page.work-bench{background-color:#edf1f5;}

.pageFormContent fieldset{background-color:#fff;}
.pageFormContent fieldset legend{color:#b52e31;}
.pageFormContent fieldset legend:before{background-color:#b52e31;}
.pageFormContent label{color:#989eab;}
.pageFormContent dt{color:#31353e;}
.unit a.button:hover{background-color:#8f0006;color:#fff;border-color:#8f0006;}
.divider{border-color:#d6dce6;}
.formBar{background-color:#edf1f5;}
.tagsBox span,.parametersBox span {background-color: #edf2f6;}

.leftPageContent{border-color:#FAE1E1;background-color:#faf9f9;}

button.buttonActive{color:#fff;background-color:#D8403D;border-color:#D8403D;}
button.buttonActive:hover{background-color:#5d7298;border-color:#5d7298;}
a.button,button.button{color:#8f0006;background-color:#fff;border-color:#dde2ec;}
a.button:hover,button.button:hover{background-color:#eceff3;border-color:#dde2ec;}
.pagination li.jumpto .textInput,.textInput,input.disabled,input.error,input.focus,input.readonly,input.required,textarea.disabled,textarea.error,textarea.focus,textarea.readonly,textarea.required{border-color:#dde2ec;}
.pageHeader{background-color:#f2f6f9;color:#31353e;}
.searchBar span.connect-string{color:#dde2ec;}
.searchBar ul.searchContent:before{color:#D8403D;}
.panelBar .toolBar li a{color:#8f0006;background-color:#FAE1E1;}
.panelBar .toolBar li a>i{color:#8f0006;}
.panelBar .toolBar li a:hover>i{color:#fff;}
.panelBar .toolBar li a:hover{background-color:#D8403D;color:#fff;}
.panelBar .toolBar li.line{background-color:#e4e9f2;}
.panelBar .toolBar li a.addMore{background-color:#FF9913}
.panelBar .toolBar li>ul{border-color:#eceff3;}
.panelBar.pageBar{background-color:#e8ebf2;}

.grid { background-color:#FFF;}
.grid table { border-color:#e4e9f2;}
.grid .gridHeader th { border-color:#e4e9f2;background-color:#D8403D;}
.grid table th div { border-left-color:#e4e9f2;border-right-color:#d0d0d0;color:#FFF;}
.grid table td { border-color:#ededed;}
.grid .resizeMarker, .grid .resizeProxy { background-color:#d0d0d0;}
.grid .gridHeader th:hover { border-color:#e5eaf4;}
.grid .gridTbody tr:nth-child(even){background-color:#f8fcfe;}
.grid .gridTbody tr:hover,.grid .gridTbody tr.selected { border-color:#edd9dd;background-color:#edd9dd;}
.grid .error{background-color:#fb7e81;}
.grid .gridHeader th.asc:before,.grid .gridHeader th.desc:before,.grid .gridHeader th.order:before{color:#FFFFFF;}

table.list,table.list td{border-color:#e4e9f2;}
table.list thead tr{background-color:#f8fcfe;}
table.list th{border-color:#e4e9f2;color:#31353e;}
table.list tbody {background-color:#fff;}
table.list tbody tr:nth-child(even){background-color:#f8fcfe;}
table.list tbody tr.hover td{background-color:#e5eaf4;}
table.list td a{color:#D8403D;}
table.list tbody tr.selected td{background-color:#edd9dd;}
table.list th.asc:before,table.list th.desc:before,table.list th.order:before{color:#D8403D;}
table.nowrap tbody tr {border-color:#ededed;}

.tabs .tabsHeaderContent>ul li a{color:#989eab;}
.tabs .tabsHeader li.selected:before{background-color:#b52e31;}
.tabs .tabsHeader li.selected a{color:#31353e;}
.tabs .tabsHeader ul{border-color:#dde2ec;box-sizing:border-box;}
a.btnLook:before{color:#333;}
footer{background-color:#8f0006;color:#FFFFFF;}
footer a{color:#4d84ff;}
.langList a{color:#4d84ff;}
.langList a:hover,.langList li.current-lang a{color:#FFFFFF;}
/* 弹窗 */
.alert .error h1{background-color:#f2f6f9;}
.alert .alertContent{background-color: #fff;}
.alert .toolBar .button{background-color:#D8403D;color:#fff;border-color:#D8403D;}
.alert .toolBar .button:hover{background-color:#FA5151;border-color:#D8403D;}
.alert h1{background-color: #f2f6f9;}

.dialog{background-color:#fff;}
.dialog .dialogHeader{background-color:#f2f6f9;}
.dialog .dialogHeader_c a:hover{color:#3587ef;}
.dialog .dialogHeader .close,.dialog .dialogHeader .maximize,.dialog .dialogHeader .minimize,.dialog .dialogHeader .restore{color:#a1a4a8;}
.dialogContent .pageContent{background-color:#fff;}

#taskbar{background-color:#131a23;}
#taskbar li{color:#b5c3db;}
#taskbar :hover,#taskbar .selected{background-color:#222836;color:#fff;}
/* 日期控件 */
#calendar{border-color:#e4e9f2;}
#calendar .main{background-color:#ffffff;}
#calendar .foot,#calendar .head{background-color:#f2f6f9;}
#calendar .days dd:hover{background-color:#e4e4e4;}
#calendar dd,#calendar dt{color:#333;}
#calendar .days dd.other{color:#999;}
#calendar .days dd.disabled{background-color:#ccc;color:#d6d6d6;cursor:not-allowed;}
#calendar .days dd.slt,#calendar .days dd.slt:hover{background-color:#8f0006;color:#fff;}
#calendar .clearBut,#calendar .okBut{color:#333;background-color:#fff;border-color:#e4e9f2;}
#calendar .clearBut{border-color:#D8403D;background-color:#D8403D;color:#fff;}
#calendar .clearBut:hover{background-color:#5d7298;border-color:#5d7298;}
#calendar .okBut:hover{background-color:#eceff3;border-color:#dde2ec;}
#calendar .time{background-color:#fff;}
#calendar .tm .hh,#calendar .tm .mm,#calendar .tm .ss{background-color:#f2f6f9;border-color:#e4e9f2;}
#calendar .tm .hh li:hover,#calendar .tm .mm li:hover,#calendar .tm .ss li:hover{background-color:#8f0006;color:#fff;}
#calendar .close:hover{color:#3587ef;}
/* 树样式 */
.accordionContent .tree div.selected div{color:#fff;}
.tree a{color:#333;}
.tree a:hover,.tree .selected a{color:#8f0006;}
/* 右键菜单 */
#contextmenu ul{border-color:#dde2ec;}
#contextmenu li{color:#333;}
#contextmenu li.disabled{color:#999;}
#contextmenu li:hover{background-color:#D8403D;color:#fff;}
#contextmenu li:hover.disabled{color:#999;}
/* 下拉菜单 */
.combox .select a{border-color:#e4e9f2;background-color:#fff;color:#333;}
.comboxop{background-color:#fff;;border-color:#dde2ec;}
.comboxop a{color:#31353e;}
.comboxop .selected,body .comboxop a:hover{background-color:#D8403D;color:#fff;}
