<#assign result=(getHtml(base+'/weixin/accessToken.html')?eval)!{}/>
<#assign button>
{
	"button":[
		{
			"name":"官网",
			"sub_button":[
				{
					"type":"view",
					"name":"官网首页",
					"url":"http://www.publiccms.com/"
				},
				{
					"type":"view",
					"name":"系统介绍",
					"url":"http://www.publiccms.com/introduction/index.html"
				}
			]
		},
		{
			"type":"view",
			"name":"搜索",
			"url":"http://search.publiccms.com/"
		},
		{
			"type":"view",
			"name":"后台",
			"url":"http://cms.publiccms.com/admin/"
		}
	]
}
</#assign>
<#if result?has_content&&result.access_token?has_content>
${getHtml('https://api.weixin.qq.com/cgi-bin/menu/create?access_token='+result.access_token,button)}
<#else>
获取access_token失败${getHtml(base+'/weixin/accessToken.html')!}
</#if>
