<div class="accordion">
	<div class="accordionHeader">
		<h2><i class="icon-sitemap icon-large"></i> 站点管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li>
				<a href="sysSite/list" target="navTab" rel="sysSite/list"><i class="icon-sitemap icon-large"></i> 站点管理</a>
			</li>
			<li>
				<a href="sysDomain/list" target="navTab" rel="sysDomain/list"><i class="icon-qrcode icon-large"></i> 域名管理</a>
			</li>
			<li>
				<a href="sysMoudle/list" target="navTab" rel="sysMoudle/list"><i class="icon-th icon-large"></i> 模块管理</a>
			</li>
			<li>
				<a href="sysFtpUser/list" target="navTab" rel="sysFtpUser/list"><i class="icon-folder-open-alt icon-large"></i> FTP用户管理</a>
			</li>
			<li>
				<a href="sysApp/list" target="navTab" rel="sysApp/list"><i class="icon-linux icon-large"></i> 应用授权</a>
			</li>
			<li>
				<a href="sysAppClient/list" target="navTab" rel="sysAppClient/list"><i class="icon-coffee icon-large"></i> 客户端管理</a>
			</li>
			<li>
				<a href="pluginSite/list" target="navTab" rel="pluginSite/list"><i class="icon-tasks icon-large"></i> 插件管理（开发中）</a>
			</li>
			<li>
				<a href="pluginLottery/list" target="navTab" rel="pluginLottery/list"><i class="icon-ticket icon-large"></i> 抽奖管理（开发中）</a>
			</li>
			<li>
				<a href="pluginLotteryUser/list" target="navTab" rel="pluginLotteryUser/list"><i class="icon-user icon-large"></i> 抽奖用户管理（开发中）</a>
			</li>
			<li>
				<a href="pluginVote/list" target="navTab" rel="pluginVote/list"><i class="icon-thumbs-up icon-large"></i> 投票管理（开发中）</a>
			</li>
		</ul>
	</div>
</div>