<div class="formBar">
	<ul>
		<li><button type="button" class="button close">关闭</button></li>
	</ul>
</div>
<div class="pageFormContent" layoutH="56">
	<dl class="nowrap">
		<dt>Nginx通用配置:</dt>
		<dd><textarea id="nginxCommon" name="description" style="width: 100%;" rows="20"><@_disk>
upstream publiccms {
	server localhost:8080  weight=1;
}
server {
	listen       80 default;
	location / {
		proxy_redirect off;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_connect_timeout 5;
		proxy_send_timeout 30;
		proxy_read_timeout 10;
		proxy_pass http://publiccms;
		#如果工程访问需要加上工程名时，可以通过以下配置将cms代理到跟路径下，其中cms改为你的工程名
		#proxy_pass http://publiccms/cms/;
		#proxy_cookie_path /cms/ /;
		#rewrite /cms/(.*)$ /$1 permanent;
	}
}</@_disk></textarea>
			<span class="info">Nginx通用配置应该包含在nginx配置文件 http包中</span>
		</dd>
	</dl>
<script>
	CodeMirror.fromTextArea(document.getElementById("nginxCommon"), {
		mode: "nginx",
		lineNumbers: true,
        tabSize        : 4,
        indentUnit     : 4,
        lineWrapping   : true,
        indentWithTabs : true
	});
</script>
</div>