<@_comment id=id>
    <#assign
        a=object
        contentId=a.contentId
    />
</@_comment>
<form action="cmsComment/save.do?callbackType=closeCurrent" method="post" autocomplete="off" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    <input type="hidden" name="id" value="${id!}"/>
    <input type="hidden" name="contentId" value="${contentId!}"/>
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="pageFormContent" layoutH="50">
        <dl class="nowrap">
            <dt><@t.page 'content'/>:</dt>
            <dd>
                <@_content id=contentId>${(object.title)!}</@_content>
            </dd>
        </dl>
<#if a?has_content>
        <dl>
            <dt><@t.page 'create_date'/>:</dt>
            <dd>${a.createDate!}</dd>
        </dl>
    <#if a.updateDate?has_content>
        <dl>
            <dt><@t.page 'modified_date'/>:</dt>
            <dd>${a.updateDate!}</dd>
        </dl>
    </#if>
    <@_sysUser id=a.userId>
        <dl>
            <dt><@t.page 'content.promulgator'/>:</dt>
            <dd>${object.nickName!}</dd>
        </dl>
    </@_sysUser>
        <dl>
            <dt><@t.page 'status'/>/<@t.page 'inspector'/>:</dt>
            <dd>
                <@t.page 'status.content.'+a.status/>
                <#if 1=a.status>/ <@_sysUser id=a.checkUserId>${object.nickName!}</@_sysUser></#if>
            </dd>
        </dl>
</#if>
        <dl class="nowrap">
            <dt><@t.page 'comment'/>:</dt>
            <dd>
                <textarea name="text" rows="3" cols="50">${(a.text)!}</textarea>
            </dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.ok'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
</form>