<@_commentList advanced=true userId=userId contentId=contentId status=status disabled=disabled
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" action="cmsComment/list.html" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'content.promulgator'/>:</label>
                    <#include "../include_page/userId.html"/>
                </li>
                <li>
                    <label><@t.page 'content.id'/>:</label>
                    <input type="text" name="contentId" value="${contentId!}" />
                </li>
                <li>
                <#list 1..2 as s>
                    <label style="width:auto">
                        <input <@t.compare status s?string 'checked="checked"'/> name="status" value="${s}" type="checkbox"/>
                        <@t.page 'status.content.'+s/>
                    </label>
                </#list>
                </li>
                <#include "../include_page/disabled.html"/>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='cmsComment/edit,cmsComment/check,cmsComment/uncheck,cmsComment/delete,cmsComment/reply'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        <#if authorizedMap['cmsComment/check']>
            <li><a href="cmsComment/check?_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_check'/>" target="selectedTodo" rel="ids"><i class="icon-check icon-large"></i><@t.page 'button.batch_check'/></a></li>
        </#if>
        <#if authorizedMap['cmsComment/uncheck']>
            <li><a href="cmsComment/uncheck?_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_uncheck'/>" target="selectedTodo" rel="ids"><i class="icon-check icon-large"></i><@t.page 'button.batch_uncheck'/></a></li>
        </#if>
        <#if authorizedMap['cmsComment/delete']>
            <li><a href="cmsComment/delete?_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_delete'/>" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i><@t.page 'button.batch_delete'/></a></li>
        </#if>
        </ul>
    </div>
    <table class="table" width="100%" layoutH>
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th><@t.page 'id'/></th>
                <th><@t.page 'content.promulgator'/></th>
                <th width="150"><@t.page 'content'/></th>
                <th width="30" orderField="scores" class="<#if orderField?has_content&&'scores'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'content.score'/></th>
                <th width="30" orderField="replies" class="<#if orderField?has_content&&'replies'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'replies'/></th>
                <th orderField="updateDate" class="<#if orderField?has_content&&'updateDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'modified_date'/></th>
                <th orderField="createDate" class="<#if orderField?has_content&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'create_date'/></th>
                <th><@t.page 'status'/>/<@t.page 'inspector'/></th>
                <th><@t.page 'comment'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
                <@t.merge 'userIds' a.checkUserId!/>
                <@t.merge 'contentIds' a.contentId!/>
            </#list>
            <@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
            <@_content ids=t.contentIds!><#assign contentMap=map!/></@_content>
            <#list page.list as a>
            <tr>
                <td class="center"><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>${a.id!}</td>
                <td class="center exclude-translate">
                    ${(userMap[a.userId?string].nickname)!}
                </td>
                <td class="exclude-translate">
                    <a href="cmsContent/view.html?id=${a.contentId}" target="dialog" rel="viewContent${a.contentId}">${(contentMap[a.contentId?string].title)!}</a>
                </td>
                <td>${a.scores!}</td>
                <td>${a.replies!}</td>
                <td>${a.updateDate!}</td>
                <td>${a.createDate!}</td>
                <td>
                    <@t.page 'status.content.'+a.status/>
                    <#if 1=a.status>/ ${(userMap[a.checkUserId?string].nickname)!}</#if>
                </td>
                <td><textarea rows="3" cols="50">${a.text!}</textarea></td>
                <td class="wrap">
                <#if !a.disabled>
                    <#if authorizedMap['cmsComment/edit']>
                        <a href="cmsComment/edit.html?id=${a.id}" class="edit btnText blue" target="dialog" mask="true"><i class="icon-edit"></i><@t.page 'button.edit'/></a>
                    </#if>
                    <#if authorizedMap['cmsComment/reply']>
                        <a href="cmsComment/reply.html?replyId=${a.replyId!a.id}" class="btnText blue" target="dialog" mask="true"><i class="icon-reply"></i><@t.page 'reply'/></a>
                    </#if>
                    <#if 1=a.status>
                        <#if authorizedMap['cmsComment/uncheck']>
                            <a href="cmsComment/uncheck?ids=${a.id}&_csrf=<@_csrfToken admin=true/>" class="btnText red" title="<@t.page 'confirm.uncheck'/>" target="ajaxTodo"><i class="icon-eraser"></i><@t.page 'button.uncheck'/></a>
                        </#if>
                    <#else>
                        <#if authorizedMap['cmsComment/check']>
                            <a href="cmsComment/check?ids=${a.id}&_csrf=<@_csrfToken admin=true/>" class="btnText green" title="<@t.page 'confirm.check'/>" target="ajaxTodo"><i class="icon-check"></i><@t.page 'button.check'/></a>
                        </#if>
                    </#if>
                    <#if authorizedMap['cmsComment/delete']>
                        <a href="cmsComment/delete?ids=${a.id}&_csrf=<@_csrfToken admin=true/>" class="btnText warn" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash"></i><@t.page 'button.delete'/></a>
                    </#if>
                </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</@_commentList>
</div>