<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${(metadata.extendData.title)!} </title>
	<meta name="keywords" content="${(metadata.extendData.keywords)!}"/>
	<meta name="description" content="${(metadata.extendData.description)!}"/>
	<@_includePlace  path='/76c53ac2-4f88-4ef3-984b-c81d00a48089.html' /> <#-- header -->
</head>
<body>
<@_includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
<main>
	<div class="container clearfix-after">
		<@_includePlace path="/94fe86e5-45b3-4896-823a-37c6d7d6c578.html"/> <#-- 焦点图 -->
		<div class="data-list left-content">
			<@_includePlace path="/d0e3dd81-02e5-45d6-a1da-1e652c3ec882.html"/> <#-- 首页推荐分类 -->		
		</div>
		<aside>
			<div>
				<a href="${siteAttribute.searchPath!}"><h3>站内搜索</h3></a>
				<div class="search">
					<form action="${siteAttribute.searchPath!}" method="get">
						<div class="search-box">
							<input type="text" name="word" value="${(word)!}"/>
							<input type="submit" class="button" value="搜索"/>
						</div>
					</form>
					<@_wordList count=5>
						<div>
							热门搜索：
							<#list page.list as a>
								<a href="${siteAttribute.searchPath!}?word=${a.name?url}">${a.name}</a>
							</#list>
						</div>
					</@_wordList>
				</div>
				<@_voteList endStartDate=.now  pageSize=5>
					<#if page.totalCount gt 0>
				<a href="${site.dynamicPath}votelist.html"><h3>最新投票</h3></a>
				<ul class="hoverShadow">
						<#list page.list as a>
					<li>
						<#if .now gt a.endDate && a.scores gt 0><#assign show=true/><#else><#assign show=false/></#if>
						<span><#if show>已截止<#else>截止:${(a.endDate)?string('MM-dd HH:mm')}</#if></span><a href="${site.dynamicPath}vote.html?id=${a.id}">${a.title}</a>
						<@_voteItemList voteId=a.id pageSize=3>
						<ol class="vote">
							<#list page.list as v>
							<li>
								<div class="progress-box">
									<div class="progress-bar" style="width:${show?then(v.scores*100/a.scores,100)}%;"></div>
									<div class="progress-text">
										<a href="${site.dynamicPath}vote.html?id=${a.id}" title="${v.title}">${v.title}<span class="float-right">${show?then(v.scores*100/a.scores+'%','投票后查看')}</span></a>
									</div>
								</div>
							</li>
							</#list>
						</ol>
						</@_voteItemList>
					</li>
						</#list>
				</ul>
					</#if>
				</@_voteList>
				<h3>近期热门</h3>
				<ul class="rank hoverShadow">
<@_contentList advanced=true modelId=1 status=1 startPublishDate=(.now?long-3600*1000*24*365)?number_to_datetime orderField='clicks' count=10>
	<#list page.list as a>
					<li><span>${a.clicks}</span><a href="${a.url!}">${a.title}</a></li>
	</#list>
</@_contentList>
				</ul>
			</div>
			<div>
				<h3>试用授权</h3>
				<div class="page">
					<a href="${site.sitePath}upload/publiccms_try.zip" target="_blank">文件下载</a>
				</div>
			</div>
			<div>
				<h3>源码下载</h3>
				<div class="page">
					<a href="https://gitee.com/sanluan/PublicCMS" target="_blank">GITEE</a>
					<a href="https://github.com/sanluan/PublicCMS" target="_blank">GITHUB</a>
				</div>
			</div>
            <@_includePlace path="/3435e9a7-565a-4f93-8670-9c272a1d51cc.html"/> <#-- 精彩图集 -->
		</aside>
	</div>
</main>
<@_includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- footer -->
<@_includePlace path="/ff78be16-6f75-42b3-b115-d9d9cf578f1c.html"/> <#-- 首页置灰控制 -->
<script>
	$("header nav ul li[data-id=home]").addClass('selected');
</script>
</body>
</html>