<@_lotteryUserList lotteryId=lotteryId userId=userId
            winning=winning startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>抽奖:</label>
					<input type="text" name="lotteryId" value="${lotteryId!}" />
				</li>
				<li>
					<label>用户:</label>
					<#include "../include_page/userId.html"/>
				</li>
				<li>
					<select class="combox" name="winning">
						<option value=""${(!winning?has_content)?then(' selected="true"','')?no_esc}>是否中奖</option>
						<option value="false"${(winning??&&"false"=winning)?then(' selected="true"','')?no_esc}>未中奖</option>
						<option value="true"${(winning??&&"true"=winning)?then(' selected="true"','')?no_esc}>中奖</option>
					</select>
				</li>
				<li>
					<label>抽奖时间:</label>
					<input type="text" name="startCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
					<span>-</span>
					<input type="text" name="endCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="cmsLotteryUser/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>抽奖</th>
				<th>用户</th>
				<th>是否中奖</th>
				<th>IP</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">抽奖时间</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.lotteryId!}</td>
				<td>${a.userId!}</td>
				<td>${a.winning?then('中奖','未中奖')!}</td>
				<td>${a.ip!}</td>
				<td>${a.createDate!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_lotteryUserList>