<@_place id=id>
	<#assign a=object/>
</@_place>
<div class="pageContent">
	<form method="post" action="cmsPlace/save.do?callbackType=closeCurrent&navTabId=cmsPage/placeDataList" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone);">
		<input name="id" type="hidden" value="${(a.id)!}" />
		<input name="path" type="hidden" value="${(a.path?html)!(path?html)!}" />
		<input name="itemType" type="hidden" value="${(a.itemType)!itemType!}" />
		<input name="itemId" type="hidden" value="${(a.itemId)!itemId!}" />
		<div class="pageFormContent" layoutH="57">
			<dl class="nowrap">
				<dt>标题:</dt>
				<dd>
					<input class="required" name="title" type="text"  maxlength="255" size="60" value="${(a.title?html)!title!}"/>
					<a class="btnLook" href="cmsPage/lookup.html" lookupGroup="" width="1200" >选择</a>	
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>地址:</dt>
				<dd><input class="required" name="url" type="text" maxlength="1000" style="width: 100%;" value="${(a.url)!url!}"/></dd>
			</dl>
			<dl>
				<dt>发布日期:</dt>
				<dd>
					<input class="date" name="publishDate" type="text" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.publishDate)!publishDate!.now}"/>
					<a class="inputDateButton" href="javascript:;">选择</a>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>封面:</dt>
				<dd>
					<input name="cover" value="${(a.cover)!cover!}" maxlength="300" size="40" type="text"/>
					<a class="btnAttach" href="common/upload.html?field=cover&onlyImage=true" lookupGroup="" width="560" height="300">图片</a>
					<#include "../include_page/preview.html"/>
					<@preview 'page' 'input[name=cover]'/>
				</dd>
			</dl>
			<#include "../include_page/extendData.html"/>
			<@_placeMetadata path=(a.path)!path!''><#assign metadata=object/></@_placeMetadata>
			<#assign extendList=(metadata.extendList)![]/>
			<#assign extendValues=getPageDataAttribute((a.id)!)!{}/>
			<@extendData 'extendDataList' extendList extendValues/>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>