<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${content.title} - ${category.name}</title>
	<meta name="keywords" content="<#list getKeywords(content.title) as a>${a}<#sep>,</#list>"/>
	<meta name="description" content="${content.description}"/>
	<@tools.includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
<style>
	article .cover{ float:left;}
	article .cover img{ width:144px;height:192px;}
	article .info{ margin-left:155px;}
	#content{ clear:both;}
	article ul.chapter-list li{ float:left;width:280px;margin:2px 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
</style>
</head>
<body>
	<@tools.includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
	<main>
		<div class="container bread" data-diy="category">
			<@include path="/ftl/echoBread.ftl"/>
			<@echoBread category.id/>
		</div>
		<div class="container">
			<article class="clearfix-after" data-diy="content" data-diy-id="${content.id}">
				<header>
					<div class="cover"><img src="${content.cover!}"></div>
					<div class="info">
						<h3><a href="${url!}">${content.title}</a></h3>
						<div class="tags">
							<#if content.tagIds?has_content>标签：
								<@cms.tag ids=content.tagIds>
									<#list map?keys as key>
										<a href="${site.dynamicPath}search/?tagId=${map[key].id}" target="_blank"><em>${map[key].name}</em></a>
									</#list>
								</@cms.tag>
							</#if>
							<span>${content.publishDate?date}</span>
						</div>
						<p>${content.description}</p>
					</div>
				</header>
				<div id="content" class="clearfix-after">
					${text?no_esc!}
				</div>
	<@cms.contentList parentId=content.id pageIndex=1 count=100>
		<#list 1..page.totalPage as n>
			<@cms.contentList parentId=content.id orderType='asc' pageIndex=n count=100>
				<#list page.list as a>
				<h4>${a.title}</h4>
	<@cms.contentList parentId=a.id endPublishDate=.now pageIndex=1 count=100>
		<#list 1..page.totalPage as n>
			<@cms.contentList parentId=a.id orderType='asc' pageIndex=n count=100>
				<ul class="clearfix-after chapter-list">
				<#list page.list as a>
					<li><a href="${a.url!}">${a.title}</a></li>
				</#list>
				</ul>
			</@cms.contentList>
		</#list>
	</@cms.contentList>
				</#list>
			</@cms.contentList>
		</#list>
	</@cms.contentList>
				<@import path="/ftl/tools.ftl" namespace="t"/>
				<@include path="/ftl/comment.ftl"/><#-- 评论 -->
			</article>			
		</div>
	</main>
	<script>
		var templatePath='${.current_template_name?keep_after('/')}';
		var itemString="itemType=content&itemId=${content.id}";
	</script>
	<@tools.includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
	<script>
		uParse('#content',{rootPath: '${site.sitePath}assets/ueditor'});
		$.getJSON('${site.dynamicPath}api/contentClick?id=${content.id}', function(data){});
	</script>
</body>
</html>
