<@cms.content id=content.parentId absoluteURL=true><#assign parent=object/></@cms.content>
<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${content.title} - ${(parent.title)!} - ${category.name}</title>
	<meta name="keywords" content="<#list getKeywords(content.title) as a>${a}<#sep>,</#list>"/>
	<meta name="description" content="${content.description}"/>
	<@tools.includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
	<@tools.includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
	<main>
		<div class="container bread" data-diy="category">
			<@include path="/ftl/echoBread.ftl"/>
			<@echoBread category.id/>
		</div>
		<div class="container">
			<article  data-diy="content" data-diy-id="${content.id}">
				<header>
					<h3><@cms.content id=parent.parentId  absoluteURL=true><a href="${object.url}" target="_blank">《${object.title}》</a></@cms.content> ${(parent.title)!} ${content.title}</h3>
				</header>
				<div id="content" class="clearfix-after">
					${text?no_esc!}
				</div>
				<div class="content-related clearfix-after">
					<div class="prev">
						<@cms.contentList parentId=content.parentId endPublishDate=content.publishDate orderField='publishDate' pageIndex=2 count=1><#if 2=page.pageIndex><#list page.list as a><span class="float-right">《上一章</span><a href="${a.url!}">${a.title}</a></#list><#else><span>没有了</span></#if></@cms.contentList>
					</div>
					<div class="next float-right text-right">
						<@cms.contentList parentId=content.parentId startPublishDate=content.publishDate orderField='publishDate' orderType='asc' pageIndex=1 count=1><#list page.list as a><span>下一章》</span><a href="${a.url!}">${a.title}</a><#else><span>没有了</span></#list></@cms.contentList>
					</div>
				</div>
			</article>
		</div>
	</main>
	<script>
		var templatePath='${.current_template_name?keep_after('/')}';
		var itemString="itemType=content&itemId=${content.id}";
	</script>
	<@tools.includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
	<script>
		uParse('#content',{rootPath: '${site.sitePath}assets/ueditor'});
		$.getJSON('${site.dynamicPath}api/contentClick?id=${content.id}', function(data){});
		<#if parent?has_content>
			$.getJSON('${site.dynamicPath}api/contentClick?id=${parent.parentId!}', function(data){});
		</#if>
	</script>
</body>
</html>
