<@_sysTaskList status=status pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>状态:</label>
					<select class="combox" name="status">
						<option value=""${(!status?has_content)?then(' selected="true"','')?no_esc}>请选择</option>
						<option value="0"${(status??&&"0"==status)?then(' selected="true"','')?no_esc}><@t.m 'status.task.'+0/></option>
						<option value="1"${(status??&&"1"==status)?then(' selected="true"','')?no_esc}><@t.m 'status.task.'+1/></option>
						<option value="2"${(status??&&"2"==status)?then(' selected="true"','')?no_esc}><@t.m 'status.task.'+2/></option>
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="sysTask/add.html" target="navTab" rel="sysTask/add"><i class="icon-plus-sign-alt icon-large"></i> 添加任务计划</a></li>
			<li><a href="sysTask/add.html?id={sid}" target="navTab" rel="sysTask/edit"><i class="icon-edit icon-large"></i> 修改任务计划</a></li>
			<li><a href="sysTask/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th width="30">ID</th>
				<th>任务名</th>
				<th>说明</th>
				<th>表达式</th>
				<th>任务计划脚本</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${(a.name)!}</td>
				<td>${(a.description)!}</td>
				<td>${(a.cronExpression)!}</td>
				<td>${(a.filePath)!}</td>
				<td><@t.m 'status.task.'+a.status/></td>
				<td>
					<#if a.status=0>
						<a href="sysTask/runOnce.do?id=${a.id}" title="确定要执行吗?" target="ajaxTodo">立刻执行</a>
						<a href="sysTask/pause.do?id=${a.id}" title="确定要暂停吗?" target="ajaxTodo">暂停</a>
					<#elseif a.status=2>
						<a href="sysTask/resume.do?id=${a.id}" title="确定要恢复吗?" target="ajaxTodo">恢复</a>
					<#elseif a.status=3||a.status=1>
						<a href="sysTask/recreate.do?id=${a.id}" title="确定要重新初始化吗?" target="ajaxTodo">重新初始化</a>
					</#if>
					<a href="log/task.html?taskId=${a.id}" target="navTab" rel="logTask" title="${a.name!}执行日志">查看日志</a>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_sysTaskList>