<@_tradeProductOrder id=id><#assign a=object/></@_tradeProductOrder>
<form method="post" autocomplete="off" action="tradeProductOrder/save?callbackType=closeCurrent&navTabId=tradeProductOrder/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>用户ID:</dt>
                <dd><input class="required" name="userId" type="text" size="30" value="${(a.userId)!}"/></dd>
            </dl>
            <dl>
                <dt>内容ID:</dt>
                <dd><input class="required" name="contentId" type="text" size="30" value="${(a.contentId)!}"/></dd>
            </dl>
            <dl>
                <dt>产品ID:</dt>
                <dd><input class="required" name="productId" type="text" size="30" value="${(a.productId)!}"/></dd>
            </dl>
            <dl>
                <dt>支付ID:</dt>
                <dd><input class="required" name="paymentId" type="text" size="30" value="${(a.paymentId)!}"/></dd>
            </dl>
            <dl>
                <dt>收货地址:</dt>
                <dd><input class="required" name="address" type="text" size="30" value="${(a.address)!}"/></dd>
            </dl>
            <dl>
                <dt>收件人:</dt>
                <dd><input class="required" name="addressee" type="text" size="30" value="${(a.addressee)!}"/></dd>
            </dl>
            <dl>
                <dt>电话:</dt>
                <dd><input class="required" name="telephone" type="text" size="30" value="${(a.telephone)!}"/></dd>
            </dl>
            <dl>
                <dt>IP:</dt>
                <dd><input class="required" name="ip" type="text" size="30" value="${(a.ip)!}"/></dd>
            </dl>
            <dl>
                <dt>备注:</dt>
                <dd><input class="required" name="remark" type="text" size="30" value="${(a.remark)!}"/></dd>
            </dl>
            <dl>
                <dt>订单状态:</dt>
                <dd><input class="required" name="status" type="text" size="30" value="${(a.status)!}"/></dd>
            </dl>
            <dl>
                <dt>是否处理:</dt>
                <dd><input class="required" name="processed" type="text" size="30" value="${(a.processed)!}"/></dd>
            </dl>
            <dl>
                <dt>处理信息:</dt>
                <dd><input class="required" name="processInfo" type="text" size="30" value="${(a.processInfo)!}"/></dd>
            </dl>
            <dl>
                <dt>更新日期:</dt>
                <dd>
                    <input type="text" name="updateDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.updateDate)!}"/>
                </dd>
            </dl>
            <dl>
                <dt>创建日期:</dt>
                <dd>
                    <input type="text" name="createDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.createDate)!}"/>
                </dd>
            </dl>
            <dl>
                <dt>处理日期:</dt>
                <dd>
                    <input type="text" name="processDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.processDate)!}"/>
                </dd>
            </dl>
            <dl>
                <dt>付款日期:</dt>
                <dd>
                    <input type="text" name="paymentDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.paymentDate)!}"/>
                </dd>
            </dl>
        </div>
    </div>
</form>