<@trade.order id=id><#assign a=object/></@trade.order>
<form action="tradeOrder/confirm?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    <input type="hidden" name="id" value="${id!}"/>
    <input type="hidden" name="_csrf" value="<@tools.csrfToken admin=true/>"/>
    <div class="pageFormContent" layoutH>
        <dl class="nowrap">
            <dt><@t.page 'product_list'/>:</dt>
            <dd class="exclude-translate" >
                <@trade.orderProductList orderId=a.id>
                <#list page.list as op>
                    <@t.merge 'contentIds' op.contentId!/>
                    <@t.merge 'productIds' op.productId!/>
                </#list>
                <@cms.content ids=t.contentIds!><#assign contentMap=map!/></@cms.content>
                <@cms.contentProduct ids=t.productIds!><#assign productMap=map!/></@cms.contentProduct>
                <#list page.list as op>
                    <div class="unit">
                        <#if (productMap[op.productId?string].cover)?has_content || (contentMap[op.contentId?string].cover)?has_content>
                            <p class="thumbnail">
                                <img src="${(productMap[op.productId?string].cover)!(contentMap[op.contentId?string].cover)!}"/>
                            </p>
                        </#if>
                        <p><label><@t.page 'title'/>:</label><a href="cmsContent/view.html?id=${op.contentId!}" class="exclude-translate" target="dialog" width="1000" height="600" rel="viewContent${op.contentId!}">${(contentMap[op.contentId?string].title)!}</a> - ${(productMap[op.productId?string].title)!}</p>
                        <p><label><@t.page 'product.price'/>:</label>${op.price!}</p>
                        <p><label><@t.page 'product.quantity'/>/<@t.page 'product.inventory'/>:</label>${op.quantity!} / ${(productMap[op.productId?string].inventory)!}</p>
                        <p><label><@t.page 'product.quantity_limit'/>:</label>${(productMap[op.productId?string].minQuantity)!} - ${(productMap[op.productId?string].maxQuantity)!}</p>
                        <p><label><@t.page 'remark'/>:</label>${op.remark!}</p>
                    </div>
                    <div class="divider"></div>
                </#list>
            </@trade.orderProductList>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'receiver'/>:</dt>
            <dd class="exclude-translate" >
                <p>${a.addressee!} <label><@t.page 'telephone'/>:</label>${a.telephone!}</p>
                <p><label><@t.page 'shipping_address'/>:</label>${a.address!}</p>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'remark'/>:</dt>
            <dd class="exclude-translate" >${(a.remark)!}</dd>
        </dl>
        <dl>
            <dt><@t.page 'create_date'/>:</dt>
            <dd class="exclude-translate" >
                ${(a.createDate)!}
            </dd>
        </dl>
        <dl>
            <dt><@t.page 'payment'/>:</dt>
            <dd>
                <#if a.paymentId?has_content><label><@t.page 'payment.id'/>:</label></#if>${(a.paymentId)!} ${(a.paymentDate)!}
            </dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive" title="ctrl+s"><@t.page 'order.confirm'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
</form>