<@_tradeOrderList userId=userId paymentId=paymentId processed=processed 
            orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'user'/>：</label>
                    <#include "../include_page/userId.html"/>
                </li>
                <li>
                    <label>支付ID:</label>
                    <input type="text" name="paymentId" value="${paymentId!}" />
                </li>
                <li>
                    <select class="combox" name="processed">
                        <option value=""${(!processed?has_content)?then(' selected="true"','')?no_esc}>已处理</option>
                        <option value="false"${(processed??&&"false"=processed)?then(' selected="true"','')?no_esc}>否</option>
                        <option value="true"${(processed??&&"true"=processed)?then(' selected="true"','')?no_esc}>是</option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='tradeOrder/confirm,tradeOrder/invalid,tradeOrder/process,tradeOrderHistory/list'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
    <table class="table" width="100%" layoutH="92">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th>ID</th>
                <th>用户</th>
                <th>收件人</th>
                <th>备注</th>
                <th>订单状态</th>
                <th>是否处理</th>
                <th>付款信息</th>
                <th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
                <@t.merge 'userIds' a.processUserId!/>
            </#list>
            <@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td class="center"><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>${a.id!}</td>
                <td>
                    <div class="box">
                        <p>${(userMap[a.userId?string].nickName)!}</p>
                        <p>${a.ip!}</p>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <p>${a.addressee!}</p>
                        <p><label>收货地址:</label>${a.address!}</p>
                    </div>
                </td>
                <td>${a.remark!}</td>
                <td>${a.status!}</td>
                <td>
                    <div class="box">
                        <p>${a.processed!} ${a.processDate!}</p>
                        <p>${a.processInfo!}</p>
                    </div>
                    
                </td>
                <td>
                    <div class="box">
                        <p>${a.paymentId!}</p>
                        <p>${a.paymentDate!}</p>
                    </div>
                </td>
                <td>${a.createDate!}</td>
                <td>
                <#if 3=a.status || 0 = a.status>
                    <#if authorizedMap['tradeOrder/confirm']>
                    <a href="tradeOrder/confirm?id=${a.id}&_csrf=<@_csrfToken admin=true/>" class="btnText green" title="确定要确认吗" target="ajaxTodo">确认订单</a>
                    </#if>
                    <#if authorizedMap['tradeOrder/invalid']>
                    <a href="tradeOrder/invalid?id=${a.id}&_csrf=<@_csrfToken admin=true/>" class="btnText red" title="确定要设置无效吗" target="ajaxTodo">无效订单</a>
                    </#if>
                </#if>
                <#if 1=a.status && !a.processed && authorizedMap['tradeOrder/process']>
                    <a href="tradeOrder/processParameters.html?id=${a.id}" class="btnText green" target="dialog" mask="true">处理订单</a>
                </#if>
                <#if authorizedMap['tradeOrderHistory/list']>
                    <a href="tradeOrderHistory/list.html?queryOrderId=${a.id}" class="btnText" target="navTab" rel="tradeOrderHistory/list">订单历史</a>
                </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_tradeOrderList>