<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Welcome to PublicCMS!</title>
</head>
<body>
    <h1>欢迎使用PublicCMS!</h1>
    <p>使用 用户名/密码：admin/admin <a href="./admin/" target="_blank">登录后台</a></p>
    <p>您看到此页面是因为您的cms数据目录还没有index.html模板文件</p>
    <p>在开发->文件管理->模板管理 中创建index.html模板</p>
    <p>根据cms工程配置,您的cms数据目录放在 <@_disk>${rootPath}</@_disk>,如果这不是您预期的路径,请修改配置文件cms.properties</p>
    <hr/>
    <h1>Welcome to PublicCMS!</h1>
    <p><a href="./admin/" target="_blank">Login Management System</a> using the username/password:admin/admin</p>
    <p>You see this page because your cms data directory does not yet have an index.html template file</p>
    <p>Create the index.html template in Development -> File management -> Template management</p>
    <p>Depending on the cms project configuration, your cms data directory is placed on <@_disk>${rootPath}</@_disk>,If this is not the path you expected, modify the configuration file cms.properties</p>
</body>
</html>