<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<form method="post" action="sysDomain/save.do?callbackType=closeCurrent&navTabId=sysDomain/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id" type="hidden" value="${id!}" />
	<input name="path" type="hidden" value="${(a.path)!}"/>
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl class="nowrap">
			<dt>站点:</dt>
			<dd>
				<input name="siteId" type="hidden" value="${(a.siteId)!siteId!site.id}" />
				<@_sysSite id=(a.siteId)!siteId!site.id>${(object.name)!}</@_sysSite>
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>域名:</dt>
			<dd>
				<input class="required domain" remote="sysDomain/virify.do?id=${id!}" name="name" type="text" size="20" maxlength="255" value="${(a.name)!}"/>
				<input name="wild" type="checkbox"${(a?has_content&&a.wild)?then(' checked="checked"','')?no_esc}/>通配域名</label>
				<span class="info">不包含协议头，不包含端口，不包含路径，不能和已有域名重复，勾选通配域名后，系统可以匹配该域名的所有子域名</span>
			</dd>
		</dl>
	</div>
</form>