<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<div class="pageContent">
	<form method="post" action="sysDomain/saveConfig.do?callbackType=closeCurrent&navTabId=sysDomain/domainList" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="name" type="hidden" value="${id!}"/>
		<div class="formBar">
			<ul>
				<li><button type="submit" class="buttonActive">保存</button></li>
				<li><button type="button" class="button close">关闭</button></li>
			</ul>
		</div>
		<div class="pageFormContent" layoutH="60">
			<dl class="nowrap">
				<dt>域名:</dt>
				<dd><input type="text" class="readonly" readonly="readonly" value="${(a.name)!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>模板根目录:</dt>
				<dd>
					<input name="path" type="text" size="50" maxlength="255" value="${(a.path)!}"/>
					<a class="btnLook" href="cmsTemplate/directoryLookup.html?field=path" lookupGroup="">选择</a>
				</dd>
			</dl>
		</div>
	</form>
</div>