<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<div class="pageContent">
    <form method="post" autocomplete="off" action="sysDomain/saveConfig.do?callbackType=closeCurrent&navTabId=sysDomain/domainList" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input name="name" type="hidden" value="${id!}"/>
        <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
        <div class="formBar">
            <ul>
                <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
                <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
            </ul>
        </div>
        <div class="pageFormContent" layoutH="50">
            <dl class="nowrap">
                <dt><@t.page 'domain'/>:</dt>
                <dd><input type="text" class="readonly" readonly="readonly" value="${(a.name)!}"/></dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'domain.template_directory'/>:</dt>
                <dd>
                    <input name="path" type="text" size="50" maxlength="255" value="${(a.path)!}"/>
                    <a class="btnLook" href="cmsTemplate/directoryLookup.html?field=path" lookupGroup=""><@t.page 'template.directory.select'/></a>
                </dd>
            </dl>
        </div>
    </form>
</div>