<@_sysDomainList pageIndex=pageNum pageSize=numPerPage>
<form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
    <#include "../include_page/parameters.html"/>
</form>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="sysDomain/config.html?id={sid}" target="navTab" rel="sysDomain/config"><i class="icon-edit icon-large"></i> <@t.page 'domain.edit'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="57">
        <thead>
            <tr>
                <th><@t.page 'domain'/></th>
                <th><@t.page 'domain.template_directory'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.name}">
                <td><a href="http://${(a.name)!}">${(a.name)!}</a></td>
                <td>${(a.path)!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_sysDomainList>