<@_sysDomainList pageIndex=pageNum count=numPerPage>
<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<#include "../include_page/paramters.html"/>
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="sysDomain/config.html?id={sid}" target="navTab" rel="sysDomain/config"><i class="icon-edit icon-large"></i> 修改动态域名</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="57">
		<thead>
			<tr>
				<th>域名</th>
				<th>模板根路径</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.name}">
				<td>${(a.name)!}</td>
				<td>${(a.path)!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_sysDomainList>