<#if siteId?has_content>
	<@_sysSite id=siteId>
		<#assign sysSite=object/>
	</@_sysSite>
</#if>
<@_sysDomainList advanced=true siteId=siteId wild=wild pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<#if sysSite?has_content>
					<li>
						<label>站点:</label>${sysSite.name}
					</li>
				</#if>
				<li>
					<select class="combox" name="wild">
						<option value=""${(!wild?has_content)?then(' selected="true"','')?no_esc}>域名类型</option>
						<option value="false"${(wild??&&"false"=wild)?then(' selected="true"','')?no_esc}>普通域名</option>
						<option value="true"${(wild??&&"true"=wild)?then(' selected="true"','')?no_esc}>通配域名</option>
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<#if sysSite?has_content>
				<li><a href="sysDomain/add.html?siteId=${siteId!}" target="navTab" rel="sysDomain/add"><i class="icon-plus-sign-alt icon-large"></i> 添加域名</a></li>
			</#if>
			<li><a href="sysDomain/add.html?id={sid}" target="navTab" rel="sysDomain/edit"><i class="icon-edit icon-large"></i> 修改域名</a></li>
			<li><a href="sysDomain/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>域名</th>
				<th>站点ID</th>
				<th>站点</th>
				<th>模板根目录</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
				<@t.merge 'siteIds' a.siteId!/>
			</#list>

			<@_sysSite ids=t.siteIds!><#assign siteMap=map!/></@_sysSite>
			<#list page.list as a>
			<tr target="sid" rel="${a.name}">
				<td>${(a.name)!} ${a.wild?then('[通配域名]','')}</td>
				<td>${a.siteId!}</td>
				<td>${(siteMap[a.siteId?string].name)!}</td>
				<td>${(a.path)!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_sysDomainList>