<#macro extendsFieldType inputName value=''>
<#local inputTypes={'text':t.getPageMessage('input'),'number':t.getPageMessage('number'),'file':t.getPageMessage('file'),'image':t.getPageMessage('image'),'password':t.getPageMessage('password'),'editor':t.getPageMessage('ueditor'),'ckeditor':t.getPageMessage('ckeditor'),'textarea':t.getPageMessage('textarea'),'date':t.getPageMessage('date'),'datetime':t.getPageMessage('datetime'),'template':t.getPageMessage('template_path'),'boolean':t.getPageMessage('true_or_false'),'user':t.getPageMessage('user'),'content':t.getPageMessage('content'),'category':t.getPageMessage('category'),'dictionary':t.getPageMessage('dictionary'),'categoryType':t.getPageMessage('category_type'),'tagType':t.getPageMessage('tag_type')}/>
<select class="combox" name="${inputName!}" onchange="if($(this).val()=='dictionary'){$(this).closest('tr').find('a.btnLook').show().prev().addClass('required').show();}else{$(this).closest('tr').find('a.btnLook').hide().prev().removeClass('required').hide();}">
    <#list inputTypes as a,inputType>
    <option value="${a}"${(a=value)?then(' selected="true"','')?no_esc}>${inputType}</option>
    </#list>
</select>
</#macro>