<#include "../include_page/extendsFieldType.html"/>
<#macro extends name extendList=[]>
<table class="list nowrap itemDetail" addButton="新增扩展字段" width="100%">
	<thead>
		<tr>
			<th type="text" name="${name}[#index#].id.code" size="10" fieldClass="required alphanumeric">字段名</th>
			<th type="enum" name="${name}[#index#].inputType" enumUrl="common/extendsFieldType.html" fieldClass="required" size="10">字段类型</th>
			<th type="text" name="${name}[#index#].name" size="10" fieldClass="required" fieldAttrs="{maxlength:20}">名称</th>
			<th type="checkbox" name="${name}[#index#].required" size="10">必填</th>
			<th type="text" name="${name}[#index#].defaultValue" size="10">默认值</th>
			<th type="lookup" name="${name}[#index#].dictionaryName" lookupPk="dictionaryId" lookupUrl="cmsDictionary/lookup.html" lookupGroup="${name}[#index#]" size="10">数据字典</th>
			<th type="textarea" name="${name}[#index#].description" fieldAttrs="{maxlength:100,rows:2,cols:40}">描述</th>
			<th type="del" width="60">操作</th>
		</tr>
	</thead>
	<tbody>
		<#list extendList as extend>
			<tr>
				<td>
					<input type="hidden" name="${name}[${extend?index}].id.extendId" value="${(extend.id.extendId)!}"/>
					<input type="text" name="${name}[${extend?index}].id.code" value="${extend.id.code}" size="10" class="required alphanumeric"/>
				</td>
				<td>
					<@extendsFieldType name+'['+extend?index+'].inputType' extend.inputType/>
				</td>
				<td>
					<input type="text" name="${name}[${extend?index}].name" value="${extend.name}" size="10" class="required" maxlength="20"/>
				</td>
				<td>
					<input type="checkbox" name="${name}[${extend?index}].required" ${extend.required?then(' checked="true"','')?no_esc}/>
				</td>
				<td>
					<input type="text" name="${name}[${extend?index}].defaultValue" value="${(extend.defaultValue)!}" size="10"/>
				</td>
				<td>
					<@_dictionary id=extend.dictionaryId><#assign dictionary=object/></@_dictionary>
					<input type="hidden" name="${name}[${extend?index}].dictionaryId" value="${(extend.dictionaryId)!}"/>
					<input name="${name}[${extend?index}].dictionaryName" size="10" value="${(dictionary.name)!}" type="text"/>
					<a class="btnLook" href="cmsDictionary/lookup.html" lookupGroup="${name}[${extend?index}]" width="1000" height="500">选择数据字典</a>
				</td>
				<td>
					<textarea type="text" name="${name}[${extend?index}].description" rows="2" cols="40" maxlength="100">${(extend.description)!}</textarea>
				</td>
				<td>
					<a href="javascript:void(0)" class="btnDel ">删除</a>
				</td>
			</tr>
		</#list>
	</tbody>
</table>
</#macro>