<@_sysTask id=id><#assign a=object/></@_sysTask>
<form method="post" autocomplete="off" action="sysTask/save.do?callbackType=closeCurrent&navTabId=sysTask/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH="50">
        <dl class="nowrap">
            <dt><@t.page 'name'/>:</dt>
            <dd>
                <input class="required" name="name" type="text" maxlength="50" size="30" value="${(a.name)!}"/>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'task.cron'/>:</dt>
            <dd>
                <input class="required" name="cronExpression" type="text" maxlength="50" size="30" value="${(a.cronExpression)!}"/>
                <a class="btnLook" href="sysTask/example.html" width="920" lookupGroup=""><@t.page 'task.cron.select'/></a>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'task.cron.explain'/>:</dt>
            <dd>
                <table bordercolor="#cccccc" cellspacing="1" cellpadding="1" border="1">
                    <tbody>
                        <tr><td width="54"><@t.page 'task.cron.position'/></td><td width="82"><@t.page 'task.cron.means'/></td><td width="133"><@t.page 'task.cron.allow_value'/></td><td width="290"><@t.page 'task.cron.allow_special_char'/></td></tr>
                        <tr><td>1</td><td><@t.page 'task.cron.minute'/></td><td>0-59</td><td>, - * /</td></tr>
                        <tr><td>2</td><td><@t.page 'task.cron.hour'/></td><td>0-23</td><td>, - * /</td></tr>
                        <tr><td>3</td><td><@t.page 'task.cron.day_of_month'/></td><td>1-31</td><td>, - * ? / L W C </td></tr>
                        <tr><td>4</td><td><@t.page 'task.cron.month'/></td><td>1-12</td><td>, - * /</td></tr>
                        <tr><td>5</td><td><@t.page 'task.cron.day_of_week'/></td><td>1-7</td><td>, - * ? / L C #</td></tr>
                        <tr><td>6</td><td><@t.page 'year'/>(<@t.page 'task.cron.not_required'/>)</td><td><@t.page 'task.cron.year_value'/></td><td>, - * /</td></tr>
                        <tr><td colspan="4"><@t.page 'task.cron.special_char_means'/></td></tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'description'/>:</dt>
            <dd>
                <textarea name="description" maxlength="150" cols="80" rows="3">${(a.description)!}</textarea>
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'task_template'/>:</dt>
            <dd>
                <input name="filePath" type="text" class="required" maxlength="255" size="40" value="${(a.filePath)!}"/>
                <a class="btnLook" href="taskTemplate/lookup.html?field=filePath" lookupGroup=""><@t.page 'task_template.select'/></a>
            </dd>
        </dl>
    </div>
</form>