<div class="pageFormContent" layoutH="19">
	<ul class="tree treeFolder expand">
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'0/10 * * * ?'});return false;">0/10 * * * ?(每十分钟执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'10 12 * * ?'});return false;">10 12 * * ?(每天中午12:10执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'* 14 * * ?'});return false;">* 14 * * ?(每天从14:00开始到14:59结束, 每分钟执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 ? * 2-6'});return false;">15 10 ? * 2-6(从周一到周五,在10:15执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'0 0 1 * ?'});return false;">0 0 1 * ?(每月1号凌晨执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 15 * ?'});return false;">15 10 15 * ?(每个月15日，在10:15执行一次)</a></li>
		<li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 L * ?'});return false;">15 10 L * ?(每个月最后一天，在10:15执行一次)</a></li>
	</ul>
</div>