<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder expand">
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'0/10 * * * ?',description:'<@t.page 'task.example.1'/>'});return false;">0/10 * * * ?(<@t.page 'task.example.1'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'10 12 * * ?',description:'<@t.page 'task.example.2'/>'});return false;">10 12 * * ?(<@t.page 'task.example.2'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'* 14 * * ?',description:'<@t.page 'task.example.3'/>'});return false;">* 14 * * ?(<@t.page 'task.example.3'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 ? * 2-6',description:'<@t.page 'task.example.4'/>'});return false;">15 10 ? * 2-6(<@t.page 'task.example.4'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'0 0 1 * ?',description:'<@t.page 'task.example.5'/>'});return false;">0 0 1 * ?(<@t.page 'task.example.5'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 15 * ?',description:'<@t.page 'task.example.6'/>'});return false;">15 10 15 * ?(<@t.page 'task.example.6'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'15 10 L * ?',description:'<@t.page 'task.example.7'/>'});return false;">15 10 L * ?(<@t.page 'task.example.7'/>)</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({cronExpression:'0 0 1 1 ? 2099',description:'<@t.page 'task.example.8'/>'});return false;">0 0 1 1 ? 2099(<@t.page 'task.example.8'/>)</a></li>
    </ul>
</div>