<header class="header" data-diy="place" data-diy-id="${path}">
	<div class="top-bar">
		<div class="container clearfix-after">
			<ul class="fleft user user-login">
				<li><a href="${site.dynamicPath}member/login.html">登陆</a></li>
				<li><a href="${site.dynamicPath}member/register.html">注册</a></li>
			</ul>
			<ul class="fleft user user-logout">
				<li>您好，<a href="${site.dynamicPath}member/" class="nickname"></a></li>
				<li class="master hide"><a target="_blank" href="${site.dynamicPath}admin/">管理后台</a></li>
				<li><a href="${site.dynamicPath}member/logout.html">退出登录</a></li>
			</ul>
			<ul class="fright">
				<li><a href="${site.dynamicPath}case.html">案例提交</a></li>
			</ul>
		</div>
	</div>
	<div class="container clearfix-after">
		<a href="#" class="nav-icon"></a>
		<div class="logo">
			<a href="${site.sitePath}"><img src="${site.sitePath!}assets/images/logo.png" alt="Public CMS"/></a>
		</div>
		<#list page.list as a>
		<span class="slogan">${a.title!}</span>
		</#list>
		<nav>
			<ul data-diy="category">
				<li data-id="home"><a href="${site.sitePath}">首页</a></li>
<@cms.categoryList>
	<#list page.list as a>
				<li data-id="${a.id}">
					<a href="${a.url!}"<#if a.onlyUrl> target="_blank"</#if> data-diy-id="${a.id}">${a.name}</a>
		<#if a.childIds?has_content>
					<ul>
			<@cms.categoryList parentId=a.id>
				<#list page.list as a>
						<li data-diy-item="${a.id}"><a href="${a.url!}"<#if a.onlyUrl> target="_blank"</#if>>${a.name}</a></li>
				</#list>
			</@cms.categoryList>
					</ul>
		</#if>
				</li>
	</#list>
</@cms.categoryList>
			</ul>
		</nav>
	</div>
</header>
