<aside class="left-aside clearfix-after">
	<div>
		<h3 class="circle"><a href="${site.dynamicPath}">用户中心</a></h3>
		<ul>
			<li><a href="${site.dynamicPath}myComment.html" title="我的评论">我的评论</a></li>
			<li><a href="${site.dynamicPath}myReply.html" title="回复我的评论">回复我的评论</a></li>
			<li><a href="${site.dynamicPath}myScore.html" title="我的点赞">我的点赞</a></li>
			<li><a href="${site.dynamicPath}myVote.html" title="我的投票">我的投票</a></li>
			<li><a href="${site.dynamicPath}myContentContribute.html" title="我的内容投稿">我的内容投稿</a></li>
			<li><a href="${site.dynamicPath}myOtherContribute.html" title="我的其他投稿">我的其他投稿</a></li>
		</ul>
	</div>
	<div>
		<h3 class="circle">账号安全</h3>
		<ul>
			<li><a href="${site.dynamicPath}myPassword.html" title="修改密码">修改密码</a></li>
			<li><a href="${site.dynamicPath}myEmail.html" title="修改邮箱">修改邮箱</a></li>
			<li><a href="${site.dynamicPath}myDevice.html" title="我的设备">我的设备</a></li>
			<li><a href="${site.dynamicPath}myToken.html" title="我的登录授权">我的登录授权</a></li>
			<li><a href="${site.dynamicPath}myLoginLog.html" title="我的登录日志">我的登录日志</a></li>
		</ul>
	</div>
	<div>
		<h3 class="circle">财务中心</h3>
		<ul>
			<li><a href="${site.dynamicPath}account.html" title="我的账户">我的账户</a></li>
			<li><a href="${site.dynamicPath}orderList.html" title="我的订单">我的订单</a></li>
			<li><a href="${site.dynamicPath}paymentList.html" title="我的付款">我的付款</a></li>
			<li><a href="${site.dynamicPath}refund.html" title="我的退款">我的退款</a></li>
		</ul>
	</div>
</aside>