<div class="pageFormContent" layoutH>
    <dl class="nowrap">
        <dt><@t.page 'value'/>:</dt>
        <dd>
            <textarea name="batchValue" cols="100" rows="15" placeholder="<@t.page 'value'/>1,<@t.page 'text'/>&#10;<@t.page 'value'/>2&#10;<@t.page 'value'/>3,<@t.page 'text'/>"></textarea>
            <span class="info"><@t.page 'batch_create.description'/></span>
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="submit" onclick="bringBackBatchValue(['id.value','text']);" class="buttonActive" title="ctrl+s"><@t.page 'use'/></button></li>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>