<#macro dictionaryTree dictionaryId inputName parentValue depth values>
<#if depth gt 0>
    <@_dictionaryDataList dictionaryId=dictionaryId parentValue=parentValue>
        <#if list?has_content>
        <ul>
            <#list list as d>
                <li>
                    <a tname="${inputName}" tvalue="${d.id.value}"${(values?has_content&&values?seq_contains(d.id.value))?then(' checked="true"','')?no_esc}>${d.text}</a>
                    <@dictionaryTree dictionaryId=dictionaryId inputName=inputName parentValue=d.id.value depth=depth-1 values=values/>
                </li>
            </#list>
        </ul>
        </#if>
    </@_dictionaryDataList>
</#if>
</#macro>
<@_dictionaryExcludeValue dictionaryId=id excludeDictionaryId=excludeDictionaryId value=value;a></@_dictionaryExcludeValue>
<form method="post" autocomplete="off" action="cmsDictionaryExcludeValue/save?callbackType=closeCurrent&navTabId=cmsDictionary/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH>
            <dl class="nowrap">
                <dt><@t.page 'dictionary'/>:</dt>
                <dd>
                    <@_dictionary id=id;dictionary>${dictionary.name!}</@_dictionary>
                    <input name="id.dictionaryId" type="hidden" value="${id!}"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'value'/>:</dt>
                <dd>
                    ${value!}:<@_dictionaryData dictionaryId=id value=value>${object.text}</@_dictionaryData>
                    <input name="id.value" type="hidden" value="${value!}"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'dictionary.exclude'/>:</dt>
                <dd>
                    <@_dictionary id=excludeDictionaryId;exclude>${exclude.name!}</@_dictionary>
                    <input name="id.excludeDictionaryId" type="hidden" value="${excludeDictionaryId!}"/>
                </dd>
            </dl>
            <fieldset>
                <legend><@t.page 'dictionary.exclude'/></legend>
                <ul class="tree treeFolder treeCheck excludeParent expand">
                <#assign values=((a.excludeValues)!'')?split(',')/>
                <@_dictionary id=id;dictionary>
                    <@_dictionaryDataList dictionaryId=excludeDictionaryId>
                        <#list list as d>
                            <li>
                                <a tname="excludeValues" tvalue="${d.id.value}" ${(values?has_content&&values?seq_contains(d.id.value))?then(' checked="true"','')?no_esc}>${d.text}</a>
                                <@dictionaryTree dictionaryId=excludeDictionaryId inputName='excludeValues' parentValue=d.id.value depth=dictionary.childDepth values=values/>
                            </li>
                        </#list>
                    </@_dictionaryDataList>
                </@_dictionary>
                </ul>
            </fieldset>
        </div>
    </div>
</form>
