<@_dictionaryList multiple=multiple
            pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<select class="combox" name="multiple">
						<option value=""${(!multiple?has_content)?then(' selected="true"','')?no_esc}>字典类型</option>
						<option value="false"${(multiple??&&"false"=multiple)?then(' selected="true"','')?no_esc}>多选</option>
						<option value="true"${(multiple??&&"true"=multiple)?then(' selected="true"','')?no_esc}>单选</option>
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><button type="submit" class="buttonActive">搜索</button></li>
				</ul>
			</div>
		</div>
	</form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='cmsDictionary/add,cmsDictionary/delete'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		<#if authorizedMap['cmsDictionary/add']>
			<li><a href="cmsDictionary/add.html" target="navTab" rel="cmsDictionary/add"><i class="icon-plus-sign-alt icon-large"></i> 添加</a></li>
			<li><a href="cmsDictionary/add.html?id={sid}" target="navTab" rel="cmsDictionary/edit"><i class="icon-edit icon-large"></i> 修改</a></li>
		</#if>
		<#if authorizedMap['cmsDictionary/delete']>
			<li><a href="cmsDictionary/delete.do" title="确定要删除该些记录吗?" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> 批量删除</a></li>
		</#if>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>名称</th>
				<th>字典类型</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id}</td>
				<td>${a.name!}</td>
				<td>${a.multiple?then('多选','单选')}</td>
				<td>
				<#if authorizedMap['cmsDictionary/delete']>
					<a href="cmsDictionary/delete.do?ids=${a.id}" title="确定要删除这条记录么?" target="ajaxTodo">删除</a>
				</#if>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_dictionaryList>