<@_dictionaryList multiple=multiple pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return dialogSearch(this);" action="cmsDictionary/lookup.html" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <select class="combox" name="multiple">
                        <option value=""${(!multiple?has_content)?then(' selected="true"','')?no_esc}><@t.page 'dictionary.type'/></option>
                        <option value="false"${(multiple??&&"false"=multiple)?then(' selected="true"','')?no_esc}><@t.page 'single_select'/></option>
                        <option value="true"${(multiple??&&"true"=multiple)?then(' selected="true"','')?no_esc}><@t.page 'multiple_select'/></option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="button" class="button" onclick="$.bringBack({'${field!'dictionaryId'}':'','dictionaryName':''});return false;"><@t.page 'button.clear_select'/></button>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th><@t.page 'dictionary.select'/></th>
                <th><@t.page 'name'/></th>
                <th><@t.page 'dictionary.type'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr>
                <td>
                    <a href="javascript:;" onclick="$.bringBack({'${field!'dictionaryId'}':'${a.id.id}','dictionaryName':'${(a.name?js_string)!}'});return false;"><i class="icon-ok icon-large"></i> <@t.page 'select'/></a>
                </td>
                <td class="exclude-translate">${a.name!}</td>
                <td>${a.multiple?then(t.pageMessage('multiple_select'),t.pageMessage('single_select'))}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/pageDialog.html"/>
</div>
</@_dictionaryList>