<style>
.CodeMirror{height:100%;line-height:16px;}
</style>
<script>
function refreshCmsTemplate(){
	$('textarea[name=content]',navTab.getCurrentPanel()).val(cmsTemplateEditor.getValue());
}
</script>
<form method="post" action="cmsTemplate/save.do?navTabId=cmsTemplate/list" class="pageForm required-validate" onsubmit="refreshCmsTemplate();return validateCallback(this, navTabAjaxDone);">
	<div class="formBar">
		<ul>
			<li><a class="button" href="cmsTemplate/delete.do?path=${path?html?url}&navTabId=cmsTemplate/list" title="确定要删除该模板吗?" target="ajaxTodo">删除模板</a></li>
			<li><a class="button" href="cmsTemplate/metadata.html?path=${(path?url)!}" target="navTab" rel="cmsTemplate/metadata">模板元数据</a></li>
			<#if !path?starts_with('/ftl/')>
				<li><a class="button" href="cmsTemplate/placeList.html?path=${(path?url)!}" target="navTab" rel="cmsTemplate/placeList">推荐位管理</a></li>
			</#if>
			<li><button type="submit" class="buttonActive">保存</button></li>
		</ul>
	</div>
	<h2 class="contentTitle">
		<a class="button" href="cmsTemplate/placeLookup.html" target="dialog" mask="true">使用推荐位</a>
	 	<a class="button" href="cmsTemplate/ftlLookup.html" target="dialog" mask="true">使用模板片段</a>
 	<#if !path?starts_with('/ftl/')>
		<a class="button" href="cmsTemplate/metadata.html?path=${'/ftl/'?url}" target="navTab" rel="cmsTemplate/metadata">创建模板片段</a>
	</#if>
	 </h2>
	<div class="pageFormContent" layoutH="100">
   		<div>
			<input name="path" type="hidden" value="${path?html}"/>
			<textarea name="content" id="cmsTemplateEditor"><@_templateContent path=path>${(object?html)!}</@_templateContent></textarea>
			<script>
				var cmsTemplateEditor = CodeMirror.fromTextArea(document.getElementById('cmsTemplateEditor'), {
			        mode: "freemarkermixed",
			        lineNumbers: true,
			        tabSize        : 4,
			        indentUnit     : 4,
			        lineWrapping   : true,
			        indentWithTabs : true,
			        extraKeys: { "Ctrl-Space": "autocomplete" }
				});
			</script>
		</div>
	</div>
</form>