<@_placeMetadata path=path><#assign a=object/></@_placeMetadata>
<#assign path='/include'+path/>
<script>
function checkPageSize(){
	if(parseInt($('input[name=size]',navTab.getCurrentPanel()).val())>0){
		$('.placeExtend',navTab.getCurrentPanel()).show();
		$('textarea[name=content]',navTab.getCurrentPanel()).val($('#content',navTab.getCurrentPanel()).val());
		$('.placeExtend input,.placeExtend textarea',navTab.getCurrentPanel()).removeAttr('disabled');
	} else {
		$('.placeExtend',navTab.getCurrentPanel()).hide();
		$('textarea[name=content]',navTab.getCurrentPanel()).val('');
		$('.placeExtend input,.placeExtend textarea',navTab.getCurrentPanel()).attr('disabled','disabled');
	}
}
function addUser($id,$name){
	if($name){
		$name=$name.trim();
	}
	if($id&&$name){
		$('#adminIds',navTab.getCurrentPanel()).append("<span><a href=\"javascript:;\" onclick=\"$(this).parent().remove();return false;\">"+$name+"</a><input type=\"hidden\" name=\"adminIds\" value=\""+$id+"\"/></span>");
	}
	$('input[name=\'userId\']',navTab.getCurrentPanel()).val('');
	$('input[name=\'nickName\']',navTab.getCurrentPanel()).val('');
}
$(function(){
	checkPageSize();
<#if (a.adminIds)?has_content>
	<@_sysUser ids=a.adminIds>
		<#list map?keys as k>
		addUser('${k}','${map[k].nickName}');
		</#list>
	</@_sysUser>
</#if>
});
</script>
<style>
#adminIds{line-height:25px;}
#adminIds span{margin-right:8px;padding:3px;border:1px solid #aaa;}
</style>
<div class="pageContent">
	<form method="post" action="cmsTemplate/savePlaceMetaData.do?navTabId=cmsTemplate/placeList&callbackType=${callbackType!}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="path" type="hidden" value="${path}"/>
		<div class="pageFormContent" layoutH="57" style="background:#ffffff;">
			<dl class="nowrap">
				<dt>别名:</dt></dt>
				<dd>
					<input class="required" name="alias" type="text" maxlength="50" size="50" value="${(a.alias)!}"/>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>有效数据条数:</dt>
				<dd>
					<input name="size" class="required digits" onchange="checkPageSize();" type="number" value="${(a.size)!5}"/>
				</dd>
			</dl>
			<dl class="nowrap placeExtend">
				<dt>可前台提交:</dt>
				<dd>
					<input name="allowContribute" type="checkbox"${((a.allowContribute)?has_content&&a.allowContribute)?then(' checked="checked"','')}/>
				</dd>
			</dl>
			<dl class="nowrap placeExtend">
				<dt>数据管理人员:</dt>
				<dd>
					<div id="adminIds"></div>
					<input name="userId" type="hidden"/>
					<input name="nickName" type="text" size="30" readonly="readonly"/>
					<a class="btnLook" href="sysUser/lookup.html" width="920" warn="请选择用户" lookupGroup="">选择用户</a>
					<a class="button" href="javascript:;" onclick="addUser($('input[name=\'userId\']',navTab.getCurrentPanel()).val(),$('input[name=\'nickName\']',navTab.getCurrentPanel()).val());return false;"><span>增加</span></a>
					<span class="info">点击某个用户昵称可以将其删除</span>
				</dd>
			</dl>
			<fieldset class="placeExtend">
				<legend>列表数据扩展字段</legend>
				<#include '../include_page/extends.html'/>
				<#assign extendList=(a.extendList)![]/>
				<@extends 'extendList' extendList/>
			</fieldset>
			<textarea name="content" style="display:none"></textarea>
			<textarea id="content" style="display:none"><#noparse>
<#list page.list>
	<ul>
	<#items as a>
		<li><a href="${site.dynamicPath}place/redirect.do?id=${a.id!}" target="_blank">${a.title}</a></li>
	</#items>
	</ul>
</#list>
</#noparse></textarea>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>