<@_placeMetadata path=path>
	<#assign a=object/>
<#assign formContent>
	<#if a.allowContribute>
<form method="post" action="<#noparse>${site.dynamicPath}</#noparse>place/save.do">
	<input name="path" type="hidden" value="${(path?html)!}" />
	<input name="returnUrl" type="hidden" value="这里是您的表单提交之后的页面地址" />
	<p><label>标题:</label><input name="title" type="text" size="60" value=""/></p>
	<p><label>地址:</label><input name="url" type="text" value="${(a.url)!}"/></p>
	<p><label>图片:</label><input name="cover" type="text" size="60" value=""/></p>
	<#include "../include_page/extendData.html"/>
	<#assign extendList=(a.extendList)![]/>
	<#assign extendValues=getPlaceAttribute((a.id)!)!{}/>
	<@extendData 'extendDataList' extendList extendValues true/>
</form>
		<#else>
该推荐位不允许前台提交，请先修改推荐位元数据
	</#if>
</#assign>
</@_placeMetadata>
<div class="pageFormContent">
	<dl class="nowrap">
		<dt>推荐位:</dt>
		<dd>
			${(path?html)!} ${(a.alias)!}
		</dd>
	</dl>
	<dl class="nowrap">
		<dt>表单代码:</dt>
		<dd>
			<textarea style="width: 100%;" rows="20">${(formContent?html)!}</textarea>
		</dd>
	</dl>
</div>