<#if parentId?has_content>
<ul>
    <@sys.deptList parentId=parentId pageSize=500>
        <#list page.list as a>
            <li _src="sysUser/list.html?parentId=${a.id}">
                <a href="common/user_list.html?deptId=${a.id}" class="exclude-translate" target="ajax" rel="userBox">${a.name!}</a>
            </li>
        </#list>
    </@sys.deptList>
</ul>
<#else>
<div class="pageContent">
    <div layoutH class="leftPageContent" layoutH>
        <ul class="card tree treeFolder">
            <li>
                <a href="common/user_list.html" target="ajax" rel="userBox"><@t.page 'dept.parent'/></a>
                <ul>
            <@sys.deptList pageSize=500>
                <#list page.list as a>
                    <li _src="sysUser/list.html?parentId=${a.id}">
                        <a href="common/user_list.html?deptId=${a.id}" class="exclude-translate" target="ajax" rel="userBox">${(a.name)!}</a>
                    </li>
                <#else>
                    <li><a><@t.page 'empty_directory'/></a></li>
                </#list>
            </@sys.deptList>
                </ul>
            </li>
        </ul>
    </div>
    <div id="userBox" class="rightPageContent">
        <#include "../common/user_list.html"/>
    </div>
</div>
</#if>