<@_sysUserList startRegisteredDate=startRegisteredDate endRegisteredDate=endRegisteredDate startLastLoginDate=startLastLoginDate endLastLoginDate=endLastLoginDate
			superuserAccess=superuserAccess emailChecked=emailChecked name=name disable=disable
			orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return dialogSearch(this);" action="sysUser/lookup.html" method="post">
		<#include "../include_page/paramters.html"/>
		<input type="hidden" name="field" value="${field!'userId'}"/>
		<input type="hidden" name="nickNameField" value="${nickNameField!'nickName'}"/>
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						<label>名称:</label>
						<input type="text" name="name" value="${(name)!}" />
					</td>
					<td>
						<label>状态:</label>
						<select class="combox" name="disable">
							<option value="false"${(!disable?has_content||"false"==disable)?then(' selected="true"','')?no_esc}>正常</option>
							<option value="true"${(disable?has_content&&"true"==disable)?then(' selected="true"','')?no_esc}>禁用</option>
						</select>
					</td>
					<td>
						<select class="combox" name="superuserAccess">
							<option value=""${(!superuserAccess?has_content)?then(' selected="true"','')?no_esc}>用户身份</option>
							<option value="false"${(superuserAccess?has_content&&"false"==superuserAccess)?then(' selected="true"','')?no_esc}>普通用户</option>
							<option value="true"${(superuserAccess?has_content&&"true"==superuserAccess)?then(' selected="true"','')?no_esc}>管理员</option>
						</select>
					</td>
					<td>
						<select class="combox" name="emailChecked">
							<option value=""${(!emailChecked?has_content)?then(' selected="true"','')?no_esc}>邮箱验证状态</option>
							<option value="false"${(emailChecked?has_content&&"false"==emailChecked)?then(' selected="true"','')?no_esc}>未验证</option>
							<option value="true"${(emailChecked?has_content&&"true"==emailChecked)?then(' selected="true"','')?no_esc}>已验证</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label>注册日期:</label>
						<input type="text" name="startRegisteredDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startRegisteredDate!}" />
						<span>-</span>
						<input type="text" name="endRegisteredDate" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endRegisteredDate!}" />
					</td>
					<td colspan="2">
						<label>上次登录:</label>
						<input type="text" name="startLastLoginDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startLastLoginDate!}" />
						<span>-</span>
						<input type="text" name="endLastLoginDate" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endLastLoginDate!}" />
					</td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li>
						<button type="button" class="button" onclick="$.bringBack({'${field!'userId'}':'','${nickNameField!'nickName'}':''});return false;">清空选择</button>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<table class="list" width="100%" layoutH="96">
		<thead>
			<tr>
				<th>选择</th>
				<th>用户名</th>
				<th>用户昵称</th>
				<th>邮箱</th>
				<th>已验证邮箱</th>
				<th>上次登录日期</th>
				<th>上次登录IP</th>
				<th>登录次数</th>
				<th>注册日期</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>
					<a class="btnSelect" href="javascript:;" onclick="$.bringBack({'${field!'userId'}':'${a.id}','${nickNameField!'nickName'}':'${(a.nickName?js_string)!}'});return false;" title="选择">选择</a>
				</td>
				<td>${(a.name)!}</td>
				<td>${(a.nickName)!}${(a.superuserAccess)?then('[<font color="red">管理员</font>]','')?no_esc}</td>
				<td>${(a.email)!}</td>
				<td>${a.emailChecked?then('已验证','未验证')}</td>
				<td>${a.lastLoginDate!}</td>
				<td>${a.lastLoginIp!}</td>
				<td>${a.loginCount!}</td>
				<td>${a.registeredDate}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/pageDialog.html"/>
</div>
</@_sysUserList>