<@_sysUserList deptId=deptId startRegisteredDate=startRegisteredDate endRegisteredDate=endRegisteredDate startLastLoginDate=startLastLoginDate endLastLoginDate=endLastLoginDate
            superuserAccess=superuserAccess emailChecked=emailChecked name=name disable=false
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" action="sysUser/lookup.html" autocomplete="off" onsubmit="return divSearch(this, 'user_list');" method="post">
        <#include "../include_page/parameters.html"/>
        <input type="hidden" name="field" value="${field!'userId'}"/>
        <input type="hidden" name="nickNameField" value="${nickNameField!'nickName'}"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'name'/>:</label>
                    <input type="text" name="name" value="${(name)!}" />
                </li>
                <li>
                    <select class="combox" name="superuserAccess">
                        <option value=""${(!superuserAccess?has_content)?then(' selected="true"','')?no_esc}><@t.page 'user.type'/></option>
                        <option value="false"${(superuserAccess?has_content&&"false"=superuserAccess)?then(' selected="true"','')?no_esc}><@t.page 'user.general'/></option>
                        <option value="true"${(superuserAccess?has_content&&"true"=superuserAccess)?then(' selected="true"','')?no_esc}><@t.page 'admin'/></option>
                    </select>
                </li>
                <li>
                    <select class="combox" name="emailChecked">
                        <option value=""${(!emailChecked?has_content)?then(' selected="true"','')?no_esc}><@t.page 'email.verification_status'/></option>
                        <option value="false"${(emailChecked?has_content&&"false"=emailChecked)?then(' selected="true"','')?no_esc}><@t.page 'unverified'/></option>
                        <option value="true"${(emailChecked?has_content&&"true"=emailChecked)?then(' selected="true"','')?no_esc}><@t.page 'verified'/></option>
                    </select>
                </li>
                <li>
                    <label><@t.page 'user.register_date'/>:</label>
                    <input type="text" name="startRegisteredDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startRegisteredDate!}" />
                    <span>-</span>
                    <input type="text" name="endRegisteredDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endRegisteredDate!}" />
                </li>
                <li>
                    <label><@t.page 'user.last_login_date'/>:</label>
                    <input type="text" name="startLastLoginDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startLastLoginDate!}" />
                    <span>-</span>
                    <input type="text" name="endLastLoginDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endLastLoginDate!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <table class="table" width="100%" layoutH>
        <thead>
            <tr>
                <th><@t.page 'user.select'/></th>
                <th><@t.page 'user.username'/></th>
                <th width="200"><@t.page 'user.nickname'/></th>
                <th><@t.page 'dept'/></th>
                <th><@t.page 'email'/></th>
                <th orderField="lastLoginDate" class="<#if orderField??&&'lastLoginDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'user.last_login_date'/></th>
                <th orderField="loginCount" class="<#if orderField??&&'loginCount'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'user.login_count'/></th>
                <th orderField="registeredDate" class="<#if orderField??&&'registeredDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'user.register_date'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'deptIds' a.deptId!/>
            </#list>
            
            <@_sysDept ids=t.deptIds!><#assign deptMap=map!/></@_sysDept>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>
                    <a href="javascript:;" onclick="$.bringBack({'${field!'userId'}':'${a.id}','${nickNameField!'nickName'}':'${(a.nickName?js_string)!}'});return false;"><i class="icon-ok icon-large"></i> <@t.page 'select'/></a>
                </td>
                <td class="exclude-translate">${(a.name)!}</td>
                <td>
                    <div class="box">
                        <#if a.cover?has_content>
                            <div class="thumbnail">
                                <img src="${(site.sitePath+a.cover)!}"/>
                            </div>
                        </#if>
                        <p class="exclude-translate">${(a.nickName)!} ${(a.superuserAccess)?then('[<font color="red">'+t.pageMessage('admin')+'</font>]','')?no_esc}</p>
                        <p>${(a.ownsAllContent)?then('[<font color="red">'+t.pageMessage('user.own_all_content')+'</font>]','')?no_esc}</p>
                    </div>
                </td>
                <td class="exclude-translate">${(deptMap[a.deptId?string].name)!}</td>
                <td>
                    <div class="box">
                        <p class="exclude-translate">${(a.email)!}</p>
                        <p>${a.emailChecked?then('[<font color="red">'+t.pageMessage('verified')+'</font>]','['+t.pageMessage('unverified')+']')?no_esc}</p>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <p>${a.lastLoginDate!}</p>
                        <p><@t.page 'log.login_ip'/>:${a.lastLoginIp!}</p>
                    </div>
                </td>
                <td>${a.loginCount!}</td>
                <td>${a.registeredDate!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#assign rel='content_list'/>
    <#include "../include_page/pageDialog.html"/>
</div>
</@_sysUserList>