<@_pluginSite id=id><#assign a=object/></@_pluginSite>
<form method="post" action="pluginSite/save.do?callbackType=closeCurrent&navTabId=pluginSite/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id" type="hidden" value="${id!}" />
	<input name="pluginCode" type="hidden" value="${pluginCode!}" />
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">取消</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="56">
		<dl>
			<dt>设置:</dt>
			<dd><input class="required" name="setting" type="text" size="30" value="${(a.setting)!}"/></dd>
		</dl>
	</div>
</form>