<div class="card">
    <h2 class="contentTitle">
        <#if path?has_content>
            <a class="button" href="cmsTemplate/deletePlace?path=${(path?url)!}&navTabId=placeTemplate/list&_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.delete_directory'/>" target="ajaxTodo"><@t.page 'button.delete_directory'/></a>
            <a class="button" href="placeTemplate/metadata.html?path=${(path?url_path)!}" target="ajax" rel="cmsTemplatePlace"><@t.page 'template.create_here'/></a>
        </#if>
        <a class="button" href="cmsFileBackup/list.html?path=/include${(path?url_path)!}" target="navTab" rel="cmsFileBackup/list" icon="<i class='bi bi-recycle icon-large'></i>"><@t.page 'recycle_bin'/></a>
    </h2>
    <div class="pageFormContent" layoutH>
        <fieldset>
            <legend><@t.page 'template_search'/></legend>
                <form action="cmsTemplate/search.html?navTabId=placeTemplate/list&rel=cmsTemplatePlace&returnUrl=placeTemplate/directory.html" autocomplete="off" onsubmit="return divSearch(this,'cmsTemplatePlace');" method="post">
                    <input type="hidden" name="path" value="/include${path!}"/>
                    <label><@t.page 'template.content'/>:</label>
                    <input type="text" name="word" size="30"/>
                    <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                </form>
        </fieldset>
        <fieldset>
            <legend><@t.page 'template.directory'/></legend>
            <form action="cmsTemplate/createDirectory?navTabId=${navTabId!'placeTemplate/list'}" method="post" autocomplete="off" class="required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
                <input type="hidden" name="_csrf" value="<@tools.csrfToken admin=true/>"/>
                <label><@t.page 'name'/>:</label>
                <input type="hidden" name="path" value="/include${path!}"/>
                <input type="text" name="fileName" class="required" size="30"/>
                <button type="submit" class="buttonActive" title="ctrl+s"><@t.page 'button.create_directory'/></button>
            </form>
        </fieldset>
    </div>
</div>