<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${metadata.alias!}</title>
	<@_includePlace path="/index.html/3f9a648b-7360-41b5-86e5-6b4b108268f1.html"/> <#-- 头部Header -->
	<script type="text/javascript">
	$(function(){$('.login-form input').eq(0).focus();});
	function check(){
		if(!$('input[name=title]').val()||!$('input[name=url]').val()){
			alert('站点标题和地址不能为空');
			return false;
		}
		return true;
	}
	</script>
</head>
<body>
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<@include path="ftl/dynamic-user.ftl"/> <#-- 动态站点用户状态 -->
<main>
    <div class="container">
		<div class="data-list left-content">
			<h3>提交下载链接</h3>
			<#if result?has_content>
				<#if error?has_content>
					<@import path="/ftl/tools.ftl" namespace="t"/>
					<p class="message red"><@t.m error/></p>
				<#else>
					<p class="message">提交成功，感谢您贡献下载链接，请等待审核通过</p>
				</#if>
			<#else>
				<@_metadata path='/index.html'><#assign metadata=object/></@_metadata>
				<form method="post" action="${metadata.extendData.member!}place/save.do" onsubmit="return check();">
					<input name="path" type="hidden" value="/index.html/c6ae8ea8-103d-4c93-8ff2-79d67a38b3ae.html" />
					<input name="returnUrl" type="hidden" value="${metadata.extendData.member!}download.html?result=true" />
					<p><label>下载链接标题:</label><input name="title" type="text" size="60" maxlength="60" value=""/></p>
					<p><label>下载链接地址:</label><input name="url" type="text" size="60"  maxlength="60" value=""/></p>
					<p><input type="submit" value="提交"/></p>
				</form>
			</#if>
		</div>
		<aside>
            <@_includePlace path="/index.html/2ac8682d-d844-4d95-921d-8c92b89e515c.html"/> <#-- 开源中国 -->
            <@_includePlace path="/index.html/30ef2211-1197-4725-b253-e5dc12af1b21.html"/> <#-- github -->
		</aside>
    </div>
	<div class="clearfix-before"></div>
</main>
<@_includePlace path="/index.html/6369e868-50b9-4245-9d39-fd440384a685.html"/> <#-- 尾部Footer -->
</body>
</html>