<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>登陆</title>
	<@_includePlace path="/index.html/3f9a648b-7360-41b5-86e5-6b4b108268f1.html"/> <#-- 头部Header -->
</head>
<body>
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<main>
    <div class="container">
    	<#if user?has_content>
    		<p class="message">${user.nickName},您已经登录了!  您可以<a href="sso.html?returnUrl=${(returnUrl?url)!}">同步登陆状态</a>，也可以选择<a href="logout.html">退出登录</a></p>
    	<#else>
	    	<form action="${site.dynamicPath}doLogin.do" method="post" class="center">
				<@import path="/ftl/tools.ftl" namespace="t"/>
				<#if error??>
					<p class="message red"><@t.m error/></p>
				</#if>
				<#if message??>
					<p class="message"><@t.m "message."+message/></p>
				</#if>
				<p><input type="text" name="username" class="input-text" placeholder="用户名" title="用户名"/></p>
				<p><input type="password" name="password" class="input-text" placeholder="密码" title="密码"/></p>
				<p class="text-center">
					<input type="hidden" name="returnUrl" value="sso.html?returnUrl=${(returnUrl?url)!}"/>
					<input type="submit" class="button" value="登  录"/>
				</p>
				<p class="message">没有账号?请<a href="register.html?returnUrl=${(returnUrl?url)!}">注册</a></p>
			</form>
    	</#if>
    </div>
</main>
<@_includePlace path="/index.html/6369e868-50b9-4245-9d39-fd440384a685.html"/> <#-- 尾部Footer -->
</body>
</html>