<@_word id=id><#assign a=object/></@_word>
<form method="post" autocomplete="off" action="cmsWord/save.do?callbackType=closeCurrent&navTabId=cmsWord/list" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <input name="id" type="hidden" value="${id!}" />
    <div class="pageFormContent" layoutH="50">
        <dl class="nowrap">
            <dt><@t.page 'name'/>:</dt>
            <dd>
                <input class="required" name="name" type="text" size="30" value="${(a.name)!}"/>
                <label><input name="hidden" type="checkbox"${(a?has_content&&a.hidden)?then(' checked="checked"','')?no_esc}/><@t.page 'hidden'/></label>
            </dd>
        </dl>
        <dl>
            <dt><@t.page 'tag.search_count'/>:</dt>
            <dd><input class="required number" name="searchCount" type="number" size="5" value="${(a.searchCount)!0}"/></dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
</form>