<@_wordList name=name advanced=true hidden=hidden startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'name'/>:</label>
                    <input type="text" name="name" value="${(name)!}" />
                </li>
                <li>
                    <select class="combox" name="hidden">
                        <option value=""><@t.page 'display'/></option>
                        <option value="false"${(hidden??&&'false'=hidden)?then(' selected="true"','')?no_esc}><@t.page 'show'/></option>
                        <option value="true"${(hidden??&&'true'=hidden)?then(' selected="true"','')?no_esc}><@t.page 'hidden'/></option>
                    </select>
                </li>
                <li>
                    <label><@t.page 'create_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endCreateDate!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="cmsWord/add.html" target="navTab" rel="cmsWord/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'search_word.add'/></a></li>
            <li><a href="cmsWord/add.html?id={sid}" target="dialog" rel="cmsWord_edit"><i class="icon-edit icon-large"></i> <@t.page 'search_word.edit'/></a></li>
            <li><a href="cmsWord/hidden.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_hide'/>" target="ajaxTodo"><i class="icon-circle icon-large"></i> <@t.page 'button.hide'/></a></li>
            <li><a href="cmsWord/show.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_show'/>" target="ajaxTodo"><i class="icon-ban-circle icon-large"></i> <@t.page 'button.show'/></a></li>
            <li><a href="cmsWord/delete.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th><@t.page 'id'/></th>
                <th><@t.page 'name'/></th>
                <th orderField="searchCount" class="<#if orderField??&&'searchCount'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'tag.search_count'/></th>
                <th><@t.page 'display'/></th>
                <th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'create_date'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>${a.id!}</td>
                <td class="exclude-translate">${(a.name)!}</td>
                <td>${a.searchCount!}</td>
                <td>${a.hidden?then(t.pageMessage('hidden'),t.pageMessage('show'))}</td>
                <td>${a.createDate!}</td>
                <td>
                    <a href="cmsWord/add.html?id=${a.id}" target="dialog" rel="cmsWord_edit" title="<@t.page 'search_word.edit'/>"><@t.page 'button.edit'/></a>|
                    <#if a.hidden>
                        <a href="cmsWord/show.do?id=${a.id}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.show'/>" target="ajaxTodo"><@t.page 'button.show'/></a>|
                    <#else>
                        <a href="cmsWord/hidden.do?id=${a.id}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.hide'/>" target="ajaxTodo"><@t.page 'button.hide'/></a>|
                    </#if>
                    <a href="cmsWord/delete.do?id=${a.id}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><@t.page 'button.delete'/></a>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_wordList>