<@cms.wordList name=name advanced=true hidden=hidden startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader card">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'name'/>:</label>
                    <input type="text" name="name" value="${(name)!}" />
                </li>
                <li>
                    <select class="combox" name="hidden">
                        <option value=""><@t.page 'display'/></option>
                        <option value="false"${(hidden?has_content&&'false'=hidden)?then(' selected="true"','')?no_esc}><@t.page 'show'/></option>
                        <option value="true"${(hidden?has_content&&'true'=hidden)?then(' selected="true"','')?no_esc}><@t.page 'hidden'/></option>
                    </select>
                </li>
                <li>
                    <label><@t.page 'create_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endCreateDate!}" />
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="cmsWord/add.html" target="dialog" rel="cmsWord_add" ><i class="icon-plus-sign-alt icon-large"></i><@t.page 'search_word.add'/></a></li>
            <li><a href="cmsWord/delete?_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.batch_delete'/>" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i><@t.page 'button.batch_delete'/></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH>
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th><@t.page 'name'/></th>
                <th orderField="searchCount" class="<#if orderField?has_content&&'searchCount'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'tag.search_count'/></th>
                <th><@t.page 'display'/></th>
                <th orderField="createDate" class="<#if orderField?has_content&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'create_date'/></th>
                <th><@t.page 'log.operate_ip'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr>
                <td><input name="ids" value="${a.id}" type="checkbox"></td>
                <td class="exclude-translate">${(a.name)!}</td>
                <td>${a.searchCount!}</td>
                <td>${a.hidden?then(t.pageMessage('hidden'),t.pageMessage('show'))}</td>
                <td>${a.createDate!}</td>
                <td>
                    <div class="box">
                        <p>${a.ip!}</p>
                        <p>${(getIpRegion(a.ip).address)!}</p>
                    </div>
                </td>
                <td class="wrap">
                    <a href="cmsWord/add.html?id=${a.id}" class="edit btnText blue" target="dialog" rel="cmsWord_edit" title="<@t.page 'search_word.edit'/>"><i class="icon-edit"></i><@t.page 'button.edit'/></a>
                    <#if a.hidden>
                        <a href="cmsWord/show?id=${a.id}&_csrf=<@tools.csrfToken admin=true/>" class="btnText green" title="<@t.page 'confirm.show'/>" target="ajaxTodo"><i class="icon-eye-open"></i><@t.page 'button.show'/></a>
                    <#else>
                        <a href="cmsWord/hidden?id=${a.id}&_csrf=<@tools.csrfToken admin=true/>" class="btnText red" title="<@t.page 'confirm.hide'/>" target="ajaxTodo"><i class="icon-eye-close"></i><@t.page 'button.hide'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@cms.wordList>