<div class="pageFormContent" layoutH>
    <ul class="card tree treeFolder expand">
<@cms.modelList parentId=parentId>
    <#list page.list as a>
        <li><a href="cmsContent/changeModel?id=${id!}&modelId=${a.id}&_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.change_type'/>" target="ajaxTodo"><@t.page 'change_type_to' a.name!/></a></li>
    </#list>
</@cms.modelList>
    </ul>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
<script>
$('ul li a',$.pdialog.getCurrent()).click(function(){
    $.pdialog.closeCurrent();
});
</script>
