<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
<div class="pageFormContent" layoutH="60">
    <ul class="tree treeFolder expand">
<@_modelList parentId=parentId>
    <#list page.list as a>
        <li><a href="cmsContent/changeModel.do?id=${id!}&modelId=${a.id}&_csrf=<@_csrfToken admin=true/>" title="确定要改为${(a.name)!}么?" target="ajaxTodo">改为${(a.name)!}</a></li>
    </#list>
</@_modelList>
    </ul>
</div>
<script>
$('ul li a',$.pdialog.getCurrent()).click(function(){
    $.pdialog.closeCurrent();
});
</script>
