<@_content id=contentId><#assign content=object/></@_content>
<@_content id=relatedContentId><#assign related=object/></@_content>
<div class="pageContent">
	<form action="cmsContent/related.do?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<input name="contentId" type="hidden" value="${contentId!}" />
		<input name="relatedContentId" type="hidden" value="${relatedContentId!}" />
		<input name="url" type="hidden" value="${related.url!}" />
		<div class="formBar">
			<ul>
				<li><button type="submit" class="buttonActive">推荐</button></li>
				<li><button type="button" class="button close">关闭</button></li>
			</ul>
		</div>
		<div class="pageFormContent" layoutH="60">
			<dl class="nowrap">
				<dt>推荐到:</dt>
				<dd>${(content.title)!}</dd>
			</dl>
			<dl class="nowrap">
				<dt>推荐标题:</dt>
				<dd>
					<input class="required" type="text" name="title" maxlength="255" size="60" value="${(related.title)!}"/>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>推荐描述:</dt>
				<dd>
					<textarea class="required" name="description" maxlength="300" style="width: 100%;" rows="5">${(related.description)!}</textarea>
				</dd>
			</dl>
		</div>
	</form>
</div>