<@_content id=contentId><#assign content=object/></@_content>
<@_content id=relatedContentId absoluteURL=false><#assign related=object/></@_content>
<div class="pageContent">
    <form action="cmsContent/related.do?callbackType=closeCurrent" method="post" autocomplete="off" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input name="contentId" type="hidden" value="${contentId!}" />
        <input name="relatedContentId" type="hidden" value="${relatedContentId!}" />
        <input name="url" type="hidden" value="${related.url!}" />
        <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
        <div class="formBar">
            <ul>
                <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
                <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
            </ul>
        </div>
        <div class="pageFormContent" layoutH="50">
            <dl class="nowrap">
                <dt><@t.page 'recommend_to'/>:</dt>
                <dd>${(content.title)!}</dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'title'/>:</dt>
                <dd>
                    <input class="required" type="text" name="title" maxlength="255" size="60" value="${(related.title)!}"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'description'/>:</dt>
                <dd>
                    <textarea class="required" name="description" maxlength="150" cols="80" rows="4">${(related.description)!}</textarea>
                </dd>
            </dl>
        </div>
    </form>
</div>