<#macro categoryTree parentId=''>
    <@_categoryList advanced=true parentId=parentId pageSize=500>
        <#list page.list as a>
            <li>
                <a href="cmsContent/push_content_list.html?categoryId=${a.id}&contentId=${contentId!}" class="exclude-translate" target="ajax" rel="push_content_list">${a.name!}</a>
            <#if a.childIds?has_content>
                <ul>
                    <@categoryTree a.id/>
                </ul>
            </#if>
            </li>
        <#else>
            <li><a><@t.page 'empty_directory'/></a></li>
        </#list>
    </@_categoryList>
</#macro>
<div class="pageContent">
    <div class="unitBox left-page-content" layoutH="0">
        <ul class="tree treeFolder">
            <li>
                <a href="cmsContent/push_content_list.html?contentId=${contentId!}" target="ajax" rel="push_content_list"><@t.page 'category'/></a>
                <ul>
                    <@categoryTree/>
                </ul>
            </li>
         </ul>
    </div>
    <div id="push_content_list" class="unitBox">
        <#include "push_content_list.html"/>
    </div>
</div>
