<div class="pageFormContent" layoutH="5" style="background:#fff">
	<h2 class="contentTitle">已推荐到</h2>
	<div class="unit">
<@_contentRelatedList relatedContentId=contentId>
		<p>
			<label>${page.totalCount}条内容:</label>
			<a class="button" href="cmsContent/push_content.html?contentId=${contentId}" target="dialog" rel="push">推荐到内容</a>
		</p>
		<p>
	<#list page.list as a>
		<@t.merge 'contentIds' a.contentId!/>
	</#list>
	<@_content ids=t.contentIds!><#assign contentMap=map!/></@_content>
	<#list page.list as a>
			<a href="${contentMap[a.contentId?string].url!}" target="_blank">${contentMap[a.contentId?string].title}</a> (${a.clicks})<br/>
	</#list>
		</p>
</@_contentRelatedList>
	</div>
	<div class="divider"></div>
	<div class="unit">
<@_placeList itemType='content' itemId=contentId>
		<p>
			<label>${page.totalCount}个推荐位:</label>
			<a class="button" href="cmsPlace/push.html?itemType=content&itemId=${contentId}" target="dialog" rel="push">推荐到推荐位</a>
		</p>
		<p>
	<#list page.list as a>
		${a.path[0..a.path?last_index_of('/')]}<@_placeMetadata path=a.path>${(object.alias)!}</@_placeMetadata> (${a.clicks})<br/>
	</#list>
		</p>
</@_placeList>
	</div>
	<div class="divider"></div>
</div>