@charset "utf-8";
/* CSS Document */
.product-list .col-md-3{text-align:center;border: 1px solid #fff;}
.product-list .col-md-3:hover{border: 1px solid #DDD;}

.product-list .col-md-3 h3, .col-md-3 h4{font-size:0.85em;font-weight:500;color:#000;margin-bottom: 0;height: 2.2em;overflow: hidden;}
.product-list .col-md-3 p{font-size:0.8125em;color:#968F88;margin:5px 0;}
.product-list .col-md-3 a{text-decoration:none;}
.product-list .col-md-3 img{transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;}
.product-list .col-md-3 img:hover {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);-o-transform: rotateY(180deg);}
.product-list .col-md-3 img{margin-top:5px 0;display:inline-block;width:100%;}

.product-list .col-md-3 p{font-size: 12px;}
