@charset "utf-8";
/* CSS Document */

body{font-family:Tahoma,Arial,Roboto,"宋体";}
html,body,ul,li,dl,dd,dt{margin:0;padding:0;}
a img{border:none;}
.clearfix-before{*zoom:1;}
.clearfix-before:before{display:block; content:"."; height:0; clear:both; visibility:hidden;}

.container{width:1200px;margin:0 auto;clear:both;padding:0px;position:relative;}
header{width:100%;border-bottom:2px solid #a4a4a4;padding:0px;background-color:#ebebeb;}
header .logo{float:left;height:60px;width:150px;}
header .logo img {width:100%;}
header .nav-icon{background:url(../image/head-nav.png) 50% 50% no-repeat;background-size:40%;width:50px;height:50px;float:right;display:none;clear:both;}
header .tools{text-align:right;padding:5px;}
header .tools .user{float:left;font-size:14px;padding-right: 10px;}
header .tools .user-logout{display:none;}
header .tools .user a{text-decoration:none;color:#a7f;padding:0 5px;}
header .tools .search{float:right;}
header .tools input{height:20px;padding:0px;line-height:20px;}
header .tools input[type=submit]{border:2px solid #A7F;padding:0px 5px;height:24px;}
header .slogan {line-height:60px;float:left;padding-left:10px;font-size:14px;}
header nav{float:right;margin-top:20px;}
header nav a{text-decoration:none;color:#333;}
header nav ul li{float:left;display:inline;font-size:16px;font-weight:bold;color:#333;line-height:35px;height:50px;}
header nav ul li.selected a{background-color:#333;color:#fff;}
header nav ul li a{padding:0 25px;display:block; border-right:1px solid #d4d4d4;}
header nav ul li:last-child a{border-right:0px;}
header nav ul li:hover ul {display:block;}
header nav ul li a:hover,header nav ul li.selected a:hover{color:#a7f;}
header nav ul li ul{width:120px;line-height:30px;list-style-type:none;text-align:left;position:absolute;display:none;z-index:999;}
header nav ul li ul li{float:left;width:100%;height:30px;margin:0 0 3px 0;font-size:14px;}
header nav ul li ul li a{display:block;height:30px;background-color:#000;color:#fff;line-height:30px;text-align:center;display:block;font-size:15px;margin:3px auto 0;padding:0;border:0;}
header,header .logo,header .slogan,header .tools,header nav{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}

main {padding-bottom:40px;}
main .bread{line-height:60px;border-bottom:1px solid #eee;margin-bottom:10px;}
main .bread span,main .bread a{padding:3px 8px;font-size:14px;font-weight:bold;margin-right:5px;margin-left:2px;}
main nav{line-height:60px;border-bottom:1px solid #eee;text-align:right;}
main nav .selected{border-bottom:1px solid;}
main nav a{padding:3px 8px;font-size:14px;font-weight:bold;color:#a7f;}
main nav a,main .bread a{text-decoration:none;}
main article h1{font-size:24px;padding-bottom:24px;margin-bottom:24px;border-bottom:1px solid #eee;line-height:1.5;font-weight:600;word-break:break-word;}
main article h1 a{text-decoration:none;color:#333;}
main article .author{font-size:14px;text-align:center;color:#99;}
main article .author em{color:#f00;}
main article #content{padding-bottom:20px;}
main article #content img{max-width:100%;}
main .data-list dl{overflow:hidden;margin-bottom:10px;border:1px solid #eee;padding:5px 10px;clear:both;}
main .data-list dl dt h3{font-size:1.17em;color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:10px 0;}
main .data-list dl dt a{text-decoration:none;color:#333;}
main .data-list dl dt h3 span{float:right;color:#666;font-size:14px;font-weight:normal;}
main .data-list dl dd img{height:100px;border:1px solid #eee;margin-right:10px;}
main .data-list dl dd{font-size:14px; color:#666; line-height:22px;}
main .data-list dl dd a{color:#58a; text-decoration:none; }
main .data-list dl dd p{text-indent:2em;margin:5px 0;}
main .search{line-height:50px;text-align:center;margin-bottom:10px;}
main .search-condition{border:1px solid #eee;margin-bottom:10px;padding:10px;}
main .search-condition a{margin-right:10px;}
main .tags{color:#333;line-height:30px;}
main .tags em{background-color:#dff; border:1px solid #cbe7ec; padding:2px 5px; color:#58a;}
main .page{padding:20px 0;text-align:center;line-height:30px;}
main .page a,main .page span{padding:2px 10px;border:1px solid #aaa;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-right:5px;}
main .page a{text-decoration:none;color:#333;}
main .page span,main .page .selected{color:#cacaca;}
main .page .selected{border-color:#a7f;}
main .comment{min-height:320px;}
main aside{float:right;width:380px;}
main aside a{text-decoration:none;color:#333;}
main aside ul{border:1px solid #eee;padding:5px 10px;}
main aside ul.rank li a{width:300px;}
main aside ul li{padding:5px 0;border-bottom:1px dashed #eee;list-style:none;}
main aside ul li:last-child{border-bottom:0px;}
main aside ul li span{float:right;color:#aaa;}
main aside ul li:after{display:block;content:".";height:0;clear:both;visibility:hidden;}
main aside ul li a{display:block;float:left;}
main .left-content{float:left;width:800px;}
main aside ul li a{width:350px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

footer{background-color:#ebebeb;border-top:2px solid #a4a4a4;width:100%;color:#999;font-size:13px;clear:both;overflow:hidden;padding:30px 0;line-height:24px}
footer a{text-decoration:none;color:#333;}
footer>ul>li{float:left;padding:0px 5% 20px 0px;}
footer>ul>li:last-child{padding-right:0px;}
footer>ul>li,footer>ul>li:last-child{width:16%;}
footer ul li{list-style:none;}
footer ul li h3{font-size:1.17em;color:#333;border-bottom:2px solid #333;margin:0 0 6px;padding-bottom:6px;font-weight:600;}
footer ul li ul li a{padding-right:9px; display:block;color:#999;}
footer ul li ul li a:hover{color:#a7f;}
footer .copyright{float:right;}
footer .frendlink a{border:1px solid #ccc;padding:0 4px;margin:2px 0px;display:inline-block;line-height:20px;}
footer .frendlink a:hover{color:#a7f;}
.sidebar{background:rgba(0,0,0,.3) none repeat scroll 0 0;border-radius:8px 0 0 8px;bottom:45%;margin-top:80px;padding:5px 0 5px 0;position:fixed;right:0;width:55px;z-index:999}
.sidebar li{border-radius:8px 0 0 8px;height:50px;padding-left:17px;transition:all .5s ease 0s;width:160px;list-style:none;}
.sidebar li img{display:block}
.sidebar li:hover{background:rgba(0,0,0,.6) none repeat scroll 0 0;margin-left:-105px}

@media screen and (min-width :1250px){
header.fixed-position{position:fixed;top:0;left:0;z-index:999;height:40px;}
header.fixed-position .logo,header.fixed-position .slogan{display:none;}
header.fixed-position .tools{position:absolute;top:0;left:0px;padding-top:10px;}
header.fixed-position nav{margin-top:0;}
header.fixed-position nav ul li{height:40px;line-height:40px;}
header.fixed-position nav ul li ul li{height:30px;line-height:30px;}
}

@media screen and (min-width :480px) and (max-width :1249px){
header.fixed-position{position:fixed;top:0;left:0;z-index:999;height:40px;}
header.fixed-position .tools{display:none;}
header.fixed-position .logo{width:105px;height:40px;}
header.fixed-position .slogan{line-height:40px;font-size:12px;}
header.fixed-position nav{margin-top:0;}
header.fixed-position nav ul li{height:30px;line-height:30px;margin-top:5px;}
header.fixed-position nav ul li ul li{height:30px;line-height:30px;}
header.fixed-position nav ul li a{padding:0 10px;}
.container{padding:0 10px;width:auto;}
main .left-content{float:none;width:100%;}
main aside{float:none;width:100%;}
main aside ul.rank li a{width:100%;}
main aside ul li a{width:100%;}
main .data-list dl dd img{margin-right:0px;}
footer>ul>li,footer>ul>li:last-child{padding-right:5%;width:45%;}
}

@media screen and (max-width :479px){
header nav ul li:hover ul {display:none;}
.container{padding:0 5px;width:auto;}
header .tools{padding-top:10px;padding-bottom:10px;}
header .logo{height:40px;width:105px;}
header .nav-icon{display:block;width:40px;height:40px;}
header .slogan{line-height:40px;font-size:12px;}
header nav{float:none;margin-top:0px;}
header nav ul{display:none;border:1px solid;background:#FFF;}
header nav ul li{float:none;text-align:center;}
header nav ul li a{border-right:none;}
header.fixed-position{position:fixed;top:0;left:0;z-index:999;height:40px;}
header.fixed-position .tools{display:none;}
main .left-content{float:none;width:100%;}
main .data-list dl dd img{width:30%;margin-right:1%;}
main aside{float:none;width:100%;}
main aside ul.rank li a{width:100%;}
main aside ul li a{width:100%;}
footer>ul>li,footer>ul>li:last-child{padding-right:0;width:100%;text-align:center;}
.sidebar{bottom:5%;}
}
