<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<div class="pageContent">
	<form method="post" action="cmsDomain/save.do?callbackType=closeCurrent&navTabId=cmsDomain/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="formBar">
			<ul>
				<li><button type="submit" class="buttonActive">保存</button></li>
				<li><button type="button" class="button close">取消</button>></div></li>
			</ul>
		</div>
		<div class="pageFormContent" layoutH="56">
			<dl class="nowrap">
				<dt>域名:</dt>
				<dd><input class="readonly" readonly="readonly" type="text" value="${(a.name?html)!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>模板根目录:</dt>
				<dd>
					<input name="path" type="text" size="50" maxlength="255" value="${(a.path?html)!}"/>
					<a class="btnLook" href="cmsTemplate/directoryLookup.html?field=path" lookupGroup="">选择</a>
				</dd>
			</dl>
		</div>
	</form>
</div>