<@trade.paymentList userId=userId tradeType=tradeType serialNumber=serialNumber accountType=accountType 
            accountSerialNumber=accountSerialNumber status=status startCreateDate=startCreateDate endCreateDate=endCreateDate 
            orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader card">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'user'/>:</label>
                    <#include "../include_page/userId.html"/>
                </li>
                <li>
                    <label><@t.page 'payment.type'/>:</label>
                    <input type="text" name="tradeType" value="${tradeType!}"/>
                </li>
                <li>
                    <label><@t.page 'serial_number'/>:</label>
                    <input type="text" name="serialNumber" value="${serialNumber!}"/>
                </li>
                <li>
                    <label><@t.page 'payment.account_type'/>:</label>
                    <input type="text" name="accountType" value="${accountType!}"/>
                </li>
                <li>
                    <label><@t.page 'payment.account_serial_number'/>:</label>
                    <input type="text" name="accountSerialNumber" value="${accountSerialNumber!}"/>
                </li>
                <li>
                    <label><@t.page 'status'/>:</label>
                    <#list 0..4 as s>
                        <label>
                            <input <@t.compare status!'' s?string 'checked="checked"'/> name="status" value="${s}" type="checkbox"/>
                            <@t.page 'status.payment.'+s/>
                        </label>
                    </#list>
                </li>
                <li>
                    <label><@t.page 'create_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}"/>
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}"/>
                    <a class="inputDateButton" href="javascript:void(0);"></a>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@sys.authorized roleIds=admin.roles urls='tradePaymentHistory/list'><#assign authorizedMap=map/></@sys.authorized>
<div class="card">
    <table class="table" width="100%" layoutH orderField="${orderField!}" orderType="${orderType!}">
        <thead>
            <tr>
                <th><@t.page 'id'/></th>
                <th><@t.page 'user'/></th>
                <th><@t.page 'amount'/></th>
                <th><@t.page 'payment.type'/></th>
                <th><@t.page 'serial_number'/></th>
                <th><@t.page 'payment.account_type'/></th>
                <th><@t.page 'payment.account_serial_number'/></th>
                <th><@t.page 'status'/></th>
                <th><@t.page 'payment.process'/></th>
                <th orderField="createDate"><@t.page 'create_date'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
            </#list>
            <@sys.user ids=t.userIds!><#assign userMap=map!/></@sys.user>
            <#list page.list as a>
            <tr>
                <td>${a.id!}</td>
                <td class="exclude-translate">
                    <div class="box">
                        <p>${(userMap[a.userId?string].nickname)!}</p>
                        <p>${a.ip!}</p>
                        <p>${(getIpRegion(a.ip).address)!}</p>
                    </div>
                </td>
                <td class="exclude-translate">
                    <div class="box">
                        ${a.description!}
                        ${a.amount!}
                    </div>
                </td>
                <td>${a.tradeType!}</td>
                <td>${a.serialNumber!}</td>
                <td>${a.accountType!}</td>
                <td>${a.accountSerialNumber!}</td>
                <td><@t.page 'status.payment.'+a.status/></td>
                <td>
                    ${a.processed?then(t.pageMessage('yes'),'')} ${a.processDate!}
                </td>
                <td>${a.createDate!}</td>
                <td class="wrap">
                    <#if authorizedMap['tradePaymentHistory/list']>
                        <a href="tradePaymentHistory/list.html?paymentId=${a.id}" class="btnText" target="navTab" rel="tradePaymentHistory/list"><@t.page 'payment.history'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@trade.paymentList>