@charset "utf-8";

/* Icon */
.tabsHeader li.main a span span, #taskbar li .taskbutton span{background-image:url(../default/images/icon.png);background-repeat:no-repeat;}

/* Panel */
.panel,
.panel .panelHeader, .panel .panelHeaderContent, .panel .panelHeaderContent h1,
.panel .panelFooter, .panel .panelFooterContent{background-image:url(../green/images/panel/panel.png);background-repeat:no-repeat;}
.panel .expandable, .panel .collapsable{background-image:url(../green/images/panel/panel_icon.png);background-repeat:no-repeat;}
.panel .panelHeaderContent h1{color:#2d3f00;}
.panel .panelContent{border-color:#8abb12;background-color:#e3fda7;}

.panel .grid{border-color:#8ABB12;}

/* Tabs */
.tabs, .tabsHeader, .tabsHeaderContent,
.tabs .tabsHeader ul, .tabs .tabsHeader li, .tabs .tabsHeader li a, .tabs .tabsHeader li span,
.tabs .tabsFooter, .tabs .tabsFooterContent{background-image:url(../green/images/tabs/tabspanel.png);background-repeat:no-repeat;}

.tabs .tabsHeader li a{color:#2d3f00;}
.tabs .tabsHeader li span{color:#2d3f00;}
.tabs .tabsContent{border-color:#8abb12;background-color:#e3fda7;}

/* Header */
header{border-color:#8abb12;}

/* NavMenu */
#navMenu li{background-color:#A4DF15;border:1px solid #8abb12;}
#navMenu li a{color:#2d3f00;}
#navMenu li.selected{background-color:#FFF;}
#navMenu li a:hover,#navMenu li.selected a, #navMenu li.selected a:hover{color:#000;}

/* TabsPage */
.tabsPage .tabsPageHeader{background-color:#A4DF15;}
.tabsPage .tabsPageHeader{border-color:#8abb12;}
.tabsPage .tabsPageHeader li a{color:#2d3f00;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li.hover .close,
.tabsPage .tabsPageHeader li.selected .close{background-image:url(../green/images/tabs/tabspage_icon.png);background-repeat:no-repeat;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore{background-image:url(../green/images/tabs/tabscontrol.png);background-repeat:no-repeat;}
.tabsPage .tabsMoreList{border-color:#8ABB12;background-color:#FFF;}
.tabsPage .tabsPageHeader .home_icon{background-image:url(../default/images/icon.png);background-repeat:no-repeat;}
.tabsPage .tabsPageContent,footer{border-color:#8abb12;background-color:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c{background-image:url(../green/images/alert/alertpanel.png);}
.alert .alertContent{border-color:#b8d0d6;background-color:#eef4f5;}
.alert .warn .alertInner{border-color:#e83e09;background-color:#fefacf;}
.alert .error .alertInner{border-color:#e50000;background-color:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner{border-color:#b8d0d6;background-color:#fefacf;}
.alert .confirm .alertInner{border-color:#b8d0d6;background-color:#fefacf;}
.alert h1{background-image:url(../default/images/alert/alertpanel_icon.png);background-repeat:no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r, .dialog .dialogHeader_c,
.dialog .dialogFooter, .dialog .dialogFooter_r, .dialog .dialogFooter_c{background-image:url(../green/images/dialog/dialogpanel.png);background-repeat:no-repeat;}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r{background-image:url(../green/images/dialog/dialogpanel_icon.png);background-repeat:no-repeat;}
.dialog .dialogHeader h1{color:#2d3f00;}
.dialog .dialogContent{border-color:#8abb12;background-color:#e3fda7;}

.resizable{border-color:#3b6200;background-color:#aae31d;}

/* Shadow */
.shadow .shadow_h_l{background-image:url(../default/images/shadow/shadow_h_l.png);background-repeat:no-repeat;}
.shadow .shadow_h_r{background-image:url(../default/images/shadow/shadow_h_r.png);background-repeat:no-repeat;}
.shadow .shadow_h_c{background-image:url(../default/images/shadow/shadow_h_c.png);background-repeat:repeat-x;}
.shadow .shadow_c_l{background-image:url(../default/images/shadow/shadow_c_l.png);background-repeat:repeat-y;}
.shadow .shadow_c_r{background-image:url(../default/images/shadow/shadow_c_r.png);background-repeat:repeat-y;}
.shadow .shadow_c_c{background-image:url(../default/images/shadow/shadow_c_c.png);background-repeat:repeat;}
.shadow .shadow_f_l{background-image:url(../default/images/shadow/shadow_f_l.png);background-repeat:no-repeat;}
.shadow .shadow_f_r{background-image:url(../default/images/shadow/shadow_f_r.png);background-repeat:no-repeat;}
.shadow .shadow_f_c{background-image:url(../default/images/shadow/shadow_f_c.png);background-repeat:repeat-x;}

/* Tree */
.tree div div{background-image:url(../default/images/tree/tree.png);background-repeat:no-repeat;}
.tree .folder_collapsable, .tree .folder_expandable, .tree .file{background-color:transparent url(../default/images/tree/folder.png);background-repeat:no-repeat;background-attachment:scroll;background-position:0 0;}
.tree .checked, .tree .unchecked, .tree .indeterminate{background-image:url(../default/images/tree/check.png);background-repeat:no-repeat;}
.tree ul{background-color:#FFF;}
.tree li a, .tree li span{color:#2d3f00;}
.tree .hover{background-color:#f6f6f6;}
.tree .selected{background-color:#d0fc68;}
/* Accordion */
.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span{color:#2d3f00;background-image:url(../green/images/accordion/accordion.png);}
.accordion{border-color:#8abb12;background-color:#FFF;}
.accordion .accordionHeader{background-color:#eaf4ff;}
.accordion .accordionContent{border-color:#8abb12;}

/* Grid */
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto{background-image:url(../green/images/grid/grid.png);background-repeat:no-repeat;}

.panelBar{border-color:#8abb12;background-color:#efefef;}

.grid .gridHeader{background-color:#EEE;}
.grid{background-color:#FFF;}
.grid table{border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th{border-color:#d0d0d0;background-color:#f0eff0;background-image:url(../default/images/grid/tableth.png);background-repeat:repeat-x;}
.grid table th div{border-left-color:#EEE;border-right-color:#d0d0d0;}
.grid table td{border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy{background-image:url(../default/images/grid/resizeCol.png);background-repeat:repeat-y;}

.grid .gridRowBg{background-color:#f7f7f7;}
.grid .hover{background-color:#f6f6f6;}
.grid .selected{border-color:#C00;background-color:#7cc5e5;}
.grid .error{background-color:#fb7e81;}

/* ProgressBar */
.progressBar{border:solid 2px #86a5ad;background-color:#FFF;;background-image:url(../default/images/progressBar/progressBar_m.gif);background-repeat:no-repeat;background-position:10px 10px;}

/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled{background-image:url(../default/images/form/input_bg.png);background-repeat:no-repeat;background-attachment:scroll;}

.textInput, .textArea{border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0;background-color:#FFF;}
input.required, textarea.required{border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0;background-color:#FFF;}
input.error, textarea.error{border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus{border-color:#64aabc #a9d7e3 #a9d7e3 #64aabc;background-color:#f8fafc;}
input.readonly, textarea.readonly{border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3;background-color:#F6F6F6;}
input.disabled, textarea.disabled{border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3;background-color:#F6F6F6;}

.inputButton, .inputDateButton{background-image:url(../default/images/form/input_bt.png);background-repeat:no-repeat;}

/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent{background-image:url(../green/images/button/button_s.png);background-repeat:no-repeat;}

.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button{color:#2d3f00;}

.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button{color:#999;}

/* ----------------------------------------------------------------- Pages */
/* Layout */
#splitBar{background-color:#cdef7d;}

.toggleCollapse, .toggleCollapse div{background-image:url(./images/layout/toggleSidebar.png);background-repeat:no-repeat;background-color:#cdef7d;}
#sidebar_s .collapse{border:solid 1px #8abb12;background-color:#cdef7d}

#taskbar, #taskbar li, #taskbar li .taskbutton{background-image:url(../default/images/layout/taskbar.png);background-repeat:no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize{background-image:url(../default/images/layout/taskbar_icon.png);background-repeat:no-repeat;}
#taskbar li .taskbutton span{color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight{background-image:url(../default/images/layout/taskbar_control.png);background-repeat:no-repeat;}

/* Homepage */
.sidebarContent{display:block;overflow:auto;height:500px;border:solid 1px #86B4EC;background-color:#FFF;}

/* Pages */
.pageForm .inputInfo{color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent{border-color:#8ABB12;}
.dialog .pageContent .pageFormContent{border-color:#8ABB12;background-color:#FFF;}

/* Pages default */
.page .searchBar label{color:#183152;}

/* Pages Form */
.formBar{border-color:#8ABB12;}
.divider{border-color:#8ABB12;}

/* combox */
.combox .select a{color:#183152;}
.comboxop{border-color:#B8D0D6;}
.combox, .combox div, .combox div a{background-image:url(../default/images/search-bg.gif);background-repeat:no-repeat;}
