<@_content id=content.parentId absoluteURL=true><#assign parent=object/></@_content>
<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>${content.title} - ${(parent.title)!} - ${category.name}</title>
        <meta name="keywords" content="<#list getKeywords(content.title) as a>${a}<#sep>,</#list>"/>
        <meta name="description" content="${content.description}"/>
    <@_includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@_includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->
        <div class="banner-l3 position-relative d-flex align-items-center justify-content-center" style="background:#22407c url(${site.sitePath}assets/img/banner-l3-bg-1.png) 50% 50% no-repeat;">
            <div class="container text-center position-relative py-3 py-md-4 text-white">
                <div class="breadcrumbs fs-7 text-white d-inline-flex align-items-center text-opacity-50">
                    <@include path="/ftl/bread.ftl"/><#-- 面包屑导航 --> / <@_content id=parent.parentId  absoluteURL=true><a href="${object.url}">《${object.title}》</a></@_content>
                </div>
                <h1 class="my-4"><a href="${url!}" class="text-white">${content.title}</a></h1>
				 <footer class="fs-8 text-white text-opacity-50 d-flex align-items-center justify-content-center">
					<@_createContentFile id=content.id templatePath='/system/chapter.txt' filePath="/txt/${content.id}.txt" pageIndex=pageIndex>
						<a href="${site.sitePath+url}" class="text-white">
							<img src="${site.sitePath}assets/img/icon-txt.svg" alt="icon-txt.svg">
							文本文件
					 	</a>
					</@_createContentFile>
				</footer>
            </div>
        </div>
        <div class="container">
            <article class="my-5">
                <div id="content" class="clearfix">
                    ${text?no_esc!}
                </div>
            </article>
            <div class="my-4 py-4 d-flex justify-content-between align-items-start">
                <div class="d-flex align-items-center me-4">
                    <@_contentList parentId=content.parentId endPublishDate=content.publishDate orderField='publishDate' pageIndex=2 count=1>
                    <#if 2=page.pageIndex>
                    <#list page.list as a>
                    <svg width="17" height="32" viewBox="0 0 17 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.148 16.296l14.42-14.574c.474-.478.573-1.154.22-1.509-.35-.355-1.02-.256-1.492.221L.459 15.43a1.568 1.568 0 0 0-.218.272.915.915 0 0 0 .023 1.263L14.88 31.734a.901.901 0 0 0 .636.266.895.895 0 0 0 .832-.562.917.917 0 0 0-.196-.992L2.15 16.294v.002z" fill="#E6E6E6"/></svg>
                    <a href="${a.url!}" class="d-flex flex-column align-items-start ms-3">
                        <span class="fs-6p">上一篇</span>
                        <span class="text-secondary text-opacity-50 fs-7">${a.title!}</span>
                    </a>
                    </#list>
                    </#if>
                    </@_contentList>
                </div>
                <div class="d-flex align-items-center ms-4">
                    <@_contentList parentId=content.parentId startPublishDate=content.publishDate orderField='publishDate' orderType='asc' pageIndex=1 count=1><#list page.list as a>
                    <a href="${a.url!}" class="d-flex flex-column align-items-end text-end me-3">
                        <span class="fs-6p">下一篇</span>
                        <span class="text-secondary text-opacity-50 fs-7">${a.title}</span>
                    </a>
                    <svg width="17" height="32" viewBox="0 0 17 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.625 17.19L1.205 2.614C.73 2.138.632 1.462.985 1.107c.351-.355 1.02-.257 1.493.22l14.836 14.997c.085.084.158.176.218.271a.915.915 0 0 1-.023 1.264L2.894 32.627a.898.898 0 0 1-.981.197.9.9 0 0 1-.488-.493.919.919 0 0 1 .196-.991l14.003-14.152.001.001z" fill="#E6E6E6"/></svg>
                    </#list></@_contentList>
                </div>							
            </div>
        </div>
        <script>
            var itemString="itemType=content&itemId=${content.id}";
        </script>
        <@_includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
        <script src="${site.sitePath!}assets/ueditor/ueditor.parse.min.js"></script>
        <script>
            $.getJSON('${site.dynamicPath!}api/contentClick?id=${content.id}', function(data){});
            <#if parent?has_content>
                $.getJSON('${site.dynamicPath!}api/contentClick?id=${parent.parentId!}', function(data){});
            </#if>
            uParse('#content',{rootPath: '${site.sitePath!}assets/ueditor'});
        </script>
    </body>
</html>