<@_metadata path=path><#assign metadata=object/></@_metadata>
<form method="post" autocomplete="off" action="cmsPage/save?rel=pageBox" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li>
                <#if (metadata.extendList)?has_content><button type="submit" class="buttonActive" title="ctrl+s"><@t.page 'button.save'/></button></#if>
            </li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH>
        <input name="path" type="hidden" value="${path}"/>
        <#if site.useStatic&&(metadata.publishPath)?has_content>
            <dl class="nowrap">
                <dt><@t.page 'static_page'/>:</dt>
                <dd>
                    <label><a class="button" href="cmsTemplate/publish?path=${path}&_csrf=<@_csrfToken admin=true/>" target="ajaxTodo"><@t.page 'publish_page'/></a></label>
                    <label><a class="button" href="${site.sitePath+(metadata.publishPath?starts_with('/'))?then(metadata.publishPath?keep_after('/'),metadata.publishPath)}" target="_blank"><@t.page 'button.view_page'/></a></label>
                </dd>
            </dl>
        </#if>
        <#if !metadata?has_content||metadata.useDynamic?has_content&&metadata.useDynamic>
            <dl class="nowrap">
                <dt><@t.page 'dynamic_page'/>:</dt>
                <dd>
                    <label><a class="button" href="${site.dynamicPath+(path?starts_with('/'))?then(path?keep_after('/'),path)}<#if metadata.acceptParameters?has_content>?<#list metadata.acceptParameters?split(',') as p>${p}=<#if 'content'=(metadata.parameterTypeMap[p].type)!><@_contentList pageSize=1><#list page.list as a>${metadata.id}</#list></@_contentList><#elseif 'category'=(metadata.parameterTypeMap[p].type)!><@_categoryList pageSize=1><#list page.list as a>${a.id}</#list></@_categoryList></#if><#sep>&</#list></#if>" target="_blank"><@t.page 'button.view_page'/></a></label>
                    <#if 0 lte (metadata.cacheTime)!0>
                        <label><a class="button" href="cmsPage/clearCache?path=${path}&_csrf=<@_csrfToken admin=true/>" target="ajaxTodo"><@t.page 'button.clear_cache'/></a></label>
                    </#if>
                </dd>
            </dl>
        </#if>
    <@_templateRegionList path=path>
        <#if list?has_content>
        <dl class="nowrap">
            <dt><@t.page 'diy'/>:</dt>
            <dd>
                <#list list as a>
                    <@_diyMetadata itemType='region' itemId=a>
                    <p>
                        <a href="cmsPage/diy.html?id=${(object.id?url)!}" target="navTab" rel="cmsPage/diy" title="<@t.page 'diy'/>" icon="<i class='bi bi-palette'></i>">${(object.name)!}</a>
                    </p>
                    </@_diyMetadata>
                </#list>
            </dd>
        </dl>
        </#if>
    </@_templateRegionList>
    <@_templatePlaceList path=path>
        <#if list?has_content>
        <dl class="nowrap">
            <dt><@t.page 'place'/>:</dt>
            <dd>
                <#list list as a>
                    <@_placeMetadata path=a>
                    <p>
                        <a href="cmsPlace/metadata.html?path=${a?url}" target="ajax" rel="pageBox">${(object.alias)!a}</a>
                    <#if 0 lt ((object.size)!0)>
                       : <a href="cmsPlace/dataList.html?path=${a?url}" target="navTab" rel="cmsPlace/dataList" title="<@t.page 'place_data.place'/>:${(object.alias)!}"><@t.page 'place_data'/>(${object.size})</a>
                    </#if>
                    </p>
                    </@_placeMetadata>
                </#list>
            </dd>
        </dl>
        </#if>
    </@_templatePlaceList>
        <#include "../include_page/extendData.html"/>
        <#assign extendList=(metadata.extendList)![]/>
        <#assign attribute=(metadata.extendData)!{}/>
        <@extendData 'extendDataList' extendList attribute/>
    </div>
</form>