<@_sysConfig code=code><#assign a=object/></@_sysConfig>
<@_sysConfigData code=code><#assign attribute=object/></@_sysConfigData>
<@_sysAuthorized roleIds=admin.roles urls='sysConfigData/delete,sysConfigData/save'><#assign authorizedMap=map/></@_sysAuthorized>
<form method="post" action="sysConfigData/save.do?navTabId=sysConfigData/edit" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id.code" type="hidden" value="${code!}" />
	<div class="formBar">
		<ul>
		<#if authorizedMap['sysConfigData/delete']>
			<li><a class="button" href="sysConfigData/delete.do?code=${code}&navTabId=sysConfigData/edit" title="确定要 清空配置么?" target="ajaxTodo">清空配置</a></li>
		</#if>
		<#if authorizedMap['sysConfigData/save']>
			<li><button type="submit" class="buttonActive">保存</button></li>
		</#if>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl class="nowrap">
			<dt>配置项描述:</dt>
			<dd>
				${(a.description)!}
			</dd>
		</dl>
<#include "../include_page/extendData.html"/>
<@_sysConfigFieldList code=code>
	<@extendData 'extendDataList' list attribute!{}/>
</@_sysConfigFieldList>
	</div>
</form>