<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="sysConfigData/edit.html?code={sid}" target="navTab" rel="sysConfigData/edit"><i class="icon-edit icon-large"></i> <@t.page 'config_data.edit'/></a></li>
        </ul>
    </div>
<@_sysConfigList>
    <table class="list" width="100%" layoutH="57">
        <thead>
            <tr>
                <th width="200"><@t.page 'code'/></th>
                <th><@t.page 'description'/></th>
            </tr>
        </thead>
        <tbody>
            <#list list as a>
                <@t.merge 'configs' a.code/>
            </#list>
            <@_sysDeptConfig deptId=admin.deptId!'' configs=t.configs!><#assign deptConfigMap=map!/></@_sysDeptConfig>
    <#list list as a>
        <#if (deptConfigMap[a.code])?has_content&&deptConfigMap[a.code]>
            <tr target="sid" rel="${a.code}">
                <td>${(a.code)!}</td>
                <td>${(a.description)!}</td>
                </td>
            </tr>
        </#if>
    </#list>
        </tbody>
    </table>
</@_sysConfigList>
</div>