<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>搜索 - PublicCMS</title>
	<meta name="keywords" content="搜索"/>
	<meta name="description" content="搜索  ${(word)!}"/>
	<@tools.includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
<@tools.includePlace path="/23e95a91-0063-4498-99ef-aa3fc4a79c4c.html"/> <#-- 导航 -->
<main>
	<div class="container bread">
		<a href="${site.sitePath}">首页</a>  &gt; <a href="${site.dynamicPath}search/">搜索</a>
	</div>
	<div class="container clearfix-after">
		<div class="data-list left-content">
			<div class="search">
				<@cms.tag ids=tagId>
				<#if map?has_content>
				<div class="search-condition">
					<label>标签:</label>
					<#list map?keys as k>${map[k].name}<#sep> </#list>
				</div>
				</#if>
				</@cms.tag>
				<form action="./" method="get">
					<div class="search-box">
					<input type="text" name="word" value="${(word)!}"/>						
						<input type="submit" class="button" value="搜索"/>
					</div>
					<p>
						<label><input type="checkbox" name="phrase" value="true"<#if phrase?has_content && 'true'=phrase> checked="checked"</#if> onclick="$('.search form').submit();"/>精确搜索</label>
						<input type="button" class="button" onclick="$('.search form').attr('action','facet.html').submit();" value="高级搜索"/>
					</p>					
				</form>
				<@cms.tagList count=10>
					<p>
						热门标签：
						<#list page.list as a>
							<a href="?tagId=${a.id}">${a.name}</a>
						</#list>
					</p>
				</@cms.tagList>
				<@cms.wordList count=10>
					<p>
						热门搜索：
						<#list page.list as a>
							<a href="?word=${a.name?url}">${a.name}</a>
						</#list>
					</p>
				</@cms.wordList>
			</div>
	<#if word?has_content || tagId?has_content>
		<@import path="/ftl/tools.ftl" namespace="t"/>
		<@cms.search word=word tagId=tagId phrase=phrase highlight=true pageIndex=page count=10>
			<#if page.totalCount gt 0>
				<ul data-diy="content">
				<#list page.list as a>
					<@include path="/ftl/search-list.ftl"/>
				</#list>
				</ul>
				<@include path="/ftl/search-page.ftl"/>
			</#if>
		</@cms.search>
	</#if>
		</div>
		<aside>
			<@tools.includePlace path="/49d393ca-f0f1-4723-a9b0-6f9b6d7cc04d.html"/> <#-- 编辑推荐 -->
			<@tools.includePlace path="/3435e9a7-565a-4f93-8670-9c272a1d51cc.html"/> <#-- 精彩图集 -->
		</aside>
	</div>
</main>
	<script>
		var templatePath='${.current_template_name?keep_after('/')}';
	</script>
<@tools.includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
</body>
</html>
