<@_sysSiteList parentId=parentId name=name pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
            <#if parentId?has_content>
                <li>
                    <label><@t.page 'site.parent'/>:</label><label><@_sysSite id=parentId>${object.name!}</@_sysSite></label>
                </li>
            </#if>
                <li>
                    <label><@t.page 'name'/>:</label>
                    <input type="text" size="20" name="name" value="${name!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        <#if parentId?has_content>
            <li><a href="sysSite/list.html" target="navTab" rel="sysSite/list"><i class="icon-circle-arrow-up icon-large"></i> <@t.page 'button.return'/></a></li>
            <li class="line">line</li>
        </#if>
            <li><a href="sysSite/add.html?parentId=${parentId!}" target="navTab" rel="sysSite/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'site.add'/></a></li>
            <li><a href="sysSite/add.html?id={sid}" target="navTab" rel="sysSite/edit"><i class="icon-edit icon-large"></i> <@t.page 'site.edit'/></a></li>
            <li><a href="sysSite/delete.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th width="30"><@t.page 'id'/></th>
                <th><@t.page 'name'/></th>
                <th><@t.page 'site.dynamic_path'/></th>
                <th><@t.page 'site.enable_static'/></th>
                <th><@t.page 'site.site_path'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>${a.id}</td>
                <td class="exclude-translate">${a.name!} <#if site.id=a.id>[<@t.page 'site.current_site'/>]</#if></td>
                <td><a href="${a.dynamicPath!}" target="_blank">${a.dynamicPath!}</a></td>
                <td>${a.useStatic?then(t.pageMessage('yes'),t.pageMessage('no'))} ${a.useSsi?then('['+t.pageMessage('ssi_enabled')+']','')}</td>
                <td><a href="${a.sitePath!}" target="_blank">${a.sitePath!}</a></td>
                <td>
                    <a href="sysDomain/add.html?siteId=${a.id!}" target="navTab" rel="sysDomain/add"><@t.page 'domain.add'/></a>|
                    <a href="sysDomain/list.html?siteId=${a.id!}" target="navTab" rel="sysDomain/list"><@t.page 'domain.list'/></a>|
                <#if !a.parentId?has_content>
                    <a href="sysSite/list.html?parentId=${a.id!}" target="navTab" rel="sysSite/list"><@t.page 'site.child_management'/></a>|
                </#if>
                    <a href="sysSite/configTemplate.html?siteId=${a.id!}" target="dialog" rel="config_${a.id!}"><@t.page 'server_config'/></a>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_sysSiteList>