<div class="pageFormContent">
<#list list as a>
    <#if !a.directory>
        <#assign sitefile=getSitefile(a.fileName)/>
        <div class="image-list">
            <a href="cmsTemplate/viewSitefile.html?name=${a.fileName?url}" target="dialog" rel="sitefile_${a?counter}" width="1000" height="600">
                <#if (sitefile.cover)?has_content>
                    <img src="${base+adminContextPath}/cmsTemplate/visitSitefileImage?sitefile=${a.fileName}&imageFile=${sitefile.cover}" alt="${a.fileName}" title="${a.fileName}">
                <#else>
                    <i class="thumb icon-file-alt icon-large"></i>
                </#if>
             </a>
            <p>
                <a href="javascript:;" onclick="$.bringBack({'${field!'fileName'}':'${a.fileName}'});return false;">
                    ${(sitefile.name)!a.fileName}<#if a.fileSize?has_content>(${a.fileSize})</#if>
                </a>
            </p>
        </div>
    </#if>
</#list>
</div>