<div class="accordion">
	<div class="accordionHeader">
		<h2><i class="icon-sitemap icon-large"></i> 站点管理 <i class="icon icon-chevron-up"></i></h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li>
				<a href="sysSite/list.html" target="navTab" rel="sysSite/list"><i class="icon-sitemap icon-large"></i> 站点管理</a>
			</li>
			<li>
				<a href="sysDomain/list.html" target="navTab" rel="sysDomain/list"><i class="icon-qrcode icon-large"></i> 域名管理</a>
			</li>
			<li>
				<a href="sysMoudle/list.html" target="navTab" rel="sysMoudle/list"><i class="icon-th icon-large"></i> 模块管理</a>
			</li>
			<li>
				<a href="sysSite/reCreateIndex" target="ajaxTodo" title="确定要重建索引吗?" ><i class="icon-refresh icon-large"></i> 重建索引</a>
			</li>
		</ul>
	</div>
	<div class="accordionHeader">
		<h2><i class="icon-home icon-large"></i> PublicCMS <i class="icon icon-chevron-up"></i></h2>
	</div>
	<div class="accordionContent">
		<ul class="tree">
			<li>
				<a href="http://www.publiccms.com" target="navTab" rel="publiccms.com"><i class="icon-globe icon-large"></i> PublicCMS官网</a>
			</li>
		</ul>
	</div>
</div>