<div class="formBar">
	<ul>
		<li><button type="button" class="button close">关闭</button></li>
	</ul>
</div>
<div class="pageFormContent" layoutH="60">
	<dl class="nowrap">
		<dt>Nginx通用配置:</dt>
		<dd><textarea id="nginxCommon" name="description" style="width: 100%;" rows="20"><@_disk>
upstream cms {
	server localhost:8080  weight=1; #这里填写CMS的真实地址和端口
}
server {
	listen       80 default; #这里填写nginx监听的端口，后面的default表示监听所有域名的请求
	location / {
		proxy_redirect off;
		proxy_set_header Host $host:$server_port;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto  $scheme;
		proxy_connect_timeout 5;
		proxy_send_timeout 30;
		proxy_read_timeout 10;
		proxy_pass http://cms;
		#如果工程访问需要加上工程名时，请注释掉上一行配置，并取消下面三行的注释符号，将cms代理到跟路径下，其中publiccms改为cms的上下文路径
		#proxy_pass http://cms/publiccms/;
		#proxy_cookie_path /publiccms/ /;
		#rewrite /publiccms/(.*)$ /$1 permanent;
	}
}</@_disk></textarea>
			<span class="info">Nginx通用配置应该包含在nginx配置文件 http包中</span>
		</dd>
	</dl>
<script>
	CodeMirror.fromTextArea(document.getElementById("nginxCommon"), {
		mode: "nginx",
		lineNumbers: true,
        tabSize        : 4,
        indentUnit     : 4,
        lineWrapping   : true,
        indentWithTabs : true
	});
</script>
</div>