<div class="card">
    <div class="pageFormContent" layoutH>
        <div class="image-list">
            <a href="sysSite/uploadSitefile" target="dialog" mask="true" width="500" height="250">
                <i class="thumb icon-upload-alt icon-large"></i>
                <p>
                    <@t.page 'upload'/>
                </p>
            </a>
        </div>
<#list list as a>
    <#if !a.directory>
        <#assign sitefile=getSitefile(a.fileName)/>
        <div class="image-list">
            <a href="cmsTemplate/viewSitefile.html?name=${a.fileName?url}" target="dialog" rel="sitefile_${a?counter}" width="1000" height="600">
                <#if (sitefile.cover)?has_content>
                    <img src="${base+adminContextPath}/visitSitefileImage?sitefile=${a.fileName}&imageFile=${sitefile.cover}" alt="${a.fileName}" title="${a.fileName}">
                <#else>
                    <i class="thumb icon-file-alt icon-large"></i>
                </#if>
                <p>
                    ${(sitefile.name)!a.fileName}<#if a.fileSize?has_content>(${a.fileSize})</#if>
                </p>
             </a>
        </div>
    </#if>
</#list>
    </div>
</div>