<form method="post" action="sysSite/execSql.do?navTabId=sysSite/sql" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.exec'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH="50">
        <dl class="nowrap">
            <dt>SQL:</dt>
            <dd>
                <textarea class="required" name="sql" maxlength="500" cols="80" rows="4"></textarea>
                <a class="btnLook" href="sysSite/sqlExample.html" width="920" lookupGroup=""><@t.page 'sql.select'/></a>
                <span class="info"><@t.page 'sql.description'/></span>
            </dd>
        </dl>
<@_logOperateList operate='execSql.site' count=10>
    <#list page.list as a>
        <@t.merge 'userIds' a.userId!/>
    </#list>
    <@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
    <#list page.list as a>
        <dl>
            <dt><@t.page 'user'/>:</dt>
            <dd>
                ${(userMap[a.userId?string].nickName)!}
            </dd>
        </dl>
        <dl>
            <dt><@t.page 'exec_date'/>:</dt>
            <dd>
                ${a.createDate!}
            </dd>
        </dl>
        <#assign content=a.content?eval/>
        <dl class="nowrap">
            <dt><@t.page 'log.content'/>:</dt>
            <dd>
                ${(content.sql)!}
            </dd>
        </dl>
        <dl class="nowrap">
            <dt><@t.page 'result'/>:</dt>
            <dd>
                ${(content.result)!(content.error)!}
            </dd>
        </dl>
        <div class="divider"></div>
    </#list>
</@_logOperateList>
    </div>
</form>