<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder expand">
        <li><a href="javascript:;" onclick="$.bringBack({sql:'update cms_content_attribute set text=replace(text,\'old url\',\'new url\')'});return false;"><@t.page 'sql.example.1'/></a></li>
        <li><a href="javascript:;" onclick="$.bringBack({sql:'update cms_content_related set url=replace(url,\'old url\',\'new url\')'});return false;"><@t.page 'sql.example.2'/></a></li>
        <li><a href="javascript:;" onclick="$.bringBack({sql:'update cms_place set url=replace(url,\'old url\',\'new url\')'});return false;"><@t.page 'sql.example.3'/></a></li>
    </ul>
</div>