<!DOCTYPE html>
<html lang="<@t.page 'html_lang'/>">
<head>
    <meta charset="utf-8">
    <title>${site.name} - <@t.page 'management_system'/></title>
    <meta name="viewport" content="width=device-width,initial-scale=0.6">
    <link href="${res}/codemirror/lib/codemirror.css" rel="stylesheet" >
    <link href="${res}/codemirror/addon/hint/show-hint.css" rel="stylesheet" >
    <link href="${res}/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!--[if IE 7]>
    <link href="${res}/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" >
    <![endif]-->
    <link href="${res}/themes/css/core.css?version=5" rel="stylesheet" media="screen"/>
    <link href="${res}/themes/css/print.css" rel="stylesheet" media="print"/>
    <!--[if lte IE 9]>
        <link href="${res}/themes/css/ieHack.css" rel="stylesheet" media="screen"/>
        <script src="${res}/js/html5shiv.min.js"></script>
        <script src="${res}/js/respond.min.js"></script>
    <![endif]-->
</head>
<body scroll="no">
<header>
    <a class="logo" href="./"><img src="<#if siteAttribute.logo?has_content>${site.sitePath+siteAttribute.logo}<#else>${res}/logo.png</#if>"/></a>
    <ul class="nav">
        <li><a href="${site.dynamicPath!}" target="_blank"><i class="icon-home icon-large"></i></a></li>
    <#if site.useStatic>
        <li><a href="${site.sitePath!}" target="_blank"><@t.page 'website'/></a></li>
    </#if>
    <@_sysAuthorized roleIds=admin.roles url='clearCache'>
        <li>
            <a href="clearCache" target="ajaxTodo" title="<@t.page 'button.clear_cache'/>"><i class="icon-rubbish icon-large"></i> </a>
        </li>
    </@_sysAuthorized>
        <li>
            <a href="javascript:"><i class="icon-user icon-large"></i> ${(admin.nickName)!}</a>
        </li>
        <li>
            <a href="logout.do?userId=${admin.id}" title="<@t.page 'logout'/>"><i class="icon-signout icon-large"></i> </a>
        </li>
    </ul>
    <ul id="navMenu">
<@_sysModuleList>
    <#list page.list as a>
        <@t.merge 'moduleIds' a.id!/>
    </#list>
    <@_sysRoleModule roleIds=admin.roles moduleIds=t.moduleIds!><#assign roleModuleMap=map!/></@_sysRoleModule>

    <#list page.list as a>
        <#if (roleModuleMap[a.id?string])??&&roleModuleMap[a.id?string]>
            <#if !parentId?has_content><#assign parentId=a.id/></#if>
            <li>
                <a href="${a.url?has_content?then(a.url,'menus.html?parentId='+a.id)}" parentId="${a.id}"><#if (a.attached)?has_content><i class="${a.attached} icon-large"></i></#if> <@t.menu a.id/></a>
            </li>
        </#if>
    </#list>
</@_sysModuleList>
<@_masterSite>
    <@_sysAuthorized roleIds=admin.roles url='sysSite/menu'>
        <li>
            <a href="sysSite/menu.html"><i class="icon-sitemap icon-large"></i> <@t.menu 'site'/></a>
        </li>
    </@_sysAuthorized>
</@_masterSite>
    </ul>
</header>
<main>
    <div id="leftside">
        <div id="sidebar_s"><i class="icon-reorder icon-large"></i></div>
        <div id="sidebar">
            <div id="menu">
                <#include "menus.html"/>
            </div>
        </div>
    </div>
    <div id="navTab" class="tabsPage">
        <div class="tabsPageHeader">
            <div class="tabsPageHeaderContent">
                <ul class="navTab-tab">
                    <li tabid="main" class="main"><a href="javascript:;" onclick="return false;"><i class="icon-home icon-large"></i> <@t.page 'workgin_table'/></a></li>
                </ul>
            </div>
            <a href="javascript:;" onclick="return false;" class="toggleCollapse"><i class="icon icon-chevron-sign-left icon-large"></i></a>
            <a href="javascript:;" onclick="return false;" class="tabsLeft"><i class="icon-backward icon-large"></i></a>
            <a href="javascript:;" onclick="return false;" class="tabsRight"><i class="icon-forward icon-large"></i></a>
            <a href="javascript:;" onclick="return false;" class="tabsMore"><i class="icon-th-list icon-large"></i></a>
        </div>
        <ul class="tabsMoreList">
            <li><a href="javascript:;" onclick="return false;"><i class="icon-home icon-large"></i> <@t.page 'workgin_table'/></a></li>
        </ul>
        <div class="navTab-panel tabsPageContent layoutBox">
            <div class="page unitBox work-bench">
                <#include "main.html"/>
            </div>
        </div>
    </div>
</main>
<footer>
   <ul class="langList">
    <#list langs as k,v>
        <li<#if springMacroRequestContext.getMessage('page.lang')=k> class="current-lang"</#if>>
        	<a href="changeLocale?lang=${k}" target="ajaxTodo">
        		<img src="${res}/themes/images/${k}.png" alt="${v}"/>${v}
        	</a>
        </li>
    </#list>
    </ul>
<@_version>
    <#if authorizationEdition>
        <a href="common/license.html" target="dialog" mask="true"><@t.page 'license'/>: ${getLicense().authorization!}</a>
    <#else>
        <@t.page 'license.no'/>
        <@_masterSite>
            <@_sysAuthorized roleIds=admin.roles url='sysSite/uploadLicense'>
        <a href="sysSite/uploadLicense.html" target="navTab" rel="sysSite/uploadLicense" icon="<i class='icon-archive icon-large'></i>" title="<@t.menu 'license'/>"><@t.page 'license.upgrade'/></a>
            </@_sysAuthorized>
        </@_masterSite>
    </#if>
</@_version>
    Copyright &copy; ${.now?string('yyyy')}
    <ul class="themeList" id="themeList">
        <li theme="toptry"><div></div></li>
    </ul>
</footer>
<script src="${res}/js/jquery-1.9.1.min.js"></script>
<script src="${res}/js/jquery.cookie.js"></script>
<script src="${res}/js/jquery.validate.js"></script>
<script src="${res}/js/jquery.bgiframe.js"></script>
<script src="${res}/js/base64.js"></script>
<script src="${res}/js/dwz.min.js?version=4"></script>
<script src="${res}/js/dwz.plugins.js"></script>
<script src="${res}/js/<@t.page 'dwz_regional_js'/>?version=1"></script>
<script src="${res}/js/cms.js"></script>
    <script>
    var base="${adminBase}";
    window.UEDITOR_HOME_URL="${res}/ueditor/";
    window.CKEDITOR_BASEPATH="${res}/ckeditor/";
    window.CKEDITOR_LANGUAGE="<@t.page 'ckeditor.lang'/>";
    window.KINDEDITOR_OPTIONS= {
            width:'60%',
            height:'400px',
            basePath:'${res}/kindeditor/',
            uploadJson : '${adminBase}/kindeditor/upload.do',
            fileManagerJson : '${adminBase}/cmsWebFile/fileList.html',
            allowFileManager : true
    };
    DWZ.init("${adminBase}/common/dwz.frag.html", {
        ckeditorResources:["${res}/ckeditor/ckeditor.js"],
        kindeditorResources:["${res}/kindeditor/kindeditor-all-min.js","${res}/kindeditor/<@t.page 'kindeditor.lang_js'/>"],
        ueditorResources:["${res}/ueditor/ueditor.config.js","${res}/ueditor/ueditor.all.min.js","${res}/ueditor/lang/<@t.page 'ueditor.lang_js'/>"],
        codemirrorResources:['${res}/codemirror/lib/codemirror.js','${res}/codemirror/mode/xml/xml.js','${res}/codemirror/mode/javascript/javascript.js','${res}/codemirror/mode/css/css.js',
            '${res}/codemirror/mode/htmlmixed/htmlmixed.js','${res}/codemirror/mode/freemarker/freemarker.js','${res}/codemirror/mode/freemarkermixed/freemarkermixed.js',
            '${res}/codemirror/mode/nginx/nginx.js','${res}/codemirror/addon/hint/show-hint.js','${res}/codemirror/addon/hint/javascript-hint.js','${res}/codemirror/addon/hint/html-hint.js',
            '${res}/codemirror/addon/hint/css-hint.js','${res}/codemirror/addon/hint/xml-hint.js'],
        loginUrl:"login_dialog.html", loginTitle:"<@t.page 'login'/>",
        pageInfo:{pageNum:"pageNum", numPerPage:"numPerPage", orderField:"orderField", orderDirection:"orderType"},
        debug:false,
        callback:function(){
            initEnv();
            $("#themeList").theme({themeBase:"${res}/themes",defaultTheme:"toptry"});
    <@_sysAuthorized roleIds=admin.roles url='myself/password'>
        <#if admin.weakPassword>
            $.pdialog.open("myself/password.html?target=dialog", "_blank", "<@t.page 'user.new_password'/>", {mask: true, width: 400, height: 280});
        </#if>
    </@_sysAuthorized>
            $('#navMenu li a[parentId=${parentId!0}]').parent().addClass("selected");
        }
    });
    </script>
</body>
</html>