<div class="pageFormContent card" layoutH>
    <fieldset>
        <legend><@t.page 'my_account'/></legend>
        <div class="unit">
            <ul>
                <li>
                    <div class="card">
                        <i class="icon-book icon-large icon"></i>
                        <p><@t.page 'myself.my_pending_content'/></p>
                        <a href="myself/contentList.html?status=2" icon="<i class='icon-book icon-large'></i>" title="<@t.page 'my_content'/>" target="navTab" rel="myself/contentList">
                            <@_contentList advanced=true status=2 userId=admin.id pageSize=0>
                                <h3>${page.totalCount}</h3>
                            </@_contentList>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-edit icon-large icon"></i>
                        <p><@t.page 'myself.my_draft'/></p>
                        <a href="myself/contentList.html?status=0" icon="<i class='icon-book icon-large'></i>" title="<@t.page 'my_content'/>" target="navTab" rel="myself/contentList">
                            <@_contentList advanced=true status=0 userId=admin.id pageSize=0>
                                <h3>${page.totalCount}</h3>
                            </@_contentList>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-signin icon-large icon"></i>
                        <p><@t.page 'user.login_count'/></p>
                        <a href="myself/logLogin.html" icon="<i class='icon-signin icon-large'></i>" title="<@t.page 'my_login_log'/>" target="navTab" rel="myself/logLogin">
                            <h3>${admin.loginCount}</h3>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-unlock-alt icon-large icon"></i>
                        <p><@t.page 'my_login_token'/></p>
                        <a href="myself/userTokenList.html" icon="<i class='icon-unlock-alt icon-large'></i>" title="<@t.page 'my_login_token'/>" target="navTab" rel="myself/userTokenList">
                            <h3><@_sysUserTokenList userId=admin.id pageSize=0>${page.totalCount}</@_sysUserTokenList></h3>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <p>
                            <label><@t.page 'user.last_login_date'/>:</label>${admin.lastLoginDate!}
                        </p>
                        <p>
                            <label><@t.page 'user.last_login_ip'/>:</label>${admin.lastLoginIp!}
                        </p>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <p>
                            <a class="button" href="main.html" target="navTab" rel="main"><i class="icon-refresh"></i> <@t.page 'button.refresh'/></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </fieldset>
<@_sysAuthorized roleIds=admin.roles url='cmsComment/list'>
    <fieldset>
        <legend><@t.page 'comment.management'/></legend>
        <div class="unit">
            <ul class="clearfix">
                <li>
                    <div class="card">
                        <i class="icon-comment icon-large icon-large icon"></i>
                        <p><@t.page 'comment.uncheck'/></p>
                        <a href="cmsComment/list.html?status=2" icon="<i class='icon-comment icon-large'></i>" title="<@t.page 'comment.management'/>" target="navTab" rel="cmsComment/list">
                            <@_commentList advanced=true status=2 pageSize=0>
                                <h3>${page.totalCount}</h3>
                            </@_commentList>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-comments icon-large icon"></i>
                        <p><@t.page 'content.comments'/></p>
                        <a href="cmsComment/list.html?status=1&status=2" icon="<i class='icon-comment icon-large'></i>" title="<@t.page 'comment.management'/>" target="navTab" rel="cmsComment/list">
                            <@_commentList advanced=true status='1,2' pageSize=0>
                                <h3>${page.totalCount}</h3>
                            </@_commentList>
                        </a>
                    </div>
                </li>
            </ul>
            <div id="comment" style="height:350px;width:100%;"></div>
        </div>
<script>
echartsInitFunc.push(function(){
    echarts.init(document.getElementById('comment')).setOption({
        title: {
            text: '<@t.page 'comment'/>',
            x:'center'
        },
        tooltip : {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [<#list 30..0 as a>'${(.now?long-a*86400000)?number_to_date}'<#sep>,</#list>]
        },
        yAxis: {
            type: 'value'
        },
        series: [
        {
            name:'<@t.page 'operate'/>',
            type:'line',
            data:[<#list 30..0 as a><@_logOperateList operate='save.cmsComment' startCreateDate=(.now?long-a*86400000)?number_to_date?string endCreateDate=(.now?long-(a-1)*86400000)?number_to_date?string>${page.totalCount}</@_logOperateList><#sep>,</#list>],
            areaStyle: {}
        }]
    });
});
</script>
   </fieldset>
</@_sysAuthorized>
<@_sysAuthorized roleIds=admin.roles url='report/user'>
    <fieldset>
        <legend><@t.page 'report.user'/></legend>
        <div class="unit">
            <div id="visit" style="height:350px;width:100%;"></div>
            <ul>
                <li>
                    <div class="card">
                        <i class="icon-signal icon-large icon"></i>
                        <p><@t.page 'register'/></p>
                        <a href="report/user.html" icon="<i class='icon-male icon-large'></i>" title="<@t.page 'report.user'/>" target="navTab" rel="report/user">
                            <@_sysUserList startRegisteredDate=.now?long?number_to_date?string>
                               <h3>${page.totalCount}</h3>
                            </@_sysUserList>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-ticket icon-large icon"></i>
                        <p><@t.page 'login'/></p>
                        <a href="report/user.html" icon="<i class='icon-male icon-large'></i>" title="<@t.page 'report.user'/>" target="navTab" rel="report/user">
                            <@_logLoginList startCreateDate=.now?long?number_to_date?string>
                               <h3>${page.totalCount}</h3>
                            </@_logLoginList>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="icon-list-alt icon-large icon"></i>
                        <p><@t.page 'operate'/></p>
                        <a href="report/user.html" icon="<i class='icon-male icon-large'></i>" title="<@t.page 'report.user'/>" target="navTab" rel="report/user">
                            <@_logOperateList startCreateDate=.now?long?number_to_date?string>
                               <h3>${page.totalCount}</h3>
                            </@_logOperateList>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
<script>
<@_logVisitDayList startVisitDate=(.now?long-30*86400000)?number_to_date>
echartsInitFunc.push(function(){
    echarts.init(document.getElementById('visit')).setOption({
        title: {
            text: '<@t.page 'log.visit'/>',
            x:'center'
        },
        tooltip : {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        legend: {
            data: ['PV', 'UV', 'IP Views'],
            top:30
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [<#list page.list?reverse as a>'${a.id.visitDate?date}'<#sep>,</#list>]
        },
        yAxis: {
            type: 'value'
        },
        series: [
        {
               name:'PV',
               type:'line',
               data:[<#list page.list?reverse as a>${a.pv!}<#sep>,</#list>],
               areaStyle: {}
           },
           {
               name:'UV',
               type:'line',
               data:[<#list page.list?reverse as a>${a.uv!}<#sep>,</#list>],
               areaStyle: {}
           },
           {
               name:'IP Views',
               type:'line',
               data:[<#list page.list?reverse as a>${a.ipviews!}<#sep>,</#list>],
               areaStyle: {}
           }]
    });
});
</@_logVisitDayList>
</script>
    </fieldset>
</@_sysAuthorized>
<@_version>
    <fieldset>
        <legend><@t.page 'system'/></legend>
        <div class="unit">
            <p class="cmsVersion">
                <label><@t.page 'publiccms'/>:</label>
                <a href="//www.publiccms.com/" target="navTab" rel="publiccms.com" icon="<i class='icon-home icon-large'></i>" title="<@t.page 'publiccms_website'/>">${cms}.${revision}</a> <span class="new hide" style="color:green">[<@t.page 'version.new'/>]</span><span class="old hide" style="color:red">[<@t.page 'version.old'/>]</span>
            </p>
    <@_systemProperties>
            <p>
                <label><@t.page 'os.timezone'/>:</label>${.vars['user.timezone']!}
            </p>
    </@_systemProperties>
    <@_masterSite>
            <p>
                <label>${master?then(t.pageMessage('cluster.master'),t.pageMessage('cluster.normal'))}:</label>
                <a href="sysCluster/list.html" icon="<i class='icon-code-fork icon-large'></i>" title="<@t.menu 'cluster'/>" target="navTab" rel="sysCluster/list">${cluster}</a>
            </p>
        <@_disk>
            <p>
                <label><@t.page 'data.directory'/>:</label>
                <a href="sysSite/monitor.html" icon="<i class='icon-suitcase icon-large'></i>" title="<@t.page 'system_monitor'/>" target="navTab" rel="sysSite/monitor" external="true">${(rootPath)!}</a>
            </p>
            <p>
                <label><@t.page 'disk_space'/>:</label><@t.fileSize totalSpace/>
            </p>
        </@_disk>
    </@_masterSite>
        </div>
    <@_masterSite>
        <div class="divider"></div>
        <div class="unit">
            <p>
                <label><@t.page 'site.count'/>:</label>
                <a href="sysSite/list.html" icon="<i class='icon-sitemap icon-large'></i>" title="<@t.menu 'site_list'/>" target="navTab" rel="sysSite/list"><@_sysSiteList pageSize=0>${page.totalCount}</@_sysSiteList></a>
            </p>
            <p>
                <label><@t.page 'domain.count'/>:</label>
                <a href="sysDomain/list.html" icon="<i class='icon-qrcode icon-large'></i>" title="<@t.menu 'site_domain_list'/>" target="navTab" rel="sysDomain/list"><@_sysDomainList advanced=true pageSize=0>${page.totalCount}</@_sysDomainList></a>
            </p>
        </div>
    </@_masterSite>
    </fieldset>
</@_version>
<script>
if("object" == typeof echarts){
    for(var i=0;i<echartsInitFunc.length;i++){
        echartsInitFunc[i]();
    }
}
</script>
</div>