<?xml version="1.0" encoding="UTF-8"?>
<!-- PublicCMS使用Servlet3.0技术，Web.xml不再是整个工程的入口，config.initializer.*Initializer为工程的入口类，config.*Config为Spring配置 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PublicCMS</display-name>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <distributable/>
</web-app>