<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.kerneler.com/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">publiccms</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/publiccms?serverTimezone=GMT</property>
        <property name="hibernate.connection.username">publiccms</property>
    </session-factory>
</hibernate-configuration>
