<div class="mb-5 pb-3" data-diy="place" data-diy-id="${path}">
	<div class="fs-0 text-black fw-bold">${(metadata.extendData.title)!}</div>
	<p class="text-black-50">${(metadata.extendData.description)!}</p>
</div>
<div id="index-focus" class="swiper-container" data-diy="place" data-diy-id="${path}">
	<div class="swiper-wrapper">
		<#list page.list as a>
		<div class="swiper-slide">
			<img src="${a.cover}">
			<h1 class="mt-4">${a.title}</h1>
			<p class="text-black-50 px-2 pb-3 mt-3">${(getPlaceAttribute(a.id).description)!}</p>
		</div>
		</#list>
	</div>
	<div class="swiper-pagination"></div>
</div>