<footer id="g-footer" class="container-fluid g-0 pt-5 fs-7">
    <div class="container gx-4 g-lg-0">
        <div class="row justify-content-between text-white text-opacity-75">
            <div class="col-md-3 mb-5 mb-md-4">
                <div class="mb-4 fs-6">
                    <img src="${site.sitePath}assets/img/logo.png" alt="LOGO" class="w-50 me-2">
                    与先进同行
                </div>
                <p><@_metadata path='index.html';metadata>${(metadata.extendData.description)!}</@_metadata></p>
            </div>
            <div class="col-auto mb-5 mb-md-4">
                <dl>
                    <dt class="fs-5 mb-4">联系方式</dt>
                    <dd class="d-flex">
                        <span class="flex-shrink-0">售前咨询：</span>
                        <div>
                            <a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#wechatModal1">
                                <img src="${site.sitePath}assets/img/icon-wx.svg" alt="wechat"> kerneler
                            </a>
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=315415433&amp;site=PublicCMS&amp;Menu=yes"  class="text-white"target="_blank"><img src="${site.sitePath}assets/img/icon-qq.svg"  alt="qq" class="ms-4"> 315415433</a>
                        </div>
                    </dd>
                    <dd class="d-flex">
                        <span class="flex-shrink-0">产品购买：</span>
                        <div>
                            <a href="#"  class="text-white"data-bs-toggle="modal" data-bs-target="#wechatModal2">
                                <img src="${site.sitePath}assets/img/icon-wx.svg" alt="wechat"> ttyghxqnana
                            </a>
                        </div>
                    </dd>
                    <@_includePlace path="/footer/21c06930-d5ad-4727-87bb-005104dff25e.html"/> <#-- 咨询电话 -->
                    <@_includePlace path="/footer/0f5a4595-4cd8-4be2-94e8-acb5d5e47e89.html"/> <#-- 技术咨询群 -->
                    <@_includePlace path="/footer/4afbbf15-b77e-4ab6-ab21-44b82c096230.html"/> <#-- 文档工具 -->
                </dl>
            </div>
            <div class="col-md-3 mb-5 mb-md-4">
                <dl>
                    <dt class="fs-5 mb-4">关于我们</dt>
                    <dd class="mb-3">
                        <img src="${site.sitePath}assets/img/logo-heycore.png" alt="company" class="img-fluid">
                    </dd>
                    <dd>
                        <p>我们专注提供专业的软件产品和技术。为合作伙伴提供安全可靠的软件产品与解决方案，共同帮助终端用户实现业务创新、快速发展。</p>
                        <p>科技型中小企业编号：202112010200008165</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <footer class="container-fluid g-3 g-lg-0 py-3 text-white text-opacity-50">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    ${.now?string('yyyy')} PublicCMS.com All Rights Reserved.
                    <@_includePlace path="/footer/9eedb96c-4f47-422e-8020-81a4b362e0a6.html"/> <#-- 备案链接 -->
                </div>
                <div class="col-md-auto">
                    <@_includePlace path="/cfdc226d-8abc-48ec-810d-f3941b175b20.html"/> <#-- 友情链接 -->
                </div>
            </div>
        </div>
    </footer>
</footer>
<!-- 搜索 -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-transparent border-0">
            <form action="${siteAttribute.searchPath!}" method="get">
                <div class="input-group mb-3">
                    <input type="search" name="word" class="form-control fs-3" placeholder="您想搜索什么？">
                    <button class="btn btn-primary flex-shrink-0 px-2 px-md-5 fs-4" type="submit">立即搜索</button>
                </div>
            </form>
            <div class="text-center mt-3 text-white">
                <h5>热门搜索</h5>
                <@_wordList count=20>
                <div class="keywords mt-2">
                    <#list page.list as a>
                    <a href="${siteAttribute.searchPath!}?word=${a.name?url}">${a.name}</a>
                    </#list>
                </div>
                </@_wordList>
				<h5>热门标签</h5>
                <@_tagList orderField='searchCount' count=20>
                <div class="keywords mt-2">
                    <#list page.list as a>
                    <a href="${siteAttribute.searchPath!}?tagIds=${a.id?url}">${a.name}</a>
                    </#list>
                </div>
                </@_tagList>
            </div>
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- 微信1 -->
<div class="modal fade  wechat-modal" id="wechatModal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="text-center bg-transparent border-0">
            <img src="${site.sitePath}assets/images/wechat_account_1.jpg" alt="微信">
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- 微信2 -->
<div class="modal fade wechat-modal" id="wechatModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="text-center bg-transparent border-0">
            <img src="${site.sitePath}assets/images/wechat_account_2.jpg" alt="微信">
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="${site.sitePath}assets/js/bootstrap.bundle.min.js"></script>
<script src="${site.sitePath}assets/js/jquery-1.12.4.min.js"></script>
<script src="${site.sitePath}assets/js/cms.analytics.js"></script>
<script>var CMS_PATH='${site.dynamicPath}';</script>
<script src="${site.sitePath}assets/js/main.js"></script>
<script>    
    var ca = cmsAnalytics();
    var url='${site.dynamicPath}api/visit/record';
    if("string" ==typeof itemString){
        url=url+"?"+itemString;
    }
	ca.setDomain('publiccms.com');//${site.dynamicPath?keep_after('//')?keep_before('/')?keep_before(':')}
	ca.setPath('/');
    ca.report(url);
	<@_sysConfigData code="site">${(object.statistics?no_esc)!}</@_sysConfigData>
</script>