<div class="list-group mb-5">
    <h5 class="list-group-title d-flex align-items-center mb-2"><a href="${site.dynamicPath}">用户中心</a></h5>
    <a class="list-group-item" href="${site.dynamicPath}myComment.html" title="我的评论">我的评论</a>
    <a class="list-group-item" href="${site.dynamicPath}myReply.html" title="回复我的评论">回复我的评论</a>
    <a class="list-group-item" href="${site.dynamicPath}myScore.html" title="我的点赞">我的点赞</a>
    <a class="list-group-item" href="${site.dynamicPath}myVote.html" title="我的投票">我的投票</a>
    <a class="list-group-item" href="${site.dynamicPath}myContentContribute.html" title="我的内容投稿">我的内容投稿</a>
    <a class="list-group-item" href="${site.dynamicPath}myOtherContribute.html" title="我的其他投稿">我的其他投稿</a>
    <h5 class="list-group-title d-flex align-items-center mt-4 mb-2">账号安全</h5>
    <a class="list-group-item" href="${site.dynamicPath}myPassword.html" title="修改密码">修改密码</a>
    <a class="list-group-item" href="${site.dynamicPath}myEmail.html" title="修改邮箱">修改邮箱</a>
    <a class="list-group-item" href="${site.dynamicPath}myDevice.html" title="我的设备">我的设备</a>
    <a class="list-group-item" href="${site.dynamicPath}myToken.html" title="我的登录授权">我的登录授权</a>
    <a class="list-group-item" href="${site.dynamicPath}myLoginLog.html" title="我的登录日志">我的登录日志</a>
    <h5 class="list-group-title d-flex align-items-center mt-4 mb-2">财务中心</h5>
    <a class="list-group-item" href="${site.dynamicPath}account.html" title="我的账户">我的账户</a>
    <a class="list-group-item" href="${site.dynamicPath}orderList.html" title="我的订单">我的订单</a>
    <a class="list-group-item" href="${site.dynamicPath}paymentList.html" title="我的付款">我的付款</a>
    <a class="list-group-item" href="${site.dynamicPath}refund.html" title="我的退款">我的退款</a>
</div>