<div id="index-pricing" class="container-fluid mt-5">
	<div class="container text-center" data-diy="place" data-diy-id="${path}">
		<div class="mb-5">
			<div class="fs-0 text-black fw-bold">价格与服务</div>
			<p class="text-black-50">V4.0(及后续版本)个人免费使用，企事业单位使用需要付费。</p>
		</div>

		<@cms.category code='price'>
		<div class="row gx-lg-5 mt-4 px-0 px-lg-5 mx-0 mx-lg-4 align-items-center">

			<div class="col-md-4">
				<div class="card card-pricing border-0 rounded-3 mx-0 mx-md-2 py-4 align-items-center">
					<div class="fs-1 fw-bold">
						<img loading="lazy" src="${site.sitePath}assets/img/icon-plan-pro.svg" alt="不限域名授权">
						<div>持续订阅</div>
					</div>
					<ul class="p-0 my-3 fs-6p">
						<li class="my-1 my-lg-3">商业授权</li>
						<li class="my-1 my-lg-3 text-secondary">3年</li>
						<li class="my-1 my-lg-3">不限域名</li>
						<li class="my-1 my-lg-3">普票、专票、电子发票</li>
						<li class="my-1 my-lg-3">7天专家技术支持</li>
					</ul>
					<div class="price mb-4">
						<b><span class="fs-4 me-1">&#165;</span><span>1980</span></b>
					</div>
					<a href="${object.url}" class="btn btn-primary w-50">查看详细方案 <img src="${site.sitePath}assets/img/icon-more-white.svg"></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-pricing card-pricing-c border-0 rounded-3 py-5 my-5 my-lg-0 align-items-center">
					<div class="fs-1 fw-bold">
						<img loading="lazy" src="${site.sitePath}assets/img/icon-plan-lite.svg" alt="单域名授权">
						<div>经济方案</div>
					</div>
					<ul class="p-0 my-3 fs-6p">
						<li class="my-1 my-lg-3">商业授权</li>
						<li class="my-1 my-lg-3">永久</li>
						<li class="my-1 my-lg-3 ">单个域名 / 局域网</li>
						<li class="my-1 my-lg-3">普票、专票、电子发票</li>
						<li class="my-1 my-lg-3">7天专家技术支持</li>
					</ul>
					<div class="price mb-4">
						<b><span class="fs-4 me-1">&#165;</span><span>1980</span></b>
					</div>
					<a href="${object.url}" class="btn btn-white w-50">查看详细方案 <img src="${site.sitePath}assets/img/icon-more.svg" alt="more"></a>
					<div class="tag position-absolute">
						多数选择
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-pricing border-0 rounded-3 mx-0 mx-md-2 py-4 align-items-center">
					<div class="fs-1 fw-bolder">
						<img loading="lazy" src="${site.sitePath}assets/img/icon-plan-premium.svg" alt="不限域名授权">
						<div style="color: #E1C1A8;">高级方案</div>
					</div>
					<ul class="p-0 my-3 fs-6p">
						<li class="my-1 my-lg-3">商业授权</li>
						<li class="my-1 my-lg-3">永久</li>
						<li class="my-1 my-lg-3 text-secondary">不限域名</li>
						<li class="my-1 my-lg-3">普票、专票、电子发票</li>
						<li class="my-1 my-lg-3 text-secondary">30天专家技术支持</li>
					</ul>
					<div class="price mb-4">
						<b><span class="fs-4 me-1">&#165;</span><span>9800</span></b>
					</div>
					<a href="${object.url}" class="btn btn-primary w-50">查看详细方案 <img src="${site.sitePath}assets/img/icon-more-white.svg" alt="more"></a>
				</div>
			</div>
		</div>
		</@cms.category>

		<div class="btn-group my-4 pt-4" role="group" aria-label="Basic radio toggle button group">
			<input type="radio" class="btn-check" name="btnradio" id="price-basic" value="1980,1980,9800" autocomplete="off" checked>
			<label class="btn btn-outline-primary btn-price-tab" for="price-basic">
				<span class="fs-5 text-nowrap">基础价格</span>
				<div class="fs-8">一次性采购1-4套</div>
			</label>

			<input type="radio" class="btn-check" name="btnradio" id="price-off-20" value="1584,1584,7840" autocomplete="off">
			<label class="btn btn-outline-primary btn-price-tab" for="price-off-20">
				<span class="fs-5 text-nowrap">8折价格</span>
				<div class="fs-8">一次性采购5-9套<br>/3年内累计采购5套及以上</div>
			</label>

			<input type="radio" class="btn-check" name="btnradio" id="price-off-30" value="1386,1386,6860" autocomplete="off">
			<label class="btn btn-outline-primary btn-price-tab" for="price-off-30">
				<span class="fs-5 text-nowrap">7折价格</span>
				<div class="fs-8">一次性采购10套及以上<br>/3年内累计采购10套及以上</div>
			</label>
		</div>

		<div class="row justify-content-center my-5">
			<div class="col-10 col-md-8 fs-8 text-body text-opacity-50">
				<p class="mb-2">授权升级更高版本，之前版本金额可以全额抵扣。</p>
				<p class="mb-2">单域名商业授权为顶级域名，如 publiccms.com 授权，也可以在其二级域名下使用。</p>
				<p class="mb-2">授权单位为网站主办者，单域名商业授权、不限域名商业授权单位可以将自己购买的授权授予下属不具备法人资格的分支机构，如分公司，子部门使用，无权将自己购买的授权授予子公司及其他单位使用。</p>
				<p class="mb-2">所有用户均可通过社区、QQ交流群等方式获得长期的免费技术支持。</p>
			</div>
		</div>

		<div class="row gx-3 justify-content-center mt-5 px-0 px-md-5 mx-0 mx-md-5">
			<div class="col-md-4">
				<div class="card border-0">
					<div>
						<img loading="lazy" src="${site.sitePath}assets/img/index-service-1.svg" class="img-fluid">
					</div>
					<div class="card-body px-0">
						<h3>模板制作(可包含切图)</h3>
						<div class="text-secondary fs-6 mb-1">15000元起(16页面左右)</div>
						<p class="text-body text-opacity-25 fs-8">含3%税率<br/>普票、专票、电子发票</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card border-0">
					<div>
						<img loading="lazy" src="${site.sitePath}assets/img/index-service-2.svg" class="img-fluid">
					</div>
					<div class="card-body px-0">
						<h3>一对一远程技术支持</h3>
						<div class="text-secondary fs-6 mb-1">4800元/年(不超过两位工程师)<br/>2000元/年/位工程师</div>
						<p class="text-body text-opacity-25 fs-8">含3%税率<br/>普票、专票、电子发票</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card border-0">
					<div>
						<img loading="lazy" src="${site.sitePath}assets/img/index-service-3.svg" class="img-fluid">
					</div>
					<div class="card-body px-0">
						<h3>等保(二级、三级)技术支持</h3>
						<div class="text-secondary fs-6 mb-1">5000元/次</div>
						<p class="text-body text-opacity-25 fs-8">含3%税率<br/>普票、专票、电子发票</p>
					</div>
				</div>
			</div>
			<div class="col-11 col-md-9 mt-3">
				<p class="fs-8 text-body text-opacity-50">为避免与使用本产品的其他技术团队产生直接竞争，我们只提供网站制作过程中的模板制作（可包含切图）部分服务，不承接含有二次开发、网站设计的项目。如果您没有设计或技术团队，或以上报价超出您的预算，请选择其他服务商提供网站制作服务。</p>
			</div>
		</div>

	</div>
</div>