<#if siteId?has_content>
	<@_sysSite id=siteId>
		<#assign sysSite=object/>
	</@_sysSite>
</#if>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<#if sysSite?has_content>
					<li>
						<label>站点:</label>${sysSite.name?html}
					</li>
				</#if>
				<li>
					<label>用户名:</label>
					<input type="text" name="name" value="${(name?html)!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="sysFtpUser/add.html?id={sid}" target="navTab" rel="sysFtpUser/edit"><i class="icon-edit icon-large"></i> 修改FTP用户</a></li>
			<li><a href="sysFtpUser/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
<@_sysFtpUserList advanced=true siteId=siteId name=name 
            pageIndex=pageNum count=numPerPage>
	<table class="list" width="100%" layoutH="92">
		<thead>
			<tr>
				<th width="30">ID</th>
				<th>站点ID</th>
				<th>站点</th>
				<th>用户名</th>
				<th>路径</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
				<@t.merge 'siteIds' a.siteId!/>
			</#list>
			
			<@_sysSite ids=t.siteIds!><#assign siteMap=map!/></@_sysSite>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.siteId!}</td>
				<td>${(siteMap[a.siteId?string].name?html)!}</td>
				<td>${(a.name?html)!}</td>
				<td>${(a.path?html)!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</@_sysFtpUserList>
</div>