<@_categoryType id=id><#assign a=object/></@_categoryType>
<div class="pageContent">
    <form method="post" autocomplete="off" action="cmsCategoryType/save.do?callbackType=closeCurrent&navTabId=cmsCategoryType/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input name="id" type="hidden" value="${id!}" />
        <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
        <div class="formBar">
            <ul>
            <@_sysAuthorized roleIds=admin.roles url='cmsCategoryType/save'>
                <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            </@_sysAuthorized>
                <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
            </ul>
        </div>
        <div class="pageFormContent" layoutH="50">
            <dl>
                <dt><@t.page 'name'/>:</dt>
                <dd><input class="required" name="name" type="text" size="20" value="${(a.name)!}"/></dd>
            </dl>
            <dl class="nowrap">
                <dt><@t.page 'sort'/>:</dt>
                <dd><input class="required digits" name="sort" type="number" size="4" value="${(a.sort)!(category.sort)!0}"/></dd>
            </dl>
            <#include "../include_page/extends.html"/>
<#assign categoryExtendList=[]/>
<#if a?has_content>
    <@_sysExtendFieldList extendId=a.extendId>
        <#assign categoryExtendList=list>
    </@_sysExtendFieldList>
</#if>
            <fieldset>
                <legend><@t.page 'category.extend_field'/>(<@t.page 'extend_field.invalid'/>:title,keywords,description)(<@t.page 'metadata.default_value_description'/>)</legend>
                <@extends 'categoryExtends' categoryExtendList/>
            </fieldset>
        </div>
    </form>
</div>