<@_categoryTypeList name=name pageIndex=pageNum pageSize=numPerPage!30>
<form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
</form>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="cmsCategoryType/add.html" target="navTab" rel="cmsCategoryType/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'category_type.add'/></a></li>
            <li><a href="cmsCategoryType/add.html?id={sid}" target="navTab" rel="cmsCategoryType/edit"><i class="icon-edit icon-large"></i> <@t.page 'category_type.edit'/></a></li>
            <li><a href="cmsCategoryType/delete.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="57">
        <thead>
            <tr>
                <th width="30"><@t.page 'id'/></th>
                <th><@t.page 'name'/></th>
                <th><@t.page 'sort'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>${a.id!}</td>
                <td class="exclude-translate">${(a.name)!}</td>
                <td>${a.sort!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_categoryTypeList>