<@cms.categoryTypeList>
<form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
</form>
<div class="card">
    <div class="panelBar">
        <ul class="toolBar">
            <#if !site.parentId?has_content> 
                <li><a href="cmsCategoryType/add.html" target="navTab" rel="cmsCategoryType/add"><i class="icon-plus-sign-alt icon-large"></i><@t.page 'category_type.add'/></a></li>
            </#if>
        </ul>
    </div>
    <table class="table" width="100%" layoutH>
        <thead>
            <tr>
                <th width="50"><@t.page 'id'/></th>
                <th width="250"><@t.page 'name'/></th>
                <th width="50"><@t.page 'sort'/></th>
                <th width="100"><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr>
                <td>${a.id!}</td>
                <td class="exclude-translate">${(a.name)!}</td>
                <td>${a.sort!}</td>
                <td class="wrap">
                    <a href="cmsCategoryType/add.html?id=${a.id}" class="edit btnText blue" target="navTab" rel="cmsCategoryType/edit"><i class="icon-edit"></i><@t.page 'category_type.edit'/></a>
                    <a href="cmsCategoryType/categoryList.html?id=${a.id?url}" class="btnText" target="dialog" rel="categoryList"><i class="icon-folder-open"></i><@t.page 'category'/></a>
                    <#if !site.parentId?has_content> 
                        <a href="cmsCategoryType/delete?id=${a.id}&_csrf=<@tools.csrfToken admin=true/>" class="btnText warn" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash"></i><@t.page 'button.delete'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
</div>
</@cms.categoryTypeList>