<div layoutH="0">
	<ul class="tree treeFolder">
<@_templateList path='/include'+path>
	<#list list as a>
		<@_placeMetadata dir=path><#assign metaDataMap=object/></@_placeMetadata>
		<#if !a.directory&&0 != ((metaDataMap[a.fileName].size)!0)>
		<li>
			<a href="cmsPage/placeDataAdd.html?path=${(path+'/'+a.fileName)?url}&itemType=category&itemId=${categoryId!}&url=${url!}&title=${title!}" target="navTab" rel="cmsPage/push_to_place">${(metaDataMap[a.fileName].alias)!a.fileName}</a>
		</li>
		</#if>
	</#list>
</@_templateList>
  	</ul>
</div>
<script>
$('#push_page_list ul li a',$.pdialog.getCurrent()).click(function(){
	$.pdialog.closeCurrent();
});
</script>