<#macro pageTree filepath=''>
	<@_templateList path=filepath>
		<@_metadata dir=filepath><#local metaDataMap=object/></@_metadata>
		<#list list as a>
			<@t.merge 'pages' filepath+'/'+a.fileName/>
		</#list>
		<@_sysDeptPage deptId=admin.deptId!'' pages=t.pages!><#assign deptPageMap=map!/></@_sysDeptPage>
		<#list list as a>
			<#local path=filepath+'/'+a.fileName>
			<#if 'ftl'!=a.fileName&&(deptPageMap[path])?has_content&&deptPageMap[path]>
				<li>
				<#if a.directory>
					<a href="javascript:;" onclick="return false;">
						${a.fileName} ${(metaDataMap[a.fileName].alias)?has_content?then('('+metaDataMap[a.fileName].alias+')','')}
					</a>
					<ul>
						<@pageTree path/>
					</ul>
				<#else>
					<a href="cmsCategory/push_page_list.html?path=${path?url}&categoryId=${categoryId!}&url=${url!}&title=${title!}" target="ajax" rel="push_page_list">
						${a.fileName} ${(metaDataMap[a.fileName].alias)?has_content?then('('+metaDataMap[a.fileName].alias+')','')}
					</a>
				</#if>
				</li>
			</#if>
		<#else>
			<li><a>空目录</a></li>
		</#list>
	</@_templateList>
</#macro>
<div class="pageContent">
	<div class="unitBox" style="float:left; display:block; overflow:auto; width:50%;border-right:solid 1px #CCC;background:#ffffff">
		<ul class="tree expand">
			<li>
				<a href="javascript:;" onclick="return false;">页面</a>
				<ul>
					<@pageTree/>
				</ul>
			</li>
		</ul>
	</div>
	<div id="push_page_list" class="unitBox" style="margin-left:50%;">
	</div>
</div>