<@_voteUserList lotteryId=lotteryId userId=userId ip=ip startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<input type="hidden" name="lotteryId" value="${lotteryId!}" />
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>用户:</label>
					<input type="text" name="userId" value="${userId!}" />
				</li>
				<li>
					<label>IP:</label>
					<input type="text" name="ip" value="${ip!}" />
				</li>
				<li>
					<label>创建日期:</label>
					<input type="text" name="startCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
					<span>-</span>
					<input type="text" name="endCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>用户</th>
				<th>选项</th>
				<th>IP</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.userId!}</td>
				<td><@_voteItem ids=a.itemIds count=5><#list map?values as i>${i.title}<#sep>,</#list></@_voteItem></td>
				<td>${a.ip!}</td>
				<td>${a.createDate!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_voteUserList>