<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.publiccms.logic.mapper.tools.SqlMapper">
	<select id="select" parameterType="String" resultType="map">
		${sql}
	</select>
	<select id="query" parameterType="String" resultType="map">
		${sql}
	</select>
	<insert id="insert" parameterType="String">
		${sql}
	</insert>
	<update id="update" parameterType="String">
		${sql}
	</update>
	<delete id="delete" parameterType="String">
		${sql}
	</delete>
</mapper>