<div class="pageFormContent" layoutH="50">
    <ul class="tree treeFolder expand">
        <li><a href="cmsCategory/add.html?parentId=${parentId!}" target="navTab" rel="cmsCategory/add" icon="<i class='icon-plus-sign-alt icon-large'></i>"><@t.page 'category.add'/></a></li>
<@_categoryTypeList>
    <#list page.list as a>
        <li><a href="cmsCategory/add.html?parentId=${parentId!}&typeId=${a.id}" target="navTab" rel="cmsCategory/add" icon="<i class='icon-plus-sign-alt icon-large'></i>"><@t.page 'button.add_some_things' a.name/></a></li>
    </#list>
</@_categoryTypeList>
    </ul>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
<script>
$('ul li a',$.pdialog.getCurrent()).click(function(){
    $.pdialog.closeCurrent();
});
</script>
