<h2 class="contentTitle"><#if site.useStatic>使用静态化时，请您选择静态化路径，并配置分类模板路径。使用动态路径时，请保持静态化路径为空，并将模板设置为可动态访问，可接受参数:id。<#else>请选择分类路径</#if></h2>
<div class="pageFormContent" layoutH="60">
	<ul class="tree treeFolder expand">
		<li>
		<#if site.useStatic>
			<#assign code><#noparse>${category.code}/index.html</#noparse></#assign>
			<a href="javascript:;" onclick="$.bringBack({path:'${code}'});return false;">静态化路径:分类编码/index.html</a>
			<#assign code><#noparse>category/${category.id}.html</#noparse></#assign>
			<a href="javascript:;" onclick="$.bringBack({path:'${code}'});return false;">静态化路径:category/分类ID.html</a>
		</#if>
			<#assign code><#noparse>category.html?id=${category.id}</#noparse></#assign>
			<a href="javascript:;" onclick="$.bringBack({path:'${code}'});return false;">动态路径:模板名.html?id=分类ID</a>
		</li>
	</ul>
</div>
