<div class="pageFormContent" layoutH>
    <ul class="tree treeFolder">
        <li><a href="cmsCategory/changeType?id=${id!}&_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.change_type'/>" target="ajaxTodo"><@t.page 'button.clear_select'/></a></li>
<@cms.categoryTypeList>
    <#list page.list as a>
        <li><a href="cmsCategory/changeType?id=${id!}&typeId=${a.id}&_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.change_type'/>" target="ajaxTodo"><@t.page 'change_type_to' a.name!/></a></li>
    </#list>
</@cms.categoryTypeList>
    </ul>
</div>
<div class="formBar">
    <ul>
        <li><a class="button close" href="cmsCategoryType/list.html" target="navTab" rel="cmsCategoryType/list"><@t.page 'category_type'/></a></li>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
<script>
$('ul li a',$.pdialog.getCurrent()).click(function(){
    $.pdialog.closeCurrent();
});
</script>
