<div class="pageFormContent" layoutH>
    <ul class="tree treeFolder">
    <@cms.categoryModelList categoryId=categoryId>
        <#list list as a>
            <@t.merge 'modelIds' a.id.modelId!/>
        </#list>
        <@cms.model ids=t.modelIds!><#assign modelMap=map!/></@cms.model>
        <#list list as a>
            <li><a href="cmsTemplate/contentForm.html?categoryId=${a.id.categoryId}&modelId=${a.id.modelId}" class="exclude-translate" target="dialog" mask="true">${(modelMap[a.id.modelId].name)!}</a></li>
        </#list>
    </@cms.categoryModelList>
    </ul>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>
<script>
$('ul li a',$.pdialog.getCurrent()).click(function(){
    $.pdialog.closeCurrent();
});
</script>