<#if parent?has_content>
<@cms.categoryList advanced=true parentId=parent pageSize=500>
<ul>
    <#list page.list as a>
        <li<#if a.childIds?has_content> _src="cmsCategory/list.html?parent=${a.id}"</#if>>
            <a href="cmsCategory/category_list.html?parentId=${a.id}" target="ajax" rel="categoryBox" class="exclude-translate">${(a.name)!}</a>
        </li>
    </#list>
</ul>
</@cms.categoryList>
<#else>
<div class="pageContent">
    <div class="leftPageContent">
        <div class="card">
            <ul class="tree treeFolder" layoutH>
                <li>
                    <a href="cmsCategory/category_list.html" target="ajax" rel="categoryBox"><@t.page 'category.parent'/></a>
                    <ul>
                        <@cms.categoryList advanced=true pageSize=500>
                            <#list page.list as a>
                                <li<#if a.childIds?has_content> _src="cmsCategory/list.html?parent=${a.id}"</#if>>
                                    <a href="cmsCategory/category_list.html?parentId=${a.id}" class="exclude-translate" target="ajax" rel="categoryBox">${(a.name)!}</a>
                                </li>
                            </#list>
                        </@cms.categoryList>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="categoryBox" class="rightPageContent">
        <#include "category_list.html"/>
    </div>
</div>
</#if>