<div class="pageContent">
    <div layoutH class="leftPageContent">
        <ul class="card tree treeFolder">
            <li>
                <a href="common/category_list.html" target="ajax" rel="categoryBox"><@t.page 'category.parent'/></a>
                <ul>
                    <@cms.categoryList advanced=true parentId=parentId pageSize=500>
                        <#list page.list as a>
                            <#if a.childIds?has_content>
                                <li _src="common/categoryTree.html?parentId=${a.id}">
                                    <a href="common/category_list.html?categoryId=${a.id}" class="exclude-translate" target="ajax" rel="categoryBox">${(a.name)!}</a>
                                </li>
                            </#if>
                        </#list>
                    </@cms.categoryList>
                </ul>
            </li>
        </ul>
    </div>
    <div id="categoryBox" class="rightPageContent">
        <#include "../common/category_list.html"/>
    </div>
</div>