<#macro categoryTree parentId=''>
    <@_categoryList parentId=parentId advanced=true pageSize=500>
        <#list page.list as a>
            <li>
                <a href="javascript:;" class="exclude-translate" onclick="$('input[name=parentId]',$.pdialog.getCurrent()).val('${a.id}');$('form',$.pdialog.getCurrent()).submit();">${a.name!}</a>
            <#if a.childIds?has_content>
                <ul>
                    <@categoryTree a.id/>
                </ul>
            </#if>
            </li>
        <#else>
            <li><a><@t.page 'empty_directory'/></a></li>
        </#list>
    </@_categoryList>
</#macro>
<script>
$('.pageContent table tbody tr input[name=ids]',navTab.getCurrentPanel()).each(function(){
    if($(this).is(":checked")){
        $('<input type="hidden" name="ids" value="'+$(this).val()+'"/>').appendTo($('.idsToMove',$.pdialog.getCurrent()));
    }
});
if(0==$('.idsToMove input',$.pdialog.getCurrent()).length){
    alertMsg.error('<@t.page 'category.parent.please_select'/>');
    $.pdialog.closeCurrent();
}
</script>
<div class="pageFormContent" layoutH="0">
    <form action="cmsCategory/move.do?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input type="hidden" name="parentId" value=""/>
        <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
        <div class="idsToMove"></div>
        <ul class="tree treeFolder expand">
            <li>
                <a href="javascript:;" onclick="return false;"><@t.page 'category.parent.select'/></a>
                <ul><@categoryTree/></ul>
            </li>
        </ul>
    </form>
</div>