<@_homeGroupPostList siteId=siteId groupId=groupId
            userId=userId disabled=disabled
            orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>群组：</label>
					<input type="text" name="groupId" value="${groupId!}" />
				</li>
				<li>
					<label>用户：</label>
					<input type="text" name="userId" value="${userId!}" />
				</li>
				<li>
					<label>已禁用：</label>
					<input type="text" name="disabled" value="${disabled!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><button type="submit" class="buttonActive">搜索</button></li>
				</ul>
			</div>
		</div>
	</form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='homeGroupPost/add,homeGroupPost/delete'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		<#if authorizedMap['homeGroupPost/delete']>
			<li><a href="homeGroupPost/delete.do" title="确定要删除该些记录吗?" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> 批量删除</a></li>
		</#if>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>群组</th>
				<th>标题</th>
				<th>用户</th>
				<th orderField="scores" class="<#if orderField??&&'scores'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分数</th>
				<th orderField="comments" class="<#if orderField??&&'comments'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">评论数</th>
				<th orderField="clicks" class="<#if orderField??&&'clicks'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">点击数</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
				<th>已禁用</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.siteId!}</td>
				<td>${a.groupId!}</td>
				<td>${a.title!}</td>
				<td>${a.userId!}</td>
				<td>${a.scores!}</td>
				<td>${a.comments!}</td>
				<td>${a.clicks!}</td>
				<td>${a.createDate!}</td>
				<td>${a.disabled!}</td>
				<td>
				<#if authorizedMap['homeGroupPost/delete']>
					<a href="homeGroupPost/delete.do?ids=${a.id}" title="确定要删除这条记录么?" target="ajaxTodo">删除</a>
				</#if>
				<td><a href="homeGroupPost/view.html?id=${a.id}" target="dialog" rel="homeGroupPost_view">查看</a></td>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_homeGroupPostList>