<@_tagType id=id!><#assign a=object/></@_tagType>
<form method="post" autocomplete="off" action="cmsTagType/save.do?callbackType=closeCurrent&navTabId=cmsTagType/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH="50">
        <dl class="nowrap">
            <dt><@t.page 'name'/>:</dt>
            <dd><input class="required" name="name" type="text" maxlength="50" size="20" value="${(a.name)!}"/></dd>
        </dl>
    </div>
</form>