<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder expand">
        <li>
            <a href="javascript:;" onclick="$.bringBack({${field!'typeId'}:'',tagTypeName:''});return false;"><@t.page 'button.clear_select'/></a>
        </li>
<@_tagTypeList count=500>
    <#list page.list as a>
        <li>
            <a href="javascript:;" onclick="$.bringBack({${field!'typeId'}:'${a.id}',tagTypeName:'${a.name}'});return false;">${a.name!}</a>
        </li>
    <#else>
        <li><a><@t.page 'empty_directory'/></a></li>
    </#list>
</@_tagTypeList>
    </ul>
</div>