<@_lottery id=id><#assign a=object/></@_lottery>
<form method="post" action="cmsLottery/save.do?callbackType=closeCurrent&navTabId=cmsLottery/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id" type="hidden" value="${id!}" />
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl class="nowrap">
			<dt>标题:</dt>
			<dd><input class="required" name="title" type="text" size="60" value="${(a.title)!}"/></dd>
		</dl>
		<dl>
			<dt>开始日期:</dt>
			<dd>
				<input class="required date" name="startDate" type="text" size="15" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.startDate)!}"/>
				<a class="inputDateButton" href="javascript:;" onclick="return false;">选择</a>
			</dd>
		</dl>
		<dl>
			<dt>结束日期:</dt>
			<dd>
				<input class="required date" name="endDate" type="text" size="15" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.endDate)!}"/>
				<a class="inputDateButton" href="javascript:;" onclick="return false;">选择</a>
			</dd>
		</dl>
		<dl>
			<dt>奖品总数:</dt>
			<dd><input class="required digits" name="totalCount" type="number" size="3" value="${(a.totalCount)!}"/></dd>
		</dl>
		<dl>
			<dt>每天发放数量:</dt>
			<dd><input class="required digits" name="dayCount" type="number" size="3" value="${(a.dayCount)!}"/></dd>
		</dl>
		<dl>
			<dt>剩余数量:</dt>
			<dd><input class="required digits" name="lastCount" type="number" size="3" value="${(a.lastCount)!}"/></dd>
		</dl>
		<dl>
			<dt>每天可抽奖次数:</dt>
			<dd><input class="required digits" name="lotteryCount" type="text" size="3" value="${(a.lotteryCount)!}"/></dd>
		</dl>
		<dl class="nowrap">
			<dt>中奖概率:</dt>
			<dd><input class="required digits" name="fractions" type="text" size="3" value="${(a.fractions)!}"/><label style="width:2px;">/</label><input class="required digits" name="numerator" type="text" size="3" value="${(a.numerator)!}"/></dd>
		</dl>
		<dl class="nowrap">
			<dt>描述:</dt>
			<dd><textarea class="required" name="description" maxlength="300" style="width: 100%;" rows="5"/>${(a.description)!}</textarea></dd>
		</dl>
	</div>
</form>