<@_lotteryList startStartDate=startStartDate endStartDate=endStartDate startEndDate=startEndDate endEndDate=endEndDate
            orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>开始日期:</label>
					<input type="text" name="startStartDate" size="15" class="date" dateFmt="yyyy-MM-dd" value="${startStartDate!}" />
					<span>-</span>
					<input type="text" name="endStartDate" size="15" class="date" dateFmt="yyyy-MM-dd" value="${endStartDate!}" />
				</li>
				<li>
					<label>结束日期:</label>
					<input type="text" name="startEndDate" size="15" class="date" dateFmt="yyyy-MM-dd" value="${startEndDate!}" />
					<span>-</span>
					<input type="text" name="endEndDate" size="15" class="date" dateFmt="yyyy-MM-dd" value="${endEndDate!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="cmsLottery/add.html" target="navTab" rel="cmsLottery/add"><i class="icon-plus-sign-alt icon-large"></i> 添加抽奖</a></li>
			<li><a href="cmsLottery/add.html?id={sid}" target="navTab" rel="cmsLottery/edit"><i class="icon-edit icon-large"></i> 修改抽奖</a></li>
			<li><a href="cmsLottery/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>标题</th>
				<th orderField="startDate" class="<#if orderField??&&'startDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">开始日期</th>
				<th orderField="endDate" class="<#if orderField??&&'endDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">结束日期</th>
				<th>每天发放数量</th>
				<th>奖品总数</th>
				<th>剩余数量</th>
				<th>每天可抽奖次数</th>
				<th>概率</th>
				<th>描述</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${(a.title)!}</td>
				<td>${a.startDate!}</td>
				<td>${a.endDate!}</td>
				<td>${a.dayCount!}</td>
				<td>${a.totalCount!}</td>
				<td>${a.lastCount!}</td>
				<td>${a.lotteryCount!}</td>
				<td>${a.fractions!}/${a.numerator!}</td>
				<td>${(a.description)!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_lotteryList>