html body{
    color: #31353e;
}
body *{
    font-family: microsoft yahei,Arial;
}
a{
    color: #448af3;
}
.left-page-content{
    border-right: 1px solid #e4e9f2;
}
body #splitBar, body #splitBarProxy{
    top: 60px;
}
/*css3滚动条样式begin*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button:vertical {
  display: none;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: rgba(98, 98, 98, .2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .35);
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, .38);
}
/*css3滚动条样式重写end*/

body header{
    height: 60px;
    border: none;
    background: #131a23;
    color: #afc5f6;
}
body header .logo{
    width: 202px;
}
body header .logo img{
    height: 50px;
    margin: 5px 10px;
}
ul#navMenu{
    top: 0px;
    left: 202px;
}
ul#navMenu li {
    margin: 0px;
}
ul#navMenu li.selected, ul#navMenu li:hover {
    background: #2c3343;
}
ul#navMenu li a {
    color: #afc5f6;
    border: none;
    font-weight: normal;
    line-height: 60px;
    border-radius: 0px;
    padding: 0px 18px;
    display: block;
    font-size: 13px;
}
ul#navMenu li a>i {
    margin-right: 5px;
}
ul#navMenu li.selected a, ul#navMenu li:hover a {
    color: #fff;
}
header ul.nav li {
    line-height: 60px;
    padding: 0px 10px;
}
header ul.nav li a {
    color: #afc5f6;
    font-size: 12px;
}
header ul.nav a:hover {
    color: #fff;
    text-decoration: none;
}


/* 主界面 */
body main{
    position: relative;
    background: #2c3343;
}
main .tabsPage{
    background: rgb(237, 241, 245);
    border: none;
    position: relative;
}
div#leftside{
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: #2c3343;
    color: #8d95a7;
}
div#sidebar{
    background: #2c3343;
    left: 0px;
    display: block;
    top: 0px;
    bottom: 0px;
    width: 202px;
}
body #sidebar #menu{
	background: #222836;
}
#sidebar_s a{
    color: #fff;
}
main .accordion .accordionHeader {
    border: none;
}
main .accordion .accordionContent {
    border: none;
}
main .accordion .accordionHeader h2.collapsable {
    color: #fff;
}
main .accordion .accordionHeader h2{
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    font-weight: normal;
}
main .accordion .accordionHeader h2 .icon{
    line-height: 45px;
}
main .accordion .accordionHeader h2>i{
    margin-right: 5px;
}
.accordionContent .tree a {
    color: #8d95a7;
    line-height: 40px;
    height: auto;
}
.accordionContent .tree div {
    height: auto;
}
.accordionContent .tree div div {
    background: none;
    width: 25px;
    height: 40px;
}
.accordionContent .tree div.hover{
    color: #8d95a7;
}
.accordionContent .tree div.hover a {
    background: #19202f;
    color: #8d95a7;
}
.accordionContent .tree a>i {
    margin-right: 5px;
    width: 16px;
    display: inline-block;
    text-align: center;
}
.accordionContent .tree div.selected a {
    background: #667ea7;
    color: #fff;
}


/* 主界面右侧 */
main .tabsPage .tabsPageHeader{
    background: #516485;
    height: 45px;
    border: none;
}
main .tabsPage .tabsPageHeaderContent{
    margin-left: 91px;
}
main .toggleCollapse, main .tabsPage .tabsLeft, main .tabsPage .tabsRight, main .tabsPage .tabsMore{
    height: 100%;
    line-height: 45px;
    color: #a8b6ce;
    border: none;
}
.tabsPageHeader .toggleCollapse{
    border-right: 1px solid #637799;
    width: 45px;
}
main .tabsPage .tabsLeft{
    left: 46px;
    width: 45px;
}
main .tabsPage .tabsPageHeader li {
    border: none;
    margin: 0px;
}
main .tabsPage .tabsPageHeader li a {
    color: #b5c3db;
    line-height: 45px;
    font-family: microsoft yahei;
    padding: 0px 12px;
}
.tabsPageHeader li a>i {
    margin-right: 5px;
}
main .tabsPage .tabsPageHeader li.selected, main .tabsPage .tabsPageHeader li:hover {
    background: #667ea7;
}
main .tabsPage .tabsPageHeader li.selected a, main .tabsPage .tabsPageHeader li:hover a {
    color: #fff;
    font-weight: normal;
}
main .tabsPage .tabsMoreList {
    top: 45px;
    background: #fff;
    border-color: #dde2ec;
    padding: 0px;
}
main .tabsPage .tabsMoreList li a {
    border: none;
    color: #333;
    line-height: 30px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}
main .tabsPage .tabsMoreList li.selected a, main .tabsPage .tabsMoreList li a:hover {
    background: #667ea7;
    border: none;
    font-weight: normal;
    color: #fff;
}
.tabsPage .tabsMoreList li a>i{
    width: 16px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}
/* 主界面主内容 */
main .pageFormContent{
    padding: 15px;
    box-sizing: border-box;
}
.pageFormContent fieldset {
    background: #fff;
    border: none;
    margin-bottom: 10px;
    position: relative;
    padding: 40px 20px 20px 20px;
}
.pageFormContent fieldset legend {
    border: none;
    position: absolute;
    top: 0px;
    color: #3587ef;
    font-weight: normal;
    font-size: 13px;
    padding: 0px;
    line-height: 40px;
    padding-left: 9px;
}
.pageFormContent fieldset legend:hover {
    background-color: transparent;
    cursor: default;
}
.pageFormContent fieldset legend:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #3587ef;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -4px;
}
.pageFormContent label {
    color: #989eab;
}
.pageFormContent a{
    color: #3587ef;
}
fieldset>label {
    margin-bottom: 10px;
}
main .divider{
    border-style: dashed;
    border-color: #d6dce6
}
main .pageFormContent p{
    min-height: 16px;
}
.unit a.button{
    height: 26px;
    line-height: 27px;
    font-size: 13px;
    border: 1px solid #dde2ec;
    position: relative;
    padding: 0px 15px 0px 30px;
}
.unit a.button:hover {
    background: #516485;
    color: #fff;
    border-color: #516485;
}
.unit a.button:before {
    content: "\f021";
    font-family: FontAwesome;
    position: absolute;
    left: 13px;
}
.pageFormContent fieldset:first-child .unit:first-of-type p:last-child{
    padding: 0px;
}

body .page{
    background: #fff;
}
body .page.work-bench{
    background: rgb(237, 241, 245);
}
body .formBar{
    background: rgb(237, 241, 245);
    border: none;
    padding: 10px;
}
body .formBar li{
    margin-left: 10px;
}
button.buttonActive{
    color: #fff;
    background: #667ea7;
    border: 1px solid #667ea7;
    font-size: 13px;
    font-weight: normal;
}
button.buttonActive:hover {
    background: #5d7298;
    border-color: #5d7298;
}
button.button,a.button{
    color: #516485;
    background: #fff;
    border: 1px solid #dde2ec;
    font-size: 13px;
    font-weight: normal;
}
button.button:hover,a.button:hover{
    background: #eceff3;
    border-color: #dde2ec;
}
.textInput, input.required, body .pagination li.jumpto .textInput {
    border-color: #dde2ec;
}
.pageFormContent dt{
    color: #31353e;
}
body .pageHeader{
    background: #f2f6f9;
    color: #31353e;
    padding: 10px;
}
body .searchBar .subBar{
    top: 11px;
    right: 40px;
}
.searchBar span.connect-string{
    color: #dde2ec;
    font-size: 16px;
}
body .searchBar label{
    padding: 0px 15px;
}
body .searchBar ul.searchContent{
    height: 32px;
    position: relative;
    padding-right: 100px;
    background: none;
}
body .searchBar ul.searchContentHover{
    height: auto;
}
.searchBar ul.searchContent:before{
    content: "\e631";
    font-family:"iconfont" !important;
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #667ea7;
    line-height: 32px;
    width: 30px;
    text-align: right;
}
.searchBar ul.searchContentHover:before{
    content: "\e6f8";
}
body .panelBar{
    border: none;
    height: auto;
}
body .panelBar ul{
    overflow: hidden;
    padding: 5px;
}
body .panelBar li{
    height: auto;
}
body .panelBar .toolBar li a{
    color: #333;
    line-height: 30px;
    padding: 0px 10px;
}
.panelBar .toolBar li a>i{
    color: #3587ef;
    margin-right: 6px;
}
.panelBar .toolBar li a:hover>i{
    color: #fff;
}
body .panelBar .toolBar li a:hover {
    background: #667ea7;
    color: #fff;
}
body .panelBar .toolBar li.line{
    border: none;
    background: #e4e9f2;
    position: relative;
    top: 3px;
}
body table.list, body table.list td{
    border-color: #e4e9f2;
}
body table.list thead tr{
    background: #f8fcfe;
}
body table.list th{
    border-color: #e4e9f2;
    font-weight: normal;
    color: #31353e;
}
.panelBar.pageBar{
    background: #e8ebf2;
}
table.list tbody tr:nth-child(even){
    background: #f8fcfe;
}
table.list tbody tr.hover td{
    background: #e5eaf4;
}
table.list td a {
    color: #448af3;
}
table.list tbody tr.selected td{
    background: #cdd9ed;
}
body .combox .select a{
    height: 28px;
    line-height: 28px;
}
body .panelBar .pages span{
    line-height: 28px;
}
body table.list th.order, body table.list th.asc, body table.list th.desc{
    position: relative;
    background: none;
}
table.list th.order:before, table.list th.asc:before, table.list th.desc:before{
    content: "\e623";
    font-family:"iconfont" !important;
    font-size: 16px;
    position: absolute;
    right: 3px;
    top: 50%;
    color: #667ea7;
    margin-top: -13px;
}
table.list th.asc:before{
    content: "\e654";
    font-size: 12px;
}
table.list th.desc:before{
    content: "\e668";
    font-size: 12px;
}
body a.btnLook{
    background: none;
    position: relative;
}
a.btnLook:before{
    content: "\e66a";
    font-family:"iconfont" !important;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #333;
    text-indent: 0px;
}
.tabs .tabsHeaderContent>ul li a{
    color: #989eab;
    line-height: 40px;
}
body .tabs .tabsHeader li.selected{
    border: none;
    position: relative;
}
.tabs .tabsHeader li.selected:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #516485;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.tabs .tabsHeader li.selected a{
    color: #31353e;
}
body .tabs .tabsHeader{
    height: 40px;
}
.tabs .tabsHeader ul{
    border-bottom: 1px solid #dde2ec;
    box-sizing: border-box;
}
body h2.contentTitle{
    border-color: #e4e9f2;
}

/* 底部样式 */
body footer{
    background: #131a23;
    color: #b5c3db;
    border: 1px solid #131a23;
}
footer a {
    color: #4d84ff;
}
.langList a {
    color: #fff;
    text-decoration: none;
}
.langList a:hover, .langList li.current-lang a{
    color: #4d84ff;
    text-decoration: none;
}
.themeList{
    display:none;
}

/* 弹窗样式 */
body .alert .alertContent {
    background: #fff;
    border: none;
    padding: 0px;
    padding-bottom: 20px;
}
body .alert{
    box-shadow: 0px 0px 18px rgba(157, 159, 168, 0.35);
}
body .alert .alertInner {
    border: none;
    padding: 0px;
}
body .alert .error h1 {
    background: #f2f6f9;
    font-weight: normal;
    border: none;
    height: auto;
    line-height: 40px;
    font-size: 14px;
}
body .alert .alertInner .msg {
    font-size: 13px;
    margin: 20px 10px 20px 25px;
}
body .alert .toolBar{
    text-align: center;
}
body .alert .toolBar ul{
    overflow: hidden;
    display: inline-block;
    float: none;
}
.alert .toolBar .button{
    background: #667ea7;
    color: #fff;
    border-color: #667ea7;
}
.alert .toolBar .button:hover {
    background: #5d7298;
    border-color: #5d7298;
}
body .alertBackground, body .dialogBackground{
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    z-index: 999;
}
body .dialog .formBar{
    border: none;
}
.dialog{
    background: #fff;
}
.dialog .dialogHeader{
    background: #f2f6f9;
}
body .dialog .dialogHeader h1{
    font-weight: normal;
    line-height: 40px;
    height: 40px;
    font-size: 13px;
}
body .dialog .dialogContent{
    border: none;
    padding: 0px;
    width: 100% !important;
}
body .dialog .dialogContent .pageFormContent{
	margin-right: 5px;
}
body .dialog .dialogHeader, body .dialog .dialogHeader_r, body .dialog .dialogHeader_c{
    height: 40px;
}
body .alert h1 {
    border: none;
    background: #f2f6f9;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
body .dialog .dialogHeader .close, body .dialog .dialogHeader .maximize, body .dialog .dialogHeader .minimize, body .dialog .dialogHeader .restore{
    background: none;
    font-family:"iconfont" !important;
    font-size:20px;
    background: none;
    text-indent: 0px;
    color: #a1a4a8;
    width: 22px;
    height: 22px;
    top: 10px;
}
body .dialog .dialogHeader .close{
    right: 10px;
}
body .dialog .dialogHeader .maximize, body .dialog .dialogHeader .restore{
    right: 37px;
}
body .dialog .dialogHeader .minimize{
    right: 65px;
}
.dialog .dialogHeader .close:before{
    content: "\e61a";
}
.dialog .dialogHeader .maximize:before{
    content: "\e673";
}
.dialog .dialogHeader .restore:before{
    content: "\e671";
}
.dialog .dialogHeader .minimize:before{
    content: "\e675";
}
.dialog .dialogHeader_c a:hover {
    color: #3587ef;
    text-decoration: none;
}
body #taskbar{
    background: #131a23;
    height: 40px;
}
body #taskbar .taskbarContent, body #taskbar li .taskbutton{
    height: 100%;
}
body #taskbar li{
    color: #b5c3db;
    height: 40px;
    padding-left: 10px;
}
body #taskbar li .taskbutton span{
    height: auto;
    line-height: 40px;
    width: auto;
    padding-right: 30px;
}
body #taskbar .selected, body #taskbar .hover{
    background: #222836;
    color: #fff;
}
.icon-remove:before{
    content: "\e61a" !important;
    font-family:"iconfont" !important;
    font-size:16px;
}
body #taskbar .close{
    text-indent: 0px;
    width: auto;
    height: auto;
    top: 50%;
    margin-top: -8px;
    right: 8px;
}
body .dialogContent .pageContent{
    border: none;
}


/* 树样式修改 */
.accordionContent .tree.treeFolder a{
    line-height: 30px;
}
.accordionContent .tree.treeFolder div div{
    height: 30px;
}
.tree.treeFolder li>div>div:first-child{
    padding-left: 10px;
}
.accordionContent .tree div.selected div{
    color: #fff;
}
body .tree div div {
    background: none;
}
.tree a {
    color: #333;
}
.tree .hover a, .tree .hover{
    color: #3587ef;
}
.tree .folder_collapsable, .tree .end_collapsable, .tree .folder_expandable, .tree .end_expandable, .tree .collapsable, .tree .expandable, .tree .file,
.tree .last_collapsable, .tree .last_expandable{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 30px;
    width: 25px;
    background: none !important;
}
.tree .folder_collapsable:before{
    content: "\e67d";
}
.tree .end_collapsable:before, .tree .collapsable:before, .tree .last_collapsable:before{
    content: "\e668";
}
.tree .folder_expandable:before, .tree .file:before{
    content: "\e60f";
}
.tree .end_expandable:before, .tree .expandable:before, .tree .last_expandable:before{
    content: "\e603";
}

/* 右键菜单 */
body #contextmenu ul{
    border-color: #dde2ec;
    padding: 0px;
}
body #contextmenu li{
    color: #333;
    line-height: 28px;
    padding: 0px 10px;
    border: none;
}
body #contextmenu li.disabled {
    color: #999;
    cursor: not-allowed;
}
body #contextmenu li.hover {
    border: none;
    background: #667ea7;
    color: #fff;
}
body #contextmenu li.hover.disabled{
    background: transparent;
    color: #999;
}
body #contextmenuShadow{
    background: transparent;
}



/* 下拉选择框 */
body .comboxop{
    border: 1px solid #dde2ec;
    padding: 0px;
}
body .comboxop a{
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: #31353e;
    height: 28px;
    padding: 0px 10px;
    line-height: 28px;
}
body .comboxop .selected, body .comboxop a:hover{
    background: #667ea7;
    color: #fff;
    text-decoration: none;
}