a{color:#448af3}
.left-page-content{border-color:#e4e9f2}
header{background:#131a23;color:#afc5f6}
#navMenu li.selected,#navMenu li:hover{background:#2c3343}
header a{color:#afc5f6}
#navMenu li.selected a,#navMenu li:hover a,header .nav a:hover{color:#fff}
/* 主界面 */
#sidebar,#sidebar_s,main{background:#2c3343}
.tabsPage{background:#edf1f5}
#sidebar #menu{background:#222836}
#sidebar_s a,main .accordion .accordionHeader h2.collapsable{color:#fff}
#leftside,.accordionContent .tree a,.accordionContent .tree div.hover{color:#8d95a7}
.accordionContent .tree div.hover a{background:#19202f;color:#8d95a7}
.accordionContent .tree div.selected a{background:#667ea7;color:#fff}
.tabsPage .tabsPageHeader{background:#516485}
.tabsPage .tabsLeft,.tabsPage .tabsMore,.tabsPage .tabsRight,.toggleCollapse{color:#a8b6ce}
.tabsPageHeader .toggleCollapse{border-color:#637799}
.tabsPage .tabsPageHeader li a{color:#b5c3db}
.tabsPage .tabsPageHeader li.selected,.tabsPage .tabsPageHeader li:hover{background:#667ea7}
.tabsPage .tabsPageHeader li.selected a,.tabsPage .tabsPageHeader li:hover a{color:#fff}
.tabsPage .tabsMoreList{background:#fff;border-color:#dde2ec}
.tabsPage .tabsMoreList li a:hover,.tabsPage .tabsMoreList li.selected a{background:#667ea7;color:#fff}
.pageFormContent fieldset legend:before{background:#3587ef}
.unit a.button:hover{background:#516485;color:#fff;border-color:#516485}
button.buttonActive{color:#fff;background:#667ea7;border-color:#667ea7}
button.buttonActive:hover{background:#5d7298;border-color:#5d7298}
a.button,button.button{color:#516485;background:#fff;border-color:#dde2ec}
a.button:hover,button.button:hover{background:#eceff3;border-color:#dde2ec}
.pagination li.jumpto .textInput,.textInput,input.disabled,input.error,input.focus,input.readonly,input.required,textarea.disabled,textarea.error,textarea.focus,textarea.readonly,textarea.required{border-color:#dde2ec}
.pageHeader{background:#f2f6f9}
.searchBar ul.searchContent:before{color:#667ea7}
.panelBar .toolBar li a>i{color:#3587ef}
.panelBar .toolBar li a:hover>i{color:#fff}
.panelBar .toolBar li a:hover{background:#667ea7;color:#fff}
.panelBar .toolBar li.line{background:#e4e9f2}
table.list,table.list td{border-color:#e4e9f2}
table.list thead tr{background:#f8fcfe}
table.list th{border-color:#e4e9f2}
.panelBar.pageBar{background:#e8ebf2}
table.list tbody tr:nth-child(even){background:#f8fcfe}
table.list tbody tr.hover td{background:#e5eaf4}
table.list td a{color:#448af3}
table.list tbody tr.selected td{background:#cdd9ed}
table.list th.asc:before,table.list th.desc:before,table.list th.order:before{color:#667ea7}
.tabs .tabsHeader li.selected:before{background:#516485}
footer{background:#131a23;color:#b5c3db}
footer a{color:#4d84ff}
.langList a{color:#fff}
.langList a:hover,.langList li.current-lang a{color:#4d84ff}
/* 弹窗 */
.alert .error h1{background:#f2f6f9}
.alert .toolBar .button{background:#667ea7;color:#fff;border-color:#667ea7}
.alert .toolBar .button:hover{background:#5d7298;border-color:#5d7298}
.dialog .dialogHeader{background:#f2f6f9}
.dialog .dialogHeader_c a:hover{color:#3587ef}
#taskbar{background:#131a23}
#taskbar .hover,#taskbar .selected{background:#222836;color:#fff}
.tree .hover,.tree .hover a{color:#3587ef}
#contextmenu li.hover{background:#667ea7;color:#fff}
.comboxop .selected,body .comboxop a:hover{background:#667ea7;color:#fff}
/* 日期控件 */
#calendar .days dd.slt,#calendar .days dd.slt:hover{background:#516485;color:#fff}
#calendar .clearBut,#calendar .okBut{color:#333;background-color:#fff;border-color:#e4e9f2}
#calendar .clearBut{border-color:#667ea7;background:#667ea7;color:#fff}
#calendar .clearBut:hover{background:#5d7298;border-color:#5d7298}
#calendar .okBut:hover{background:#eceff3;border-color:#dde2ec}
#calendar .tm .hh li:hover,#calendar .tm .mm li:hover,#calendar .tm .ss li:hover{background:#516485;color:#fff}
#calendar .close:hover{color:#3587ef}