<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>管理后台 - ${site.name}</title>
	<link href="${res}/themes/css/core.css" rel="stylesheet" media="screen"/>
	<link href="${res}/themes/css/print.css" rel="stylesheet" media="print"/>
	<link href="${res}/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
	<!--[if IE 7]>
	<link href="${res}/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" >
	<![endif]-->
	<!--[if lte IE 9]>
		<link href="${res}/themes/css/ieHack.css" rel="stylesheet" media="screen"/>
		<script src="${res}/js/html5shiv.min.js"></script>
		<script src="${res}/js/respond.min.js"></script>
	<![endif]-->
	<script src="${res}/js/jquery-1.9.1.min.js"></script>
	<script src="${res}/js/jquery.cookie.js"></script>
	<script src="${res}/js/jquery.validate.js"></script>
	<script src="${res}/js/jquery.bgiframe.js"></script>
	<script src="${res}/js/echarts.common.min.js"></script>

	<script>var base="${base}/admin";</script>
	<script src="${res}/ueditor/ueditor.config.js"></script>
	<script src="${res}/ueditor/ueditor.all.min.js"></script>
	<script src="${res}/ueditor/lang/zh-cn/zh-cn.js"></script>

	<script src="${res}/js/dwz.min.js?0801"></script>
	<script src="${res}/js/dwz.regional.zh.js"></script>
	
	<link href="${res}/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
	<script src="${res}/codemirror/lib/codemirror.js"></script>
	<script src="${res}/codemirror/mode/xml/xml.js"></script>
	<script src="${res}/codemirror/mode/javascript/javascript.js"></script>
	<script src="${res}/codemirror/mode/css/css.js"></script>
	<script src="${res}/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="${res}/codemirror/mode/freemarker/freemarker.js"></script>
	<script src="${res}/codemirror/mode/freemarkermixed/freemarkermixed.js"></script>
	<script src="${res}/codemirror/mode/nginx/nginx.js"></script>
	<script>
$(function(){
	DWZ.init("${res}/dwz.frag.html", {
		loginUrl:"login_dialog.html", loginTitle:"登录",
		statusCode:{ok:200, error:300, timeout:301}, //【可选】
		pageInfo:{pageNum:"pageNum", numPerPage:"numPerPage", orderField:"orderField", orderDirection:"orderType"}, //【可选】
		debug:false,	// 调试模式 【true|false】
		callback:function(){
			initEnv();
			$("#themeList").theme({themeBase:"${res}/themes",defaultTheme:"azure"}); // themeBase 相对于index页面的主题base路径
		}
	});
});
var ueditor_loader={};
function editorSyn(ename){
	$.each(ueditor_loader[ename],function(i){
		this.sync();
	});
}
	</script>
</head>
<body scroll="no">
<header>
	<a class="logo" href="./"></a>
	<ul class="nav">
		<li>${(admin.nickName?html)!}</li>
		<@_sysAuthorized roleIds=admin.roles url='clearCache'>
			<li><a href="clearCache" target="ajaxTodo">刷新缓存</a></li>
		</@_sysAuthorized>
		<li><a href="logout">退出</a></li>
	</ul>
	<ul id="navMenu">
<@_sysMoudleList>
	<#list page.list as a>
		<@t.merge 'moudleIds' a.id!/>
	</#list>
	<@_sysRoleMoudle roleIds=admin.roles moudleIds=t.moudleIds!><#assign roleMoudleMap=map!/></@_sysRoleMoudle>

	<#list page.list as a>
		<#if (roleMoudleMap[a.id?string])??&&roleMoudleMap[a.id?string]>
			<#if !parentId?has_content><#assign parentId=a.id/></#if>
			<li><a href="${a.url?has_content?then(a.url,'menus.html?parentId='+a.id)?html}">${a.attached!} ${a.name}</a></li>
		</#if>
	</#list>
</@_sysMoudleList>
	<@_masterSite>
		<li><a href="sysSite/menu.html"><i class="icon-sitemap icon-large"></i> 站点</a></li>
	</@_masterSite>
	</ul>
	<script>$('#navMenu li:eq(0)').addClass("selected");</script>
</header>
<main>
	<div id="leftside">
		<div id="sidebar_s">
			<div class="collapse">
				<div class="toggleCollapse"><div></div></div>
			</div>
		</div>
		<div id="sidebar">
			<div class="toggleCollapse"><div></div></div>
			<div id="menu">
<#include "menus.html"/>
			</div>
		</div>
	</div>
	<div id="navTab" class="tabsPage">
		<div class="tabsPageHeader">
			<div class="tabsPageHeaderContent">
				<ul class="navTab-tab">
					<li tabid="main" class="main"><a href="javascript:;"><i class="icon-home icon-large"></i> 工作台</a></li>
				</ul>
			</div>
			<div class="tabsLeft">left</div>
			<div class="tabsRight">right</div>
			<div class="tabsMore">more</div>
		</div>
		<ul class="tabsMoreList">
			<li><a href="javascript:;"><i class="icon-home icon-large"></i> 工作台</a></li>
		</ul>
		<div class="navTab-panel tabsPageContent layoutBox">
			<div class="page unitBox">
				<#include "main.html"/>
			</div>
		</div>
	</div>
</main>
<footer>
	Copyright &copy; ${.now?string('yyyy')}
	<ul class="themeList" id="themeList">
		<li theme="azure"><div class="selected">天蓝</div></li>
		<li theme="silver"><div>银色</div></li>
		<li theme="purple"><div>紫色</div></li>
		<li theme="default"><div>淡青</div></li>
	</ul>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?bd81f02e5329554415de9ee15f916a98";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>