<div class="pageContent">
	<form action="loginDialog.do?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="57">
			<dl>
				<dt>帐号:</dt>
				<dd><input type="text" name="username" title="账号"/></dd>
			</dl>
			<dl>
				<dt>密码:</dt>
				<dd><input type="password" name="password" title="密码"/></dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">登陆</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script>
$('input[name=username]')[0].focus();
</script>