<#function useFile filePath fileName>
	<#assign fileSuffix = fileName?keep_after_last('.')/>
	<#switch fileSuffix>
		<#case 'css'>
			<#return r'<link href="${site.sitePath}'+filePath+'" rel="stylesheet"/>'/><#break>
		<#case 'js'>
			<#return r'<script src="${site.sitePath}'+filePath+'"></script>'/><#break>
		<#case 'jpg'>
		<#case 'png'>
		<#case 'bmp'>
		<#case 'gif'>
			<#return r'<img src="${site.sitePath}'+filePath+'"/>'/><#break>
		<#case 'ico'>
			<#return r'<link rel="shortcut icon" href="${site.sitePath}'+filePath+'"/>'/><#break>
		<#case 'ogg'>
		<#case 'webm'>
		<#case 'mpeg'>
		<#case 'mpg'>
		<#case 'mov'>
		<#case 'rm'>
		<#case 'ram'>
		<#case 'avi'>
		<#case 'wmv'>
		<#case 'mp4'>
			<#return r'<video controls="controls"><source src="${site.sitePath}'+filePath+'" type="video/${fileSuffix}" />'/><#break>
		<#case 'wav'>
		<#case 'acc'>
		<#case 'mid'>
		<#case 'midi'>
		<#case 'wma'>
		<#case 'mpga'>
		<#case 'mp3'>
			<#return r'<audio controls="controls" src="${site.sitePath}'+filePath+'"></audio>'/><#break>
		<#case 'rar'>
		<#case 'zip'>
		<#case 'html'>
			<#return r'<a href="${site.sitePath}'+filePath+'">'+fileName+'</a>'/><#break>
		<#default>
			<#return r'${site.sitePath}'+filePath/>
	</#switch>
</#function >
<div class="pageContent">
	<table class="list" width="100%" layoutH="0">
		<thead>
			<tr>
				<th>使用</th>
				<th width="30"></th>
				<th>名称</th>
				<th>修改日期</th>
				<th>创建日期</th>
				<th>文件大小</th>
			</tr>
		</thead>
		<tbody>
	<@_webFileList path=path>
		<#if path?has_content>
			<tr>
				<td></td>
				<td class="tree"><div class="folder_expandable"></div></td>
				<td>
					<a href="cmsWebFile/lookup.html?path=${path?keep_before_last('/')}&editor=${editor!'cmsTemplateEditor'}" target="dialog" mask="true" title="${path?keep_before_last('/')}">
						返回上级..
					</a>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</#if>
		<#list list as a>
		<#assign filePath=path?has_content?then(path+'/','/')+a.fileName/>
			<tr>
				<td>
					<#if !a.directory>
						<a class="btnSelect" href="javascript:;" onclick="${editor!'cmsTemplateEditor'}.replaceSelection('${useFile(filePath,a.fileName)}');$.pdialog.closeCurrent();return false;" title="选择">选择</a>
					</#if>
				</td>
				<td class="tree"><div class="${a.directory?then('folder_expandable','file')}" style="width:30px;"></div></td>
				<td>
					<#if a.directory>
						<a href="cmsWebFile/lookup.html?path=${filePath}&editor=${editor!'cmsTemplateEditor'}" target="dialog" mask="true" title="${filePath}">
							${a.fileName}
						</a>
					<#else>
						${a.fileName}
					</#if>
				</td>
				<td>${a.lastModifiedTime?datetime}</td>
				<td>${a.creationTime?datetime}</td>
				<td><@t.fileSize a.size/></td>
			</tr>
		</#list>
	</@_webFileList>
		</tbody>
	</table>
</div>