@charset "utf-8";/* CSS Document */
body {font-family:Tahoma, Arial, Roboto, "宋体";}
html, body, ul, li, dl, dd, dt {margin:0;padding:0;}
a img {border:none;}
a {text-decoration:none;}
table{border-spacing:0;width:100%;border-left:1px solid #ddd;border-top:1px solid #ddd;}
table tr>td, table tr>th{border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px 5px;}
.clearfix-before {*zoom:1;}
.clearfix-before:before {display:block;content:".";height:0;clear:both;visibility:hidden;}
.container {width:1200px;margin:0 auto;clear:both;padding:0px;position:relative;}
.hide{display:none;}
.float-right{float:right}

header {width:100%;border-bottom:2px solid #222;padding:0px;background-color:#f9f9f9;}
header .top-bar {background-color:#222;border-bottom:2px solid #555;font-size:12px;line-height:32px;}
header.fixed-position .top-bar {display:none;}
header .top-bar ul li {display:inline-block;padding:0px 5px;*display:inline;*zoom:1;}
header .top-bar ul li form{display:inline;}
header .top-bar .fleft {float:left;color:#ddd;}
header .top-bar .fright {float:right;}
header .top-bar a {color:#aaa;}
header .top-bar a {color:#aaa;}
header .top-bar input {padding:1px 6px;}
header .top-bar input[type=submit] {background-color:#ddd;border-radius:3px;border:1px solid #ccc;}
header .logo,header .slogan,header nav{padding:10px 0px;}
header .logo {float:left;height:69px;width:193px;}
header .logo img {width:100%;}
header .nav-icon {background:url(../images/head-nav.png) 50% 50% no-repeat;background-size:40%;width:50px;height:50px;float:right;display:none;clear:both;}
header .user-logout {display:none;}
header .slogan {line-height:69px;float:left;padding-left:10px;font-size:14px;}
header nav {float:right;margin-top:20px;}
header nav a {text-decoration:none;color:#333;}
header nav ul li {float:left;display:inline;font-size:16px;font-weight:bold;color:#333;line-height:35px;height:50px;}
header nav ul li a {padding:0 25px;display:block;border-right:1px solid #d4d4d4;}
header nav ul li:last-child a {border-right:0px;}
header nav ul li:hover ul {display:block;}
header nav ul li a:hover, header nav ul li.selected a {color:#fff;background:#222;}
header nav ul li ul {width:120px;line-height:30px;list-style-type:none;text-align:left;position:absolute;display:none;z-index:999;}
header nav ul li ul li {float:left;width:100%;height:30px;margin:0 0 3px 0;font-size:14px;}
header nav ul li ul li a {display:block;height:30px;background-color:#ccc;color:#333;line-height:30px;text-align:center;display:block;font-size:15px;margin:3px auto 0;padding:0;border:0;}
header nav ul li ul li a:hover {background-color:#222;color:#fff;}
header, header .logo, header nav{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}

main {padding-bottom:40px;}
main .bread {line-height:60px;border-bottom:1px solid #eee;margin-bottom:10px;}
main .bread span, main .bread a {padding:3px 8px;font-size:14px;font-weight:bold;margin-right:5px;margin-left:2px;}
main nav {line-height:60px;border-bottom:1px solid #eee;text-align:right;}
main nav .selected {border-bottom:1px solid;}
main nav a {padding:3px 8px;font-size:14px;font-weight:bold;color:#a7f;}
main nav a, main .bread a {text-decoration:none;}
main article h1 {font-size:24px;padding-bottom:24px;margin-bottom:24px;border-bottom:1px solid #eee;line-height:1.5;font-weight:600;word-break:break-word;}
main article h1 a {text-decoration:none;color:#333;}
main article .author {font-size:14px;text-align:center;color:#999;}
main article .author em {color:#f00;}
main article #content {padding-bottom:20px;word-break:break-all;}
main article #content img {max-width:100%;}
main .comment-box input[type=submit]{padding:5px 20px;color: #fff;background: #4271c0;border: 0;cursor: pointer;font-size: 15px;font-weight: bold;border-radius: 2px;}
main .comment-box .comment-text-box{position:relative;width: 80%;margin: 0 auto;}
main .comment-box .comment-text-box textarea{width:100%;height:100px;}
main .comment-box .comment-text-box .cover{position:absolute;left:0;top:0;width:100%;height:100px;z-index:100;padding: 2px;border: 1px solid #ccc;}
main .comment-box .comment-text-box a{position:absolute;left:50%;top:40%;margin-left:-56px;}
main .comment-box .reply{margin-left:40px;border:1px dashed #eee;padding:5px;background-color:#f6f6f6;}
main .comment-box .username{color:#00f;}
main .left-content {float:left;width:800px;}
main .data-list ul {overflow:hidden;margin-bottom:10px;border:1px solid #eee;padding:5px 10px;clear:both;}
main .data-list ul li h3 {font-size:1.17em;color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:10px 0;}
main .data-list ul li a {text-decoration:none;color:#333;}
main .data-list ul li h3 span {float:right;color:#666;font-size:14px;font-weight:normal;}
main .data-list ul li img {max-height:100px;border:1px solid #eee;margin-right:15px;float:left;}
main .data-list ul li {font-size:14px;color:#666;line-height:22px;}
main .data-list ul li p {margin:5px 0;}
main .data-list ul li p a {color:#58a;text-decoration:none;}
main .search {line-height:50px;text-align:center;margin-bottom:10px;}
main .search-condition {border:1px solid #eee;margin-bottom:10px;padding:10px;}
main .search-condition a {margin-right:10px;}
main .tags {color:#333;line-height:30px;}
main .tags em {background-color:#dff;border:1px solid #cbe7ec;padding:2px 5px;color:#58a;}
main .page {padding:20px 0;text-align:center;line-height:30px;}
main .page a, main .page span {padding:2px 10px;border:1px solid #aaa;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-right:5px;}
main .page a {text-decoration:none;color:#333;}
main .page span, main .page .selected {color:#cacaca;}
main .page .selected {border-color:#a7f;}
main aside {float:right;width:380px;}
main aside a {text-decoration:none;color:#333;}
main aside ul {border:1px solid #eee;padding:5px 10px;}
main aside ul.rank li a {width:300px;}
main aside ul li,li.underline {padding:5px 0;border-bottom:1px dashed #eee;list-style:none;}
main aside ul li:last-child,li.underline:last-child {border-bottom:0px;}
main aside ul li span {float:right;color:#aaa;}
main aside ul li:after {display:block;content:".";height:0;clear:both;visibility:hidden;}
main aside ul li a {display:block;float:left;}
main aside ul li a {width:350px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

#right-images img,#index-focus  img{  max-width:100%;  height:auto;  -webkit-border-radius:3px;  -moz-border-radius:3px;  border-radius:3px;}
#right-images h4{  border:1px solid #000;  background:rgba(255,255,255,0.7);  position:absolute;  top:0px;  right:0px;  padding:2px 5px;}
#index-focus{ margin-top:30px;}

footer {background-color:#222;padding-top:35px;border-top:4px solid #555;color:#ccc;font-size:13px;}
footer a {color:#ffffff;}
footer h4.title {margin-bottom:20px;background:none;border-bottom:0;line-height:30px;color:#f9f9f9;font-size:16px;position:relative;}
footer h4.title .head-line {position:absolute;bottom:0;left:0;display:block;width:50px;height:3px;background-color:#333;margin:0;}
footer .background-map {background:url(../images/map.png) center bottom no-repeat;}
footer .column {width:30%;float:left;padding:0px 5% 20px 0px;}
footer .column:last-child, footer .last {padding-right:0px;}
footer .footer-bottom {padding:13px 0 13px;margin-top:20px;border-top:1px solid rgba(255, 255, 255, .06);font-size:12px;color:#bbb;}
footer .footer-bottom ul.friendlink, footer .footer-bottom ul.friendlink label{font-size:10px;color:#666;}
footer .footer-bottom ul.friendlink label {cursor:auto;}
footer .footer-bottom ul.friendlink li {display:inline-block;padding-right:10px;}
footer .footer-bottom ul.friendlink a {border-bottom:1px solid #555;padding:0 4px;margin:0px;display:inline-block;color:#666;}

.global-sidebar {background:rgba(0, 0, 0, .3) none repeat scroll 0 0;border-radius:8px 0 0 8px;bottom:45%;margin-top:80px;padding:5px 0 5px 0;position:fixed;right:0;width:55px;z-index:999;color:#fff;font-size:20px;}
.global-sidebar a {color:#fff;line-height:50px;padding-left:10px;}
.global-sidebar img {width:30px;height:50px;float:left;}
.global-sidebar li {border-radius:8px 0 0 8px;height:50px;padding-left:17px;transition:all .5s ease 0s;width:160px;list-style:none;}
.global-sidebar li img {display:block;}
.global-sidebar li:hover {background:rgba(0, 0, 0, .6) none repeat scroll 0 0;margin-left:-105px;}
.dialog{  display:none;}
.dialog .background{width:100%;opacity:0.4;height:100%;position:fixed;top:0;z-index:1000;background-color:#000;}
.dialog .box{position:fixed;top:50%;margin-left:-200px;margin-top:-212px;left:50%;width:400px;height:424px;z-index:1000;background-color:#000;}
.dialog .box img{width:100%;height:100%;}
.mod-gallery .gallery-end, .mod-gallery .gallery-end a{line-height: 200px;}

@media screen and (min-width :1250px) {
header.fixed-position {position:fixed;top:0;left:0;z-index:999;height:40px;}
header.fixed-position .logo {width:105px;height:40px;padding:0px;}
header.fixed-position .slogan {display:none;}
header.fixed-position nav {margin-top:0;padding:0px;}
header.fixed-position nav ul li {height:40px;line-height:40px;}
header.fixed-position nav ul li ul li {height:30px;line-height:30px;}
main.no-header{padding-top:98px;}
}

@media screen and (min-width :480px) and (max-width :1249px) {
header.fixed-position {position:fixed;top:0;left:0;z-index:999;height:40px;}
header .slogan {display:none;}
header.fixed-position .logo {width:105px;height:40px;padding:0px;}
header.fixed-position nav {margin-top:0;padding:0px;}
header.fixed-position nav ul li {height:30px;line-height:30px;margin-top:5px;}
header.fixed-position nav ul li ul li {height:30px;line-height:30px;}
header.fixed-position nav ul li a {padding:0 10px;}
.container {padding:0 10px;width:auto;}
main.no-header{padding-top:98px;}
main .left-content {float:none;width:100%;}
main aside {float:none;width:100%;}
main aside ul.rank li a {width:100%;}
main aside ul li a {width:100%;}
main .data-list dl dd img {margin-right:10px;}
footer {padding-top:20px;}
footer .column {width:100%;float:none;padding:0px;}
footer .footer-bottom {margin-top:5px;}
}

@media screen and (max-width :479px) {
header nav ul li:hover ul, header .slogan {display:none;}
.container {padding:0 5px;width:auto;}
header .top-bar .hide-in-mobile{display:none;}
header .top-bar input{padding:1px 0;}
header .logo {height:40px;width:105px;padding:0px;}
header .nav-icon {display:block;width:40px;height:40px;}
header nav {float:none;margin-top:0px;padding:0px;}
header nav ul {display:none;border:1px solid;background:#FFF;}
header nav ul li {float:none;text-align:center;}
header nav ul li a {border-right:none;}
header.fixed-position {position:fixed;top:0;left:0;z-index:999;height:40px;}
main.no-header{padding-top:98px;}
main .left-content {float:none;width:100%;}
main .data-list dl dd img {width:30%;margin-right:1%;float:none;}
main aside {float:none;width:100%;}
main aside ul.rank li a {width:100%;}
main aside ul li a {width:100%;}
footer {padding-top:20px;}
footer .column {width:100%;float:none;padding:0px;}
footer .footer-bottom {margin-top:5px;}
.global-sidebar {bottom:5%;}
}