<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>名称:</label>
					<input type="text" name="name" value="${name!}" />
				</li>
				<li class="colspan">
					<label>创建日期:</label>
					<input type="text" name="startCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
					<span>-</span>
					<input type="text" name="endCreateDate" size="15" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="cmsWord/add.html" target="dialog" rel="cmsWord/add"><i class="icon-plus-sign-alt icon-large"></i> 添加搜索词</a></li>
			<li><a href="cmsWord/add.html?id={sid}" target="dialog" rel="cmsWord/edit"><i class="icon-edit icon-large"></i> 修改搜索词</a></li>
			<li><a href="cmsWord/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><i class="icon-trash icon-large"></i> 删除</a></li>
		</ul>
	</div>
<@_wordList name=name advanced=true startCreateDate=startCreateDate endCreateDate=endCreateDate 
            orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
	<table class="list" width="100%" layoutH="92">
		<thead>
			<tr>
				<th>ID</th>
				<th>名称</th>
				<th>站点</th>
				<th orderField="searchCount" class="<#if orderField??&&'searchCount'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">搜索次数</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.name!}${a.hidden?then('[隐藏]','')}</td>
				<td>${a.siteId!}</td>
				<td>${a.searchCount!}</td>
				<td>${a.createDate!}</td>
				<td>
					<a href="cmsWord/add.html?id=${a.id}" target="dialog" rel="cmsWord/edit">修改</a>
					<a href="cmsWord/delete.do?id=${a.id}" title="确定要删除该条记录吗?" target="ajaxTodo">删除</a>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</@_wordList>
</div>