<@_contentProduct id=id><#assign a=object/></@_contentProduct>
<form method="post" autocomplete="off" action="cmsContentProduct/save?callbackType=closeCurrent&navTabId=cmsContentProduct/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl class="nowrap">
                <dt>标题:</dt>
                <dd><input class="required" name="title" type="text" size="80"  maxlength="100" value="${(a.title)!}"/></dd>
            </dl>
            <dl>
                <dt><@t.page 'cover'/>:</dt>
                <dd>
                    <input name="cover" type="text" size="30" value="${(a.cover)!}"/>
                    <a class="btnAttach" href="common/upload.html?field=cover&fileTypes=image" lookupGroup="" width="1000" height="600"><@t.page 'cover'/></a>
                    <#include "../include_page/preview.html"/>
                    <@preview 'product' 'input[name=cover]'/>
                </dd>
            </dl>
            <dl>
                <dt>价格:</dt>
                <dd><input class="required number" name="price" type="text" size="10" maxlength="20" value="${(a.price)!}"/></dd>
            </dl>
            <dl>
                <dt>库存:</dt>
                <dd><input class="required digits" name="inventory" type="text" size="10" maxlength="20" value="${(a.inventory)!}"/></dd>
            </dl>
            <dl>
                <dt>最小购买数量:</dt>
                <dd><input class="digits"  name="minQuantity" type="text" size="10" maxlength="20" value="${(a.minQuantity)!}"/></dd>
            </dl>
            <dl>
                <dt>最大购买数量:</dt>
                <dd><input class="digits" name="maxQuantity" type="text" size="10" maxlength="20" value="${(a.maxQuantity)!}"/></dd>
            </dl>
        </div>
    </div>
</form>