<@_categoryType id=id><#assign a=object/></@_categoryType>
<div class="pageContent">
	<form method="post" action="cmsCategoryType/save.do?callbackType=closeCurrent&navTabId=cmsCategoryType/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="pageFormContent" layoutH="57">
			<dl>
				<dt>名称:</dt>
				<dd><input class="required" name="name" type="text" size="30" value="${(a.name)!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>排序:</dt>
				<dd><input class="required digits" name="sort" type="number" size="4" value="${(a.sort)!(category.sort)!0}"/></dd>
			</dl>
			<#include "../include_page/extends.html"/>
<#if a?has_content>
	<@_sysExtendFieldList extendId=a.extendId>
		<#assign categoryExtendList=page.list>
	</@_sysExtendFieldList>
</#if>
			<fieldset>
				<legend>分类扩展字段</legend>
					<@extends 'categoryExtends' categoryExtendList![]/>
			</fieldset>
		</div>
		<div class="formBar">
			<ul>
			<@_sysAuthorized roleIds=admin.roles url='cmsCategoryType/save'>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
			</@_sysAuthorized>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>