<@_tradeOrderHistory id=id><#assign a=object/></@_tradeOrderHistory>
<form method="post" action="tradeOrderHistory/save.do?callbackType=closeCurrent&navTabId=tradeOrderHistory/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="csrfToken" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>站点ID：</dt>
                <dd><input class="required" name="siteId" type="text" size="30" value="${(a.siteId)!}"/></dd>
            </dl>
            <dl>
                <dt>订单ID：</dt>
                <dd><input class="required" name="orderId" type="text" size="30" value="${(a.orderId)!}"/></dd>
            </dl>
            <dl>
                <dt>用户ID：</dt>
                <dd>
                    <input type="text" name="createDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.createDate)!}"/>
                </dd>
            </dl>
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="content" type="text" size="30" value="${(a.content)!}"/></dd>
            </dl>
        </div>
    </div>
</form>