<style>
.CodeMirror{height:100%;line-height:16px;}
</style>
<script>
function refreshTaskTemplate(){
	$('textarea[name=content]',navTab.getCurrentPanel()).val(taskTemplateEditor.getValue());
}
</script>
<form method="post" action="taskTemplate/save.do?navTabId=taskTemplate/list" class="pageForm required-validate" onsubmit="refreshTaskTemplate();return validateCallback(this, navTabAjaxDone);">
	<div class="formBar">
		<ul>
			<#if !path?starts_with('/ftl/')>
				<li><a class="button" href="taskTemplate/content.html?path=${'/ftl/'?url}" target="ajax" rel="taskTemplateBox">创建模板片段</a></li>
			</#if>
			<li><a class="button" href="taskTemplate/delete.do?path=${path?html?url}&navTabId=taskTemplate/list" title="确定要删除该模板吗?" target="ajaxTodo">删除模板</a></li>
			<li><button type="submit" class="buttonActive">保存</button></li>
		</ul>
	</div>
	<h2 class="contentTitle">
	 	<a class="button" href="taskTemplate/chipLookup.html" target="dialog" mask="true">使用模板片段</a>
	</h2>
	<div class="pageFormContent" layoutH="100">
		<div style="height: 24px;padding: 0 5px;">
			<label>路径:</label><input name="path" class="required" type="text" maxlength="50" size="50" value="${(path?html)!}"/>
		</div>
   		<div> 
			<textarea name="content" id="taskTemplateEditor"><@_taskTemplateContent path=path>${(object?html)!}</@_taskTemplateContent></textarea>
			<script>
				var taskTemplateEditor = CodeMirror.fromTextArea(document.getElementById('taskTemplateEditor'), {
			        mode: "freemarker",
			        lineNumbers: true,
			        tabSize        : 4,
			        indentUnit     : 4,
			        indentWithTabs : true
				});
			</script>
		</div>
	</div>
</form>