<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${(attribute.title)!category.name}</title>
	<meta name="keywords" content="${(attribute.keywords)!}"/>
	<meta name="description" content="${(attribute.description)!}"/>
<@_includePlace path="/76c53ac2-4f88-4ef3-984b-c81d00a48089.html"/> <#-- 头部Header -->
</head>
<body>
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<main>
	<nav class="container">
		<@_categoryList parentId=category.id>
			<#list page.list as a>
				<a href="${a.url}">${a.name}</a>
			</#list>
		</@_categoryList>
	</nav>
	<div class="container bread">
		<@include path="/ftl/echoBread.ftl"/>
		<@echoBread category.id/>
	</div>
	<div class="container">
		<div class="data-list left-content">
<#if 1=pageIndex>
			<h3>最新文章</h3>
</#if>
<@_contentList categoryId=category.id containChild=true pageIndex=pageIndex count=category.pageSize>
	<@import path="/ftl/tools.ftl" namespace="t"/>
	<#list page.list as a>
		<@include path="/ftl/data-list.ftl"/>
	</#list>
	<#if 1=pageIndex>
			<div class="page">
			<#if !page.lastPage>
				<a href="${getPage(url,page.nextPage)}">查看更多</a>
			<#else>
				<span>查看更多</span>
			</#if>
			</div>
		<#else>
		<@include path="/ftl/category_page.ftl"/>
	</#if>
</@_contentList>
		</div>
		<aside>
			<@_includePlace path="/category/list.html/49d393ca-f0f1-4723-a9b0-6f9b6d7cc04d.html"/> <#-- 编辑推荐 -->
			<@_includePlace path="/category/list.html/3435e9a7-565a-4f93-8670-9c272a1d51cc.html"/> <#-- 精彩图集 -->
			<div>
				<h3>热门排行</h3>
				<ul class="rank">
<@_contentList categoryId=category.id containChild=true orderField='clicks' count=10>
	<#list page.list as a>
					<li><a href="${a.url!}" target="_blank">${a.title}</a><span>${a.clicks}</span></li>
	</#list>
</@_contentList>
				</ul>
			</div>
		</aside>
	</div>
	<div class="clearfix-before"></div>
</main>
<@_includePlace path="/cc29e896-332a-46d8-9bcb-d48e92144e9c.html"/> <#-- 尾部Footer -->
<script>
	$("header nav ul li a:contains('${category.name}')").parent().addClass('selected');
</script>
</body>
</html>