<#macro placeTree filepath=''>
	<@_templateList path='/include'+filepath>
		<@_placeMetadata dir=filepath><#local metaDataMap=object/></@_placeMetadata>
		<#list list as a>
			<@t.merge 'pages' '/include'+filepath+'/'+a.fileName/>
		</#list>
		<@_sysDeptPage deptId=admin.deptId!'' pages=t.pages!><#assign deptPageMap=map!/></@_sysDeptPage>
		<#list list as a>
			<#local path=filepath+'/'+a.fileName>
			<#if (deptPageMap['/include'+path])?has_content&&deptPageMap['/include'+path]>
				<li>
					<#if a.directory>
						<a href="javascript:;" onclick="return false;">${a.fileName}</a>
						<ul><@placeTree path/></ul>
					<#elseif 0=((metaDataMap[a.fileName].size)!0)>
						<a href="cmsPlace/publish_place.html?path=${path?url}" target="ajax" rel="placeBox">${(metaDataMap[a.fileName].alias)!a.fileName}</a>
					<#else>
						<a href="cmsPlace/dataList.html?path=${path?url}" target="navTab" rel="cmsPlace/dataList">${(metaDataMap[a.fileName].alias)!a.fileName} (${(metaDataMap[a.fileName].size)!}) ${(metaDataMap[a.fileName].allowContribute?then('允许投稿',''))!}</a>
					</#if>
				</li>
			</#if>
		<#else>
			<li><a>空目录</a></li>
		</#list>
	</@_templateList>
</#macro>
<div class="pageContent">
	<div layoutH="0" style="float:left; display:block; overflow:auto; width:240px;border-right:solid 1px #CCC; line-height:21px;background:#ffffff">
		<ul class="tree treeFolder">
			<@placeTree/>
	     </ul>
	</div>
	<div id="placeBox" class="unitBox" style="margin-left:240px;">
	</div>
</div>