<#macro placeTree filepath=''>
    <@_templateList path='/include'+filepath orderField='createDate'>
        <#list list as a>
            <@t.merge 'pages' '/include'+filepath+'/'+a.fileName/>
        </#list>
        <@_sysDeptPage deptId=admin.deptId!'' pages=t.pages!><#assign deptPageMap=map!/></@_sysDeptPage>
        <#list list as a>
            <#local path=filepath+'/'+a.fileName>
            <#if (deptPageMap['/include'+path])?has_content&&deptPageMap['/include'+path]>
                <li>
                <@_placeMetadata path=path>
                    <#if a.directory>
                        <a href="javascript:;" onclick="return false;">${a.fileName}</a>
                        <ul><@placeTree path/></ul>
                    <#elseif 0=((object.size)!0)>
                        <a href="cmsPlace/publish_place.html?path=${path?url}" target="ajax" rel="placeBox">${(object.alias)!a.fileName}</a>
                    <#else>
                        <a href="cmsPlace/dataList.html?path=${path?url}" target="navTab" rel="cmsPlace/dataList"><@t.page 'place_data.place'/>:${(object.alias)!a.fileName}</a>
                    </#if>
                </@_placeMetadata>
                </li>
            </#if>
        <#else>
            <li><a><@t.page 'empty_directory'/></a></li>
        </#list>
    </@_templateList>
</#macro>
<div class="pageContent">
    <div layoutH="0" class="left-page-content">
        <ul class="tree treeFolder">
            <@placeTree/>
         </ul>
    </div>
    <div id="placeBox" class="unitBox" style="margin-left:240px;">
    </div>
</div>