<@_contentList categoryId=categoryId modelId=modelId title=title userId=userId startPublishDate=startPublishDate orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" action="cmsPlace/lookup_content_list.html" onsubmit="return divSearch(this, 'lookup_content_list');" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<#include "../include_page/modelId.html"/>
				</li>
				<li>
					<label>发布日期:</label>
					<input type="text" name="startPublishDate" size="15" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${startPublishDate!}" />
					<span>-</span>
					<input type="text" name="endPublishDate" size="15" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endPublishDate!}" />
				</li>
				<li>
					<label>标题:</label>
					<input type="text" size="40" name="title" value="${title!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div>
	<table class="list" width="100%" layoutH="104" targetType="dialog" rel="lookup_content_list">
		<thead>
			<tr>
				<th>使用</th>
				<th width="30">ID</th>
				<th>标题</th>
				<th>发布用户</th>
				<th>分类</th>
				<th>模型</th>
				<th width="40" orderField="scores" class="<#if orderField??&&'scores'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分数</th>
				<th width="40" orderField="comments" class="<#if orderField??&&'comments'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">评论数</th>
				<th width="40" orderField="clicks" class="<#if orderField??&&'clicks'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">点击数</th>
				<th width="70" orderField="publishDate" class="<#if orderField??&&'publishDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">发布日期</th>
				<th width="40">状态</th>
				<th width="60">子内容</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
				<@t.merge 'userIds' a.userId!/>
				<@t.merge 'checkUserIds' a.checkUserId!/>
				<@t.merge 'categoryIds' a.categoryId!/>
				<@t.merge 'modelIds' a.modelId!/>
			</#list>

			<@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
			<@_sysUser ids=t.checkUserIds!><#assign checkUserMap=map!/></@_sysUser>
			<@_category ids=t.categoryIds!><#assign categoryMap=map!/></@_category>
			<@_model ids=t.modelIds!><#assign modelMap=map!/></@_model>

			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>
					<a class="btnSelect" href="javascript:;" onclick="$.bringBack({itemId:'${a.id}', itemType:'content', url:'${a.url}', title:'${a.title?js_string}', description:'${(a.description!)?js_string}',cover:'${(a.cover!)?js_string}'}); return false;" title="选择">选择</a>
				</td>
				<td>${a.id}</td>
				<td>
					<a href="${a.url!}" target="_blank">
						${(a.copied?then('[转载]',''))!}${a.title!}
					</a>
				</td>
				<td>
					<a href="cmsPlace/lookup_content_list.html?userId=${a.userId}" target="ajax" rel="lookup_content_list">
						${(userMap[a.userId?string].nickName)!}
					</a>
				</td>
				<td>
					<a href="cmsPlace/lookup_content_list.html?categoryId=${a.categoryId}" target="ajax" rel="lookup_content_list">
						${(categoryMap[a.categoryId?string].name)!}
					</a>
				</td>
				<td>
					<a href="cmsPlace/lookup_content_list.html?modelId=${a.modelId}" target="ajax" rel="lookup_content_list">
						${(modelMap[a.modelId].name)!}
					</a>
				</td>
				<td>${a.scores!}</td>
				<td>${a.comments!}</td>
				<td>${a.clicks!}</td>
				<td>${a.publishDate!}</td>
				<td>
					<@t.m 'status.content.'+a.status/>
				</td>
				<td>
					<#if modelMap[a.modelId]?has_content&&modelMap[a.modelId].hasChild>
						<a href="cmsPlace/lookup_content_list.html?parentId=${a.id}&categoryId=${a.categoryId}" target="ajax" rel="lookup_content_list">子内容列表</a>
					</#if>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#if page??>
	<div class="pageBar panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="dwzPageBreak({targetType:'dialog',rel:'lookup_content_list', numPerPage:this.value})">
				<option value="30"${(page.pageSize=30)?then(' selected="true"','')?no_esc}>30</option>
				<option value="50"${(page.pageSize=50)?then(' selected="true"','')?no_esc}>50</option>
				<option value="100"${(page.pageSize=100)?then(' selected="true"','')?no_esc}>100</option>
			</select>
			<span>条，共${page.totalCount}条</span>
		</div>
		<div class="pagination" targetType="dialog" rel="lookup_content_list" totalCount="${page.totalCount}" numPerPage="${page.pageSize}" pageNumShown="10" currentPage="${page.pageIndex}"></div>
	</div>
	</#if>
</div>
</@_contentList>