<@_contentList categoryId=categoryId modelId=modelId title=title parentId=parentId userId=userId startPublishDate=startPublishDate orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" action="cmsPlace/lookup_content_list.html" onsubmit="return divSearch(this, 'lookup_content_list');" method="post">
        <#include "../include_page/parameters.html"/>
        <input type="hidden" name="userId" value="${userId!}"/>
        <input type="hidden" name="categoryId" value="${categoryId!}"/>
        <input type="hidden" name="parentId" value="${parentId!}"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <#include "../include_page/modelId.html"/>
                </li>
                <li>
                    <label><@t.page 'publish_date'/>:</label>
                    <input type="text" name="startPublishDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startPublishDate!}" />
                    <span>-</span>
                    <input type="text" name="endPublishDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endPublishDate!}" />
                </li>
                <li>
                    <label><@t.page 'title'/>:</label>
                    <input type="text" size="40" name="title" value="${title!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="list" width="100%" layoutH="127" targetType="dialog" rel="lookup_content_list">
        <thead>
            <tr>
                <th><@t.page 'use'/></th>
                <th width="30"><@t.page 'id'/></th>
                <th><@t.page 'title'/></th>
                <th><@t.page 'content.promulgator'/></th>
                <th><@t.page 'category'/></th>
                <th><@t.page 'model'/></th>
                <th width="40" orderField="scores" class="<#if orderField??&&'scores'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'content.score'/></th>
                <th width="40" orderField="comments" class="<#if orderField??&&'comments'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'content.comments'/></th>
                <th width="40" orderField="clicks" class="<#if orderField??&&'clicks'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'clicks'/></th>
                <th width="70" orderField="publishDate" class="<#if orderField??&&'publishDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'publish_date'/></th>
                <th width="40"><@t.page 'status'/></th>
                <th width="60"><@t.page 'content.child'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
                <@t.merge 'checkUserIds' a.checkUserId!/>
                <@t.merge 'categoryIds' a.categoryId!/>
                <@t.merge 'modelIds' a.modelId!/>
            </#list>

            <@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
            <@_sysUser ids=t.checkUserIds!><#assign checkUserMap=map!/></@_sysUser>
            <@_category ids=t.categoryIds!><#assign categoryMap=map!/></@_category>
            <@_model ids=t.modelIds!><#assign modelMap=map!/></@_model>

            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>
                    <a href="javascript:;" onclick="$.bringBack({itemId:'${a.id}', itemType:'content', url:'${a.url!}', title:'${(a.title?js_string)!}', description:'${(a.description?js_string)!}',cover:'${(a.cover?js_string)!}',publishDate:'${(a.publishDate)!}'}); return false;"><i class="icon-ok icon-large"></i> <@t.page 'select'/></a>
                </td>
                <td>${a.id}</td>
                <td>
                    <a href="${a.url!}" target="_blank">
                        ${(a.copied?then('['+t.pageMessage('copied')+']',''))!}${a.title!}
                    </a>
                </td>
                <td>
                    <a href="cmsPlace/lookup_content_list.html?userId=${a.userId}&categoryId=${categoryId!}" target="ajax" rel="lookup_content_list">
                        ${(userMap[a.userId?string].nickName)!}
                    </a>
                </td>
                <td>
                    ${(categoryMap[a.categoryId?string].name)!}
                </td>
                <td>
                    <a href="cmsPlace/lookup_content_list.html?modelId=${a.modelId}&categoryId=${categoryId!}" target="ajax" rel="lookup_content_list">
                        ${(modelMap[a.modelId].name)!}
                    </a>
                </td>
                <td>${a.scores!}</td>
                <td>${a.comments!}</td>
                <td>${a.clicks!}</td>
                <td>${a.publishDate!}</td>
                <td>
                    <@t.page 'status.content.'+a.status/>
                </td>
                <td>
                    <#if modelMap[a.modelId]?has_content&&modelMap[a.modelId].hasChild>
                        <a href="cmsPlace/lookup_content_list.html?parentId=${a.id}&categoryId=${a.categoryId}" target="ajax" rel="lookup_content_list"><@t.page 'content.child_management'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#assign rel='lookup_content_list'/>
    <#include "../include_page/pageDialog.html"/>
</div>
</@_contentList>