<@_place id=id>
    <#assign a=object/>
</@_place>
<div class="pageFormContent" layoutH="50">
    <dl class="nowrap">
        <dt><@t.page 'title'/>:</dt>
        <dd>
            ${(a.title)!}
        </dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'url'/>:</dt>
        <dd>
            <a href="${(a.url)!}" target="_blank">${(a.url)!}</a>
        </dd>
    </dl>
    <dl>
        <dt><@t.page 'publish_date'/>:</dt>
        <dd>
            ${(a.publishDate)}
        </dd>
    </dl>
<#if (a.cover)?has_content>
    <dl class="nowrap">
        <dt><@t.page 'cover'/>:</dt>
        <dd>
            <div class="thumbnail">
                <img src="${(a.cover)!}" style="max-width:200px;max-height:200px;"/>
            </div>
        </dd>
    </dl>
</#if>
    <@_placeMetadata path=(a.path)!><#assign metadata=object/></@_placeMetadata>
<#if (metadata.extendList)?has_content>
    <#include "../include_page/extendData.html"/>
    <#assign attribute=getPlaceAttribute((a.id)!)!{}/>
    <@extendData 'extendDataList' metadata.extendList attribute 'view'/>
</#if>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>