<@_logLoginList result=result userId=userId channel=channel
			name=name startCreateDate=startCreateDate endCreateDate=endCreateDate ip=ip
			orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>渠道:</label>
					<input type="text" name="channel" value="${channel!}" />
				</li>
				<li>
					<label>用户:</label>
					<#include "../include_page/userId.html"/>
				</li>
				<li>
					<label>用户名:</label>
					<input type="text" name="name" value="${name!}" />
				</li>
				<li>
					<label>登录日期:</label>
					<input type="text" name="startCreateDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
					<span>-</span>
					<input type="text" name="endCreateDate" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" maxDate="{%y}-%M-{%d}" value="${endCreateDate!}" />
				</li>
				<li>
					<label>登录结果:</label>
					<select class="combox" name="result">
						<option value=""${(!result?has_content)?then(' selected="true"','')?no_esc}>不限</option>
						<option value="true"${(result?has_content&&"true"==result)?then(' selected="true"','')?no_esc}>成功</option>
						<option value="false"${(result?has_content&&"false"==result)?then(' selected="true"','')?no_esc}>失败</option>
					</select>
				</li>
				<li>
					<label>IP:</label>
					<input type="text" name="ip" value="${ip!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<button type="submit" class="buttonActive">搜索</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="logLogin/delete.do" title="确定要删除这些记录么?" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> 批量删除</a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th>用户名</th>
				<th>用户ID</th>
				<th>登陆渠道</th>
				<th>IP</th>
				<th>登录结果</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">登录日期</th>
				<th>错误密码</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td><input name="ids" value="${a.id}" type="checkbox"></td>
				<td>${(a.name)!}</td>
				<td>
					${a.userId!}
				</td>
				<td>
					${a.channel!}
				</td>
				<td>${a.ip!}</td>
				<td>
					${a.result?then('成功','失败')}
				</td>
				<td>${a.createDate!}</td>
				<td>${(a.errorPassword)!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_logLoginList>