<@_logTask id=id><#assign a=object/></@_logTask>
<div class="pageContent">
	<div class="formBar">
		<ul>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl>
			<dt>任务计划:</dt>
			<dd>
				<@_sysTask id=a.taskId>${(object.name)!}</@_sysTask>
			</dd>
		</dl>
		<dl>
			<dt>执行结果:</dt>
			<dd>${a.success?string('成功','失败')}</dd>
		</dl>
		<dl>
			<dt>开始时间:</dt>
			<dd>
				${a.begintime!}
			</dd>
		</dl>
		<dl>
			<dt>结束时间:</dt>
			<dd>
				${a.endtime!}
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>执行结果:</dt>
			<dd>
				<textarea name="description" style="width: 100%;" rows="20">${(a.result)!}</textarea>
			</dd>
		</dl>
	</div>
</div>