header ,main , footer, #splitBar, #splitBarProxy, #alertBackground, #dialogBackground, #background, 
.comboxop, .shadow, .panelBar{ display:none;}
#printBox{display:block;}


/* CSS Table */
table.list {border-collapse:collapse;table-layout:fixed}
table.list thead tr {background-color: #F0EFF0;}
table.list th {padding:1px 2px; line-height:21px; border: solid 1px #D0D0D0; font-weight:bolder; }
table.list td {padding:1px 2px; line-height:21px; border:solid 1px #D0D0D0;overflow: hidden;}


/* Grid */
.grid table {border-collapse:collapse; table-layout:fixed;}
.grid table th {padding:1px 2px; line-height:21px; border: solid 1px #D0D0D0; font-weight:bolder;}
.grid table td {padding:1px 2px; line-height:21px; border: solid 1px #D0D0D0; line-height: 21px; overflow:hidden;}
.grid .gridTbody td div { display: block; height: 21px; line-height: 21px; overflow: hidden;}
.grid .left { text-align:left;}
.grid .right { text-align:right;}
.grid .center { text-align:center;}