<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>搜索 - PublicCMS</title>
	<meta name="keywords" content="搜索"/>
	<meta name="description" content="搜索  ${(word)!}"/>
	<@_includePlace path="/index.html/3f9a648b-7360-41b5-86e5-6b4b108268f1.html"/> <#-- 头部Header -->
</head>
<body>
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<main>
	<div class="container bread">
		<a href="${site.sitePath}">首页</a>
	</div>
	<div class="container">
		<div class="data-list left-content">
			<div class="search">
				<form action="./" method="get">
					   <input type="text" name="word" value="${(word)!tagName!}"/>
						<input type="submit" value="搜索"/>
						<input type="button" onclick="$('.search form').attr('action','facet.html').submit();" value="高级搜索"/>
				</form>
				<@_tagList count=10>
					<p>
						热门标签：
						<#list page.list as a>
							<a href="?tagId=${a.id}">${a.name}</a>
						</#list>
					</p>
				</@_tagList>
				<@_wordList count=10>
					<p>
						热门搜索词：
						<#list page.list as a>
							<a href="?word=${a.name?url}">${a.name}</a>
						</#list>
					</p>
				</@_wordList>
			</div>
<@import path="/ftl/tools.ftl" namespace="t"/>
<#if word?has_content||tagId?has_content>
		<@_search word=word tagId=tagId pageIndex=page count=10>
			<#if page.totalCount gt 0>
				<#list page.list as a>
					<@include path="/ftl/search-list.ftl"/>
				</#list>
				<@include path="/ftl/search-page.ftl"/>
			</#if>
		</@_search>
</#if>
		</div>
		<aside>
			<@_includePlace path="/category/list.html/49d393ca-f0f1-4723-a9b0-6f9b6d7cc04d.html"/> <#-- 编辑推荐 -->
			<@_includePlace path="/category/list.html/3435e9a7-565a-4f93-8670-9c272a1d51cc.html"/> <#-- 精彩图集 -->
		</aside>
	</div>
</main>
<@_includePlace path="/index.html/6369e868-50b9-4245-9d39-fd440384a685.html"/> <#-- 尾部Footer -->
</body>
</html>