<@_tradeRefund id=id><#assign a=object/></@_tradeRefund>
<form method="post" action="tradeRefund/save.do?callbackType=closeCurrent&navTabId=tradeRefund/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="csrfToken" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>订单ID：</dt>
                <dd><input class="required" name="orderId" type="text" size="30" value="${(a.orderId)!}"/></dd>
            </dl>
            <dl>
                <dt>申请退款金额：</dt>
                <dd><input class="required" name="amount" type="text" size="30" value="${(a.amount)!}"/></dd>
            </dl>
            <dl>
                <dt>原因：</dt>
                <dd><input class="required" name="reason" type="text" size="30" value="${(a.reason)!}"/></dd>
            </dl>
            <dl>
                <dt>退款操作用户：</dt>
                <dd><input class="required" name="refundUserId" type="text" size="30" value="${(a.refundUserId)!}"/></dd>
            </dl>
            <dl>
                <dt>退款金额：</dt>
                <dd><input class="required" name="refundAmount" type="text" size="30" value="${(a.refundAmount)!}"/></dd>
            </dl>
            <dl>
                <dt>状态：</dt>
                <dd><input class="required" name="status" type="text" size="30" value="${(a.status)!}"/></dd>
            </dl>
            <dl>
                <dt>回复：</dt>
                <dd><input class="required" name="reply" type="text" size="30" value="${(a.reply)!}"/></dd>
            </dl>
            <dl>
                <dt>创建日期：</dt>
                <dd>
                    <input type="text" name="createDate" class="required date" size="20" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.createDate)!}"/>
                </dd>
            </dl>
        </div>
    </div>
</form>