<@trade.refundList paymentId=paymentId refundUserId=refundUserId status=status 
            orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader card">
    <form class="pagerForm" action="tradeRefund/list.html" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'payment.id'/>:</label>
                    <input type="text" name="paymentId" value="${paymentId!}"/>
                </li>
                <li>
                    <label><@t.page 'operate_user'/>:</label>
                    <#if refundUserId?has_content><@sys.user id=refundUserId><#assign u=object/></@sys.user></#if>
                    <input name="refundUserId" value="${(u.id)!}" type="hidden"/>
                    <input name="nickname" readonly="readonly" size="10" value="${(u.nickname)!}" type="text"/>
                    <a class="btnLook" href="sysUser/lookup.html?field=refundUserId" width="920" lookupGroup=""><@t.page 'user.select'/></a>
                </li>
                <li>
                    <label><@t.page 'status'/>:</label>
                    <#list 0..4 as s>
                        <label>
                            <input name="status" value="${s}" type="checkbox" class="form-check-input"<@t.compare status!'' s?string ' checked="checked"'/>/>
                            <@t.page 'status.refund.'+s/>
                        </label>
                    </#list>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@sys.authorized roleIds=admin.roles urls='tradeRefund/refundParameters,tradeRefund/refuseParameters'><#assign authorizedMap=map/></@sys.authorized>
<div class="card">
    <table class="table" width="100%" layoutH orderField="${orderField!}" orderType="${orderType!}">
        <thead>
            <tr>
                <th><@t.page 'id'/></th>
                <th><@t.page 'user'/></th>
                <th><@t.page 'payment.id'/></th>
                <th><@t.page 'amount'/></th>
                <th><@t.page 'refund.reason'/></th>
                <th><@t.page 'status'/></th>
                <th><@t.page 'operate_user'/></th>
                <th><@t.page 'refund.amount'/></th>
                <th><@t.page 'reply'/></th>
                <th orderField="createDate"><@t.page 'create_date'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
                <@t.merge 'userIds' a.userId!/>
            </#list>
            <@sys.user ids=t.userIds!><#assign userMap=map!/></@sys.user>
            <#list page.list as a>
            <tr>
                <td>${a.id!}</td>
                <td class="exclude-translate">${(userMap[a.userId?string].nickname)!}</td>
                <td>${a.paymentId!}</td>
                <td>${a.amount!}</td>
                <td class="exclude-translate">${a.reason!}</td>
                <td><span class="statusText ${a.status?switch(1,'green',0,'orange',4,'red','')}"><@t.page 'status.refund.'+a.status/></span></td>
                <td>${a.refundUserId!}</td>
                <td>${a.refundAmount!}</td>
                <td class="exclude-translate">${a.reply!}</td>
                <td>${a.createDate!}</td>
                <td class="wrap">
                <#if authorizedMap['tradeRefund/refundParameters'] && (0=a.status || 4=a.status)>
                    <a href="tradeRefund/refundParameters.html?id=${a.id}" class="btnText green" target="dialog" mask="true"><i class="icon-plus-sign-alt"></i><@t.page 'refund'/></a>
                </#if>
                <#if authorizedMap['tradeRefund/refuseParameters'] && (0=a.status || 4=a.status)>
                    <a href="tradeRefund/refuseParameters.html?id=${a.id}" class="btnText red" target="dialog" mask="true"><i class="icon-plus-sign-alt"></i><@t.page 'button.refuse'/></a>
                </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@trade.refundList>