<@tools.fileHistoryList type=type path=path orderField='createDate'>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return dialogSearch(this);" action="cmsFileHistory/list.html" method="post">
        <#include "../include_page/parameters.html"/>
        <input type="hidden" name="path" value="${path!}"/>
        <input type="hidden" name="type" value="${type!}"/>
    </form>
</div>
<table class="table" width="100%" layoutH>
    <thead>
        <tr>
            <th width="20"><@t.page 'use'/></th>
            <th><@t.page 'modified_date'/></th>
            <th><@t.page 'create_date'/></th>
            <th><@t.page 'file.size'/></th>
            <th><@t.page 'compare'/></th>
        </tr>
    </thead>
    <tbody>
        <#list list as a>
        <tr>
            <td>
                <a href="cmsFileHistory/use.html?type=${type!}&path=${path!}&fileName=${a.fileName}" target="dialog" mask="true" class="btnText green"><i class="icon-ok"></i><@t.page 'select'/></a>
            </td>
            <td>${a.lastModifiedTime?datetime}</td>
            <td>${a.creationTime?datetime}</td>
            <td><@t.fileSize a.size/></td>
            <td>
                <a href="cmsFileHistory/compare.html?type=${type!}&path=${path!}&fileName=${a.fileName}" target="dialog" max="true" mask="true" class="btnText bule"><i class="bi bi-file-diff"></i><@t.page 'compare'/></a>
            </td>
        </tr>
        </#list>
    </tbody>
</table>
</@tools.fileHistoryList>