<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<form method="post" action="sysDomain/save.do?callbackType=closeCurrent&navTabId=sysDomain/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id" type="hidden" value="${id!}" />
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">取消</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="56">
		<dl class="nowrap">
			<dt>站点:</dt>
			<dd>
				<input name="siteId" type="hidden" value="${(a.siteId)!siteId!site.id}" />
				<@_sysSite id=(a.siteId)!siteId!site.id>${(object.name?html)!}</@_sysSite>
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>动态站点域名:</dt>
			<dd>
				<input class="required" name="name" type="text" size="20"  maxlength="255"value="${(a.name?html)!}"/>
				<span class="info">不包含协议头，当端口不是80时，需要指定端口</span>
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>模板根目录:</dt>
			<dd>
				<input name="path" type="text" size="50" maxlength="255" value="${(a.path?html)!}"/>
			</dd>
		</dl>
	</div>
</form>