<script>
$(function(){
    $('.icons a').click(function(){
        $.bringBack({'${field}':$('i',$(this)).prop("className").replace(' icon-large','')});
        return false;
    });
});
</script>
<div class="pageFormContent icons" layoutH="0">
    <fieldset>
        <legend><@t.page 'icons.web'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-adjust icon-large"></i> icon-adjust</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-anchor icon-large"></i> icon-anchor</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-archive icon-large"></i> icon-archive</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-asterisk icon-large"></i> icon-asterisk</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ban-circle icon-large"></i> icon-ban-circle</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bar-chart icon-large"></i> icon-bar-chart</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-barcode icon-large"></i> icon-barcode</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-beaker icon-large"></i> icon-beaker</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-beer icon-large"></i> icon-beer</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bell icon-large"></i> icon-bell</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bell-alt icon-large"></i> icon-bell-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bolt icon-large"></i> icon-bolt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-book icon-large"></i> icon-book</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bookmark icon-large"></i> icon-bookmark</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bookmark-empty icon-large"></i> icon-bookmark-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-briefcase icon-large"></i> icon-briefcase</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bug icon-large"></i> icon-bug</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-building icon-large"></i> icon-building</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bullhorn icon-large"></i> icon-bullhorn</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bullseye icon-large"></i> icon-bullseye</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-calendar icon-large"></i> icon-calendar</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-calendar-empty icon-large"></i> icon-calendar-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-camera icon-large"></i> icon-camera</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-camera-retro icon-large"></i> icon-camera-retro</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-certificate icon-large"></i> icon-certificate</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-check icon-large"></i> icon-check</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-check-empty icon-large"></i> icon-check-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-check-minus icon-large"></i> icon-check-minus</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-check-sign icon-large"></i> icon-check-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle icon-large"></i> icon-circle</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle-blank icon-large"></i> icon-circle-blank</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cloud icon-large"></i> icon-cloud</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cloud-download icon-large"></i> icon-cloud-download</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cloud-upload icon-large"></i> icon-cloud-upload</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-code icon-large"></i> icon-code</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-code-fork icon-large"></i> icon-code-fork</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-coffee icon-large"></i> icon-coffee</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cog icon-large"></i> icon-cog</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cogs icon-large"></i> icon-cogs</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-collapse icon-large"></i> icon-collapse</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-collapse-alt icon-large"></i> icon-collapse-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-collapse-top icon-large"></i> icon-collapse-top</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-comment icon-large"></i> icon-comment</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-comment-alt icon-large"></i> icon-comment-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-comments icon-large"></i> icon-comments</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-comments-alt icon-large"></i> icon-comments-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-compass icon-large"></i> icon-compass</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-credit-card icon-large"></i> icon-credit-card</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-crop icon-large"></i> icon-crop</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-dashboard icon-large"></i> icon-dashboard</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-desktop icon-large"></i> icon-desktop</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-download icon-large"></i> icon-download</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-download-alt icon-large"></i> icon-download-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-edit icon-large"></i> icon-edit</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-edit-sign icon-large"></i> icon-edit-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ellipsis-horizontal icon-large"></i> icon-ellipsis-horizontal</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ellipsis-vertical icon-large"></i> icon-ellipsis-vertical</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-envelope icon-large"></i> icon-envelope</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-envelope-alt icon-large"></i> icon-envelope-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eraser icon-large"></i> icon-eraser</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-exchange icon-large"></i> icon-exchange</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-exclamation icon-large"></i> icon-exclamation</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-exclamation-sign icon-large"></i> icon-exclamation-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-expand icon-large"></i> icon-expand</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-expand-alt icon-large"></i> icon-expand-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-external-link icon-large"></i> icon-external-link</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-external-link-sign icon-large"></i> icon-external-link-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eye-close icon-large"></i> icon-eye-close</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eye-open icon-large"></i> icon-eye-open</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-facetime-video icon-large"></i> icon-facetime-video</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-female icon-large"></i> icon-female</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fighter-jet icon-large"></i> icon-fighter-jet</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-film icon-large"></i> icon-film</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-filter icon-large"></i> icon-filter</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fire icon-large"></i> icon-fire</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fire-extinguisher icon-large"></i> icon-fire-extinguisher</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-flag icon-large"></i> icon-flag</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-flag-alt icon-large"></i> icon-flag-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-flag-checkered icon-large"></i> icon-flag-checkered</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-folder-close icon-large"></i> icon-folder-close</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-folder-close-alt icon-large"></i> icon-folder-close-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-folder-open icon-large"></i> icon-folder-open</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-folder-open-alt icon-large"></i> icon-folder-open-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-food icon-large"></i> icon-food</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-frown icon-large"></i> icon-frown</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gamepad icon-large"></i> icon-gamepad</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gear icon-large"></i> icon-gear <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gears icon-large"></i> icon-gears <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gift icon-large"></i> icon-gift</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-glass icon-large"></i> icon-glass</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-globe icon-large"></i> icon-globe</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-group icon-large"></i> icon-group</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hdd icon-large"></i> icon-hdd</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-headphones icon-large"></i> icon-headphones</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-heart icon-large"></i> icon-heart</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-heart-empty icon-large"></i> icon-heart-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-home icon-large"></i> icon-home</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-inbox icon-large"></i> icon-inbox</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-info icon-large"></i> icon-info</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-info-sign icon-large"></i> icon-info-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-key icon-large"></i> icon-key</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-keyboard icon-large"></i> icon-keyboard</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-laptop icon-large"></i> icon-laptop</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-leaf icon-large"></i> icon-leaf</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-legal icon-large"></i> icon-legal</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-lemon icon-large"></i> icon-lemon</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-level-down icon-large"></i> icon-level-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-level-up icon-large"></i> icon-level-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-lightbulb icon-large"></i> icon-lightbulb</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-location-arrow icon-large"></i> icon-location-arrow</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-lock icon-large"></i> icon-lock</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-magic icon-large"></i> icon-magic</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-magnet icon-large"></i> icon-magnet</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-mail-forward icon-large"></i> icon-mail-forward <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-mail-reply icon-large"></i> icon-mail-reply <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-mail-reply-all icon-large"></i> icon-mail-reply-all</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-male icon-large"></i> icon-male</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-map-marker icon-large"></i> icon-map-marker</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-meh icon-large"></i> icon-meh</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-microphone icon-large"></i> icon-microphone</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-microphone-off icon-large"></i> icon-microphone-off</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-minus icon-large"></i> icon-minus</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-minus-sign icon-large"></i> icon-minus-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-minus-sign-alt icon-large"></i> icon-minus-sign-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-mobile-phone icon-large"></i> icon-mobile-phone</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-money icon-large"></i> icon-money</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-moon icon-large"></i> icon-moon</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-move icon-large"></i> icon-move</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-music icon-large"></i> icon-music</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-off icon-large"></i> icon-off</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ok icon-large"></i> icon-ok</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ok-circle icon-large"></i> icon-ok-circle</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ok-sign icon-large"></i> icon-ok-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-pencil icon-large"></i> icon-pencil</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-phone icon-large"></i> icon-phone</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-phone-sign icon-large"></i> icon-phone-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-picture icon-large"></i> icon-picture</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-plane icon-large"></i> icon-plane</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-plus icon-large"></i> icon-plus</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-plus-sign icon-large"></i> icon-plus-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-plus-sign-alt icon-large"></i> icon-plus-sign-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-power-off icon-large"></i> icon-power-off <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-print icon-large"></i> icon-print</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-pushpin icon-large"></i> icon-pushpin</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-puzzle-piece icon-large"></i> icon-puzzle-piece</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-qrcode icon-large"></i> icon-qrcode</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-question icon-large"></i> icon-question</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-question-sign icon-large"></i> icon-question-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-quote-left icon-large"></i> icon-quote-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-quote-right icon-large"></i> icon-quote-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-random icon-large"></i> icon-random</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-refresh icon-large"></i> icon-refresh</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-remove icon-large"></i> icon-remove</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-remove-circle icon-large"></i> icon-remove-circle</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-remove-sign icon-large"></i> icon-remove-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-reorder icon-large"></i> icon-reorder</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-reply icon-large"></i> icon-reply</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-reply-all icon-large"></i> icon-reply-all</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-resize-horizontal icon-large"></i> icon-resize-horizontal</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-resize-vertical icon-large"></i> icon-resize-vertical</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-retweet icon-large"></i> icon-retweet</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-road icon-large"></i> icon-road</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rocket icon-large"></i> icon-rocket</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rss icon-large"></i> icon-rss</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rss-sign icon-large"></i> icon-rss-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-screenshot icon-large"></i> icon-screenshot</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-search icon-large"></i> icon-search</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-share icon-large"></i> icon-share</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-share-alt icon-large"></i> icon-share-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-share-sign icon-large"></i> icon-share-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-shield icon-large"></i> icon-shield</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-shopping-cart icon-large"></i> icon-shopping-cart</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sign-blank icon-large"></i> icon-sign-blank</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-signal icon-large"></i> icon-signal</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-signin icon-large"></i> icon-signin</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-signout icon-large"></i> icon-signout</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sitemap icon-large"></i> icon-sitemap</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-smile icon-large"></i> icon-smile</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort icon-large"></i> icon-sort</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-alphabet icon-large"></i> icon-sort-by-alphabet</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-alphabet-alt icon-large"></i> icon-sort-by-alphabet-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-attributes icon-large"></i> icon-sort-by-attributes</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-attributes-alt icon-large"></i> icon-sort-by-attributes-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-order icon-large"></i> icon-sort-by-order</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-by-order-alt icon-large"></i> icon-sort-by-order-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-down icon-large"></i> icon-sort-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sort-up icon-large"></i> icon-sort-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-spinner icon-large"></i> icon-spinner</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-star icon-large"></i> icon-star</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-star-empty icon-large"></i> icon-star-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-star-half icon-large"></i> icon-star-half</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-star-half-empty icon-large"></i> icon-star-half-empty</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-star-half-full icon-large"></i> icon-star-half-full <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-subscript icon-large"></i> icon-subscript</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-suitcase icon-large"></i> icon-suitcase</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-sun icon-large"></i> icon-sun</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-superscript icon-large"></i> icon-superscript</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tablet icon-large"></i> icon-tablet</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tag icon-large"></i> icon-tag</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tags icon-large"></i> icon-tags</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tasks icon-large"></i> icon-tasks</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-terminal icon-large"></i> icon-terminal</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-thumbs-down icon-large"></i> icon-thumbs-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-thumbs-down-alt icon-large"></i> icon-thumbs-down-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-thumbs-up icon-large"></i> icon-thumbs-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-thumbs-up-alt icon-large"></i> icon-thumbs-up-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ticket icon-large"></i> icon-ticket</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-time icon-large"></i> icon-time</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tint icon-large"></i> icon-tint</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-trash icon-large"></i> icon-trash</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-trophy icon-large"></i> icon-trophy</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-truck icon-large"></i> icon-truck</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-umbrella icon-large"></i> icon-umbrella</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-unchecked icon-large"></i> icon-unchecked <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-unlock icon-large"></i> icon-unlock</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-unlock-alt icon-large"></i> icon-unlock-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-upload icon-large"></i> icon-upload</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-upload-alt icon-large"></i> icon-upload-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-user icon-large"></i> icon-user</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-volume-down icon-large"></i> icon-volume-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-volume-off icon-large"></i> icon-volume-off</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-volume-up icon-large"></i> icon-volume-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-warning-sign icon-large"></i> icon-warning-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-wrench icon-large"></i> icon-wrench</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-zoom-in icon-large"></i> icon-zoom-in</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-zoom-out icon-large"></i> icon-zoom-out</a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.currency'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bitcoin icon-large"></i> icon-bitcoin <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-btc icon-large"></i> icon-btc</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cny icon-large"></i> icon-cny</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-dollar icon-large"></i> icon-dollar <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eur icon-large"></i> icon-eur</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-euro icon-large"></i> icon-euro <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gbp icon-large"></i> icon-gbp</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-inr icon-large"></i> icon-inr</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-jpy icon-large"></i> icon-jpy</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-krw icon-large"></i> icon-krw</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-renminbi icon-large"></i> icon-renminbi <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rupee icon-large"></i> icon-rupee <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-usd icon-large"></i> icon-usd</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-won icon-large"></i> icon-won <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-yen icon-large"></i> icon-yen <span class="muted">(alias)</span></a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.text_editor'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-align-center icon-large"></i> icon-align-center</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-align-justify icon-large"></i> icon-align-justify</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-align-left icon-large"></i> icon-align-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-align-right icon-large"></i> icon-align-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bold icon-large"></i> icon-bold</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-columns icon-large"></i> icon-columns</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-copy icon-large"></i> icon-copy</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-cut icon-large"></i> icon-cut</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eraser icon-large"></i> icon-eraser</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-file icon-large"></i> icon-file</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-file-alt icon-large"></i> icon-file-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-file-text icon-large"></i> icon-file-text</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-file-text-alt icon-large"></i> icon-file-text-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-font icon-large"></i> icon-font</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-indent-left icon-large"></i> icon-indent-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-indent-right icon-large"></i> icon-indent-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-italic icon-large"></i> icon-italic</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-link icon-large"></i> icon-link</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-list icon-large"></i> icon-list</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-list-alt icon-large"></i> icon-list-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-list-ol icon-large"></i> icon-list-ol</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-list-ul icon-large"></i> icon-list-ul</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-paper-clip icon-large"></i> icon-paper-clip</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-paperclip icon-large"></i> icon-paperclip <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-paste icon-large"></i> icon-paste</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-repeat icon-large"></i> icon-repeat</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rotate-left icon-large"></i> icon-rotate-left <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-rotate-right icon-large"></i> icon-rotate-right <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-save icon-large"></i> icon-save</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-strikethrough icon-large"></i> icon-strikethrough</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-table icon-large"></i> icon-table</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-text-height icon-large"></i> icon-text-height</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-text-width icon-large"></i> icon-text-width</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-th icon-large"></i> icon-th</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-th-large icon-large"></i> icon-th-large</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-th-list icon-large"></i> icon-th-list</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-underline icon-large"></i> icon-underline</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-undo icon-large"></i> icon-undo</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-unlink icon-large"></i> icon-unlink</a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.direction'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-angle-down icon-large"></i> icon-angle-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-angle-left icon-large"></i> icon-angle-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-angle-right icon-large"></i> icon-angle-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-angle-up icon-large"></i> icon-angle-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-arrow-down icon-large"></i> icon-arrow-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-arrow-left icon-large"></i> icon-arrow-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-arrow-right icon-large"></i> icon-arrow-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-arrow-up icon-large"></i> icon-arrow-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-caret-down icon-large"></i> icon-caret-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-caret-left icon-large"></i> icon-caret-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-caret-right icon-large"></i> icon-caret-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-caret-up icon-large"></i> icon-caret-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-down icon-large"></i> icon-chevron-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-left icon-large"></i> icon-chevron-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-right icon-large"></i> icon-chevron-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-sign-down icon-large"></i> icon-chevron-sign-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-sign-left icon-large"></i> icon-chevron-sign-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-sign-right icon-large"></i> icon-chevron-sign-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-sign-up icon-large"></i> icon-chevron-sign-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-chevron-up icon-large"></i> icon-chevron-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle-arrow-down icon-large"></i> icon-circle-arrow-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle-arrow-left icon-large"></i> icon-circle-arrow-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle-arrow-right icon-large"></i> icon-circle-arrow-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-circle-arrow-up icon-large"></i> icon-circle-arrow-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-double-angle-down icon-large"></i> icon-double-angle-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-double-angle-left icon-large"></i> icon-double-angle-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-double-angle-right icon-large"></i> icon-double-angle-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-double-angle-up icon-large"></i> icon-double-angle-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hand-down icon-large"></i> icon-hand-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hand-left icon-large"></i> icon-hand-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hand-right icon-large"></i> icon-hand-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hand-up icon-large"></i> icon-hand-up</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-long-arrow-down icon-large"></i> icon-long-arrow-down</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-long-arrow-left icon-large"></i> icon-long-arrow-left</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-long-arrow-right icon-large"></i> icon-long-arrow-right</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-long-arrow-up icon-large"></i> icon-long-arrow-up</a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.video_player'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-backward icon-large"></i> icon-backward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-eject icon-large"></i> icon-eject</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fast-backward icon-large"></i> icon-fast-backward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fast-forward icon-large"></i> icon-fast-forward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-forward icon-large"></i> icon-forward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-fullscreen icon-large"></i> icon-fullscreen</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-pause icon-large"></i> icon-pause</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-play icon-large"></i> icon-play</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-play-circle icon-large"></i> icon-play-circle</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-play-sign icon-large"></i> icon-play-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-resize-full icon-large"></i> icon-resize-full</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-resize-small icon-large"></i> icon-resize-small</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-step-backward icon-large"></i> icon-step-backward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-step-forward icon-large"></i> icon-step-forward</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-stop icon-large"></i> icon-stop</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-youtube-play icon-large"></i> icon-youtube-play</a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.brand'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-adn icon-large"></i> icon-adn</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-android icon-large"></i> icon-android</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-apple icon-large"></i> icon-apple</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bitbucket icon-large"></i> icon-bitbucket</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bitbucket-sign icon-large"></i> icon-bitbucket-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-bitcoin icon-large"></i> icon-bitcoin <span class="muted">(alias)</span></a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-btc icon-large"></i> icon-btc</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-css3 icon-large"></i> icon-css3</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-dribbble icon-large"></i> icon-dribbble</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-dropbox icon-large"></i> icon-dropbox</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-facebook icon-large"></i> icon-facebook</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-facebook-sign icon-large"></i> icon-facebook-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-flickr icon-large"></i> icon-flickr</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-foursquare icon-large"></i> icon-foursquare</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-github icon-large"></i> icon-github</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-github-alt icon-large"></i> icon-github-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-github-sign icon-large"></i> icon-github-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-gittip icon-large"></i> icon-gittip</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-google-plus icon-large"></i> icon-google-plus</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-google-plus-sign icon-large"></i> icon-google-plus-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-html5 icon-large"></i> icon-html5</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-instagram icon-large"></i> icon-instagram</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-linkedin icon-large"></i> icon-linkedin</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-linkedin-sign icon-large"></i> icon-linkedin-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-linux icon-large"></i> icon-linux</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-maxcdn icon-large"></i> icon-maxcdn</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-pinterest icon-large"></i> icon-pinterest</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-pinterest-sign icon-large"></i> icon-pinterest-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-renren icon-large"></i> icon-renren</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-skype icon-large"></i> icon-skype</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-stackexchange icon-large"></i> icon-stackexchange</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-trello icon-large"></i> icon-trello</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tumblr icon-large"></i> icon-tumblr</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-tumblr-sign icon-large"></i> icon-tumblr-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-twitter icon-large"></i> icon-twitter</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-twitter-sign icon-large"></i> icon-twitter-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-vk icon-large"></i> icon-vk</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-weibo icon-large"></i> icon-weibo</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-windows icon-large"></i> icon-windows</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-xing icon-large"></i> icon-xing</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-xing-sign icon-large"></i> icon-xing-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-youtube icon-large"></i> icon-youtube</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-youtube-play icon-large"></i> icon-youtube-play</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-youtube-sign icon-large"></i> icon-youtube-sign</a></label>
        </div>
    </fieldset>
    <fieldset>
        <legend><@t.page 'icons.medicine'/></legend>
        <div class="unit">
            <label><a href="javascript:;" onclick="return false;"><i class="icon-ambulance icon-large"></i> icon-ambulance</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-h-sign icon-large"></i> icon-h-sign</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-hospital icon-large"></i> icon-hospital</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-medkit icon-large"></i> icon-medkit</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-plus-sign-alt icon-large"></i> icon-plus-sign-alt</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-stethoscope icon-large"></i> icon-stethoscope</a></label>
            <label><a href="javascript:;" onclick="return false;"><i class="icon-user-md icon-large"></i> icon-user-md</a></label>
        </div>
    </fieldset>
</div>