<#if !deep?has_content><#assign deep=0/><#else><#assign deep=deep?number/></#if>
<@_sysModule id=parentId><#assign parent=object/></@_sysModule>
<@_sysModuleList advanced=true parentId=parentId pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
            <#if parent?has_content>
                <li>
                    <label><@t.page 'module.parent'/>:</label><label><@t.menu parentId/></label>
                </li>
            </#if>
                <li></li>
            </ul>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <#if parent?has_content>
                <li><a href="sysModule/list.html?parentId=${parent.parentId!}&deep=${deep-1}" target="navTab" rel="sysModule/list"><i class="icon-circle-arrow-up icon-large"></i> <@t.page 'button.return'/></a></li>
                <li class="line">line</li>
            </#if>
            <#if deep lte 3>
                <li><a href="sysModule/add.html?parentId=${parentId!}&deep=${deep}" target="navTab" rel="sysModule/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'module.add'/></a></li>
            </#if>
            <li><a href="sysModule/add.html?id={sid}&deep=${deep}" target="navTab" rel="sysModule/edit"><i class="icon-edit icon-large"></i> <@t.page 'module.edit'/></a></li>
            <li><a href="sysModule/delete.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th width="150"><@t.page 'id'/></th>
                <th><@t.page 'name'/></th>
                <th><@t.page 'module.is_menu'/></th>
                <th><@t.page 'address'/></th>
                <th><@t.page 'module.parent'/></th>
                <th orderField="sort" class="<#if orderField??&&'sort'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'sort'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id?url}">
                <td>${a.id!}</td>
                <td><@t.menu a.id/></td>
                <td>${a.menu?then(t.pageMessage('module.menu'),t.pageMessage('module.not_menu'))}</td>
                <td>${a.url!}</td>
                <td><#if a.parentId?has_content><@t.menu a.parentId/></#if></td>
                <td>${a.sort!}</td>
                <td>
                    <#if deep lte 2>
                        <a href="sysModule/list.html?parentId=${a.id}&deep=${(deep!'0')?number+1}" target="navTab" rel="sysModule/list"><@t.page 'module.child_management'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_sysModuleList>