<#macro lookupTree parentId=''>
    <@sys.moduleList advanced=true parentId=parentId pageSize=500>
        <#list page.list as a>
            <li>
                <a href="javascript:;" onclick="$.bringBack({parentId:'${a.id?js_string}',parentName:'<@t.menu a.id/>'});return false;"> <@t.menu a.id/></a>
                <#if a.hasChild>
                    <ul>
                        <@lookupTree a.id/>
                    </ul>
                </#if>
            </li>
        </#list>
    </@sys.moduleList>
</#macro>
<div class="pageFormContent" layoutH>
    <ul class="tree treeFolder">
        <@lookupTree/>
    </ul>
</div>