<form action="cmsCategory/publish.do?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
	<input type="hidden" name="ids" value="${id!}"/>
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">生成</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="19">
		<dl>
			<dt>生成页数:</dt>
			<@_contentList categoryId=id containChild=containChild count=pageSize>
			<dd><input class="required digits" type="number" name="max" max="${page.totalPage}" min="1" value="${page.totalPage}"/></dd>
			</@_contentList>
		</dl>
	</div>
</form>