<@_dictionary id=id><#assign dictionary=object/></@_dictionary>
<#if site.parentId?has_content&&!dictionary?has_content><@_dictionary id=id siteId=site.parentId><#assign dictionary=object/></@_dictionary></#if>
<#assign required=(required?has_content&&'true'=required)/>
<#assign multiple=(multiple?has_content&&'true'=multiple)/>
<#if dictionary?has_content>
    <#include "../include_page/dictionary.html"/>
    <@dictionaryElement dictionary.id.id inputName required dictionary.childDepth multiple 'form' value/>
</#if>