<div class="pageFormContent" layoutH="50">
<#assign license = getLicense()/>
<#if license?has_content>
    <dl>
        <dt><@t.page 'version'/>:</dt>
        <dd>${license.version!}</dd>
    </dl>
    <dl>
        <dt><@t.page 'license.authorization'/>:</dt>
        <dd>${license.authorization!}</dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'license.organization'/>:</dt>
        <dd>${license.organization!}</dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'license.domain'/>:</dt>
        <dd>${license.domain!}</dd>
    </dl>
    <dl>
        <dt><@t.page 'license.start_date'/>:</dt>
        <dd>${license.startDate!}</dd>
    </dl>
    <dl>
        <dt><@t.page 'license.end_date'/>:</dt>
        <dd>${license.endDate!}</dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'license.issue'/>:</dt>
        <dd>${license.issue!}</dd>
    </dl>
    <dl class="nowrap">
        <dt><@t.page 'license.verify_on_line'/>:</dt>
        <dd class="licenseVerify"></dd>
    </dl>
    <script>
        $.getJSON('//cms.publiccms.com/api/directive/licenseVerify?licenseData=${getLicenseData()?url}',function(data){
            if(data.result){
                $('.licenseVerify').append('<@t.page 'verified'/>');
            }else{
                $('.licenseVerify').append('<em style="color:red"><@t.page 'unverified'/></em>');
            }
        });
    </script>
</#if>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>