<div class="pageContent">
	<div class="pageFormContent" layoutH="58">
		<ul class="tree expand">
	<@_categoryTypeList>
		<#list page.list as a>
			<li><a href="cmsCategory/add.html?parentId=${parentId!}&typeId=${a.id}" target="navTab" rel="cmsCategory/add">添加${(a.name)!}分类</a></li>
		</#list>
	</@_categoryTypeList>
		</ul>
	</div>
	<script>
	$('ul li a',$.pdialog.getCurrent()).click(function(){
		$.pdialog.closeCurrent();
	});
	</script>
	<div class="formBar">
		<ul>
			<li><div class="button"><div class="buttonContent"><button class="close" type="button">关闭</button></div></div></li>
		</ul>
	</div>
</div>