<@_homeBroadcastList userId=userId
            orderField=orderField orderType=orderType pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>用户：</label>
					<#include "../include_page/userId.html"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><button type="submit" class="buttonActive">搜索</button></li>
				</ul>
			</div>
		</div>
	</form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='homeBroadcast/enable,homeBroadcast/disable'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		<#if authorizedMap['homeBroadcast/enable']>
			<li><a href="homeBroadcast/enable.do?id={sid}" title="确定要启用该文件吗?" target="ajaxTodo"><i class="icon-circle icon-large"></i> 启用</a></li>
		</#if>
		<#if authorizedMap['homeBroadcast/disable']>
			<li><a href="homeBroadcast/disable.do?id={sid}" title="确定要禁用该文件吗?" target="ajaxTodo"><i class="icon-ban-circle icon-large"></i> 禁用</a></li>
		</#if>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="99">
		<thead>
			<tr>
				<th>ID</th>
				<th>用户</th>
				<th orderField="scores" class="<#if orderField??&&'scores'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分数</th>
				<th orderField="reposts" class="<#if orderField??&&'reposts'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">转发数</th>
				<th orderField="comments" class="<#if orderField??&&'comments'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">评论</th>
				<th orderField="message" class="<#if orderField??&&'message'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">内容</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
				<th>已禁用</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
				<@t.merge 'userIds' a.userId!/>
			</#list>
			<@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${(userMap[a.userId?string].nickName)!}</td>
				<td>${a.scores!}</td>
				<td>${a.reposts!}</td>
				<td>${a.comments!}</td>
				<td>${a.message!}</td>
				<td>${a.createDate!}</td>
				<td>${a.disabled?then('<font color="red">禁用</font>','正常')?no_esc}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_homeBroadcastList>