<@_pluginVote id=id><#assign a=object/></@_pluginVote>
<div class="pageContent">
	<div class="pageFormContent" layoutH="57">
		<dl>
			<dt>授权渠道:</dt>
			<dd>
				${a.channel!}
			</dd>
		</dl>
		<dl>
			<dt>appKey:</dt>
			<dd>
				${a.appKey!}
			</dd>
		</dl>
		<dl>
			<dt>appSecret:</dt>
			<dd>
				${a.appSecret!}
			</dd>
		</dl>
	</div>
	<div class="formBar">
		<ul>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
		</ul>
	</div>
</div>