<@_webFileContent path=path><#assign content=object!/></@_webFileContent>
<#assign editorType={'css':'css','js':'javascript','xml':'xml'}/>
<#assign fileType=path?keep_after_last('.')?lower_case/>
<form method="post" action="cmsWebFile/save.do<#if !content?has_content>?callbackType=closeCurrent&navTabId=cmsWebFile/list</#if>" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <div class="formBar">
        <ul>
            <li><a class="button" href="cmsWebFile/delete.do?paths=${(path?url)!}&callbackType=closeCurrent&navTabId=cmsWebFile/list" title="确定要删除该文件吗?" target="ajaxTodo">删除</a></li>
            <li><button type="submit" class="buttonActive">保存</button></li>
        </ul>
    </div>
    <h2 class="contentTitle">
        <a class="button" href="cmsWebFile/lookup.html?fullPath=true" target="dialog" mask="true">网站文件</a>
    </h2>
    <div class="pageFormContent" layoutH="109">
        <div class="clearfix">
            <label>路径:</label>
            <input name="path" class="required" type="text" maxlength="50" size="50" value="${(path)!}<#if !content?has_content>/filename.html</#if>"/>
        </div>
        <div>
            <textarea name="content" class="code" mode="${editorType[fileType]?has_content?then(editorType[fileType],'htmlmixed')}">${content!}</textarea>
        </div>
    </div>
</form>