<form action="cmsWebFile/createDirectory.do?callbackType=closeCurrent&navTabId=cmsWebFile/list" method="post" autocomplete="off" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="pageFormContent" layoutH="50">
        <dl>
            <dt><@t.page 'name'/>:</dt>
            <dd>
                <input type="hidden" name="path" value="${path!}"/>
                <input type="text" name="fileName" class="required" size="30" />
            </dd>
        </dl>
    </div>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
</form>