<form action="cmsWebFile/doUpload.do?callbackType=closeCurrent&navTabId=cmsWebFile/list" method="post" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone)">
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">上传</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl>
			<dt>文件:</dt>
			<dd>
				<input type="hidden" name="path" value="${path!}"/>
				<input type="file" name="file" class="required" size="30" />
			</dd>
		</dl>
	</div>
</form>