<@_dictionary id=id><#assign a=object/></@_dictionary>
<form method="post" action="cmsDictionary/save.do?callbackType=closeCurrent&navTabId=cmsDictionary/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<input name="id" type="hidden" value="${id!}" />
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageContent">
		<div class="pageFormContent" layoutH="56">
			<dl>
				<dt>名称：</dt>
				<dd><input class="required" name="name" type="text" size="30" value="${(a.name)!}"/></dd>
			</dl>
			<dl>
				<dt>允许多选：</dt>
				<dd><input class="required" name="multiple" type="text" size="30" value="${(a.multiple)!}"/></dd>
			</dl>
		</div>
	</div>
</form>