<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="sysConfig/add.html" target="navTab" rel="sysConfig/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'config.add'/></a></li>
            <li><a href="sysConfig/add.html?code={sid}" target="navTab" rel="sysConfig/edit"><i class="icon-edit icon-large"></i> <@t.page 'config.edit'/></a></li>
        </ul>
    </div>
<@_sysConfigList advanced=true>
    <table class="list" width="100%" layoutH="57">
        <thead>
            <tr>
                <th width="200"><@t.page 'code'/></th>
                <th><@t.page 'description'/></th>
                <th width="200"><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list list as a>
            <tr target="sid" rel="${a.code}">
                <td>${(a.code)!} ${a.customed?then('','['+t.pageMessage('config.system_item')+']')}</td>
                <td>${(a.description)!}</td>
                <td>
                    <a href="sysConfig/add.html?code=${a.code}" target="navTab" rel="sysConfig/edit"><@t.page 'config.edit'/></a>
                <#if a.customed&&!site.parentId?has_content>
                    | <a href="sysConfig/delete.do?code=${a.code}&navTabId=sysConfig/list&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><@t.page 'config.delete'/></a>
                </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
</@_sysConfigList>
</div>