<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>${(metadata.alias)!}</title>
        <@_includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@_includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->

        <div class="banner-l3 position-relative d-flex align-items-center justify-content-center" style="background:#22407c url(${site.sitePath}assets/img/banner-l3-bg-1.png) 50% 50% no-repeat;">
            <div class="container text-center position-relative py-3 py-md-4 text-white">
                <div class="breadcrumbs fs-7 text-white d-inline-flex align-items-center text-opacity-50">
                    <a href="${site.sitePath}">首页</a>
                    &gt; <a href="${site.dynamicPath}login.html" data-id="member">${(metadata.alias)!}</a>
                </div>
            </div>
        </div>
        <div class="container ">
            <#if user?has_content>
				<div class="row gx-5 justify-content-between my-5">
					<@_includePlace path="/c936c718-5f19-426f-b3ff-13a5a8d63044.html"/> <#-- 个人中心导航 -->
                	<div class="col-md-9">
                    	<div class="ps-4">
							<h3>登录</h3>
							<p class="text-center">${user.nickName},您已经登录了!  <a href="logout.html?returnUrl=${returnUrl!}">退出登录</a></p>
						</div>
					</div>
				</div>
            <#else>
                <form id="login" action="${site.dynamicPath}doLogin" method="post" class="text-center mt-4">
                    <@import path="/ftl/tools.ftl" namespace="t"/>
                    <#if error??>
                        <p class="message red"><@t.m error/></p>
                    </#if>
                    <#if message??>
                        <p class="message"><@t.m "message."+message/></p>
                    </#if>
                    <p><input type="text" name="username" class="input-text" placeholder="用户名" title="用户名"/></p>
                    <p><input type="password" name="password" class="input-text" placeholder="密码" title="密码"/></p>
                    <p>
                        <input type="hidden" name="returnUrl" value="${returnUrl!site.sitePath!}"/>
                        <input type="submit" class="btn btn-primary" value="登录"/>
                        <input type="hidden" name="clientId" value="${clientId!}"/>
                        <input type="hidden" name="uuid" value="${uuid!}"/>
                        <a class="btn" href="javascript:$('input[name=username]').val('test');$('input[name=password]').val('test');$('form#login').submit();">登录演示账号</a>
                    </p>
                    <#if false &&  _oauthList??&&_oauthList?is_directive>
                        <@_oauthList>
                            <p><#list list as o><a href="${site.dynamicPath}/oauth/login/${o}">使用${o}登录</a><#sep> </#list></p>
                        </@_oauthList>
                    </#if>
                    <p class="message">没有账号?请<a href="register.html?returnUrl=${(returnUrl?url)!}">注册</a></p>
                </form>
            </#if>
        </div>
        <@_includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
    </body>
</html>