<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>${(metadata.alias)!}</title>
        <@_includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@_includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->

        <div class="container">
            <p class="message">正在退出登录</p>
            <form name="logout" action="${site.dynamicPath}doLogout" method="post">
                <input type="hidden" name="userId" value="${(user.id)!}"/>
                <input type="hidden" name="returnUrl" value="${returnUrl!site.sitePath!}"/>
            </form>
        </div>
        <@_includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
        <script>
            $('form[name=logout]').submit();
        </script>
    </body>
</html>