<!DOCTYPE html>
<html lang="zh-CN">
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>${(metadata.alias)!}</title>
        <@_includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@_includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->

        <div class="banner-l3 position-relative d-flex align-items-center justify-content-center" style="background:#22407c url(${site.sitePath}assets/img/banner-l3-bg-1.png) 50% 50% no-repeat;">
            <div class="container text-center position-relative py-3 py-md-4 text-white">
                <div class="breadcrumbs fs-7 text-white d-inline-flex align-items-center text-opacity-50">
                    <a href="${site.sitePath}">首页</a>
                    &gt; <a href="${site.dynamicPath}paymentList.html" data-id="member">${(metadata.alias)!}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row gx-5 justify-content-between my-5">
                <@_includePlace path="/c936c718-5f19-426f-b3ff-13a5a8d63044.html"/> <#-- 个人中心导航 -->
                <div class="col-md-9">
                    <div class="ps-4">
                        <#macro message code>${springMacroRequestContext.getMessage(code)}</#macro>
                        <@_tradePaymentList userId=user.id pageIndex=pageIndex pageSize=10>
                            <h3>付款记录</h3>
                            <ul>
                            <#list page.list as a>
                                <li class="underline">
                                    <p><@message 'page.status.payment.'+a.status/><span class="right">${a.createDate!}</span></p>
                                    <p class="gray"><label>金额</label>${a.amount!} <label>账户类型:</label>${a.accountType!}</p>
                                    <p>${a.description!}<span class="right"><label>交易类型:</label>${a.tradeType!}</span></p>
                                    <#if 0=a.status>
                                        <p>
                                            <a href="${site.dynamicPath}tradePayment/pay?paymentId=${a.id}&returnUrl=https:${(site.dynamicPath+'paymentList.html')?url}">继续付款</a>
                                            <a href="${site.dynamicPath}tradePayment/cancel?paymentId=${a.id}&returnUrl=https:${(site.dynamicPath+'paymentList.html')?url}&_csrf=<@_csrfToken/>">取消付款</a>
                                        </p>
                                    <#elseif 1=a.status>
                                        <form action="${site.dynamicPath}tradePayment/refund" method="POST">
                                            <p>
                                                <input type="hidden" name="_csrf" value="<@_csrfToken/>"/>
                                                <input type="hidden" name="returnUrl" value="${site.dynamicPath}paymentList.html"/>
                                                <input type="hidden" name="paymentId" value="${a.id}"/>
                                                <label class="input-label">金额:</label><input type="text" name="amount" required="required" value="${a.amount}" max="${a.amount}"/>
                                                <label class="input-label">原因:</label><input type="text" name="reason" required="required"/>
                                                <input class="button" type="submit" value="申请退款"/>
                                            </p>
                                        </form>
                                    </#if>
                                </li>
                            </#list>
                            </ul>
                            <ul class="pagination mt-5">
                                <#assign
                                    start=1
                                    end=page.totalPage
                                />
                                <#if (page.pageIndex-5) gt start>
                                    <#assign start=page.pageIndex-4/>
                                </#if>
                                <#if (page.pageIndex+5) lt end>
                                    <#assign end=page.pageIndex+4/>
                                </#if>
                                <#if !page.firstPage>
                                    <a href="${getPage('paymentList.html',page.prePage,'pageIndex')}">上一页</a>
                                <#else>
                                    <span>上一页</span>
                                </#if>
                                <#if start gt 1>
                                    <a href="${'paymentList.html'}">1</a> ...
                                </#if>
                                <#list start..end as n>
                                    <a href="${getPage('paymentList.html',n,'pageIndex')}"${(n=page.pageIndex)?then(' class="selected"'?no_esc,'')}>${n}</a>
                                </#list>
                                <#if end lt page.totalPage>
                                    ... <a href="${getPage('paymentList.html',page.totalPage,'pageIndex')}">${page.totalPage}</a>
                                </#if>
                                <#if !page.lastPage>
                                    <a href="${getPage('paymentList.html',page.nextPage,'pageIndex')}">下一页</a>
                                <#else>
                                    <span>下一页</span>
                                </#if>
                            </ul>
                        </@_tradePaymentList>
                    </div>
                </div>
            </div>
        </div>
        <script>
        var itemString="itemType=user&itemId=${user.id}";
        </script>
        <@_includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
    </body>
    </html>