<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>${metadata.alias!}</title>
        <@tools.includePlace path="/8ddab9ba-a8aa-4745-86c6-66bf1c2c976c.html"/> <#-- header -->
    </head>
    <body>
        <@tools.includePlace path="/c32a4f4a-ff5d-49cf-bb59-5d9784539174.html"/> <#-- 导航 -->

        <div class="banner-l3 position-relative d-flex align-items-center justify-content-center" style="background:#22407c url(${site.sitePath}assets/img/banner-l3-bg-1.png) 50% 50% no-repeat;">
            <div class="container text-center position-relative py-3 py-md-4 text-white">
                <div class="breadcrumbs fs-7 text-white d-inline-flex align-items-center text-opacity-50">
                    <a href="${site.sitePath}">首页</a>
                    &gt; <a href="${site.dynamicPath}register.html" data-id="member">${(metadata.alias)!}</a>
                </div>
            </div>
        </div>
        <div class="container">
			<#if user?has_content>
			<div class="row gx-5 justify-content-between my-5">
				<@tools.includePlace path="/c936c718-5f19-426f-b3ff-13a5a8d63044.html"/> <#-- 个人中心导航 -->
				<div class="col-md-9">
					<div class="ps-4">
						<h3>注册</h3>
						<p class="text-center">${user.nickname},您已经登录了!  <a href="logout.html?returnUrl=${returnUrl!}">退出登录</a></p>
					</div>
				</div>
			</div>
			<#else>
				<@import path="/ftl/tools.ftl" namespace="t"/>
				<form action="${site.dynamicPath}doRegister" method="post"  class="text-center mt-4">
					<#if error??>
					<p class="message red"><@t.m error/></p>
					</#if>
					<#if message??>
					<p class="message"><@t.m "message."+message/></p>
					</#if>
					<p class="text-center"><input type="text" name="name" class="input-text" placeholder="用户名" title="用户名" value="${name!}"/></p>
					<p class="text-center"><input type="text" name="nickname" class="input-text" placeholder="昵称" title="昵称"  value="${nickname!}"/></p>
					<p class="text-center"><input type="password" name="password" class="input-text" placeholder="密码" title="密码"/></p>
					<p class="text-center"><input type="password" name="repassword" class="input-text" placeholder="重复密码" title="重复密码"/></p>
					<p class="text-center">
						<input type="hidden" name="returnUrl" value="${site.sitePath}"/>
						<input type="hidden" name="clientId" value="${clientId!}"/>
						<input type="hidden" name="uuid" value="${uuid!}"/>
						<input type="submit" class="btn btn-primary" value="注册"/>
					</p>
					<p class="text-center message">已有账号?请<a href="login.html?returnUrl=${(returnUrl!site.sitePath!)?url}">登录</a></p>
				</form>
			</#if>
        </div>
		<script>
		var templatePath='${.current_template_name?keep_after('/')}';
		</script>
        <@tools.includePlace path="/7f8bacb5-30ca-4641-b66f-987d447b1a85.html"/> <#-- footer -->
    </body>
</html>