<h2 class="contentTitle">
    <a class="button" href="taskTemplate/run.html" target="navTab" rel="taskTemplate/run"><@t.page 'task_template.exec'/></a>
    <#if path?has_content><a class="button" href="taskTemplate/content.html?path=${path?url}/" target="ajax" rel="taskTemplateBox"><@t.page 'task_template.create_here'/></a></#if>
    <#if path?has_content><a class="button" href="taskTemplate/delete.do?path=${path?url}&navTabId=taskTemplate/list&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete_directory'/>" target="ajaxTodo"><@t.page 'button.delete_directory'/></a></#if>
</h2>