<#macro templateTree field filepath=''>
    <@_taskTemplateList path=filepath>
        <#list list as a>
        <li>
            <#local path=filepath+'/'+a.fileName/>
        <#if a.directory>
            <a href="javascript:;" onclick="return false;">${a.fileName}</a>
            <ul>
                <@templateTree field path/>
            </ul>
        <#else>
            <a href="javascript:;" data="${path!}" onclick="$.bringBack({'${field}':'${path}'});return false;">
                ${a.fileName}
            </a>
        </#if>
        </li>
        <#else>
            <li><a><@t.page 'empty_directory'/></a></li>
        </#list>
    </@_taskTemplateList>
</#macro>
<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder">
        <@templateTree field/>
    </ul>
    <script>
        $('a[data="${(value?js_string)!}"]',$.pdialog.getCurrent()).parent().addClass('selected');
    </script>
</div>