<form method="post" action="taskTemplate/runTask.do?navTabId=taskTemplate/run" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">执行</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl class="nowrap">
			<dt>模板:</dt>
			<dd>
				<input name="filePath" class="required" type="text" maxlength="255" size="40" value="${path!}"/>
				<a class="btnLook" href="taskTemplate/lookup.html?field=filePath" lookupGroup="">选择</a>
			</dd>
		</dl>
<@_logOperateList operate='run.task.template' count=10>
	<#list page.list as a>
		<@t.merge 'userIds' a.userId!/>
	</#list>
	<@_sysUser ids=t.userIds!><#assign userMap=map!/></@_sysUser>
	<#list page.list as a>
		<dl>
			<dt>用户:</dt>
			<dd>
				${(userMap[a.userId?string].nickName)!}
			</dd>
		</dl>
		<dl>
			<dt>执行日期:</dt>
			<dd>
				${a.createDate!}
			</dd>
		</dl>
		<#assign content=a.content?eval/>
		<dl class="nowrap">
			<dt>脚本:</dt>
			<dd>
				${(content.filePath)!}
			</dd>
		</dl>
		<dl class="nowrap">
			<dt>结果:</dt>
			<dd>
				${(content.result)!(content.error)!}
			</dd>
		</dl>
		<div class="divider"></div>
	</#list>
</@_logOperateList>
	</div>
</form>