<div class="pageFormContent" layoutH="0">
    <ul class="tree treeFolder expand">
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:''});return false;"><@t.page 'button.clear_select'/></a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'text/xml; charset=UTF-8'});return false;">xml</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/atom+xml; charset=UTF-8'});return false;">atom</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'text/vnd.wap.wml; charset=UTF-8'});return false;">wml</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/xhtml+xml; charset=UTF-8'});return false;">xhtml</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/json; charset=UTF-8'});return false;">json</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'text/plain; charset=UTF-8'});return false;">text</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/javascript'});return false;">javascript</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/ecmascript'});return false;">ecmascript</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'text/css'});return false;">css</a></li>
        <li><a href="javascript:;" onclick="$.bringBack({${field!'contentType'}:'application/octet-stream'});return false;">octet-stream</a></li>
    </ul>
</div>