<div class="card">
    <h2 class="contentTitle">
        <a class="button" href="cmsTemplate/upload.html?path=${(path?url)!}" target="dialog" mask="true" width="500" height="250"><@t.page 'template.upload'/></a>
        <a class="button" href="cmsTemplate/export?_csrf=<@tools.csrfToken admin=true/>" target="dwzExport" targetType="navTab"><@t.page 'button.export'/></a>
        <#if path?has_content>
            <a class="button" href="cmsTemplate/delete?path=${path?url}&navTabId=cmsTemplate/list&_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.delete_directory'/>" target="ajaxTodo"><@t.page 'button.delete_directory'/></a>
            <a class="button" href="cmsTemplate/metadata.html?path=${(path?url_path)!}/" target="ajax" rel="cmsTemplateBox"><@t.page 'template.create_here'/></a>
        </#if>
        <a class="button" href="cmsFileBackup/list.html?path=${(path?url)!}" target="navTab" rel="cmsFileBackup/list" icon="<i class='bi bi-recycle icon-large'></i>"><@t.page 'recycle_bin'/></a>
    </h2>
    <div class="pageFormContent" layoutH>
        <fieldset>
            <legend><@t.page 'template_search'/></legend>
            <form action="cmsTemplate/search.html" autocomplete="off" onsubmit="return divSearch(this,'cmsTemplateBox');" method="post">
                <input type="hidden" name="path" value="${path!}"/>
                <label><@t.page 'template.content'/>:</label>
                <input type="text" name="word" size="30"/>
                <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
            </form>
        </fieldset>
        <fieldset>
            <legend><@t.page 'template.directory'/></legend>
            <form action="cmsTemplate/createDirectory?navTabId=${navTabId!'cmsTemplate/list'}" method="post" autocomplete="off" class="required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
                <input type="hidden" name="_csrf" value="<@tools.csrfToken admin=true/>"/>
                <label><@t.page 'name'/>:</label>
                <input type="hidden" name="path" value="${path!}"/>
                <input type="text" name="fileName" class="required" size="30"/>
                <button type="submit" class="buttonActive" title="ctrl+s"><@t.page 'button.create_directory'/></button>
            </form>
        </fieldset>
    </div>
</div>