<div class="pageFormContent">
<#list list as a>
    <#assign sitefile=getSitefile(a.fileName)/>
    <div class="image-list">
        <#if sitefile?has_content><a href="cmsTemplate/viewsitefile.html?name=${a.fileName?url}" target="dialog" rel="sitefile_${a?counter}" width="1000" height="600"></#if>
            <#if (sitefile.cover)?has_content>
                <img src="${base+adminContextPath}/visitSitefileImage?sitefile=${a.fileName}&imageFile=${sitefile.cover}" alt="${a.fileName}" title="${a.fileName}">
            <#else>
                <i class="thumb icon-file-alt icon-large"></i>
            </#if>
        <#if sitefile?has_content></a></#if>
        <p>
            <a href="javascript:;" onclick="$.bringBack({'${field!'fileName'}':'${a.fileName}'});return false;">
                ${a.fileName}<#if a.fileSize?has_content>(${a.fileSize})</#if>
            </a>
        </p>
    </div>
</#list>
</div>