<script>
var imagesSuffix=["html","htm","ftl","xml","text","txt"];
function checkFileType(){
    var filenames=$('input[name=file]',$.pdialog.getCurrent()).val().toLowerCase().split('.');
    if(-1 != $.inArray(filenames[filenames.length-1], imagesSuffix)){
        return true;
    }
    alertMsg.error('<@t.page 'upload.template_warn'/>');
    return false;
}
</script>
<form action="cmsTemplate/doUpload.do?callbackType=closeCurrent&navTabId=cmsTemplate/list" method="post" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive" onclick="return checkFileType();"><@t.page 'upload'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH="60">
        <dl>
            <dt><@t.page 'file'/>:</dt>
            <dd>
                <input type="hidden" name="path" value="${path!}"/>
                <input type="file" name="file" class="required" size="30" />
            </dd>
        </dl>
    </div>
</form>