<div class="panelBar">
    <#if itemType?has_content>
        <@_sysDept id=admin.deptId><#assign dept=object/></@_sysDept>
        <#if 'content'=itemType>
            <@_content id=itemId>
                <#if 0=admin.contentPermissions && content.userId=admin.id  || 1=admin.contentPermissions || 2=admin.contentPermissions && content.deptId=admin.deptId>
                    <#assign content=object/><@_model id=object.modelId><#assign model=object/></@_model>
                </#if>
            </@_content>
        </#if>
        <#if 'category'=itemType||content?has_content>
            <@_sysDeptCategory deptId=admin.deptId!'' categoryId=('category'=itemType)?then(itemId,content.categoryId)><#assign deptCategory=object!/></@_sysDeptCategory>
            <#if deptCategory?has_content&&deptCategory || dept?has_content && dept.ownsAllCategory>
                <@_category id=('category'=itemType)?then(itemId,content.categoryId)><#assign category=object/></@_category>
            </#if>
        </#if>
    </#if>
    <@_metadata path=templatePath><#assign metadata=object/></@_metadata>
    <@_sysAuthorized roleIds=admin.roles urls='cmsContent/list,cmsContent/addMore,cmsContent/publish,cmsModel/add,cmsCategory/list,cmsCategory/add,cmsCategory/addMore,cmsCategory/publishParameters,cmsTemplate/content,cmsPlace/metadata,cmsPlace/dataList,cmsPage/list,cmsPage/diy,cmsTemplate/publish,sysConfigData/list,sysTask/list,sysUser/list'><#assign authorizedMap=map/></@_sysAuthorized>
    <ul class="toolBar">
        <li>
            <a href="javascript:diyIframeRefresh();"><i class="icon-refresh"></i><@t.page 'button.refresh'/></a>
        </li>
        <#if url?has_content>
            <li><a href="${url?keep_before('?diy')?keep_before('&diy')}" target="_blank"><i class="icon-external-link"></i><@t.page 'button.view'/></a></li>
        </#if>
        <#if authorizedMap['cmsContent/addMore'] && category?has_content && 'category'=itemType>
            <li><a href="cmsContent/addMore.html?categoryId=${(category.id)!content.categoryId!}" target="dialog" mask="true"><i class="icon-plus icon-large"></i><@t.page 'content.add'/></a></li>
        </#if>
        <#if authorizedMap['cmsContent/list'] && content?has_content>
        <li>
            <a href="cmsContent/list" target="navTab" rel="cmsContent/list" class="addMore"><@t.page 'content.management'/></a>
            <ul>
            <#if model?has_content && model.hasChild>
                <li><a href="cmsContent/list.html?parentId=${content.id}&categoryId=${content.categoryId!}" class="btnText" target="navTab" rel="cmsContent/list"><@t.page 'content.child_management'/></a></li>
            </#if>
                <li><a href="cmsContent/add.html?id=${content.id}" class="edit btnText blue" target="navTab" rel="cmsContent/edit"><i class="icon-edit"></i><@t.page 'content.edit'/></a></li>
                <#if model?has_content>
                    <li><a href="cmsContent/add.html?categoryId=${(content.categoryId)!}&modelId=${model.id}&parentId=${(content.parentId)!}" target="navTab" rel="cmsContent/add"><i class="icon-plus icon-large"></i><@t.page 'content.add'/></a></li>
                </#if>
                <#if authorizedMap['cmsContent/publish']&&site.useStatic&&!content.onlyUrl>
                    <li><a href="cmsContent/publish?_csrf=<@_csrfToken admin=true/>&ids=${content.id}" target="ajaxTodo"><i class="icon-file-text-alt icon-large"></i><@t.page 'button.publish'/></a></li>
                </#if>
                <#if model?has_content && authorizedMap['cmsModel/add']>
                    <li><a href="cmsModel/add.html?id=${model.id?url}" target="navTab" rel="cmsModel/edit"><i class="icon-edit"></i><@t.page 'model.edit'/></a></li>
                </#if>
                <li><a href="cmsComment/list.html?contentId=${content.id}" target="navTab" rel="cmsComment/list"><i class='icon-comment icon-large'></i><@t.page 'comment.management'/></a></li>
            </ul>
        </li>
        </#if>
        <#if category?has_content>
            <#if authorizedMap['cmsCategory/list']>
                <li>
                    <a href="cmsCategory/list" target="navTab" rel="cmsCategory/list" class="addMore"><@t.page 'category.management'/></a>
                    <ul>
                        <#if authorizedMap['cmsCategory/add']>
                            <li><a href="cmsCategory/add.html?id=${category.id}" class="edit btnText blue" target="navTab" rel="cmsCategory/edit"><i class="icon-edit"></i><@t.page 'category.edit'/></a></li>
                            <li><a href="cmsCategory/add.html?id=${category.id}&seo=true" class="edit btnText blue" target="navTab" rel="cmsCategory/edit"><i class="icon-edit"></i><@t.page 'seo'/></a></li>
                            <li><a href="cmsCategory/add.html?copyId=${category.id}" class="btnText blue" target="navTab" rel="cmsCategory/add" icon="<i class='icon-plus-sign-alt'></i>" title="<@t.page 'category.add'/>"><i class="icon-copy"></i><@t.page 'button.copy'/></a></li>
                        </#if>
                        <#if authorizedMap['cmsCategory/addMore']>
                            <li><a href="cmsCategory/addMore.html?parentId=${category.id}" class="btnText blue" target="dialog" mask="true"><i class="icon-plus"></i><@t.page 'category.add_child'/></a></li>
                        </#if>
                        <#if authorizedMap['cmsCategory/publishParameters']&&site.useStatic&&!category.onlyUrl>
                            <li><a href="cmsCategory/publishParameters.html?id=${category.id}&pageSize=${category.pageSize}&containChild=${category.containChild?then('true','false')}" target="dialog" width="450" height="180" mask="true"><i class="icon-file-text-alt icon-large"></i><@t.page 'button.publish'/></a></li>
                        </#if>
                    </ul>
                </li>
            </#if>
         <#else>
            <#if authorizedMap['cmsCategory/addMore']>
                <li><a href="cmsCategory/addMore.html" target="navTab" rel="cmsCategory/add"><i class="icon-plus icon-large"></i><@t.page 'category.add'/></a></li>
            </#if>
        </#if>
        <#if metadata?has_content && authorizedMap['cmsPage/list']>
            <li>
                <a href="cmsPage/list.html?path=${(templatePath)?url}" class="addMore" target="navTab" rel="sysConfigData/list"><i class="icon-file-text-alt icon-large"></i><@t.page 'page.management'/></a>
                <ul>
                <#if site.useStatic&&(metadata.publishPath)?has_content>
                    <li><a href="cmsTemplate/publish?path=${(templatePath?url)!}&_csrf=<@_csrfToken admin=true/>" target="ajaxTodo"><i class="icon-file-text-alt icon-large"></i><@t.page 'publish_page'/></a></li>
                </#if>
                <#if url?has_content>
                    <li><a href="visit/history.html?url=${url?keep_before('?diy')?keep_before('&diy')?url}" target="navTab" rel="visit/history"><i class='icon-bolt icon-large'></i><@t.page 'visit.history'/></a></li>
                </#if>
                <li><a href="cmsTemplate/list.html?path=${(templatePath?url)!}&editType=metadata" target="navTab" rel="cmsTemplate/list"><i class="icon-edit"></i><@t.page 'metadata'/></a></li>
                <li><a href="cmsTemplate/list.html?path=${(templatePath?url)!}" target="navTab" rel="cmsTemplate/list"><i class="icon-edit"></i><@t.page 'template.content'/></a></li>
                <#if authorizedMap['cmsPage/diy']>
                    <@_templateRegionList path=templatePath>
                        <#if list?has_content>
                        <#list list as a>
                            <@_diyMetadata itemType='region' itemId=a>
                            <li><a href="cmsPage/diy.html?id=${(object.id?url)!}" target="navTab" rel="cmsPage/diy" title="<@t.page 'diy'/>"><i class='bi bi-palette'></i>${(object.name)!}</a></li>
                            </@_diyMetadata>
                        </#list>
                        </#if>
                    </@_templateRegionList>
                </#if>
                <#if authorizedMap['cmsPlace/dataList']>
                    <@_templatePlaceList path=templatePath>
                        <#if list?has_content>
                        <#list list as a>
                            <@_placeMetadata path=a>
                            <li><a href="cmsPlace/list.html?path=${a?url}" target="navTab" rel="cmsPlace/list" title="<@t.page 'place.management'/>">${(object.alias)!}</a></li>
                            <#if object.size gt 0>
                             <li><a href="cmsPlace/dataList.html?path=${a?url}" target="navTab" rel="cmsPlace/dataList" title="<@t.page 'place_data'/>:${(object.alias)!}"><@t.page 'place_data'/>:${(object.alias)!}(${object.size})</a></li>
                             </#if>
                            </@_placeMetadata>
                        </#list>
                        </#if>
                    </@_templatePlaceList>
                </#if>
                </ul>
            </li>
        </#if>
        <#if authorizedMap['sysUser/list'] && itemType?has_content &&'user'=itemType >
            <li>
                <a href="sysUser/list.html"<#if itemId?has_content> class="addMore"</#if> target="navTab" rel="sysUser/list"><i class="icon-user icon-large"></i><@t.page 'user.management'/></a>
                <#if itemId?has_content>
                <ul>
                    <li><a href="sysUser/add.html?id=${itemId}" target="navTab" rel="sysUser/edit"><i class="icon-edit"></i><@t.page 'user.edit'/></a></li>
                </ul>
                </#if>
            </li>
        </#if>
        <li><a href="cmsDiy/preview.html?url=${(site.dynamicPath)?url}" target="navTab" rel="cmsDiy/preview"><i class="icon-home icon-large"></i><@t.page 'site.dynamic_path'/></a></li>
        <#if site.useStatic>
            <li><a href="cmsDiy/preview.html?url=${(site.sitePath)?url}" target="navTab" rel="cmsDiy/preview"><i class="icon-home icon-large"></i><@t.page 'website'/></a></li>
        </#if>
        <#if authorizedMap['sysConfigData/list']>
        <li>
            <a href="sysConfigData/list.html"<#if site.useStatic> class="addMore"</#if> target="navTab" rel="sysConfigData/list"><i class='icon-cog icon-large'></i><@t.page 'server_config.site'/></a>
            <ul>
            <#if site.useStatic&&authorizedMap['sysTask/list']>
                <li><a  href="sysTask/list" target="navTab" rel="sysTask/list"><i class="icon-time icon-large"></i><@t.page 'task'/></a>
            </#if>
            </ul>
        </li>
        </#if>
    </ul>
</div>