<div class="panelBar" id="buttonBox"><#include "buttons.html"/></div>
<#assign url=url?has_content?then(url,site.useStatic?then(site.sitePath,site.dynamicPath))/>
<form method="post" action="cmsDiy/buttons.html" onsubmit="return divSearch(this, 'buttonBox');">
	<input type="hidden" name="templatePath" value=""/>
	<input type="hidden" name="itemType" value=""/>
	<input type="hidden" name="itemId" value=""/>
	<input type="hidden" name="url" value="${url+url?contains('?')?then('&diy','?diy')}"/>
</form>
<iframe layoutH></iframe>
<script>
diyIframeRefresh();
</script>