<div class="pageFormContent" layoutH>
    <div class="diy-box-margin">
        <span>margin <input name="all" type="text" placeholder="-"></span>
        <input name="top" type="text" placeholder="-">
        <input name="right" type="text" placeholder="-">
        <input name="bottom" type="text" placeholder="-">
        <input name="left" type="text" placeholder="-">
        <div class="diy-box-border">
            <span>border <input name="all" type="text" placeholder="-"></span>
            <input name="top" type="text" placeholder="-">
            <input name="right" type="text" placeholder="-">
            <input name="bottom" type="text" placeholder="-">
            <input name="left" type="text" placeholder="-">
            <div class="diy-box-padding">
                <span>padding <input name="all" type="text" placeholder="-"></span>
                <input name="top" type="text" placeholder="-">
                <input name="right" type="text" placeholder="-">
                <input name="bottom" type="text" placeholder="-">
                <input name="left" type="text" placeholder="-">
                <div class="diy-box-content">
                    content
                    <input name="height" type="text" placeholder="-">
                </div>
            </div>
         </div>
    </div>
</div>
<div class="formBar">
    <ul>
        <li><button type="submit" class="buttonActive" title="ctrl+s"><@t.page 'button.save'/></button></li>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>