<form action="sysAppToken/issue.do?callbackType=closeCurrent" method="post" autocomplete="off" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    <input type="hidden" name="id" value="${id!}"/>
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'app.issue'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageFormContent" layoutH="0">
        <dl>
            <dt><@t.page 'expiry_date'/>:</dt>
            <dd>
                <input type="text" name="expiryDate" class="date" size="20" minDate="{%y}-%M-{%d}" autocomplete="off" dateFmt="yyyy-MM-dd HH:mm:ss"/>
             </dd>
        </dl>
    </div>
</form>