<@_sysAppList channel=channel pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'channel'/>:</label>
                    <input type="text" name="channel" value="${channel!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='sysApp/add,sysApp/delete,sysAppToken/list,sysApp/view,sysApp/issueParameters'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        <#if authorizedMap['sysApp/add']>
            <li><a href="sysApp/add.html" target="navTab" rel="sysApp/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'app.add'/></a></li>
            <li><a href="sysApp/add.html?id={sid}" target="navTab" rel="sysApp/edit"><i class="icon-edit icon-large"></i> <@t.page 'app.edit'/></a></li>
        </#if>
        <#if authorizedMap['sysApp/delete']>
            <li><a href="sysApp/delete.do?id={sid}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </#if>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th><@t.page 'channel'/></th>
                <th><@t.page 'app.key'/></th>
                <th><@t.page 'app.secret'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td>${a.channel!}</td>
                <td>${a.appKey!}</td>
                <td>
                    <#if authorizedMap['sysApp/issueParameters']>
                        <a href="sysApp/issueParameters.html?id=${a.id}" target="dialog" width="600" height="200" mask="true"><@t.page 'app.issue'/></a>|
                    </#if>
                    <#if authorizedMap['sysAppToken/list']>
                        <a href="sysAppToken/list.html?appId=${a.id}" target="navTab" rel="sysAppToken/list"><@t.page 'app.token'/></a>|
                    </#if>
                    <#if authorizedMap['sysApp/view']>
                        <a href="sysApp/view.html?id=${a.id}" target="dialog" rel="sysApp"><@t.page 'app.view_secret'/></a>
                    </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_sysAppList>