<@_sysApp id=id><#assign a=object/></@_sysApp>
<div class="pageFormContent" layoutH="50">
    <dl class="nowrap">
        <dt><@t.page 'channel'/>:</dt>
        <dd>
            ${a.channel!}
        </dd>
    </dl>
    <div class="divider"></div>
    <dl class="nowrap">
        <dt>appKey:</dt>
        <dd>
            ${a.appKey!}
        </dd>
    </dl>
    <div class="divider"></div>
    <dl class="nowrap">
        <dt>appSecret:</dt>
        <dd>
            ${a.appSecret!}
        </dd>
    </dl>
    <div class="divider"></div>
    <dl class="nowrap">
        <dt><@t.page 'app.authorized_api'/>:</dt>
        <dd>
            ${a.authorizedApis!}
        </dd>
    </dl>
</div>
<div class="formBar">
    <ul>
        <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
    </ul>
</div>