<!DOCTYPE html>
<html lang="zh">
<head>
	<title>首页 - PublicCMS</title>
	<meta name="keywords" content="${keywords!}"/>
	<meta name="description" content="${description!}"/>
<!--#include virtual="/include/header.html"-->
</head>
<body>
<!--#include virtual="/include/nav.html"-->
<script>
	$("header nav ul li a:contains('首页')").parent().addClass('selected');
</script>
<main>
	<div class="container">
		<!--#include virtual="/include/index.html/1.html"--><#-- 焦点图 -->
		<div class="data-list left-content">
			<h3>最新文章</h3>
<@_contentList status=1 endPublishDate=.now orderField='publishDate' orderType='desc' count=10>
	<#include "/ftl/cut.ftl"/>
	<#list page.list as a>
			<dl>
		<#if a.cover?has_content>
				<dd><a href="${getSitePath(a.url)}" target="_blank"><img style="background-image:url(${getUploadPath(getThumb(a.cover,144,192))})"/></a></dd>
		</#if>
				<dt<#if a.cover?has_content> class="image"</#if>>
					<h3><a href="${getSitePath(a.url)}" target="_blank">${a.title}</a></h3>
					<div class="tags">
						<#if a.tags?has_content>标签：
							<@_tag ids=a.tags>
								<#list map?keys as key>
									<a href="${getCmsPath()}tags.html?id=${map[key].id}" target="_blank"><em>${map[key].name}</em></a>
								</#list>
							</@_tag>
						</#if>
						<span>${a.publishDate?date}</span>
					</div>
					<p><@cut a.description 100 '...'/><a href="${getSitePath(a.url)}" target="_blank"> 详细 &gt;&gt;</a> </p>
				</dt>
			</dl>
	</#list>
</@_contentList>
		</div>
		<aside>
			<!--#include virtual="/include/index_html/1.html"--><#-- 开源中国 -->
			<div>
				<h3>热门排行</h3>
				<ul class="rank">
<@_contentList status=1 endPublishDate=.now orderType='desc' orderField='clicks'count=10>
	<#list page.list as a>
					<li><a href="${getSitePath(a.url)}" target="_blank">${a.title}</a><span>${a.clicks}</span></li>
	</#list>
</@_contentList>
				</ul>
			</div>
			<!--#include virtual="/include/category/list.html/2.html"--><#-- 精彩图集 -->
		</aside>
	</div>
</main>
<!--#include virtual="/include/footer.html"-->
</body>
</html>