<!DOCTYPE html>
<html lang="zh">
<head>
	<title>PublicCMS - 永久免费开源JAVA CMS(内容管理系统),最新技术框架</title>
	<meta name="keywords" content="${keywords!}"/>
	<meta name="description" content="${description!}"/>
<!--#include virtual="/include/header.html"-->
<#if .now?date lt '2015-08-19'?date('yyyy-MM-dd')>
<style>
html{
filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-webkit-filter: grayscale(1);
}
</style>
</#if>
</head>
<body>
<!--#include virtual="/include/nav.html"-->
<script>
	$("header nav ul li a:contains('首页')").parent().addClass('selected');
</script>
<main>
	<div class="container">
		<!--#include virtual="/include/index.html/1.html"--><#-- 焦点图 -->
		<div class="data-list left-content">
<@_modelList>
	<#list page.list?reverse as m>
		<@_contentList status=1 modelId=m.id endPublishDate=.now orderField='publishDate' orderType='desc' count=5>
			<#if page.totalCount gt 0>
				<h3>最新${m.name!}</h3>
				<#include "ftl/cut.ftl"/>
				<#if m.isImages>
					<#list page.list as a>
							<#include "/ftl/image-list.ftl"/>
					</#list>
				<#else>
					<#list page.list as a>
							<#include "/ftl/data-list.ftl"/>
					</#list>
				</#if>
			</#if>
		</@_contentList>
	</#list>
</@_modelList>
		</div>
		<aside>
			<#include "/ftl/index.html/1.html"/><#-- 开源中国 -->
			<div>
				<h3>热门排行</h3>
				<ul class="rank">
<@_contentList status=1 endPublishDate=.now orderType='desc' orderField='clicks'count=10>
	<#list page.list as a>
					<li><a href="${getSitePath(a.url)}" target="_blank">${a.title}</a><span>${a.clicks}</span></li>
	</#list>
</@_contentList>
				</ul>
			</div>
			<!--#include virtual="/include/category/list.html/2.html"--><#-- 精彩图集 -->
		</aside>
	</div>
</main>
<!--#include virtual="/include/footer.html"-->
</body>
</html>