@charset "UTF-8";
a.btnText,.statusText{padding:2px 5px;font-size:13px;word-break:keep-all;white-space:nowrap;background-color:#efefef;border-radius:3px;}
a.btnText{background-color:#ddd;margin-right:2px;}
a.btnText.red{background-color:#edd;}
a.btnText.green{background-color:#ded;}
a.btnText.blue{background-color:#dde;}
a.btnText.warn{background-color:#edd;color:#f33;}
a.btnText:hover{text-decoration:none;}
a.btnText i{margin-right:3px;}
.statusText.red{background-color:#fee;color:red;}
.statusText.green{background-color:#efe;color:green;}
.statusText.orange{background-color:#fed;color:orange;}
.grid .gridTbody td div a.btnText:hover,table.list a.btnText:hover{text-decoration:none;}
.button.float{position:absolute;right:30px;z-index:2;top:24px;}
.unit .chart{min-width:430px;width:40%;height:234px;float:left;}
.unit ul{padding:0;margin:0;list-style:none;}
.unit ul li{min-width:210px;width:20%;float:left;}
.unit ul li .card{padding:10px;border-style:solid;border-width:1px;}
.unit ul li .card p{line-height:32px;float:none;color:#333;min-width:unset;word-break:break-all;}
.unit ul li .card p.label{color:#aaa;}
.unit ul li .card a{color:#333;}
.unit ul li .card .button{margin:15px;}
.unit ul li .card h1,.unit ul li .card h2,.unit ul li .card h3,.unit ul li .card h4,.unit ul li .card h5,.unit ul li .card h6{line-height:32px;font-weight:normal;}
.unit ul li .card h1{font-size:32px;}
.unit ul li .card h2{font-size:28px;}
.unit ul li .card h3{font-size:24px;}
.unit ul li .card h4{font-size:20px;}
.unit ul li .card h5{font-size:18px;}
.unit ul li .card h6{font-size:16px;}
.unit ul li .card .icon{font-size:35px;width:45px;float:left;padding:10px;margin-right:5px;opacity:0.6;}
.unit ul li:nth-child(6n) .card,.unit ul li:nth-child(6n) .card .icon{border-color:#99CC00;color:#99CC00;}
.unit ul li:nth-child(6n+1) .card,.unit ul li:nth-child(6n+1) .card .icon{border-color:#336699;color:#336699;}
.unit ul li:nth-child(6n+2) .card,.unit ul li:nth-child(6n+2) .card .icon{border-color:#0099CC;color:#0099CC;}
.unit ul li:nth-child(6n+3) .card,.unit ul li:nth-child(6n+3) .card .icon{border-color:#FF99CC;color:#FF99CC;}
.unit ul li:nth-child(6n+4) .card,.unit ul li:nth-child(6n+4) .card .icon{border-color:#9999FF;color:#9999FF;}
.unit ul li:nth-child(6n+5) .card,.unit ul li:nth-child(6n+5) .card .icon{border-color:#CC99CC;color:#CC99CC;}

table.compare{table-layout: fixed;width: 100%;}
table.compare td{width: 33%;padding: 3px 4px;border: 1px solid transparent;vertical-align: top;}
table.compare .result-box{white-space: pre-wrap;}
table.compare .result-box del {text-decoration: none;color: #b30000;background: #fadad7;}
table.compare .result-box ins {text-decoration: none;color: #406619;background: #eaf2c2;}

ol.vote>li {line-height:30px;height:30px;width:400px;margin:5px 0 0 0;max-width:95%;position:relative;}
.progress-box {width:100%;height:100%;border:1px solid #cccccc;display:inline-block;}
.progress-bar {height:100%;opacity:0.4;}
.progress-text {text-align:center;position:absolute;top:0;width:100%;}
.progress-text a {width:100%;height:100%;display:inline-block;}
ol.vote>li:nth-child(3n+1) .progress-bar {background-color:red;}
ol.vote>li:nth-child(3n+2) .progress-bar {background-color:green;}
ol.vote>li:nth-child(3n) .progress-bar {background-color:blue;}

.iframe-box{position:relative;}
.diy-border{visibility:hidden;}
.diy-border-top,.diy-border-right,.diy-border-bottom,.diy-border-left{box-sizing:border-box;position:absolute;border-width:0px;border-style:dashed;border-color:#666;background-color:#fff;}
.diy-border-top,.diy-border-bottom{border-top-width:1px;height:1px;}
.diy-border-right,.diy-border-left{border-left-width:1px;width:1px;}
.diy-border.noborder .diy-border-top,.diy-border.noborder .diy-border-right,.diy-border.noborder .diy-border-bottom,.diy-border.noborder .diy-border-left{border-top-width:0px;border-left-width:0px;}
.diy-menu,.diy-button{position:absolute;top:0px;height:32px;left:50%;margin-top:-32px;white-space:nowrap;}
.diy-border-bottom .diy-menu{bottom:-32px;top:auto;}
.diy-button{z-index:10;margin-top:0px;}

.avatar{width:35px;height:35px;border-radius:50%;vertical-align:middle;margin-right:5px;}
.FIE_topbar-reset-button{display:none!important;}
.searchResult b{color:#f00;}
@media screen and (max-width:728px) {
.unit ul li{width:100%;}
}
@media screen and (max-width:1024px) {
.avatar{width:20px;height:20px;}
.unit ul li{width:50%;}
.unit .chart{width:100%;}
}

@media screen and (min-width:1024px) and (max-width:1200px) {
.unit ul li{width:33.3%;}
.unit .chart{width:66.6%;}
}

@media screen and (min-width:1200px) and (max-width:1400px) {
.unit ul li{width:25%;}
.unit .chart{width:50%;}
}