html,body{ position:relative; width:100%; height:100%; overflow:hidden;margin:0px;padding:0px;}
body{background:#f8fbff;position:relative}
body:before{content:"";height:100%;right:0;left:50%;position:absolute;background:#667ea7;margin-left:-120px;}
.clearfix { *zoom: 1;}
.clearfix:after {display:block; content:"."; height:0; clear:both; visibility:hidden;}

/** Login **/
.login_body{height:400px;width:680px;position:absolute;margin-top:-200px;top:50%;left:50%;margin-left:-340px;}
.login_body_left{width:220px;height:100%;float:left;background:url(../images/cms.png) no-repeat -114px 138%;background-color:#354052;background-size:auto 50%;}
.login_body_left img,.login_body_left .qrcode{position:relative;top:50%;left:50%;max-width: 90%;height: auto;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.login_body_left .qrcode{padding:5px;background-color:#fff;}
.login_form{margin:0px auto;width:460px;float:left;padding:50px 80px;box-sizing:border-box;background:#fff;height:100%}
.login_form>form{position:relative;}
.login_form .logo{margin:0px;color:#667ea7;font-size:30px;margin-bottom:40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.login_form .logo select{padding: 8px;font-size: 16px;box-sizing: border-box;border-radius:4px;border:1px solid #ccc;}
.login_form input{line-height:26px;font-size:14px;color:#333;border-color:#dde2ec;box-sizing:border-box;border-radius:4px;padding:5px; padding-left:40px;border:1px solid #ccc;}
.login_form input[name=username],.login_form input[name=password],.login_form .logo select{width:100%;height:38px;}
.login_form input[name=captcha]{width:60%;height:38px;}
.login_form img{width: 38%;height: 38px;vertical-align: bottom;}
.login_form p{position:relative;margin:16px 0;}
.login_form p>i{position:absolute;left:11px;color:#afc2da;line-height:38px;font-size:20px;}
.login_form input[type=submit]{color:#FFF;height:40px;width:auto;background:#667ea7;border:none;padding:0 20px;float:right;}
.login_form input[type=submit]:hover{background:#5478b5;}
.login_form input#btn-finger-login{background-image:url(../images/finger-icon.png) no-repeat;background-size:contain;width:40px;height:40px;float:right;margin-right:20px;}
.login_form input#btn-finger-login:disabled{background-color:#ccc;}
.login_form input:focus{outline:0;border-color:#667ea7;}
.login_form>p{position:absolute;top:20px;right:20px;margin:0;}
.login_form>p a{color:#979ea9;text-decoration:none;font-size:14px;position:relative;padding-right:10px;}
.login_form>p a.current-lang{color:#4d8dfb;}
.login_form>p a:after{content:"|";position:absolute;right:2px;top:0;color:#979ea9;}
.login_form>p a:last-child:after{content:none}
.login_form .error_msg{height:25px;line-height:25px;text-align:center;color:red;position:absolute;top:32px;width:100%;font-size:13px;}
.login_form .login_box{height:25px;line-height:25px;text-align:center;font-size:16px;}
.login_form .login_box>a{color: #4d8dfb;text-decoration:none;}
