<@_logOperateList content=content operate=operate channel=channel
            userId=admin.id  startCreateDate=startCreateDate endCreateDate=endCreateDate
            orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'channel'/>:</label>
                    <input type="text" name="channel" value="${channel!}" />
                </li>
                <li>
                    <label><@t.page 'code'/>:</label>
                    <input type="text" name="operate" value="${operate!}" />
                </li>
                <li>
                    <label><@t.page 'log.content'/>:</label>
                    <input type="text" name="content" value="${content!}" />
                </li>
                <li>
                    <label><@t.page 'log.create_date'/>:</label>
                    <input type="text" name="startCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${startCreateDate!}" />
                    <span>-</span>
                    <input type="text" name="endCreateDate" class="date" size="10" autocomplete="off" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d+1}" value="${endCreateDate!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="logOperate/delete.do?_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_delete'/>" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> <@t.page 'button.batch_delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th><@t.page 'channel'/></th>
                <th><@t.page 'operate'/>/<@t.page 'code'/></th>
                <th><@t.page 'log.operate_ip'/></th>
                <th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'log.create_date'/></th>
                <th><@t.page 'log.content'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>
                    ${a.channel!}
                </td>
                <td>
                    <@t.message 'operate.'+a.operate/>
                    /
                    ${a.operate}
                </td>
                <td>
                    ${a.ip!}
                </td>
                <td>${a.createDate!}</td>
                <td><@t.cut a.content 60 '...<a href="log/operateView.html?id=${a.id}" target="dialog" rel="operateTask">'?no_esc+t.pageMessage('button.view_more')+'</a>'?no_esc/></td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</div>
</@_logOperateList>