<form action="changePassword.do?callbackType=closeCurrent" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
	<div class="formBar">
		<ul>
			<li><button type="submit" class="buttonActive">保存</button></li>
			<li><button type="button" class="button close">关闭</button></li>
		</ul>
	</div>
	<div class="pageFormContent" layoutH="60">
		<dl class="nowrap">
			<dt>旧密码:</dt>
			<dd><input type="password" name="oldpassword" /></dd>
		</dl>
		<dl class="nowrap">
			<dt>新密码:</dt>
			<dd><input type="password" name="password" /></dd>
		</dl>
		<dl class="nowrap">
			<dt>确认密码:</dt>
			<dd><input type="password" name="repassword" /></dd>
		</dl>
	</div>
</form>