<@_sysUserTokenList userId=admin.id channel=channel orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>
<div class="pageHeader">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.page 'channel'/>:</label>
                    <input type="text" name="channel" value="${(channel)!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="sysUserToken/delete.do?authToken={sid}" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash icon-large"></i> <@t.page 'button.delete'/></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="99">
        <thead>
            <tr>
                <th><@t.page 'channel'/></th>
                <th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'authorize_date'/></th>
                <th orderField="expiryDate" class="<#if orderField??&&'expiryDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>"><@t.page 'expiry_date'/></th>
                <th><@t.page 'log.login_ip'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.authToken}">
                <td>${a.channel!}</td>
                <td>${a.createDate!}</td>
                <td>${a.expiryDate!}</td>
                <td>${a.loginIp!}</td>
            </tr>
            </#list>
        </tbody>
    </table>
    <script>
        $('table>tbody>tr[rel="<@_csrfToken admin=true/>"]>td:eq(0)',navTab.getCurrentPanel()).append('[<@t.page 'current_token'/>]');
        $('table>tbody>tr[rel="<@_csrfToken/>"]>td:eq(0)',navTab.getCurrentPanel()).append('[<@t.page 'current_token'/>]');
    </script>
    <#include "../include_page/page.html"/>
</div>
</@_sysUserTokenList>