<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Public CMS模板帮助手册</title>
<!--[if lte IE 9]>
	<script src="${res}/js/html5shiv.min.js"></script>
	<script src="${res}/js/respond.min.js"></script>
<![endif]-->
<script src="${res}/js/jquery-1.9.1.min.js"></script>
</head>
<body>
	<h3>分类</h3>
	<p>category</p>
	<h3>分类列表</h3>
	<p>categoryList</p>
	<h3>分类模型映射</h3>
	<p>categoryModelList</p>
	<h3>分类类型</h3>
	<p>categoryType</p>
	<h3>分类类型列表</h3>
	<p>categoryTypeList</p>
	<h3>内容</h3>
	<p>content</p>
	<h3>内容附件列表</h3>
	<p>contentFileList</p>
	<h3>内容列表</h3>
	<p>contentList</p>
	<h3>内容推荐列表</h3>
	<p>contentRelatedList</p>
	<h3>内容标签列表</h3>
	<p>contentTagList</p>
	<h3>高级搜索</h3>
	<p>facetSearch</p>
	<h3>内容模型</h3>
	<p>model</p>
	<h3>内容模型列表</h3>
	<p>modelList</p>
	<h3>页面数据</h3>
	<p>place</p>
	<h3>页面数据列表</h3>
	<p>placeList</p>
	<h3>搜索</h3>
	<p>search</p>
	<h3>标签</h3>
	<p>tag</p>
	<h3>标签列表</h3>
	<p>tagList</p>
	<h3>标签分类</h3>
	<p>tagType</p>
	<h3>标签分类列表</h3>
	<p>tagTypeList</p>
	<h3>搜索词</h3>
	<p>word</p>
	<h3>搜索词列表</h3>
	<p>wordList</p>
	<h3>登陆日志列表</h3>
	<p>logLoginList</p>
	<h3>操作日志列表</h3>
	<p>logOperateList</p>
	<h3>任务计划日志</h3>
	<p>logTask</p>
	<h3>任务计划日志列表</h3>
	<p>logTaskList</p>
	<h3>抽奖</h3>
	<p>pluginLottery</p>
	<h3>抽奖列表</h3>
	<p>pluginLotteryList</p>
	<h3>抽奖用户列表</h3>
	<p>pluginLotteryUserList</p>
	<h3>插件站点</h3>
	<p>pluginSite</p>
	<h3>插件站点列表</h3>
	<p>pluginSiteList</p>
	<h3>投票</h3>
	<p>pluginVote</p>
	<h3>投票选项</h3>
	<p>pluginVoteItem</p>
	<h3>投票选项列表</h3>
	<p>pluginVoteItemList</p>
	<h3>投票列表</h3>
	<p>pluginVoteList</p>
	<h3>投票用户</h3>
	<p>pluginVoteUser</p>
	<h3>投票用户列表</h3>
	<p>pluginVoteUserList</p>
	<h3>应用客户端列表</h3>
	<p>sysAppClientList</p>
	<h3>应用</h3>
	<p>sysApp</p>
	<h3>应用列表</h3>
	<p>sysAppList</p>
	<h3>应用授权列表</h3>
	<p>sysAppTokenList</p>
	<h3>认证</h3>
	<p>sysAuthorized</p>
	<h3>部门分类</h3>
	<p>sysDeptCategory</p>
	<h3>部门分类列表</h3>
	<p>sysDeptCategoryList</p>
	<h3>部门</h3>
	<p>sysDept</p>
	<h3>部门列表</h3>
	<p>sysDeptList</p>
	<h3>部门页面</h3>
	<p>sysDeptPage</p>
	<h3>部门页面列表</h3>
	<p>sysDeptPageList</p>
	<h3>域名</h3>
	<p>sysDomain</p>
	<h3>域名列表</h3>
	<p>sysDomainList</p>
	<h3>扩展字段列表</h3>
	<p>sysExtendFieldList</p>
	<h3>FTP用户</h3>
	<p>sysFtpUser</p>
	<h3>FTP用户列表</h3>
	<p>sysFtpUserList</p>
	<h3>模块</h3>
	<p>sysMoudle</p>
	<h3>模块列表</h3>
	<p>sysMoudleList</p>
	<h3>角色</h3>
	<p>sysRole</p>
	<h3>角色列表</h3>
	<p>sysRoleList</p>
	<h3>角色模块</h3>
	<p>sysRoleMoudle</p>
	<h3>角色模块列表</h3>
	<p>sysRoleMoudleList</p>
	<h3>角色用户列表</h3>
	<p>sysRoleUserList</p>
	<h3>站点</h3>
	<p>sysSite</p>
	<h3>站点列表</h3>
	<p>sysSiteList</p>
	<h3>任务计划</h3>
	<p>sysTask</p>
	<h3>任务计划列表</h3>
	<p>sysTaskList</p>
	<h3>用户</h3>
	<p>sysUser</p>
	<h3>用户列表</h3>
	<p>sysUserList</p>
	<h3>用户授权列表</h3>
	<p>sysUserTokenList</p>
	<h3>检测是否管理站点</h3>
	<p>checkMasterSite</p>
	<h3>硬盘</h3>
	<p>disk</p>
	<h3>内存</h3>
	<p>memory</p>
	<h3>模板元数据</h3>
	<p>metadata</p>
	<h3>系统参数</h3>
	<p>systemProperties</p>
	<h3>任务计划脚本内容</h3>
	<p>taskTemplateContent</p>
	<h3>任务计划脚本列表</h3>
	<p>taskTemplateList</p>
	<h3>模板内容</h3>
	<p>templateContent</p>
	<h3>模板列表</h3>
	<p>templateList</p>
	<h3>缩略图</h3>
	<p>thumb</p>
	<h3>版本</h3>
	<p>version</p>
	<h3>获取分类扩展数据</h3>
	<p>getCategoryAttribute</p>
	<h3>获取内容扩展数据</h3>
	<p>getContentAttribute</p>
	<h3>获取特定日期</h3>
	<p>getDate</p>
	<h3>获取远程页面</h3>
	<p>getHtml</p>
	<h3>获取md5值</h3>
	<p>getMd5</p>
	<h3>获取页面数据扩展</h3>
	<p>getPlaceAttribute</p>
	<h3>获取分页地址</h3>
	<p>getPage</p>
	<h3>获取随机数</h3>
	<p>getRandom</p>
	<h3>睡眠一段时间</h3>
	<p>getSleep</p>
	<h3>获取模板结果</h3>
	<p>getTemplateResult</p>
	<h3>获取HTML中的文本</h3>
	<p>getTextFromHtml</p>
	<h3>获取UUID值</h3>
	<p>getUUID</p>
	<h3>清理日志</h3>
	<p>clearLog</p>
	<h3>创建分类静态文件</h3>
	<p>createCategoryFile</p>
	<h3>创建内容静态文件</h3>
	<p>createContentFile</p>
	<h3>创建模板静态文件</h3>
	<p>createTemplateFile</p>
	<h3>创建内容索引</h3>
	<p>indexContent</p>
	<h3>发布分类</h3>
	<p>publishCategory</p>
	<h3>发布内容</h3>
	<p>publishContent</p>
	<h3>发布页面</h3>
	<p>publishPage</p>
</body>
</html>