<!DOCTYPE html>
<html lang="zh">
<head>
	<title>${content.title?html} - ${category.name?html}</title>
	<meta name="keywords" content="${content.title?html}"/>
	<meta name="description" content="${content.description?html}"/>
<@_includePlace path="/index.html/3f9a648b-7360-41b5-86e5-6b4b108268f1.html"/> <#-- 头部Header -->
</head>
<body>
<@_includePlace path="/index.html/2ecdebcc-c087-4ed3-aecd-80f85ce6a6c6.html"/> <#-- 导航 -->
<main>
	<div class="container bread">
		<@include path="/ftl/echoBread.ftl"/>
		<@echoBread category.id/>
	</div>
	<div class="container">
		<article class="left-content">
			<h1><a href="${content.url!}">${content.title}</a></h1>
			<p class="author"><#if content.copied>来源：<a href="${(attribute.sourceUrl)!}" target="_blank">${(attribute.source)!}</a></#if> ${content.author!} ${content.editor!} ${content.publishDate?datetime} 阅读:<em>loading...</em></p>
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["renren","bdxc","kaixin001","tqf","tieba","douban","sqq","fx","mail","isohu","ty","copy"],"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","weixin"],"viewText":"分享到：","viewSize":"24"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<div id="content">${text!}</div>
			<#if content.tags?has_content>
				<div class="tags">
					标签：
					<@_tag ids=content.tags>
						<#list map?keys as key>
							<a href="${site.dynamicPath!}tags.html?id=${map[key].id}" target="_blank"><em>${map[key].name}</em></a>
						</#list>
					</@_tag>
				</div>
			</#if>
			<script>uParse('#content',{rootPath: '${site.resourcePath!}ueditor'});</script>
<@include path="/ftl/content_page.ftl"/>
			<script>
				var link=$('article .page a:last').attr('href');
				if("undefined" != typeof link && "" != link ){
					$('article #content img').each(function(){
						$(this).wrapAll("<a href=\"" + link + "\" title=\"点击查看下一页\"></a>");
					});
				} 
				$.getJSON('${site.dynamicPath!}api/app/V1.0/contentClick?id=${content.id}&callback=?', function(data){
					$('article .author em').text(data.clicks);
				});
			</script>
			<div id="SOHUCS" class="comment" sid="${content.id}"></div>
			<script charset="utf-8"src="http://changyan.sohu.com/upload/changyan.js"></script>
			<script type="text/javascript">
				window.changyan.api.config({
					appid: 'cyrUsl0PT',
					conf: 'prod_64e213c0c1210c839584707e2d5e7cd7'
				});
			</script>
		</article>
		<aside>
			<@_includePlace path="/category/list.html/49d393ca-f0f1-4723-a9b0-6f9b6d7cc04d.html"/> <#-- 编辑推荐 -->
			<@_includePlace path="/category/list.html/3435e9a7-565a-4f93-8670-9c272a1d51cc.html"/> <#-- 精彩图集 -->
			<div style="border-bottom: 1px solid #eee;">
				<h3>相关推荐</h3>
				<ul>
<@import path="/ftl/tools.ftl" namespace="t"/>
<@_contentRelatedList contentId=content.id count=10>
	<#list page.list as a>
                  <li><a href="${a.url!}" target="_blank" title="${a.title}"><@t.cut a.title 20 '...'/></a></li>
	</#list>
	<@_search tagId=content.tagIds pageIndex=1 count=10-page.list?size>
		<#list page.list as a>
                        <li><a href="<#if a.onlyUrl>${site.dynamicPath}content/redirect.do?id=${a.id}<#else>${a.url}</#if>" target="_blank" title="${a.title}"><@t.cut a.title 20 '...'/></a></li>
		</#list>
	</@_search>
</@_contentRelatedList>
				</ul>
			</div>
		</aside>
	</div>
	<div class="clearfix-before"></div>
</main>
<@_includePlace path="/index.html/6369e868-50b9-4245-9d39-fd440384a685.html"/> <#-- 尾部Footer -->
</body>
</html>