<@cms.languageList>
<div class="pageHeader card">
    <form class="pagerForm" autocomplete="off" onsubmit="return navTabSearch(this);" method="post">
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label><@t.message 'config.siteAttribute.enable_multilingual'/>:</label><label><#if 'true'=(siteAttribute.enable_multilingual)!><@t.page 'yes'/><#else><@t.page 'no'/></#if></label>
                </li>
                <li>
                    <label><@t.message 'config.siteAttribute.default_language'/>:</label><label><@cms.language code=(siteAttribute.default_language)!>${object.name}</@cms.language></label>
                </li>
                <li>
                    <a href="sysConfigData/edit.html?code=siteAttribute" class="button" target="navTab" rel="sysConfigData/edit"><i class="icon-edit"></i><@t.page 'config_data.edit'/></a>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="card">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="cmsLanguage/add.html" target="navTab" rel="cmsLanguage/add"><i class="icon-plus-sign-alt icon-large"></i><@t.page 'button.add'/></a></li>
            <li><a href="cmsLanguage/delete?_csrf=<@tools.csrfToken admin=true/>" title="<@t.page 'confirm.batch_delete'/>" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i><@t.page 'button.batch_delete'/></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH>
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th><@t.page 'code'/></th>
                <th><@t.page 'name'/></th>
                <th><@t.page 'sort'/></th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list list as a>
            <tr>
                <td><input name="ids" value="${a.id.code}" type="checkbox"></td>
                <td class="exclude-translate">${a.id.code}</td>
                <td class="exclude-translate wrap">
                    <#if a.cover?has_content>
                        <div class="thumbnail">
                            <img src="${a.cover}" alt="${a.name!}"/>
                        </div>
                    </#if>
                    <div class="box">
                        ${a.name!}
                    </div>
                </td>
                <td>${a.sort!}</td>
                <td class="wrap">
                    <a href="cmsLanguage/add.html?id=${a.id.code}" class="edit btnText blue" target="navTab" rel="cmsLanguage/add"><i class="icon-edit"></i><@t.page 'button.edit'/></a>
                    <a href="cmsLanguage/delete?id=${a.id.code}&_csrf=<@tools.csrfToken admin=true/>" class="btnText red" title="<@t.page 'confirm.delete'/>" target="ajaxTodo"><i class="icon-trash"></i><@t.page 'button.delete'/></a>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
</div>
</@cms.languageList>