<@cms.contentTextHistory id=id><#assign a=object/></@cms.contentTextHistory>
<div class="pageFormContent" layoutH>
    <dl class="nowrap">
        <dt><@t.page 'content'/>:</dt>
        <textarea name="content">
            ${(a.text)!}
        </textarea>
    </dl>
    <script>
    $.bringBack({"${field!'text'}":$('textarea[name=content]',$.pdialog.getCurrent()).val()});
    </script>
</div>
<div class="formBar">
    <ul>
        <li><a href="cmsContentTextHistory/use.html?id=${a.id}" target="dialog" rel="_blank" class="btnText green"><i class="icon-ok"></i><@t.page 'select'/></a></li>
    </ul>
</div>